include ./balloon 

+balloon({
            name: 'Инициативный проект очень длинное название инициативный проект ',
            date: '23 сентября 2024 года',
            term: '2 года',
            territory: 'Ханты-Мансийский автономный округ – Югра',
            initiator: 'Дума города Сургута',
            cost: '2 978 321,00',
            status: 'Победитель конкурса',
            img: 'image_1.jpg'
        })