include ../_header.pug 
include ../../search/_search.pug 
include ../../../libs/buttons/_buttons.pug 
include ../../../libs/links/_links.pug 
include ../../../libs/search-button/_search-button.pug 
include ../../../libs/inputs/_inputs.pug 

+header()