@use '../../../../assets/styles/vars.scss' as *;

@mixin icons-hover {
    filter: invert(44%) sepia(59%) saturate(7476%) hue-rotate(210deg) brightness(89%) contrast(105%);
}

.header {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    color: $main-text;

    .header__top-content {
        display: flex;
        padding: 7px 65px;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        .header__top-links {
            display: flex;
            gap: 40px;
        }

        .header__buttons {
            display: flex;
            gap: 21px;

            .header__eye-link {
                display: flex;
                align-items: center;
                text-decoration: none;
                background-image: url(../icons/eye-outlined_icon.svg);
                background-size: 18px;
                background-repeat: no-repeat;
                background-position: left;

                &:hover {
                    @include icons-hover;
                }

                .header__eye-link-title {
                    margin-left: 28px;
                    @include lead-6;
                }
            }
        }
    }

    .header__bottom-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 64px;
        gap: 24px;
    }
}

@media screen and (max-width: 1000px) {
    .header {
        .header__top-content {
            padding: 16px 20px;
        }

        .header__bottom-content {

            padding: 16px 20px;
        }
    }
}

@media screen and (max-width: 880px) {
    .header {
        .header__top-content {
            display: none;
        }

        .header__bottom-content {
            justify-content: space-between;

            .search {
                display: none;
            }

            .header__bottom-links {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .header {
        .header__bottom-content {
            padding: 16px 27px;
        }
    }
}