@use '../../../../assets/styles/vars.scss' as *;

@mixin icons-hover {
    filter: invert(44%) sepia(59%) saturate(7476%) hue-rotate(210deg) brightness(89%) contrast(105%);
}

.header {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    color: $main-text;

    .header__top-content {
        display: flex;
        padding: 7px 65px;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        @include respond-to(md) {
            display: none;
        }

        .header__top-links {
            display: flex;
            gap: 40px;
        }

        .header__buttons {
            display: flex;
            gap: 21px;

            .header__eye-link {
                display: flex;
                align-items: center;
                text-decoration: none;
                background-image: url(../icons/eye-outlined_icon.svg);
                background-size: 18px;
                background-repeat: no-repeat;
                background-position: left;

                &:hover {
                    @include icons-hover;
                }

                .header__eye-link-title {
                    margin-left: 28px;
                    @include lead-6;
                }
            }
        }
    }

    .header__bottom-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 64px;
        gap: 24px;

        @include respond-to(md) {
            padding: 16px 20px;
        }
    }
}

.button_burger {
    all: unset;
    display: none;

    @include respond-to(md) {
        display: flex;
    }

    .icon {
        font-size: 24px;
    }
}

.button_close {
    all: unset;
    display: none;

    @include respond-to(md) {
        display: flex;
    }

    .icon {
        font-size: 24px;
    }
}

.search-header {
    @include respond-to(md) {
        display: none;
    }
}

.button__eye {
    color: $main-text;
    border-color: transparent;
    background-color: transparent;

    &:hover {
        border-color: transparent;
        background-color: transparent;
    }

}

.button_header {
    padding: 8px 20px;
    @include heading-h6;
}