include ../_item

mixin phonebook()
    .phonebook
        .phonebook-main-item
            +phonebook_main_item("Слепов Максим Николаевич", "Глава города Сургута", "ул. Энгельса, 8", "311", "+7 (3462) 52-20-01", "gorod@admsurgut.ru")
        .phonebook-list
            .toggle-container
                .toggle-header Муниципальные предприятия и учреждения департамента городского хозяйства
                .toggle-content
                    .sub_header Муниципальное казенное учреждение «Казна городского хозяйства» (МКУ «КГХ»)
                    +phonebook_item("Слепов Максим Николаевич", "Глава города Сургута", "ул. Энгельса, 8", "311", "+7 (3462) 52-20-01", "gorod@admsurgut.ru")
                    +phonebook_item("Малыхин Виталий Викторович", "Заместитель Главы города Сургута", "ул. Энгельса, 8", "311", "+7 (3462) 52-20-01", "gorod@admsurgut.ru")
                    +phonebook_item("Богач Роман Алексеевич","директор","ул. 30 лет Победы, 17","-","+7 (3462) 37-50-50","dtdinfo@admsurgut.ru")
                    +phonebook_item("Хисамова Алена Фаритовна","начальник отдела","ул. Энгельса, 8","131","+7 (3462) 52-20-34","khisamova_af@admsurgut.ru, protokol@admsurgut.ru")
                    .sub_header Муниципальное казенное учреждение «Казна городского хозяйства» (МКУ «КГХ»)
                    +phonebook_item("Слепов Максим Николаевич", "Глава города Сургута", "ул. Энгельса, 8", "311", "+7 (3462) 52-20-01", "gorod@admsurgut.ru")
                    +phonebook_item("Малыхин Виталий Викторович", "Заместитель Главы города Сургута", "ул. Энгельса, 8", "311", "+7 (3462) 52-20-01", "gorod@admsurgut.ru")
            .toggle-container
                .toggle-header Муниципальные предприятия и учреждения департамента городского хозяйства
                .toggle-content
                    .sub_header Муниципальное казенное учреждение «Казна городского хозяйства» (МКУ «КГХ»)
                    +phonebook_item("Слепов Максим Николаевич", "Глава города Сургута", "ул. Энгельса, 8", "311", "+7 (3462) 52-20-01", "gorod@admsurgut.ru")
                    +phonebook_item("Малыхин Виталий Викторович", "Заместитель Главы города Сургута", "ул. Энгельса, 8", "311", "+7 (3462) 52-20-01", "gorod@admsurgut.ru")