.dm-applications {
  display: flex;
  flex-direction: column;
}
.dm-applications .dm-applications__container {
  display: flex;
  flex-direction: column;
  max-width: 978px;
  width: 100%;
}
.dm-applications .dm-applications__container .dm-applications__list .dm-applications__item {
  font-weight: 300;
  font-size: calc(16px * var(--scale));
  line-height: calc(24px * var(--lh));
}
@media (max-width: 992px) {
  .dm-applications .dm-applications__container .dm-applications__list .dm-applications__item {
    font-size: calc(14px * var(--scale));
    line-height: calc(20px * var(--lh));
  }
}
.dm-applications .dm-applications__container .dm-applications__form .dm-applications__title {
  font-weight: 500;
  font-size: calc(24px * var(--scale));
  line-height: calc(28px * var(--lh));
}
@media (max-width: 992px) {
  .dm-applications .dm-applications__container .dm-applications__form .dm-applications__title {
    font-size: calc(16px * var(--scale));
    line-height: calc(20px * var(--lh));
  }
}
.dm-applications .dm-applications__container .dm-applications__form .dm-applications__get-answer {
  margin-top: 18px;
}
.dm-applications .dm-applications__container .dm-applications__buttons {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}
.dm-applications .dm-applications__container .dm-applications__buttons .dm-applications__agreement {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 48px 0 48px;
  font-weight: 300;
  font-size: calc(16px * var(--scale));
  line-height: calc(24px * var(--lh));
}
@media (max-width: 992px) {
  .dm-applications .dm-applications__container .dm-applications__buttons .dm-applications__agreement {
    font-size: calc(14px * var(--scale));
    line-height: calc(20px * var(--lh));
  }
}
.dm-applications .dm-applications__container .dm-applications__buttons .dm-applications__agreement .dm-applications__span {
  font-weight: 600;
}
.dm-applications .dm-applications__container .dm-applications__buttons .dm-applications__agreement .dm-applications__link {
  text-decoration: underline;
  color: var(--main-text);
  font-weight: 300;
}

.dm-applications__divider {
  width: 100%;
  border: 1px solid var(--fourth-text-inverse);
  margin-top: 34px;
}