body.tmp-duma .slider .slider__link {
  color: var(--primary-color-green);
}
body.tmp-duma .slider .slider__link:hover {
  color: var(--primary-color-green-hover);
}
body.tmp-duma .slider .slider__link:active {
  color: var(--primary-color-green-click);
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 34px;
  padding-top: 32px;
}
@media (max-width: 992px) {
  .slider {
    font-size: 24px;
    padding-top: 24px;
  }
}
.slider .slider__counter {
  text-align: center;
  font-weight: 400;
  font-size: calc(20px * var(--scale));
  line-height: calc(24px * var(--lh));
}
@media (max-width: 992px) {
  .slider .slider__counter {
    font-size: calc(14px * var(--scale));
    line-height: calc(18px * var(--lh));
  }
}
.slider .slider__link {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--primary-color);
}
.slider .slider__link:hover {
  color: var(--primary-color-hover);
}
.slider .slider__link:active {
  color: var(--primary-color-active);
}