include ../../libs/fieldset/_fieldset.pug 
include ../../libs/checkbox/_checkbox.pug
include ../../libs/textarea/_textarea.pug 
include ../../libs/inputs/_inputs.pug 
include ../../libs/buttons/_buttons.pug 
include ../../libs/select/_select.pug 
include ../../libs/add-file-button/add-file-button

mixin dm-applications(data)
    .dm-applications
        .dm-applications__container
            ul.dm-applications__list 
                li.dm-applications__item Обращения рассматриваются в соответствии с Федеральным законом от 02.05.2006 #[a(href='/').link № 59-ФЗ "О порядке рассмотрения обращений граждан Российской Федерации"];
                li.dm-applications__item Обращения подлежат обязательной регистрации в течение трех дней с момента поступления #[a(href='/').link отделом по организационному и документационному обеспечению Думы города];
                li.dm-applications__item Ответ на обращение направляется по электронной почте;
                li.dm-applications__item Ответ может быть продублирован обычной почтой по почтовому адресу, указанному в анкете, если в форме отмечено соответствующее поле;
                li.dm-applications__item Длина текста электронного обращения не должна превышать 20 тысяч символов;
                li.dm-applications__item Электронное обращение может содержать вложенный файл, размером не более 2,5мб.
                li.dm-applications__item Обращения, содержащие в электронном виде материалы большего объема, следует направлять #[a(href='/').link иным способом];
                li.dm-applications__item Информация о персональных данных авторов обращений, направленных в электронном виде, #[a(href='/').link хранится и обрабатывается] с соблюдением требований российского законодательства о персональных данных. 
            .dm-applications__divider
            form.dm-applications__form  
                h3.dm-applications__title Основные данные
                +fieldset(
                    {
                        type: 'select', 
                        title: 'Адресат обращения', 
                        cls_title: 'reception__sender', 
                        options: [
                            { text: 'Барсов Евгений Вячеславович', value: 'Барсов Евгений Вячеславович', selected: true }, 
                            { text: 'Филатов', value: 'Филатов' }, 
                            { text: 'Глава города Сургута', value: 'Глава города Сургута' }], 
                        iconPosition: 'right'})
                +fieldset(
                    {
                        cls: 'user-contacts',
                        cls_title: 'reception__user',
                        type: '',
                        title: 'Ваши данные (от кого)',
                        span: 'Вспомогательный текст',
                        error: false,
                        inputs: [
                            {
                                placeholder: 'Фамилия',
                                name: 'firstName', 
                                sort: 'virtual-reception_input',
                            },
                            {
                                placeholder: 'Имя',
                                name: 'secondName',
                                sort: 'virtual-reception_input',
                            },
                            {
                                placeholder: 'Отчество',
                                name: 'thirdName',
                                sort: 'virtual-reception_input',
                            }
                            ]    
                    })
                .dm-applications__divider
                +fieldset(
                    {
                        cls_title: 'dm-applications_',
                        type: '',
                        title: 'Почтовый адрес для контакта',
                        span: '',
                        error: false,
                        inputs: [
                            {
                                placeholder: 'Пример: some@mail.ru',
                                name: 'companyName', 
                                sort: 'virtual-reception_input',
                            },
                            ]    
                    }) 
                .dm-applications__get-answer       
                    +checkbox({
                        sort: 'checkbox',
                        label: 'Требование дать письменный ответ по почте',
                        name: 'contact',
                        id: 'contact'
                    })
                .dm-applications__divider     
                +fieldset(
                    {
                        cls_title: 'dm-applications_',
                        type: 'textarea',
                        title: 'Обращение',
                        span: '',
                        error: false,
                        options: {
                            placeholder: 'Введите ваше обращение (не больше 20 тысяч символов)',
                            value: '20000',
                            cls: 'reception',
                            name: 'feedback',
                                }
                    })
            .dm-applications__buttons
                +add-file-button({
                    desc: 'Принимаются файлы размером не более 2,5 МБ '
                })
                .files-list
                .dm-applications__divider  
                .dm-applications__agreement
                    +checkbox({
                        sort: 'checkbox',
                        name: 'accept',
                        id: 'accept'
                    })
                    p.dm-applications__desc #[span.dm-applications__span Согласие на обработку персональных данных:] нажимая на кнопку "Отправить" выражаю согласие на обработку, в том числе с помощью средств автоматизации, моих персональных данных. #[a(href='/').dm-applications__link С Политикой Думы города Сургута в отношении обработки персональных данных] ознакомлен.           
                +button({ type: 'button', size: 'l', class: 'button_blue', event: 'getValues(event)', icon: 'arrow-forward-outline', text: `Отправить обращение` })   