mixin dm-applications(data)
    .dm-applications
        .dm-applications__container
            ul.dm-applications__list 
                li.dm-applications__item Обращения рассматриваются в соответствии с Федеральным законом от 02.05.2006 № 59-ФЗ "О порядке рассмотрения обращений граждан Российской Федерации";
                li.dm-applications__item Обращения подлежат обязательной регистрации в течение трех дней с момента поступления отделом по организационному и документационному обеспечению Думы города;
                li.dm-applications__item Ответ на обращение направляется по электронной почте;
                li.dm-applications__item Ответ может быть продублирован обычной почтой по почтовому адресу, указанному в анкете, если в форме отмечено соответствующее поле;
                li.dm-applications__item Длина текста электронного обращения не должна превышать 20 тысяч символов;
                li.dm-applications__item Электронное обращение может содержать вложенный файл, размером не более 2,5мб.
                li.dm-applications__item Обращения, содержащие в электронном виде материалы большего объема, следует направлять иным способом;
                li.dm-applications__item Информация о персональных данных авторов обращений, направленных в электронном виде, хранится и обрабатывается с соблюдением требований российского законодательства о персональных данных. 
            form.dm-applications__form  
                h3.dm-applications__title Основные данные
                +fieldset(
                    {
                        type: 'select', 
                        title: 'Адресат обращения', 
                        cls_title: 'reception__sender', 
                        options: [
                            { text: 'Барсов Евгений Вячеславович', value: 'Барсов Евгений Вячеславович', selected: true }, 
                            { text: 'Филатов', value: 'Филатов' }, 
                            { text: 'Глава города Сургута', value: 'Глава города Сургута' }], 
                        iconPosition: 'right'})
                +fieldset(
                    {
                        cls: 'user-contacts',
                        cls_title: 'reception__user',
                        type: '',
                        title: 'Ваши данные (от кого)',
                        span: 'Вспомогательный текст',
                        error: false,
                        inputs: [
                            {
                                placeholder: 'Фамилия',
                                name: 'firstName', 
                                sort: 'virtual-reception_input',
                            },
                            {
                                placeholder: 'Имя',
                                name: 'secondName',
                                sort: 'virtual-reception_input',
                            },
                            {
                                placeholder: 'Отчество',
                                name: 'thirdName',
                                sort: 'virtual-reception_input',
                            }
                            ]    
                    })
                +fieldset(
                    {
                        cls_title: 'reception__job',
                        type: '',
                        title: 'Почтовый адрес для контакта',
                        span: '',
                        error: false,
                        inputs: [
                            {
                                placeholder: 'Пример: some@mail.ru',
                                name: 'companyName', 
                                sort: 'virtual-reception_input',
                            },
                            ]    
                    })    
                +button({ type: 'button', class: 'button_white reception_add-author-btn', event: 'addFormField(event)', text: `Добавить соавтора`, })    
                +fieldset(
                    {
                        cls_title: 'reception__feedback',
                        type: 'textarea',
                        title: 'Обращение',
                        span: '',
                        error: false,
                        options: {
                            placeholder: 'Введите ваше обращение (не больше 20 тысяч символов)',
                            value: 'none',
                            cls: 'reception',
                            name: 'feedback',
                                }
                    })
            ul.reception__documents-list
            .reception__buttons
                .custom-file-upload(onclick='addDocument()')
                    label(for="file" id="file-label") Вложить документ
                        input(type="file" id="file" name="files" class='input__add-document' multiple)   
                +button({ type: 'button', size: 'l', class: 'button_blue', event: 'getValues(event)', icon: 'arrow-forward-outline', text: `Отправить обращение` })   