/*** Finish - Title ***/
.dm-struct-card {
  display: flex;
  background-color: #ffffff;
  max-width: 584px;
  width: 100%;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  max-width: 50%;
}
@media (max-width: 500px) {
  .dm-struct-card {
    max-width: unset;
  }
}

.dm-struct-card__container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.dm-struct-card__container span {
  color: #15195a;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
@media (max-width: 992px) {
  .dm-struct-card__container span {
    font-size: 12px;
    line-height: 16px;
  }
}

.dm-struct__main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--grey-adm);
  border-radius: 20px;
}

.dm-struct__main-container {
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
@media (max-width: 768px) {
  .dm-struct__main-container {
    padding: 20px;
    gap: 8px;
  }
}

.dm-struct__main-first, .dm-struct__main-second, .dm-struct__main-third, .dm-struct__main-fourth {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 24px;
}

.dm-struct__main-second {
  display: flex;
}
@media (max-width: 768px) {
  .dm-struct__main-second {
    gap: 8px;
    padding-top: 12px;
    border-top: 1px solid #78839c;
  }
}
@media (max-width: 500px) {
  .dm-struct__main-second {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.dm-struct__main-third {
  display: flex;
  position: relative;
  padding: 24px 0px;
}
.dm-struct__main-third::before, .dm-struct__main-third::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background: repeating-linear-gradient(to right, #78839c, #78839c 60px, transparent 60px, transparent 80px);
}
.dm-struct__main-third::before {
  top: 0;
}
.dm-struct__main-third::after {
  bottom: 0;
}
@media (max-width: 768px) {
  .dm-struct__main-third {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 12px 0px;
    gap: 8px;
  }
  .dm-struct__main-third::before, .dm-struct__main-third::after {
    background: #78839c;
  }
  .dm-struct__main-third .dm-struct-card {
    max-width: unset;
  }
}
@media (max-width: 500px) {
  .dm-struct__main-third {
    grid-template-columns: 1fr;
  }
}

.dm-struct__bottom {
  padding-top: 48px;
  padding-bottom: 64px;
}
@media (max-width: 768px) {
  .dm-struct__bottom {
    padding-top: 24px;
    padding-bottom: 48px;
  }
}

.dm-struct__bottom p, .dm-struct__bottom a, .dm-struct__bottom span {
  color: #000000;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 992px) {
  .dm-struct__bottom p, .dm-struct__bottom a, .dm-struct__bottom span {
    font-size: 14px;
    line-height: 20px;
  }
}

.dm-struct__bottom a {
  text-decoration: none;
  border-bottom: 1px solid #000000;
}