body.tmp-duma .afisha-event .afisha-event__content {
  max-width: 978px;
}
body.tmp-duma .afisha-event .afisha-event__content .afisha-event__banner .afisha-event__image {
  max-width: 978px;
}

.afisha-event .afisha-event__container .afisha-event__content {
  max-width: 755px;
  margin: 40px 0 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 992px) {
  .afisha-event .afisha-event__container .afisha-event__content {
    margin-bottom: 0;
  }
}
.afisha-event .afisha-event__container .afisha-event__content .afisha-event__main-text .afisha-event__title {
  padding: 0;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: calc(20px * var(--scale));
  line-height: calc(24px * var(--lh));
}
@media (max-width: 992px) {
  .afisha-event .afisha-event__container .afisha-event__content .afisha-event__main-text .afisha-event__title {
    font-size: calc(14px * var(--scale));
    line-height: calc(18px * var(--lh));
  }
}
.afisha-event .afisha-event__container .afisha-event__content .afisha-event__main-text .afisha-event__text {
  margin: 0;
  font-weight: 300;
  font-size: calc(16px * var(--scale));
  line-height: calc(24px * var(--lh));
}
@media (max-width: 992px) {
  .afisha-event .afisha-event__container .afisha-event__content .afisha-event__main-text .afisha-event__text {
    font-size: calc(14px * var(--scale));
    line-height: calc(20px * var(--lh));
  }
}
.afisha-event .afisha-event__container .afisha-event__quote {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (max-width: 992px) {
  .afisha-event .afisha-event__container .afisha-event__quote {
    padding: 0 16px;
  }
}
.afisha-event .afisha-event__container .afisha-event__quote .afisha-event__quote-text {
  font-weight: 300;
  font-size: calc(20px * var(--scale));
  line-height: calc(28px * var(--lh));
}
@media (max-width: 992px) {
  .afisha-event .afisha-event__container .afisha-event__quote .afisha-event__quote-text {
    font-size: calc(16px * var(--scale));
    line-height: calc(24px * var(--lh));
  }
}
.afisha-event .afisha-event__container .afisha-event__quote .afisha-event__quote-author {
  color: var(--tertiary-text);
  font-weight: 300;
  font-size: calc(14px * var(--scale));
  line-height: calc(20px * var(--lh));
}
@media (max-width: 992px) {
  .afisha-event .afisha-event__container .afisha-event__quote .afisha-event__quote-author {
    font-size: calc(14px * var(--scale));
    line-height: calc(20px * var(--lh));
  }
}
.afisha-event .afisha-event__container .afisha-event__preview {
  max-height: 425px;
  position: relative;
}
.afisha-event .afisha-event__container .afisha-event__preview::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(180.7deg, rgba(3, 28, 77, 0) 0.6%, rgba(0, 0, 0, 0.6) 79.79%);
  border-radius: 8px;
}
.afisha-event .afisha-event__container .afisha-event__preview .afisha-event__link-image {
  width: 100%;
  max-height: 425px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}
@media (max-width: 768px) {
  .afisha-event .afisha-event__container .afisha-event__preview .afisha-event__link-image {
    max-height: 189px;
  }
}
.afisha-event .afisha-event__container .afisha-event__preview .afisha-event__item-play {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 48px;
  background-color: var(--primary-color);
  color: var(--content-color);
  z-index: 2;
  font-size: 24px;
}
.afisha-event .afisha-event__container .afisha-event__banner {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.afisha-event .afisha-event__container .afisha-event__banner .afisha-event__banner-list {
  display: flex;
  overflow: scroll;
  scrollbar-width: none;
}
.afisha-event .afisha-event__container .afisha-event__banner .afisha-event__banner-list a {
  color: var(--main-text);
}
.afisha-event .afisha-event__container .afisha-event__banner .afisha-event__banner-list .afisha-event__image {
  max-width: 755px;
  width: 100%;
  margin-right: 8px;
  max-height: 480px;
  object-fit: contain;
  object-position: center;
}
@media (max-width: 992px) {
  .afisha-event .afisha-event__container .afisha-event__banner .afisha-event__banner-list .afisha-event__image {
    max-height: 270px;
  }
}
@media (max-width: 768px) {
  .afisha-event .afisha-event__container .afisha-event__banner .afisha-event__banner-list .afisha-event__image {
    max-height: 125px;
  }
}
.afisha-event .afisha-event__container .afisha-event__banner .afisha-event__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.afisha-event .afisha-event__container .afisha-event__banner .afisha-event__navigation .afisha-event__comment {
  font-weight: 300;
  font-size: calc(14px * var(--scale));
  line-height: calc(20px * var(--lh));
}
@media (max-width: 992px) {
  .afisha-event .afisha-event__container .afisha-event__banner .afisha-event__navigation .afisha-event__comment {
    font-size: calc(14px * var(--scale));
    line-height: calc(20px * var(--lh));
  }
}
.afisha-event .afisha-event__container .afisha-event__banner .afisha-event__navigation .slider {
  padding-top: 0;
}
.afisha-event .afisha-event__container .afisha-event__banner .afisha-event__navigation .slider .slider__counter {
  min-width: 43px;
}