@use '../../../../assets/styles/vars.scss' as *;

.main-help-city {
    margin: 0 0 48px;

    @include respond-to(md) {
        margin: 0 0 20px;
    }

    .main-help-city__content {
        display: flex;
        gap: 24px;

        @include respond-to(md) {
            gap: 8px;
        }

        @include respond-to(sm) {
            display: grid;
            grid-template-columns: repeat(2, 336px);
            overflow-y: scroll;
            scrollbar-width: none;
        }
    }

    .help-city__navigation {
        display: none;

        @include respond-to(md) {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
    }
}

.help-city__tabs {
    @include respond-to(md) {
        display: none;
    }
}