@use '../../../../assets/styles/vars.scss' as *;

.help-city {
    @include main-blocks-paddings;

    .help-city__tabs {
        @include respond-to(md) {
            display: none;
        }
    }

    .help-city__content {

        .slick-slide {
            height: 428px;

            @include respond-to(md) {
                height: 288px;
            }
        }

        .main-project-card {
            margin-right: 24px;

            @include respond-to(md) {
                margin-right: 8px;
            }

            .main-project-card__content {
                box-sizing: border-box;
            }
        }
    }

    .help-city__navigation {
        display: none;

        @include respond-to(md) {
            display: flex;
            justify-content: center;
        }
    }
}