@use '../../../../assets/styles/vars.scss' as *;

.help-city {
    margin: 0 0 48px;

    @include respond-to(md) {
        margin: 0 0 20px;
    }

    .help-city__content {
        .main-project-card {
            margin-right: 24px;

            @include respond-to(md) {
                margin-right: 8px;
            }
        }
    }

    .help-city__navigation {
        display: none;

        @include respond-to(md) {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
    }
}

.help-city__tabs {
    @include respond-to(md) {
        display: none;
    }
}