@use '../../../../assets/styles/vars.scss' as *;

.board-list {
    .board-list__container {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include respond-to(md) {
            gap: 8px;
        }
    }
}

.honor-board__pagination {
    display: flex;

    @include respond-to(md) {
        justify-content: center;
    }
}