include ../board-card/board-card

mixin board-list()
    .board-list
        .board-list__container
            +board-card({
                date: '28.06.2024',
                image: 'board__image.png',
                about: 'Казенное учреждение Ханты-Мансийского автономного округа – Югры «Станция переливания крови» (главный врач – Чемакин Юрий Алексеевич)'
            })
            +board-card({
                date: '28.06.2024',
                image: 'board__image.png',
                about: 'Бюджетное учреждение Ханты-Мансийского автономного округа – Югры «Сургутская городская клиническая поликлиника № 2» (Тараник Марина Борисовна – главный врач, Анненская Людмила Михайловна – заведующий детской поликлиникой, Дудорева Лилия Абубакировна – старшая медицинская сестра детской поликлиники, Науменко Светлана Рифовна – медицинская сестра детского офтальмологического кабинета консультативно-диагностического отделения № 4 детской поликлиники)'
            })
            +board-card({
                date: '28.06.2024',
                image: 'board__image.png',
                about: 'Бюджетное учреждение Ханты-Мансийского автономного округа – Югры «Сургутская городская клиническая поликлиника № 2» (Тараник Марина Борисовна – главный врач, Анненская Людмила Михайловна – заведующий детской поликлиникой, Дудорева Лилия Абубакировна – старшая медицинская сестра детской поликлиники, Науменко Светлана Рифовна – медицинская сестра детского офтальмологического кабинета консультативно-диагностического отделения № 4 детской поликлиники)'
            })
            +board-card({
                date: '28.06.2024',
                image: 'board__image.png',
                about: 'Казенное учреждение Ханты-Мансийского автономного округа – Югры «Станция переливания крови» (главный врач – Чемакин Юрий Алексеевич)'
            })
            +board-card({
                date: '28.06.2024',
                image: 'board__image.png',
                about: 'Бюджетное учреждение Ханты-Мансийского автономного округа – Югры «Сургутская городская клиническая поликлиника № 2» (Тараник Марина Борисовна – главный врач, Анненская Людмила Михайловна – заведующий детской поликлиникой, Дудорева Лилия Абубакировна – старшая медицинская сестра детской поликлиники, Науменко Светлана Рифовна – медицинская сестра детского офтальмологического кабинета консультативно-диагностического отделения № 4 детской поликлиники)'
            })
            +board-card({
                date: '28.06.2024',
                image: 'board__image.png',
                about: 'Бюджетное учреждение Ханты-Мансийского автономного округа – Югры «Сургутская городская клиническая поликлиника № 2» (Тараник Марина Борисовна – главный врач, Анненская Людмила Михайловна – заведующий детской поликлиникой, Дудорева Лилия Абубакировна – старшая медицинская сестра детской поликлиники, Науменко Светлана Рифовна – медицинская сестра детского офтальмологического кабинета консультативно-диагностического отделения № 4 детской поликлиники)'
            })