include ../../libs/buttons/_buttons

mixin main-news-card(data = [])
    a(href='/').main-news-card
        .main-news-card__container
            .main-news-card__image-block 
                img(class='main-news-card__image' src=`../resources/${data.image}` alt='Изображения')
                .main-news-card__tags
                    each tag in data.tags 
                        +button(tag) 
            .main-news-card__content 
                span.main-news-card__date #{data.date}
                h5.main-news-card__title #{data.title}