@use '../../../assets/styles/vars.scss' as *;

.news-card-without-image {
    display: flex;
    background-color: $cards-background;
    border-radius: 12px;
    text-decoration: none;
    color: #000000;
    max-width: 420px;
    width: 100%;
    padding: 20px 20px;
    box-sizing: border-box;

    &:hover {
        background-color: $services-hover;
    }

    &:active {
        background-color: $services-active;
    }

    @media screen and (max-width: 1000px) {
        min-width: 360px;
        padding: 16px;

        &:nth-child(n+3) {
            display: none;
        }
    }

    @media screen and (max-width: 600px) {
        max-width: none;
        min-width: auto;
    }

    .news-card-without-image__container {
        display: flex;
        flex-direction: column;
        gap: 29px;

        @media screen and (max-width: 1000px) {
            gap: 22px;
        }

        .news-card-without-image__content {
            display: flex;
            gap: 20px;

            .news-card-without-image__title {
                @include heading-h5;
            }

            .news-card-without-image__icon {
                width: 24px;
                height: 24px;
            }
        }

        .news-card-without-image__date {
            color: rgba(133, 140, 156, 1);
            @include caption-3;
        }
    }
}

.news-card-with-image {
    display: flex;
    position: relative;
    max-width: 867px;
    width: 100%;
    border-radius: 12px;
    height: 608px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(180.7deg, rgba(3, 28, 77, 0) 0.6%, rgba(0, 0, 0, 0.9) 79.79%);
        border-radius: 12px;
    }

    @media screen and (max-width: 600px) {
        min-height: 264px;
    }

    .news-card-with-image__container {
        display: flex;
        align-items: end;
        padding: 40px;

        @media screen and (max-width: 1000px) {
            padding: 20px;
        }


        .news-card-with-image__content {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            max-width: 627px;
            width: 100%;

            .news-card-with-image__date {
                z-index: 1;
                @include caption-2;
            }

            .news-card-with-image__title {
                margin: 8px 0 32px;
                z-index: 1;
                @include heading-h1;

                @media screen and (max-width: 1000px) {
                    margin: 4px 0 16px;
                }
            }

            .news-card-with-image__button {
                z-index: 1;
            }
        }
    }
}

.news {
    display: flex;
    width: 100%;
    margin: 24px 0 48px;

    @media (max-width: 1000px) {
        margin: 18px 0 25px;
    }

    @media (max-width: 600px) {
        margin: 15px 0 7px;
    }

    .news__container {
        display: flex;
        width: 100%;
        gap: 24px;
        justify-content: center;

        @media (max-width: 1000px) {
            gap: 8px;
        }

        @media (max-width: 600px) {
            flex-direction: column;
        }

        .news__list {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }
}

.main-news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1440px;
    width: 100%;

    .news__navigation {
        display: flex;
        justify-content: center;
    }

    .main-news__container {
        .main-news__card-list {
            gap: 24px;
            row-gap: 20px;
            display: grid;
            grid-template-columns: repeat(4, calc((100% - 72px)/4));
            justify-content: space-between;
            margin-top: 0;
            padding-bottom: 44px;

            @media (max-width: 1280px) {
                grid-template-columns: repeat(3, calc((100% - 72px)/3));
            }

            @media (max-width: 1000px) {
                grid-template-columns: repeat(3, calc((100% - 16px)/3));
                margin-top: 0;
                gap: 8px;
                padding-bottom: 13px;
            }

            @media (max-width: 600px) {
                overflow-x: scroll;
                scrollbar-width: none;
                grid-template-columns: repeat(2, 250px);
            }

        }
    }
}

.main-news-card {
    max-width: 310px;
    background-color: $cards-background;
    border-radius: 12px;
    text-decoration: none;
    color: $main-text;

    &:hover {
        color: $primary-color-hover;
    }

    &:active {
        color: $primary-color-active;
    }

    @media (max-width: 1000px) {
        &:nth-child(n+4) {
            display: none;
        }
    }

    @media (max-width: 600px) {
        &:nth-child(n+3) {
            display: none;
        }
    }

    .main-news-card__container {

        .main-news-card__image-block {
            position: relative;

            .main-news-card__image {
                max-width: 310px;
                width: 100%;
                height: 181px;
                object-fit: cover;
                object-position: center;
                border-radius: 12px 12px 0 0;

                @media screen and (max-width: 1000px) {
                    max-height: 145px;
                }
            }

            .main-news-card__tags {
                display: flex;
                gap: 8px;
                position: absolute;
                top: 12px;
                left: 12px;

                @media (max-width: 1000px) {
                    top: 8px;
                    left: 8px;

                }

                .news-card__tag {
                    @include tags-label;
                    padding: 4px 12px;
                }
            }
        }

        .main-news-card__content {
            display: flex;
            flex-direction: column;
            padding: 16px 20px 28px;
            gap: 8px;

            @media screen and (max-width: 1000px) {
                padding: 16px;

            }

            @media screen and (max-width: 600px) {
                padding: 20px;
            }

            .main-news-card__date {
                @include caption-3;
                color: $tertiary-text;
            }

            .main-news-card__title {
                @include heading-h5;
            }
        }
    }
}