mixin select(cls, iconPosition, options)
  select(class=`select select-${cls} select-icon-${iconPosition}`)
    each option in options
      option(class=`select__option` value=option.value)= option.text