include ../multiselect/_multi-select.pug

mixin select(iconPosition, options, type)
  if type === 'multiple'  
    +multi_select()
  else
    select(class=`select ${iconPosition ? `select-icon-${iconPosition}` : ''}`)
      if options
        each option in options
          option(class=`select__option` value=option.value)= option.text