mixin select(size, options)
  select(class=`select select-${options.size} select-icon-${options.iconPosition}`)
    each option in options
      option(class=`select__option` value=option.value)= option.text