mixin select(size, value, iconPosition)
  select(class=`select select-${size} select-icon-${iconPosition}`)
    each option in value
      option(class=`select__option` value=option.value)= option.text