.main-usefull-links {
    max-width: 1440px;
    width: 100%;

    .main-usefull-links__container {
        display: grid;
        grid-template-columns: repeat(3, 32%);
        gap: 24px;
        padding: 0 0 48px;
        justify-content: center;

        .main-link {
            background-color: rgba(250, 250, 250, 1);
            border-radius: 20px;
            text-decoration: none;
            color: #000000;
            padding: 20px;
            display: flex;
            gap: 20px;
            align-items: center;

            .main-link__icon {
                width: 64px;
                height: 64px;
                object-fit: cover;
                object-position: center;
            }

            .main-link__title {
                font-size: 500px;
                font-size: 20px;
                line-height: 24px;
            }
        }

        .main-usefull-link {
            flex-direction: row-reverse;
            justify-content: space-between;
            border-radius: 8px;
            min-height: 48px;
            align-items: flex-start;

            .main-usefull-link__icon {
                width: 24px;
                height: 24px;
            }

            .main-usefull-link__title {}
        }
    }
}



@media screen and (max-width: 1000px) {
    .main-usefull-link {
        .main-usefull-link__icon {}

        .main-usefull-link__title {}
    }
}

@media screen and (max-width: 600px) {
    .main-usefull-link {
        .main-usefull-link__icon {}

        .main-usefull-link__title {}
    }
}