.important-inf {
  display: flex;
  flex-direction: column;
}
.important-inf .important-inf__container {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  scrollbar-width: none;
}
@media (max-width: 1000px) {
  .important-inf .important-inf__container {
    margin-top: 4px;
  }
}
.important-inf .important-inf__container .important-inf__banner {
  max-width: 873px;
  width: 100%;
}
@media (max-width: 1000px) {
  .important-inf .important-inf__container .important-inf__banner {
    max-width: 482px;
  }
}