/*** Finish - Title ***/
.subscribe {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.subscribe__title {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.subscribe__title span {
  color: var(--main-text);
  font-weight: 500;
  font-size: calc(20px * var(--scale));
  line-height: calc(24px * var(--lh));
}
@media (max-width: 992px) {
  .subscribe__title span {
    font-size: calc(14px * var(--scale));
    line-height: calc(18px * var(--lh));
  }
}

.subscribe__subtitle {
  display: flex;
  flex-direction: column;
  gap: 24px;
}