@use '../../../../assets/styles/vars.scss' as *;

.dm-meeting-elem {
    width: 100%;
    border-radius: 8px;
    background-color: $grey-adm;
}

.dm-meeting-elem__container  {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.dm-meeting-elem__top {
    display: flex;
    gap: 5px;
    align-items: center;
}

.dm-meeting-elem__mid {
    display: flex;
    align-items: center;
    gap: 24px;
}

.dm-meeting-elem__prepare, .dm-meeting-elem__speaker {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dm-meeting-elem__prepare span, .dm-meeting-elem__speaker span{
    color: $second-text;
    font-weight: 400 !important;
    @include text-2();
}

.dm-meeting-elem__prepare span:first-child, .dm-meeting-elem__speaker span:first-child  {
    color: $tertiary-text;
    font-weight: 400 !important;
    @include caption-2();
}

.dm-meeting-elem__bot {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dm-meeting-elem__bot-left {
    display: flex;
    align-items: center;
    gap: 24px;
    
}

.dm-meeting-elem__bot-left span {
    color: $second-text;
    @include lead-3();
}

.dm-meeting-elem__container  hr {
    margin: 0;
    border-color: $second-text;
    opacity: 0.2;
}

.dm-meeting-elem__num  span{
    color: $tertiary-text;
    font-weight: 500;
    @include lead-3();
}

.dm-meeting-elem__name span {
    color: $second-text;
    font-weight: 500;
    @include lead-3();
}

.dm-meeting-elem__decision {
    display: flex;
    align-items: center;
    gap: 5px;
}

.dm-meeting-elem__doc a {
    border-bottom: 1px solid $second-text;
    color: $second-text;
    @include text-2();
}

.dm-meeting-elem__bot .button span{
    border-bottom: 1px solid $content-color;
}

.dm-meeting__list {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}