/*** Finish - Title ***/
.citizens-list .citizens-list__container .citizens-list__desc {
  margin-bottom: 24px;
}
.citizens-list .citizens-list__container .citizens-list__cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media (max-width: 992px) {
  .citizens-list .citizens-list__container .citizens-list__cards {
    gap: 24px;
  }
}
@media (max-width: 767px) {
  .citizens-list .citizens-list__container .citizens-list__cards {
    gap: 8px;
  }
}