/*** Finish - Title ***/
.dm-deputies-comitets {
  padding-top: 48px;
}
@media (max-width: 992px) {
  .dm-deputies-comitets {
    padding-top: 24px;
  }
}

.dm-deputies-comitets__block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 992px) {
  .dm-deputies-comitets__block {
    gap: 16px;
  }
}

.dm-deputies-comitets__content {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
@media (max-width: 992px) {
  .dm-deputies-comitets__content {
    gap: 24px;
  }
}

.dm-deputies-comitets__name span {
  color: var(--main-text);
  font-weight: 400;
  font-size: calc(20px * var(--scale));
  line-height: calc(24px * var(--lh));
}
@media (max-width: 992px) {
  .dm-deputies-comitets__name span {
    font-size: calc(14px * var(--scale));
    line-height: calc(18px * var(--lh));
  }
}

.dm-deputies-comitets__list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
@media (max-width: 992px) {
  .dm-deputies-comitets__list {
    gap: 8px;
  }
}

.dm-deputies__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0 16px;
  gap: 8px;
}
@media (max-width: 768px) {
  .dm-deputies__title-container {
    flex-direction: column;
  }
}
.dm-deputies__title-container .title {
  margin: 0;
}

.dm-deputies__title-container .button {
  width: 100%;
  max-width: 265px;
  box-sizing: border-box;
  justify-content: center;
}
@media (max-width: 768px) {
  .dm-deputies__title-container .button {
    max-width: 205px;
  }
}

.dm-deputies__title-container .button span {
  font-weight: 600;
}