include ../../components/title/main/_main-title
include ../../components/people-care-card/_people-care-card
include ../../components/slider/_slider
include ../../libs/buttons/_buttons

mixin people-care()
    .people-care 
        +main-title({
            href: '/',
            title: 'С заботой о жителях',
            slider: {
                class: 'people-care'
            },
        })   
        .people-care__container(aria-label='Список карточек')
            .people-care__card-list(id='people-care__card-list') 
                +people-care-card({
                    title: 'Лицам с ограниченными возможностями здоровья',
                    image: 'medkit-outline',
                    background: 'people-care-card_bg-health',
                    button: true, 
                })
                +people-care-card({
                    title: 'Бюджет для граждан Сургута',
                    image: 'wallet-outline',
                    background: 'people-care-card_bg-finance',
                    button: true
                })
                +people-care-card({
                    title: 'Национальные проекты',
                    image: 'people-outline',
                    background: 'people-care-card_bg-projects',
                    button: true 
                }) 
                +people-care-card({
                    title: 'Национальные проекты',
                    image: 'people-outline',
                    background: 'people-care-card_bg-projects',
                    button: true 
                }) 
            .people-care__slider
                +slider({ class: 'people-care' })   