include ../_pagination.pug 
include ../../../libs/pag-buttons/_pag-buttons.pug 

+pagination([
    { title: 'Назад', onclick: '' , value: 'Назад', iconPosition: 'left'},
    [
        { num: '1', onclick: '' , value: '1'},
        { num: '2', onclick: '' , value: '2'},
        { num: '3', onclick: '' , value: '3'},
        { num: '4', onclick: '' , value: '4' },
        { num: '5', onclick: '' , value: '5' },
        { num: '6', onclick: '' , value: '6' },
    ],
    { title: 'Вперед', onclick: '' , value: 'Вперед', iconPosition: 'right'}
    ])