@use '../../../../assets/styles/vars.scss' as *;

@mixin flex {
    display: flex;
    align-items: center;
    font-size: 30px;
    cursor: pointer;

    @include respond-to(md) {
        font-size: 20px;
    }
}

body.tmp-duma .navigation .navigation__link {
    color: $primary-color-green;

    &:hover {
        color: $primary-color-green-hover;
    }

    &:active {
        color: $primary-color-green-click;
    }
}

.navigation {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-top: 32px;
    @include text-3;

    @include respond-to(md) {
        gap: 14px;
        padding-top: 24px;
    }

    .navigation__link {
        color: $primary-color;
        @include flex;

        &:hover {
            color: $primary-color-hover;
        }
    
        &:active {
            color: $primary-color-active;
        }
    }

    .navigation__pages {
        display: flex;
        gap: 4px;
        @include lead-3;
    }
}