@use '../../../../assets/styles/vars.scss' as *;

@mixin flex {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 30px;

    @media (max-width: 1000px) {
        font-size: 20px;
    }
}

body.tmp-duma .navigation .navigation__link {
    color: $primary-color-green;

    &:hover {
        color: $primary-color-green-hover;
    }

    &:active {
        color: $primary-color-green-click;
    }
}

.navigation {
    display: flex;
    align-items: center;
    gap: 24px;
    @include text-3;

    @media (max-width: 1000px) {
        gap: 14px;
    }

    .navigation__link {
        color: $primary-color;
        @include flex;
    }

    .navigation__pages {
        display: flex;
        gap: 4px;
        @include lead-3;
    }
}