mixin add-file-button(data={})
    .add-file-button(onclick='addDocument(event)' role='button' aria-label='Вложить документ')
        label(for="file" id="file-label") Вложить документ
            ion-icon(name="add-outline" class='add-file-button__icon')
            input(type="file" id="file" name="files" class='input__add-document' multiple)
        if data.desc
            span.add-file-button__desc #{data.desc}