@use '../../../../../assets/styles/vars.scss' as *;

.biography-card {
    display: flex;
    max-width: 1305px;
    width: 100%;
    border-radius: 12px;
    background-color: $cards-background;

    .biography-card__container {
        display: flex;
        gap: 40px;
        width: 100%;
        @include content-paddings;

        @include respond-to(sm) {
            gap: 20px;
            align-items: center;
        }

        .biography-card__avatar {
            max-width: 200px;
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 12px;
            height: 100%;

            @include respond-to(sm) {
                max-width: 100px;
                max-height: 115px;
            }
        }

        .biography-card__user-info {
            display: flex;
            flex-direction: column;
            padding: 24px 0;

            .biography-card__name {
                padding: 0;
                @include lead-1;
            }

            .biography-card__job {
                margin: 20px 0 60px;
                @include caption-1;

                @include respond-to(sm) {
                    margin: 12px 0 0;
                }
            }

            .biography-card__link {
                font-weight: 500;
                font-size: 20px;
                line-height: 32px;
                text-decoration: none;
                color: $primary-color;

                @include respond-to(sm) {
                    display: none;
                }

                &:hover {
                    color: $primary-color-hover;
                }

                &:active {
                    &:hover {
                        color: $primary-color-active;
                    }
                }
            }
        }
    }
}

.biography-card_full-page {
    display: none;

    @include respond-to(md) {
        display: flex;
    }

    .biography-card__container {
        align-items: center;

        .biography-card__user-info {
            .biography-card__job {
                margin-bottom: 0;
            }
        }
    }
}