include ../organ-card/about-organ-card

mixin about-organs()
    .about-organs
        .toggle-container
            .toggle-header Органы местного самоуправления
            .toggle-content
                .about-organs-container
                    +about-organ-card({
                        name: 'Слепов Максим Николаевич',
                        job: 'Глава города Сургута',
                        link: '#',
                        address: '628400, Тюменская обл., Ханты-Мансийский автономный округ - Югра, г. Сургут, ул. Энгельса, 8.',
                        phone: '(3462) 52-20-01, факс (3462) 52-21-82',
                        email: 'gorod@admsurgut.ru',
                    })
                    hr
                    +about-organ-card({
                        name: 'Администрация города Сургута',
                        job: '',
                        link: '#',
                        address: '628400, Тюменская обл., Ханты-Мансийский автономный округ - Югра, г. Сургут, ул. Энгельса, 8.',
                        phone: 'факс (3462) 52-21-82',
                        email: 'gorod@admsurgut.ru',
                    })
                    hr
                    +about-organ-card({
                        name: 'Дума города Сургута',
                        job: 'Председатель: Олейников Александр Игоревич',
                        link: '#',
                        address: '628400, Тюменская обл., Ханты-Мансийский автономный округ - Югра, г. Сургут, ул. Восход, 4.',
                        phone: '(3462) 52-83-74, факс (3462) 52-80-15',
                        email: 'duma@admsurgut.ru',
                    })
                    hr
                    +about-organ-card({
                        name: 'Контрольно-счетная палата',
                        job: 'Председатель: Жуков Владислав Игоревич',
                        link: '#',
                        address: '628400, Тюменская обл., Ханты-Мансийский автономный округ - Югра, г. Сургут, ул. Восход, 4.',
                        phone: '(3462) 52-83-43',
                        email: 'ksp@admsurgut.ru',
                    })