mixin about-organs()
    .toggle-container
        .toggle-header Органы местного самоуправления
        .toggle-content
            .about-organs
                .about-organ
                    .about-organ-top
                        .about-organ-top-left
                            .about-organ-title
                                span Слепов Максим Николаевич
                            .about-organ-subtitle
                                span Глава города Сургута
                        .about-organ-top-right 
                            a.about-organ-ref(href='#') Перейти на страницу
                    .about-organ-bot
                        .about-organ-bot-elem
                            span Адрес
                            span 628400, Тюменская обл., Ханты-Мансийский автономный округ - Югра, г. Сургут, ул. Энгельса, 8.
                        .about-organ-bot-elem
                            span Телефон
                            span (3462) 52-20-01, факс (3462) 52-21-82
                        .about-organ-bot-elem
                            span E-mail
                            span gorod@admsurgut.ru
                hr            
                .about-organ
                    .about-organ-top
                        .about-organ-top-left
                            .about-organ-title
                                span Администрация города Сургута
                        .about-organ-top-right 
                            a.about-organ-ref(href='#') Перейти на страницу
                    .about-organ-bot
                        .about-organ-bot-elem
                            span Адрес
                            span 628400, Тюменская обл., Ханты-Мансийский автономный округ - Югра, г. Сургут, ул. Энгельса, 8.
                        .about-organ-bot-elem
                            span Телефон
                            span факс (3462) 52-21-82
                        .about-organ-bot-elem
                            span E-mail
                            span gorod@admsurgut.ru
                hr
                .about-organ
                    .about-organ-top
                        .about-organ-top-left
                            .about-organ-title
                                span Дума города Сургута 
                            .about-organ-subtitle
                                span Председатель: Олейников Александр Игоревич
                        .about-organ-top-right 
                            a.about-organ-ref(href='#') Перейти на страницу
                    .about-organ-bot
                        .about-organ-bot-elem
                            span Адрес
                            span 628400, Тюменская обл., Ханты-Мансийский автономный округ - Югра, г. Сургут, ул. Восход, 4.
                        .about-organ-bot-elem
                            span Телефон
                            span (3462) 52-83-74, факс (3462) 52-80-15
                        .about-organ-bot-elem
                            span E-mail
                            span duma@admsurgut.ru
                hr
                .about-organ
                    .about-organ-top
                        .about-organ-top-left
                            .about-organ-title
                                span Контрольно-счетная палата 
                            .about-organ-subtitle
                                span Председатель: Жуков Владислав Игоревич
                        .about-organ-top-right 
                            a.about-organ-ref(href='#') Перейти на страницу
                    .about-organ-bot
                        .about-organ-bot-elem
                            span Адрес
                            span 628400, Тюменская обл., Ханты-Мансийский автономный округ - Югра, г. Сургут, ул. Восход, 4.
                        .about-organ-bot-elem
                            span Телефон
                            span (3462) 52-83-43
                        .about-organ-bot-elem
                            span E-mail
                            span ksp@admsurgut.ru