include ../_main-project-card

+main-project-card({
    date: 'до 29 сентября',
    title: 'Уровень благоустройства города',
    description: 'Оцените чистоту улиц, парков, освещения в районах города, а также доступность инфраструктуры ',
    votes: '319 голосов',
    result: 'Вы участвовали',
    buttonText: 'Участвовать',
    tag: 'Идет',
    tag_color: 'green'
})