@use '../../../../assets/styles/vars.scss' as *;

.main-project-card {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    border-radius: 20px;
    background-color: $cards-background;
    justify-content: space-between;
    height: 428px;

    @include respond-to (md) {
        height: 288px;
        max-width: 360px;
    }

    @include respond-to(sm) {
        max-width: 336px;
    }

    .main-project-card__content {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        height: 100%;
        justify-content: space-between;

        @media screen and (max-width: 1000px) {
            padding: 16px;
        }

        .main-project-card__dates {
            display: flex;
            align-items: center;
            gap: 20px;

            @media screen and (max-width: 1000px) {
                gap: 4px;
            }

            .main-project-card__date {
                border-radius: 100px;
                background-color: $content-color;
                padding: 4px 16px;
                @include heading-h5;
            }
        }

        .main-project-card__description {
            display: flex;
            flex-direction: column;
            gap: 23px;
            overflow: hidden;
            margin-top: 20px;
            min-height: 169px;

            @include respond-to(md) {
                margin-top: 18px;
                gap: 8px;
                min-height: 124px;
            }

            .main-project-card__title {
                padding: 0;
                @include visible-lines(2);
                @include heading-h3;
            }

            .main-project-card__text {
                @include visible-lines(3);
                @include text-2;
            }
        }
    }

    .main-project-card__infos {
        display: flex;
        align-items: center;
        gap: 16px;
        margin: 8px 0 20px;

        .main-project-card__votes {
            color: $tertiary-text;
            @include caption-2;
        }

        .main-project-card__user-status {
            color: $primary-color;
            @include caption-2;
        }
    }
}