include ./dm-finance-elem

+dm-finance-elem({
                name: 'Сведения о плановых бюджетных ассигнованиях в целях расходования на осуществление деятельности Думы города в 2018-2020 году ',
                status: 'Утверждены решением Думы',
                doc: '(№ 352-VII ДГ от 31.05.2023)',
                icon: 'checkmark'
                })