include ../search-by-site/search-by-site
include ../projects/_project-card
include ../pagination/_pagination

mixin adm-search()
    +search-by-site({
        calendar_1_id: 'calendar',
        calendar_2_id: 'calendar-popup',
    })  
    .adm-search
        +project_card(false, {
            title: 'Дети – цветы жизни!',
            date: '23 сентября 2024',
            href: '/',
            tag: {
                size: "xs",
                type: 'button',
                text: 'Новости ОФПС',
                class: 'button_blue button_radius',
                }
                })     
        +project_card(false, {
            title: 'В Сургуте стартовала оперативно-профилактическая акция «Дети России»',
            date: '23 сентября 2024',
            href: '/',
            tag: {
                size: "xs",
                type: 'button',
                text: 'Новости ОФПС',
                class: 'button_blue button_radius',
                }
                })
        +project_card(false, {
            title: 'Дети – цветы жизни!',
            date: '23 сентября 2024',
            href: '/',
            tag: {
                size: "xs",
                type: 'button',
                text: 'Новости ОФПС',
                class: 'button_blue button_radius',
                }
                }) 
        .adm-search__pagination 
            +pagination(6,4,2)