@use '../../../../assets/styles/vars.scss' as *;

.afisha-event {
    .afisha-event__container {
        .afisha-event__content {
            max-width: 755px;
            // margin: 40px auto 40px;
            margin: 40px 0 40px;
            display: flex;
            flex-direction: column;
            gap: 40px;

            @include respond-to(md) {
                margin-bottom: 0;
            }

            .afisha-event__main-text {
                .afisha-event__title {
                    padding: 0;
                    margin-bottom: 24px;
                    @include heading-h4;
                }

                .afisha-event__text {
                    margin: 0;
                    @include text-2;
                }
            }
        }

        .afisha-event__quote {
            display: flex;
            flex-direction: column;
            gap: 16px;

            @include respond-to(md) {
                padding: 0 16px;
            }

            .afisha-event__quote-text {
                @include text-1;
            }

            .afisha-event__quote-author {
                color: $tertiary-text;
                @include text-3;
            }
        }

        .afisha-event__preview {
            max-height: 425px;
            position: relative;

            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-image: linear-gradient(180.7deg, rgba(3, 28, 77, 0) 0.6%, rgba(0, 0, 0, 0.6) 79.79%);
                border-radius: 8px;
            }

            .afisha-event__link-image {
                width: 100%;
                max-height: 425px;
                object-fit: cover;
                object-position: center;
                border-radius: 8px;

                @include respond-to(sm) {
                    max-height: 189px;
                }
            }

            .afisha-event__item-play {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 48px;
                height: 48px;
                background-color: $primary-color;
                color: $content-color;
                z-index: 2;
                font-size: 24px;
            }
        }

        .afisha-event__banner {
            display: flex;
            flex-direction: column;
            gap: 28px;

            .afisha-event__banner-list {
                display: flex;
                overflow: scroll;
                scrollbar-width: none;

                .afisha-event__image {
                    max-width: 755px;
                    width: 100%;
                    margin-right: 8px;
                    max-height: 480px;
                    object-fit: contain;
                    object-position: center;

                    @include respond-to(md) {
                        max-height: 270px;
                    }

                    @include respond-to(sm) {
                        max-height: 125px;
                    }
                }
            }

            .afisha-event__navigation {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .afisha-event__comment {
                    @include text-3;
                }

                .slider {
                    padding-top: 0;

                    .slider__counter {
                        min-width: 43px;
                    }
                }
            }
        }
    }
}