@use '../../../assets/styles/vars.scss' as *;

.subscribe {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.subscribe__title{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.subscribe__title span{
    color: $main-text;
    font-size: 24px;
    font-weight: 600;
}

.subscribe__subtitle {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media screen and (max-width:768px) {
    .subscribe__title span {
        font-size: 14px;
    }
}