@use '../../../../assets/styles/vars.scss' as *;

.usefull-links {
    max-width: 1440px;
    margin-top: 50px;

    @media (max-width: 1000px) {
        margin-top: 21px;
    }

    @media (max-width: 600px) {
        margin-top: 16px;
    }

    .usefull-links__container {
        display: grid;
        grid-template-columns: repeat(4, calc((100% - 72px)/4));
        gap: 24px;
        justify-content: center;
        margin-top: 6px;

        @media (max-width: 1000px) {
            gap: 8px;
            grid-template-columns: repeat(3, calc((100% - 16px)/3));
            margin-top: 0;
            padding: 0 0 4px;
        }

        @media (max-width: 600px) {
            display: flex;
            flex-direction: column;
        }

        .usefull-link {
            display: flex;
            flex-direction: row-reverse;
            text-decoration: none;
            color: $main-text;
            gap: 8px;
            background-color: $cards-background;
            border-radius: 8px;
            padding: 20px;
            justify-content: space-between;

            &:hover {
                background-color: $services-hover;
            }
        
            &:active {
                background-color: $services-active;
            }

            @media (max-width: 1000px) {
                box-sizing: border-box;
                min-height: 76px;
            }

            @media (max-width: 600px) {
                min-height: unset;
                padding: 12px 20px;
                align-items: center;
            }


            .usefull-link__icon {
                width: 24px;
                height: 24px;
            }

            .usefull-link__title {
                @include heading-h5;
            }
        }
    }


}