include ../_links
include ../../title/main/_main-title.pug
include ../../pagination/_navigation.pug

mixin usefull-links(data)
    .usefull-links
        +main-title({
            href: '/',
            title: 'Полезные ссылки',
        })
        .usefull-links__container
            each link in data.links
                +main-link({
                    class: link.class,
                    href: link.href,
                    icon: link.icon,
                    title: link.title,
                })