include ../../../libs/buttons/_buttons

mixin event-card(data)   
    .event-card
        .event-card__container 
            .event-card__info 
                .event-card__tags
                    +button({ type: 'button', size: 'xs', class: 'button_blue button_radius', text: "История"})
                    +button({ type: 'button', size: 'xs', class: 'button_blue button_radius', text: "Награды"})
                    +button({ type: 'button', size: 'xs', class: 'button_blue button_radius', text: "Экономика"})
                .event-card__description 
                    h2.event-card__title #{data.title}
                    p.event-card__text #{data.description}
                    .event-card__dates    
                        span.event-card__date #{data.date}
                        span.event-card__last-date #{data.last_date}
                .event-card__buttons 
                    +button({ size: 'm', type: 'link', class: 'button_blue', href: '/about', icon: 'print-outline', text: 'Версия для печати', iconPosition: 'left' })
                    +button({ size: 'm', type: 'link', class: 'button_white', href: '/about', icon: 'link-outline', text: 'Поделиться', iconPosition: 'left' })
                    +button({ size: 'm', type: 'link', class: 'button_white', href: '/about', icon: 'download-outline' })  
            

