.afisha .filters {
  margin-top: 16px;
}
.afisha .afisha-universal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.afisha .afisha-universal .afisha-universal__content {
  width: 100%;
}
.afisha .afisha-universal .afisha-universal__content .afisha-universal__events-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}