.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  align-self: flex-start;
  margin-top: 48px;
}
@media (max-width: 992px) {
  .pagination {
    align-self: center;
    margin-top: 32px;
  }
}
@media (max-width: 768px) {
  .pagination {
    gap: 8px;
  }
}
@media (max-width: 550px) {
  .pagination {
    gap: 4px;
  }
}
.pagination .pagination__pages {
  display: flex;
  gap: 8px;
}