body {
  --services-hover: #f2f3f5;
  --services-active: #e3e4e7;
  --cards-background: #fafafa;
  --grey-adm: #fafafa;
  --event-color: #e7edfb;
  --event-color-hover: #e7edfb;
  --primary-color: #004cc4;
  --primary-color-hover: #0a5fe7;
  --primary-color-active: #003ea2;
  --primary-color-disabled: #c2d8ff;
  --primary-color-green: #14bc30;
  --primary-color-green-hover: #10cd30;
  --primary-color-green-click: #0c9022;
  --primary-color-green-disabled: #dbdbdb;
}
body.tmp-duma {
  --services-hover: #f0eee2;
  --services-active: #e7e5d7;
  --cards-background: #f7f6ef;
  --grey-adm: #f7f6ef;
  --event-color: #e9e4d2;
  --event-color-hover: #bfb797;
  --primary-color: #0d6cba;
  --primary-color-hover: #288cde;
  --primary-color-active: #0c5591;
  --primary-color-disabled: #90bbde;
  --primary-color-green: #a78818;
  --primary-color-green-hover: #c9a41d;
  --primary-color-green-click: #856b0f;
  --primary-color-green-disabled: #bda964;
}

/*** Finish - Title ***/
.people-care-card {
  max-width: 421px;
  width: 100%;
  min-height: 320px;
  border-radius: 12px;
  background-repeat: no-repeat;
  background: linear-gradient(#e8aaef 0%, #3172c6 100%);
  align-content: end;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1000px) {
  .people-care-card {
    min-height: 214px;
  }
}
.people-care-card .people-care-card__icon {
  position: absolute;
  right: -13px;
  top: 0;
  max-width: 320px;
  width: 100%;
  max-height: 320px;
  opacity: 0.5;
}
@media (max-width: 1000px) {
  .people-care-card .people-care-card__icon {
    max-width: 140px;
    top: 45px;
    right: 13px;
    bottom: 28px;
  }
}
@media (max-width: 600px) {
  .people-care-card .people-care-card__icon {
    right: 28px;
  }
}
.people-care-card .people-care-card__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 32px;
  padding: 32px;
}
@media (max-width: 1000px) {
  .people-care-card .people-care-card__container {
    padding: 16px;
    gap: 13px;
  }
}
.people-care-card .people-care-card__container .people-care-card__title {
  color: #ffffff;
  z-index: 1;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}
@media (max-width: 992px) {
  .people-care-card .people-care-card__container .people-care-card__title {
    font-size: 16px;
    line-height: 20px;
  }
}
.people-care-card .people-care-card__container .people-care-card__button {
  z-index: 1;
}