mixin thanks(data)
    .thanks
        .thanks__container
            img(src="../icons/check_icon.svg", class=`thanks__icon` alt="Иконка Успех")
            .thanks__description 
                h2.thanks__title #{data.title}
                p.thanks__text #{data.description}
            +button(data.options)    