.afisha-universal__selects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 24px;
    margin: 24px 0 32px;

    .afisha-universal__selects-container {
        display: grid;
        grid-template-columns: 23% 27% 30% 16%;
        gap: 12px;
        max-width: 902px;
        width: 100%;
    }
}

.afisha-universal {
    display: flex;
    flex-direction: column;
    align-items: center;

    .afisha-universal__content {
        width: 100%;

        .afisha-universal__events-list {
            display: flex;
            flex-direction: column;
            gap: 12px;
            margin-bottom: 64px;
        }
    }
}