@use '../../../assets/styles/vars.scss' as *;

.afisha-events {

    .afisha-events__container {

        .afisha-events__selects {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 24px;
            margin: 24px 0 32px;
            gap: 12px;

            @media screen and (max-width: 1000px) {
                padding-right: 0;
            }

            @media screen and (max-width: 600px) {
                display: none;
            }

            .afisha-events__selects-container {
                display: grid;
                grid-template-columns: 23% 27% 30% 16%;
                gap: 12px;
                max-width: 902px;
                width: 100%;

                @media screen and (max-width: 1000px) {
                    gap: 4px;
                    max-width: 526px;
                }

                .afisha-events__select {
                    @media screen and (max-width: 1000px) {
                        border: none;
                        padding: 4px 30px 4px 4px;

                    }
                }
            }
        }

        .afisha-events__news {
            display: grid;
            grid-template-columns: repeat(4, calc((100% - 72px)/4));
            gap: 24px;
            margin-bottom: 56px;

            @media screen and (max-width: 1000px) {
                gap: 8px;
                grid-template-columns: repeat(3, calc((100% - 24px)/3));
            }

            @media screen and (max-width: 600px) {
                gap: 12px;
                grid-template-columns: 100%;
                justify-items: center;;
            }
        }
    }
}