@use '../../../assets/styles/vars.scss' as *;

.sorting {
    display: flex;
    align-items: center;
    max-width: 439px;
    width: 100%;
    gap: 12px;

    .sorting__desc {
        @include text-2;
    }

    .sorting__select {
        max-width: 182px;
        padding: 11px 20px;
        background-position: 96%;
        border-radius: 4px;
        @include caption-2;

        @include respond-to(md) {
            padding: 7px 16px;
        }
    }

    .select2-container .select2-selection--single .select2-selection__rendered {
        padding: 13px 34px 13px 16px !important;
    }

    .select2-container--default .select2-selection--single {
        border-radius: 6px !important;
    }

    .select2-selection__arrow {
        right: 16px !important;
    }

    .select2-container--open .select2-dropdown--below {
        border-radius: 6px;
    }

    .select2-results__option {
        padding: 13px 16px !important;
    }
}