include ./dm-unions

+dm-unions(
            [
                {
                img: 'kirilenko_avatar.png',
                name: 'Единая Россия',
                descr: 'Политическая партия России',
                currency: '37 человек',
                head: 'Фамилия Имя Отчество'
                },
                {
                img: 'kirilenko_avatar.png',
                name: 'ЛДПР',
                descr: 'Политическая партия России',
                currency: '52 человека',
                head: 'Фамилия Имя Отчество'
                },
            ]
        )