@use '../../../../assets/styles/vars.scss' as *;

.dm-unions__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.dm-unions-elem__img {
    max-width: 164px;
    width: 164px;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
    height: 194px;
    max-height: 194px;

    @include respond-to (sm) {
        max-width: 82px;
        max-height: 108px;
    }
}

.dm-unions-elem {
    display: flex;
    width: 100%;
    background-color: $grey-adm;
    border-radius: 12px;
    text-decoration: none;
    color: $second-text;
}

.dm-unions-elem__container {
    display: flex;
    gap: 24px;
    padding: 20px;
    align-items: center;
    width: 100%;
    @include respond-to (sm) {
        padding: 16px;
    }
}

.dm-unions-elem__right{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    @include respond-to (sm) {
        gap: 24px;
    }
}

.dm-unions-elem__top {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include respond-to (md) {
        gap: 4px;
    }
}

.dm-unions-elem__bot {
    display: flex;
    gap: 40px;
    align-items: center;
}


.dm-unions-elem__info-name span {
    font-weight: 500;
    @include lead-2();
}

.dm-unions-elem__info-descr span{
    @include caption-2();
}

.dm-unions-elem__bot span {
    @include caption-3();
}

.dm-unions-elem__info-currency, .dm-unions-elem__info-head {
    display: flex;
    flex-direction: column;
    gap: 12px;
    @include respond-to (sm) {
        gap: 4px;
    }
}

.dm-unions-elem__info-currency span:first-child, .dm-unions-elem__info-head span:first-child {
    color: $tertiary-text;
}