@use '../../../../assets/styles/vars.scss' as *;

body.tmp-duma .main-events {
    margin-top: 25px;
    }

.main-events {

    @media (max-width: 1000px) {
        padding-top: 18px;
    }

    @media (max-width: 600px) {
        padding-top: 13px;
    }

    .events__filters {
        display: none;

        @media (max-width: 660px) {
            display: flex;
            margin-bottom: 33px;
        }

        .events__filter-button {
            width: 100%;
            justify-content: center;
        }
    }

    .main-events__container {
        .main-events__selects {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 25px 0 35px;

            @media (max-width: 1280px) {
                flex-direction: column;
                gap: 19px;
                align-items: flex-start;
                margin: 25px 0 31px;
            }

            @media (max-width: 660px) {
                display: none;

            }

            .main-events__selects-container {
                display: grid;
                grid-template-columns: 23% 27% 30% 16%;
                gap: 12px;
                max-width: 902px;
                width: 100%;

                @media (max-width: 1000px) {
                    gap: 4px;
                }

                .events__select {
                    padding: 6px 12px;
                    border-radius: 4px;
                }
            }
        }

        .main-events__news {
            display: grid;
            grid-template-columns: repeat(4, calc((100% - 72px)/4));
            gap: 24px;
            row-gap: 20px;
            margin-bottom: 48px;

            @media (max-width: 1000px) {
                gap: 8px;
                grid-template-columns: repeat(3, calc((100% - 24px)/3));
                margin-bottom: 24px;
            }

            @media (max-width: 600px) {
                grid-template-columns: repeat(2, 250px);
                overflow-y: scroll;
                scrollbar-width: none;
                margin-bottom: 12px;
            }
        }

        .main-events__navigation {
            display: flex;
            justify-content: center;
            margin-bottom: 46px;

            @media (max-width: 1000px) {
                margin-bottom: 0;
            }
        }
    }
}