@use '../../../../assets/styles/vars.scss' as *;

body.tmp-duma .main-events .main-events__container .main-title {
    padding-bottom: 32px;
}

.events {
    .filters {
        margin-top: 48px;

        @include respond-to(sm) {
            margin-top: 24px;
            display: none;
        }
    }

    .dm-calendar__btn {
        @include respond-to(md) {
            margin-bottom: 0;
        }
    }

    .events__container {
        position: relative;
        @include main-blocks-paddings;

        .events__calendar {
            display: none;

            &_active {
                display: flex;
                position: absolute;
                top: 120px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
            }
        }

        .events__news {
            // display: grid;
            // grid-template-columns: repeat(4, calc((100% - 72px)/4));
            // gap: 24px;
            // row-gap: 20px;
            display: flex;
            overflow: hidden;

            @include respond-to(md) {
                gap: 8px;
                grid-template-columns: repeat(3, calc((100% - 24px)/3));
            }

            @include respond-to(md) {
                display: block;
            }

            .news-main-card {
                margin-right: 24px;

                @include respond-to(md) {
                    margin-right: 8px;
                }
            }
        }

        .events__navigation {
            display: none;
            justify-content: center;

            @include respond-to(md) {
                display: none;
            }
        }

        .events__slider {
            display: flex;
            justify-content: center;
        }
    }
}