.header {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  color: #040528;
}
.header .header__top-content {
  display: flex;
  padding: 7px 65px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.header .header__top-content .header__top-links {
  display: flex;
  gap: 40px;
}
.header .header__top-content .header__top-links .header_links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.header .header__top-content .header__top-links .header_links .header__link {
  font-weight: 600;
  text-decoration: none;
  color: #040528;
  font-size: 13px;
  line-height: 16px;
}
.header .header__top-content .header__top-links .header_links .header__link:hover {
  color: #004CC4;
}
.header .header__top-content .header__socials {
  display: flex;
  gap: 12px;
  align-items: center;
}
.header .header__top-content .header__socials .header__social__icon {
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
}
.header .header__top-content .header__socials .vk_icon {
  background-image: url(../icons/vk_icon_default.svg);
}
.header .header__top-content .header__socials .vk_icon:hover {
  background-image: url(../icons/vk_icon.svg);
  background-size: 20px;
}
.header .header__top-content .header__socials .ok_icon {
  background-image: url(../icons/ok_icon_default.svg);
}
.header .header__top-content .header__socials .ok_icon:hover {
  background-size: 20px;
  background-image: url(../icons/ok_icon.svg);
}
.header .header__top-content .header__socials .tg_icon {
  background-image: url(../icons/tg_icon_default.svg);
}
.header .header__top-content .header__socials .tg_icon:hover {
  background-size: 20px;
  background-image: url(../icons/tg_icon.svg);
}
.header .header__top-content .header__buttons {
  display: flex;
  gap: 21px;
}
.header .header__top-content .header__buttons .header__eye-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-image: url(../icons/eye-outlined_icon.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: left;
}
.header .header__top-content .header__buttons .header__eye-link:hover {
  color: #004CC4;
  background-image: url(../icons/eye-hover_icon.svg);
}
.header .header__top-content .header__buttons .header__eye-link .header__eye-link-title {
  font-weight: 600;
  margin-left: 28px;
}
.header .header__bottom-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 64px;
  gap: 24px;
}
.header .header__bottom-content .header__main-links {
  display: flex;
  gap: 8px;
  text-decoration: none;
  color: #040528;
}
.header .header__bottom-content .header__main-links:hover {
  color: #004CC4;
}
.header .header__bottom-content .header__main-links .header__logo {
  max-width: 28px;
}
.header .header__bottom-content .header__main-links .header__main-links__block {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.header .header__bottom-content .header__main-links .header__main-links__block .header__title {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}
.header .header__bottom-content .header__main-links .header__main-links__block .header__main-link {
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
}
.header .header__bottom-content .header__bottom-links {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header .header__bottom-content .header__bottom-links .header__link {
  font-weight: 600;
  text-decoration: none;
  color: #040528;
  font-size: 13px;
  line-height: 16px;
}
.header .header__bottom-content .header__bottom-links .header__link:hover {
  color: #004CC4;
}

@media screen and (max-width: 1000px) {
  .header .header__top-content {
    padding: 16px 20px;
  }
  .header .header__bottom-content {
    padding: 16px 20px;
  }
}
@media screen and (max-width: 880px) {
  .header .header__top-content {
    display: none;
  }
  .header .header__bottom-content {
    justify-content: space-between;
  }
  .header .header__bottom-content .search {
    display: none;
  }
  .header .header__bottom-content .header__bottom-links {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .header .header__bottom-content {
    padding: 16px 27px;
  }
}