/*** Finish - Title ***/
.header {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  color: #000000;
}
.header .header__top-content {
  display: flex;
  padding: 7px 65px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 992px) {
  .header .header__top-content {
    display: none;
  }
}
.header .header__top-content .header__top-links {
  display: flex;
  gap: 40px;
}
.header .header__top-content .header__buttons {
  display: flex;
  gap: 21px;
}
.header .header__top-content .header__buttons .header__eye-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-image: url(../icons/eye-outlined_icon.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: left;
}
.header .header__top-content .header__buttons .header__eye-link:hover {
  color: var(--primary-color-hover);
}
.header .header__top-content .header__buttons .header__eye-link .header__eye-link-title {
  margin-left: 28px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
@media (max-width: 992px) {
  .header .header__top-content .header__buttons .header__eye-link .header__eye-link-title {
    font-size: 10px;
    line-height: 14px;
  }
}
.header .header__bottom-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 64px;
  gap: 24px;
}
@media (max-width: 992px) {
  .header .header__bottom-content {
    padding: 16px 20px;
  }
}

.button_burger {
  all: unset;
  display: none;
}
@media (max-width: 992px) {
  .button_burger {
    display: flex;
  }
}
.button_burger .icon {
  font-size: 24px;
}

.button_close {
  all: unset;
  display: none;
}
@media (max-width: 992px) {
  .button_close {
    display: flex;
  }
}
.button_close .icon {
  font-size: 24px;
}

@media (max-width: 992px) {
  .search-header {
    display: none;
  }
}

.button__eye {
  color: #000000;
  border-color: transparent;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
@media (max-width: 992px) {
  .button__eye {
    font-size: 10px;
    line-height: 14px;
  }
}
.button__eye:hover {
  border-color: transparent;
  background-color: transparent;
}

.menu_main-bg {
  background-color: #ffffff;
}

.menu_duma-bg {
  background-color: var(--cards-background);
}

.button_header {
  padding: 8px 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
@media (max-width: 992px) {
  .button_header {
    font-size: 10px;
    line-height: 14px;
  }
}