mixin photo-chronicle-card()
    a(href='/').photo-chronicle-card
        .photo-chronicle-card__container
            img(src='../resources/image_1.jpg' alt='Фотография события').photo-chronicle-card__image
            .photo-chronicle-card__about 
                span.photo-chronicle-card__caption 30 марта 2015
                h5.photo-chronicle-card__title Церемония награждения конкурса “Журналист года 2024”