$green-button-background: #14BC30;
$secondary-button-background: #ffffff;

// Primary

.button {
  all: unset;
  color: #ffffff;
  border-radius: 8px;
  display: flex;

  .icon {
    width: 20px;
  }

  .icon_left-xs {
    margin-right: 8px;
  }

  .icon_right-xs {
    margin-left: 8px;
  }

  .icon_left {
    margin-right: 12px;
  }

  .icon_right {
    margin-left: 12px;
  }
}

.button_blue {
  background-color: $primary-button-background;

  &:hover {
    cursor: pointer;
    background-color: #0a5fe7;
  }

  &:active {
    background-color: #003ea2;
  }

  &:disabled {
    background-color: #c2d8ff;
  }
}

.button_green {
  background-color: $green-button-background;

  &:hover {
    cursor: pointer;
    background-color: #10CD30;
  }

  &:active {
    background-color: #0C9022;
  }

  &:disabled {
    background-color: #DBDBDB;
  }
}

.button_xs {
  padding: 8px 20px;
}

.button_s {
  padding: 12px 24px;
}

.button_m {
  padding: 16px 32px;
}

.button_l {
  padding: 20px 40px;
  border-radius: 12px;
}

.button-with-icon-left-xs {
  padding: 8px 20px 8px 16px;
}

.button-with-icon-right-xs {
  padding: 8px 16px 8px 20px;
}

.button-with-icon-left-s {
  padding: 12px 24px 12px 20px;
}

.button-with-icon-right-s {
  padding: 12px 20px 12px 24px;
}

.button-with-icon-left-m {
  padding: 16px 32px 16px 28px;
}

.button-with-icon-right-m {
  padding: 16px 28px 16px 32px;
}

// Secondary

.button_secondary {
  color: $primary-button-background;
  background-color: $secondary-button-background;
  border: 1px solid $primary-button-background;
  border-radius: 12px;
  padding: 16px 20px;

  &:hover {
    cursor: pointer;
    color: #0a5fe7;
    border-color: #0a5fe7;
  }

  &:active {
    color: #003ea2;
    border-color: #003ea2;
  }

  &:disabled {
    color: #c2d8ff;
    border-color: #c2d8ff;
  }
}

.button_secondary_m {
  padding: 16px 20px;
}

.button-secondary-with-icon-left-xs {
  padding: 8px 12px 8px 16px;
}

.button-secondary-with-icon-right-xs {
  padding: 8px 16px 8px 12px;
}

.button-secondary-with-icon-left-s {
  padding: 12px 20px 12px 24px;
}

.button-secondary-with-icon-right-s {
  padding: 12px 24px 12px 20px;
}

.button-secondary-with-icon-left-m {
  padding: 16px 16px 16px 20px;
}

.button-secondary-with-icon-right-m {
  padding: 16px 20px 16px 16px;
}