include documents-shortlist.pug

+short-filelist([
    {title:"Инструкция - Регистрация рождения одинокой матерью.pdf", href:"#"},
    {title:"Инструкция - Регистрация рождения одинокой матерью.pdf", href:"#"},
    {title:"Инструкция - Регистрация рождения одинокой матерью.pdf", href:"#"}
])