mixin short-filelist(items)
    .short-filelist
         each item, index in items
            a.file-line(href=item.href)
                ion-icon(name="document").file-line-icon
                span.file-line-span #{item.title}