@use '../../../../assets/styles/vars.scss' as *;

body.tmp-duma {
    .short-filelist {
        .file-line {
            .file-line-icon {
                color: $primary-color-green;
            }
        }}
}

.short-filelist {
    .file-line {
        text-decoration: none;
        display: flex;
        gap: 12px;
        align-items: center;
        background-color: $grey-adm;
        border-radius: 8px;
        margin-bottom: 12px;
        @include content-paddings;

        .file-line-icon {
            color: $primary-color;
            width: 20px;

            @include respond-to(md) {
                font-size: 16px;
            }
        }

        .file-line-span {
            width: calc(100% - 24px);
        }

        & {
            color: $second-text;
            @include lead-5;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            background: $services-hover;
        }
    }
}

body.tmp-duma {
    .short-filelist {
        ion-icon {
            color: $secondary-color;
        }
    }
}

//При использовании модуля в toogle
.toggle-content-footer {
    .file-line {
        margin-bottom: 0;
    }
}