.breadcrumbs {
  display: flex;
  align-items: center;
  color: #78839C;
  padding: 20px 0;
  font-size: 14px;
  line-height: 16px;
  gap: 3px;
}
.breadcrumbs .breadcrumbs__icon-link:hover {
  filter: invert(57%) sepia(63%) saturate(8%) hue-rotate(202deg) brightness(91%) contrast(89%);
}
.breadcrumbs .breadcrumbs__icon-link .breadcrumbs__icon {
  margin-right: 16px;
  width: 24px;
}
.breadcrumbs .breadcrumbs__container {
  display: flex;
  gap: 9px;
  overflow: hidden;
}
.breadcrumbs .span {
  color: #78839C;
}

@media screen and (max-width: 1000px) {
  .breadcrumbs {
    padding: 12px 0;
  }
  .breadcrumbs .breadcrumbs__container {
    gap: 8px;
  }
}
@media screen and (max-width: 600px) {
  .breadcrumbs .breadcrumbs__icon {
    display: none;
  }
}