.breadcrumbs {
  display: flex;
  align-items: center;
  color: #78839C;
  padding: 20px 0;
  font-size: 14px;
  line-height: 16px;
}
.breadcrumbs .breadcrumbs__icon {
  margin-right: 16px;
  width: 24px;
}
.breadcrumbs .breadcrumbs__container {
  display: flex;
  gap: 9px;
  overflow: hidden;
}
.breadcrumbs .span {
  color: #78839C;
}

@media screen and (max-width: 1000px) {
  .breadcrumbs {
    padding: 12px 0;
  }
  .breadcrumbs .breadcrumbs__container {
    gap: 8px;
  }
}