/*** Finish - Title ***/
.main-title {
  box-sizing: border-box;
  padding: 26px 0 45px;
}
@media (max-width: 1000px) {
  .main-title {
    padding: 24px 0 20px;
  }
}
.main-title .main-title__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .main-title .main-title__container {
    flex-direction: column;
    align-items: flex-start;
  }
}
.main-title .main-title__container .main-title__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
}
@media (max-width: 992px) {
  .main-title .main-title__container .main-title__title {
    font-size: 20px;
    line-height: 24px;
  }
}
.main-title .main-title__container .main-title__link {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
@media (max-width: 992px) {
  .main-title .main-title__container .main-title__link {
    font-size: 14px;
    line-height: 18px;
  }
}
.main-title .main-title__container .main-title__link:hover {
  text-decoration: underline;
  color: var(--primary-color-hover);
}
.main-title .main-title__container .main-title__link:active {
  text-decoration: underline;
  color: var(--primary-color-active);
}
.main-title .main-title__container .main-title__link:disabled {
  color: var(--primary-color-disabled);
}