/*** Finish - Title ***/
.main-title {
  box-sizing: border-box;
  padding: 48px 0 40px;
}
@media (max-width: 1000px) {
  .main-title {
    padding: 24px 0 20px;
  }
}
.main-title .main-title__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-title .main-title__container .main-title__title {
  font-weight: 500;
  font-size: calc(40px * var(--scale));
  line-height: calc(48px * var(--lh));
}
@media (max-width: 992px) {
  .main-title .main-title__container .main-title__title {
    font-size: calc(20px * var(--scale));
    line-height: calc(24px * var(--lh));
  }
}
.main-title .main-title__container .main-title__link {
  text-decoration: none;
  color: rgb(0, 76, 196);
  font-weight: 300;
  font-size: calc(20px * var(--scale));
  line-height: calc(28px * var(--lh));
}
@media (max-width: 992px) {
  .main-title .main-title__container .main-title__link {
    font-size: calc(16px * var(--scale));
    line-height: calc(24px * var(--lh));
  }
}
.main-title .main-title__container .main-title__link:hover {
  text-decoration: underline;
  color: var(--primary-color-hover);
}
.main-title .main-title__container .main-title__link:active {
  text-decoration: underline;
  color: var(--primary-color-active);
}
.main-title .main-title__container .main-title__link:disabled {
  color: var(--primary-color-disabled);
}