/*** Finish - Title ***/
.admstruct-contact {
  margin: 20px;
  display: flex;
  gap: 24px;
}
@media (max-width: 768px) {
  .admstruct-contact {
    flex-direction: column;
  }
}
.admstruct-contact-item {
  flex: 1;
  font-weight: 300;
  font-size: calc(16px * var(--scale));
  line-height: calc(24px * var(--lh));
}
@media (max-width: 992px) {
  .admstruct-contact-item {
    font-size: calc(14px * var(--scale));
    line-height: calc(20px * var(--lh));
  }
}
.admstruct-contact .admstruct-contact-item-label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: calc(20px * var(--scale));
  line-height: calc(24px * var(--lh));
}
@media (max-width: 992px) {
  .admstruct-contact .admstruct-contact-item-label {
    font-size: calc(14px * var(--scale));
    line-height: calc(18px * var(--lh));
  }
}