include ./icons/_icons
include ./inputs/_inputs
include ./buttons/_buttons
include ./links/_links
include ./tags/_tags
include ./textarea/_textarea
include ./select/_select
include ./checkbox/_checkbox
include ./switch/_switch
include ./search-button/_search-button
include ./calender/_calender
include ./tab-buttons/_tab-buttons
include ./pag-buttons/_pag-buttons

