mixin slider(data) 
    .slider
        - const hasSliderClass = data.classIcon ? data.classIcon : ''

        a(class=`slider__link-prev ${hasSliderClass}`)
            ion-icon(name='arrow-back-outline')
        a(class=`slider__link-next ${hasSliderClass}`)
            ion-icon(name='arrow-forward-outline') 