mixin slider(data)
    .slider 
        - const hasIconClass = data.classIcon ? data.classIcon : '' 
        
        a(class=`slider__link-prev ${hasIconClass}`)
            ion-icon(name='arrow-back-outline')
        a(class=`slider__link-next ${hasIconClass}`)
            ion-icon(name='arrow-forward-outline')