
include ../dm-deputies-alphabet/dm-deputies-alphabet

+dm-deputies-alphabet(
            [
                {
                    letter: 'А',
                    persons: 
                            [
                                {
                                img: 'kirilenko_avatar.png',
                                surname: 'Барсов',
                                name: 'Евгений Вячеславович'
                                }
                            ]
                },
                {
                    letter: 'Б',
                    persons: 
                            [
                                {
                                img: 'kirilenko_avatar.png',
                                surname: 'Барсов',
                                name: 'Евгений Вячеславович'
                                }, 
                                {
                                img: 'kirilenko_avatar.png',
                                surname: 'Барсов',
                                name: 'Евгений Вячеславович'
                                }
                            ]
                },
                {
                    letter: 'В',
                    persons: 
                            [
                                {
                                img: 'kirilenko_avatar.png',
                                surname: 'Барсов',
                                name: 'Евгений Вячеславович'
                                }, 
                                {
                                img: 'kirilenko_avatar.png',
                                surname: 'Барсов',
                                name: 'Евгений Вячеславович'
                                }, 
                                {
                                img: 'kirilenko_avatar.png',
                                surname: 'Барсов',
                                name: 'Евгений Вячеславович'
                                }
                            ]
                },
                {
                    letter: 'Г',
                    persons: 
                            [
                                {
                                img: 'kirilenko_avatar.png',
                                surname: 'Барсов',
                                name: 'Евгений Вячеславович'
                                }, 
                                {
                                img: 'kirilenko_avatar.png',
                                surname: 'Барсов',
                                name: 'Евгений Вячеславович'
                                }, 
                                {
                                img: 'kirilenko_avatar.png',
                                surname: 'Барсов',
                                name: 'Евгений Вячеславович'
                                }, 
                                {
                                img: 'kirilenko_avatar.png',
                                surname: 'Барсов',
                                name: 'Евгений Вячеславович'
                                }
                            ]
                },
            ]
        )