@use '../../../../assets/styles/vars.scss' as *;

.dm-deputies-alphabet {
    padding-top: 48px;

    @include respond-to(md) {
        padding-top: 24px;
    }
}

.dm-deputies-alphabet__row {
    display: flex;
    gap: 180px;
    align-items: center;

    @include respond-to(md) {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }
}

.dm-deputies-alphabet__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.dm-deputies-alphabet__list {
    width: 100%;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;

    @include respond-to(md) {
        gap: 8px;
    }
}

.dm-deputies-alphabet__letter {
    align-self: start;
}

.dm-deputies-alphabet__letter span {
    font-size: 64px;
    color: $main-text;
    font-weight: 500;

    @include respond-to(md) {
        ::before {
            content: 'На букву ';
        }

        font-weight: 600 !important;
        @include heading-h2();
    }
}

.dm-deputies__search .search {
    max-width: unset;
}