@use '../../../../assets/styles/vars.scss' as *;

.about-partner-card {
    display: flex;
    align-items: center;
    background-color: $content-color;
    padding: 20px 32px;
    border-radius: 12px;
    min-width: max-content;
    color: $main-text;

    @include respond-to(md) {
        padding: 12px;
    }

    &:hover .about-partner-card__title {
        cursor: pointer;
        color: $primary-color;
    }

    &:active .about-partner-card__title {
        cursor: pointer;
        color: $primary-color-active;
    }


    .about-partner-card__content {
        display: flex;
        align-items: center;
        gap: 20px;

        .about-partner-card__image {
            max-width: 56px;
            width: 100%;
            max-height: 56px;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;

            @include respond-to(md) {
                max-width: 44px;
            }
        }

        .about-partner-card__desc {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .about-partner-card__title {
                padding: 0;
                @include heading-h4;
            }

            .about-partner-card__caption {
                color: $tertiary-text;
                @include caption-2;
            }
        }
    }
}