/*** Finish - Title ***/
.board-list .board-list__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (max-width: 992px) {
  .board-list .board-list__container {
    gap: 8px;
  }
}

.honor-board__pagination {
  display: flex;
}
@media (max-width: 992px) {
  .honor-board__pagination {
    justify-content: center;
  }
}