@use '../../../../assets/styles/vars.scss' as *;

.important-inf {
    display: flex;
    flex-direction: column;

    .important-inf__container {
        display: flex;
        gap: 20px;
        overflow-x: scroll;
        scrollbar-width: none;

        .important-inf__banner {
            max-width: 873px;
            width: 100%;

            @include respond-to(md) {
                max-width: 482px;
            }
        }
    }
}

