include ./news-top

+news-top({
    links: [
    {
        icon: 'arrow-forward-outline', 
    },
    {
        icon: 'arrow-forward-outline', 
    },
    {
        icon: 'arrow-forward-outline', 
    },
    {
        icon: 'arrow-forward-outline', 
    }
]})