@use '../../../../assets/styles/vars.scss' as *;

body.tmp-duma .news {
    margin-top: 0;
}

.news {
    display: flex;
    width: 100%;
    margin: 24px 0 48px;

    @include respond-to(md) {
        margin: 18px 0 25px;
    }

    @include respond-to(sm) {
        margin: 20px 0 20px;
    }

    .news__container {
        display: flex;
        width: 100%;
        gap: 24px;
        justify-content: center;

        @include respond-to(md) {
            gap: 8px;
        }

        @include respond-to(sm) {
            flex-direction: column;
        }

        .news__list {
            display: flex;
            flex-direction: column;
            gap: 8px;
            max-width: 420px;
            width: 100%;

            @include respond-to(md) {
                max-width: 360px;
            }

            @include respond-to(sm) {
                max-width: none;
            }
        }
    }
}