@use '../../../../assets/styles/vars.scss' as *;

.news-top {
    display: flex;
    width: 100%;
    margin: 24px 0 48px;

    @include respond-to(md) {
        margin: 18px 0 24px;
    }

    @include respond-to(sm) {
        margin: 20px 0 20px;
    }

    &__container {
        display: flex;
        width: 100%;
        gap: 24px;
        justify-content: center;

        @include respond-to(md) {
            gap: 8px;
        }

        @include respond-to(sm) {
            flex-direction: column;
        }

        .news-top__card-list {
            display: flex;
            overflow: hidden;
            width: 66%;

            @include respond-to(md) {
                width: 49%;
            }

            @include respond-to(sm) {
                width: 100%;
            }

            .slick-dots {
                display: flex;
                margin-left: 0;
                position: absolute;
                bottom: 40px;
                right: 40px;
                gap: 12px;
                list-style: none;

                @include respond-to(md) {
                    bottom: 20px;
                    right: 20px;
                }

                li {
                    margin: 0;

                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        color: transparent;
                        background-color: #000000;
                        border: 2px solid $tertiary-text;
                        cursor: pointer;

                        &:hover {
                            border-color: $fourth-text;
                        }

                        @include respond-to(sm) {
                            width: 12px;
                            height: 12px;
                        }
                    }

                    &.slick-active {
                        button {
                            border-color: $content-color;
                        }
                    }
                }
            }
        }

        .news-top__links-list {
            display: flex;
            flex-direction: column;
            gap: 8px;
            width: 32%;

            @include respond-to(md) {
                width: 49%;
            }

            @include respond-to(sm) {
                width: 100%;
            }
        }
    }
}