include ../card-with-image/card-with-image
include ../card-without-image/card-without-image
include ../../slider/_slider
include ../../title/main/_main-title
include ../../tabs/main/_tabs

mixin news-top(data)
    if data.title
        +main-title(data.title)  
    if data.tabs
        +tabs(data.tabs)
    .news 
        .news__container
            .news-card-with-image__list
                +news-card-with-image({
                    title: '23 сентября 2024',
                    desc: 'Сургут и Гомель стали городами побратимами',
                    image: 'news_image.png'
                })
                +news-card-with-image({
                    title: '01 ноября 2024',
                    desc: 'Еще одна новость про город',
                    image: 'news_image-2.jpg'
                })
            .news__list
                each card in data.cards    
                    +news-card-without-image({
                        icon: card.icon,
                        classIcon: card.classIcon,
                    })

