include ../news-top-card/news-top-card
include ../news-top-link/news-top-link
include ../../slider/_slider
include ../../title/main/_main-title
include ../../tabs/main/_tabs

mixin news-top(data)
    if data.title
        +main-title(data.title)  
    if data.tabs
        +tabs(data.tabs)
    .news-top 
        .news-top__container
            .news-top__card-list(id='news-top__card-list')
                +news-top-card({
                    title: '23 сентября 2024',
                    desc: 'Сургут и Гомель стали городами побратимами',
                    image: 'news_image.png'
                })
                +news-top-card({
                    title: '27 ноября 2024',
                    desc: 'Министр МЧС оценил в Югре текущий уровень оснащенности и готовности служб к оперативному реагированию',
                    image: 'news_image-3.jpg'
                })
            .news-top__links-list
                each link in data.links    
                    +news-top-link(link)

