@use '../../../../assets/styles/vars.scss' as *;

.news-top {
    display: flex;
    width: 100%;
    margin: 24px 0 48px;

    @include respond-to(md) {
        margin: 18px 0 25px;
    }

    @include respond-to(sm) {
        margin: 20px 0 20px;
    }

    .slick-list {
        max-width: 867px;
        width: 100%;

        @media (max-width: 1439px) {
            max-width: 600px;
        }

        @media (max-width: 1170px) {
            max-width: 448px;
        }

        @include respond-to(md) {
            max-width: 500px;
        }

        @media (max-width: 910px) {
            max-width: 360px;
        }

        @include respond-to(sm) {
            max-width: none;
        }
    }

    &__container {
        display: flex;
        width: 100%;
        gap: 24px;
        justify-content: center;

        @include respond-to(md) {
            gap: 8px;
        }

        @include respond-to(sm) {
            flex-direction: column;
        }

        .news-top__card-list {
            display: flex;
        }

        .news-top__links-list {
            display: flex;
            flex-direction: column;
            gap: 8px;
            max-width: 420px;
            width: 100%;

            @include respond-to(md) {
                max-width: 360px;
            }

            @include respond-to(sm) {
                max-width: none;
            }
        }
    }
}