

mixin scheme(items = [])
    .scheme 
        .scheme-container
            a(href = 'https://dev-surgut.atlassys.tech/gorodskaya-vlast/glava-goroda').scheme-title
                span= 'Глава города'
            .scheme-elems
                each item in items 
                    .scheme-col
                        each el in item
                            a(href=el.link).scheme-el 
                                span= el.title
