include ./hearing-detail.pug
include ./description.pug
include ../../title/_title.pug
include ../preview/hearing-preview.pug
include ../../../libs/linkslist/_linkslist.pug
include ../../../libs/buttons/_buttons.pug

+hearing-detail()