mixin description()
    .hearing-detail-description
        .hearing-detail-description-text
            .hearing-detail-description-label Тема публичных слушаний
            | (Постановление Администрации города от 11.05.2023 № 2423) по внесению изменений в проекты межевания территории микрорайонов 6, 17, 18, 27 города Сургута в части способов образования земельных участков и устранения технических ошибок (2 этап).
            .hearing-detail-description-label Организатор
            | Департамент архитектуры и градостроительства
        .hearing-detail-description-meta
            .hearing-detail-description-meta-item
                .hearing-detail-description-label Дата проведения
                | 20.06.2023
            .hearing-detail-description-meta-item
                .hearing-detail-description-label Время
                | 18:00
            .hearing-detail-description-meta-item
                +button({ type: 'button', class: 'button_white', event: 'console.log("Шаринг")', icon: 'link-outlined_icon.svg', size: 's', text: 'Поделиться' })

    

    
    

