include ../../components/title/main/_main-title
include ../../components/people-care-card/_people-care-card
include ../../components/slider/_slider
include ../../libs/buttons/_buttons

mixin dm-city-projects()
    .dm-city-projects 
        +main-title({
            href: '/',
            title: 'Проекты Думы города',
            slider: {
                class: 'dm-city-projects'
            },
        })   
        .dm-city-projects__container
            .dm-city-projects__card-list(id='dm-city-projects__card-list') 
                +people-care-card({
                    title: 'ДУМАющий Сургут',
                    background: 'people-care-card_bg-dm-1',
                    desc: 'совместный проект «Сургутской трибуны» и Думы города',
                    bg_image: 'dm_people_care_1.svg' 
                })
                +people-care-card({
                    title: 'Видео проекты',
                    background: 'people-care-card_bg-dm-2',
                    desc: 'совместный проект «Сургутской трибуны» и Думы города',
                    bg_image: 'dm_people_care_2.svg'   
                })
                +people-care-card({
                    title: 'Опросы',
                    background: 'people-care-card_bg-dm-3',
                    desc: 'совместный проект «Сургутской трибуны» и Думы города',
                    bg_image: 'dm_people_care_3.svg'  
                }) 
                +people-care-card({
                    title: 'Опросы',
                    background: 'people-care-card_bg-dm-1',
                    desc: 'совместный проект «Сургутской трибуны» и Думы города',
                    bg_image: 'dm_people_care_1.svg'  
                }) 
            .dm-city-projects__slider
                +slider({ class: 'dm-city-projects' }) 