include ../../components/title/main/_main-title
include ../../components/people-care-card/_people-care-card
include ../../components/slider/_slider
include ../../libs/buttons/_buttons

mixin dm-city-projects()
    .dm-city-projects 
        +main-title({
            href: '/',
            title: 'Проекты Думы города',
            slider: {
                class: 'dm-city-projects'
            },
        })   
        .dm-city-projects__container
            .dm-city-projects__card-list 
                +people-care-card({
                    title: 'ДУМАющий Сургут',
                    logo: true,
                    background: 'people-care-card_bg-dm-1',
                    desc: 'совместный проект «Сургутской трибуны» и Думы города' 
                })
                +people-care-card({
                    title: 'Видео проекты',
                    logo: true,
                    background: 'people-care-card_bg-dm-2',
                    desc: 'совместный проект «Сургутской трибуны» и Думы города' 
                })
                +people-care-card({
                    title: 'Опросы',
                    logo: true,
                    background: 'people-care-card_bg-dm-3',
                    desc: 'совместный проект «Сургутской трибуны» и Думы города'  
                }) 
            .dm-city-projects__slider
                +slider({ class: 'dm-city-projects' }) 