@use '../../../assets/styles/vars.scss' as *;

.adm-all-news {
    display: flex;
    flex-direction: column;

    .adm-all-news__calendar {
        position: relative;
        margin-bottom: 32px;

        .adm-all-news__calendar-button {
            border-radius: 4px;
            max-width: 480px;
            width: max-content;

            @media (max-width: 410px) {
                width: calc(100% - 34px);
            }

            .button_span {
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .adm-all-news__calendar-content {
            display: none;
            position: absolute;
            top: 50px;
            left: 0;
            box-shadow: 0px 4px 12px 0px #00000014;
            border-radius: 20px;

            &_active {
                display: block;
                z-index: 1;
            }
        }
    }

    .news-main-card {
        margin: 0;
        max-width: none;
    }

    .pagination {
        align-self: flex-start;

        @include respond-to(md) {
            align-self: center;
        }

    }
}