include ../projects-array/_projects-array.pug
include ../project-card/_project-card.pug
include ../../../components/user-profile/_user-profile.pug
include ../../../components/tabs/main/_tabs.pug 
include ../../../libs/tab-buttons/_tab-buttons.pug 
include ../../../libs/checkbox/_checkbox.pug
include ../../../libs/buttons/_buttons.pug 

+projects_array( true, 'projects', [
    {
        title: 'Название инициативного проекта',
        date: 'Создан 23 сентября 2024',
        sort: 'project-card',
        status: 'Не заполнен',
        isGoing: false,
        tag: {
            size: "xs",
            type: 'button',
            text: 'Не заполнен',
            class: 'button_blue button_radius',
        },
        checkbox: {
            id: '1',
            sort: 'checkbox',
            status: true,
        }
    },
    {
        title: 'Название инициативного проекта',
        date: 'Создан 23 сентября 2024',
        sort: 'project-card',
        status: 'Не заполнен',
        isGoing: false,
        tag: {
            size: "xs",
            type: 'button',
            text: 'Выполнен',
            class: 'button_red button_radius',
        },
        checkbox: {
            id: '2',
            sort: 'checkbox',
            status: true,
        }
    },
    {
        title: 'Название инициативного проекта',
        date: 'Создан 23 сентября 2024',
        sort: 'project-card',
        status: 'Не заполнен',
        isGoing: false,
        tag: {
            size: "xs",
            type: 'button',
            text: 'Выполнен',
            class: 'button_green button_radius',
        },
        checkbox: {
            id: '3',
            sort: 'checkbox',
            status: true,
        }
    }   
])          