@use '../../../../assets/styles/vars.scss' as *;

.main-events {
    padding-top: 60px;
   
    .main-events__container {

        .main-events__selects {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 24px;
            margin: 30px 0 39px;

            .main-events__selects-container {
                display: grid;
                grid-template-columns: 23% 27% 30% 16%;
                gap: 12px;
                max-width: 902px;
                width: 100%;
            }
        }

        .main-events__news {
            display: grid;
            grid-template-columns: repeat(4, calc((100% - 72px)/4));
            gap: 24px;
            row-gap: 34px;
            margin-bottom: 75px;
        }

        .main-events__navigation {
            display: flex;
            justify-content: center;
        }
    }
}