@use '../../../../assets/styles/vars.scss' as *;

.main-events {
    .main-events__container {
        .main-events__calender {

            .main-events__calender-links {
                display: flex;
                gap: 20px;

                .main-events__calender-link-content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: relative;
                    max-width: 56px;
                    width: 100%;
                    gap: 8px;

                    .main-events__calender-link {
                        font-weight: 300;
                        text-decoration: none;
                        color: $tertiary-text;
                        padding: 9px;
                        @include desc-label1;
                    }

                    .main-events__calender-link_active {
                        border-radius: 1000px;
                        border: 1.5px solid $primary-color;
                        color: $main-text;
                    }

                    .main-events__calender-link_clicked {
                        border-radius: 1000px;
                        border: 1.5px solid $primary-color;
                        color: $content-color;
                        background-color: $primary-color;
                    }

                    .main-events__calender-span {
                        @include text-1;
                        color: $tertiary-text;
                    }

                    .main-events__calender-icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 18px;
                        height: 18px;
                        background-color: $primary-color;
                        color: $content-color;
                        border-radius: 50%;
                        font-size: 11px;
                        line-height: 14px;
                    }
                }
            }

        }

        .main-events__selects {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 24px;

            .main-events__selects-container {
                display: grid;
                grid-template-columns: 23% 27% 30% 16%;
                gap: 12px;
                max-width: 902px;
                width: 100%;
            }
        }

        .main-events__news {
            display: grid;
            grid-template-columns: repeat(4, calc((100% - 72px)/4));
            gap: 24px;
        }
    }
}