@use '../../../../assets/styles/vars.scss' as *;

.breadcrumbs {
    display: flex;
    align-items: center;
    color: $tertiary-text;
    padding: 24px 0 8px;
    gap: 3px;
    box-sizing: border-box;
    @include text-link-2;

    @include respond-to(sm) {
        padding: 16px 0 4px;
    }

    .breadcrumbs__container {
        display: flex;
        gap: 8px;
        overflow: scroll;
        scrollbar-width: none;
    }

    .span {
        color: $tertiary-text;
    }
}