include ../_breadcrumbs.pug 
include ../../../libs/links/_links.pug 

+breadcrumbs(
    [
        { sort: '', href: '/', text: 'Главная' },
        { sort: '', href: '/', text: 'Опросы'},
        { sort: '', href: '/', text: 'Создание агломераций на территории Ханты-Мансийского автономного округа-Югры'},
    ],
)