/*** Finish - Title ***/
.header-visibility {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-color: #fafafa;
  display: none;
  max-width: 100vw;
}

.header-visibility.active {
  display: block;
}

.header-visibility-container {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1440px;
  padding: 20px 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  .header-visibility-container {
    padding: 16px 20px;
  }
}

.header-visibility-elems {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.header-visibility-elem {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px !important;
  letter-spacing: 0 !important;
  color: #040528;
  font-weight: 400;
}

.header-visibility-elem span {
  font-weight: 300;
  font-size: calc(16px * var(--scale));
  line-height: calc(24px * var(--lh));
}
@media (max-width: 992px) {
  .header-visibility-elem span {
    font-size: calc(14px * var(--scale));
    line-height: calc(20px * var(--lh));
  }
}

.header-visibility-close {
  cursor: pointer;
}

.header-visibility-close ion-icon {
  font-size: 28px;
  color: #004CC4;
}

.header-visibility-elem-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-visibility-elem-right span {
  cursor: pointer;
}

.header-visibility-elem-right span, .header-visibility-elem-left span {
  letter-spacing: 0em;
  line-height: 1.2;
}

.active-param {
  position: relative;
}

.active-param::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.font-size-1 {
  font-size: 14px !important;
}

.font-size-15 {
  font-size: 18px !important;
}

.font-size-2 {
  font-size: 22px !important;
}

.letter-spacing-0 {
  border-left: 1px solid #040528;
  border-right: 1px solid #040528;
  padding: 0px 1px;
}

.letter-spacing-6 {
  border-left: 1px solid #040528;
  border-right: 1px solid #040528;
  padding: 0px 3px;
}

.letter-spacing-12 {
  border-left: 1px solid #040528;
  border-right: 1px solid #040528;
  padding: 0px 6px;
}

.line-height-12 {
  border-bottom: 1px solid #040528;
  border-top: 1px solid #040528;
}

.line-height-15 {
  border-bottom: 1px solid #040528;
  border-top: 1px solid #040528;
  padding: 2px 0px;
}

.line-height-2 {
  border-bottom: 1px solid #040528;
  border-top: 1px solid #040528;
  padding: 4px 0px;
}

.theme-light {
  padding: 4px 8px;
  background-color: white;
  color: black;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid black;
  text-decoration: underline;
  text-underline-offset: 2px;
  padding-bottom: 8px;
  cursor: pointer;
}

.theme-dark {
  border-radius: 4px;
  padding: 4px 8px;
  padding-bottom: 8px;
  box-sizing: border-box;
  background-color: black;
  color: white;
  border: none;
  border: 1px solid black;
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
}

.theme-blue {
  padding: 4px 8px;
  background-color: #B2D9FF;
  color: black;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #B2D9FF;
  text-decoration: underline;
  text-underline-offset: 2px;
  padding-bottom: 8px;
  cursor: pointer;
}

.header-visibility__top-content {
  padding: 7px 65px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  display: none;
}

.header-visibility__top-links {
  display: flex;
  gap: 80px;
}

.header-visibility__middle-content {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 20px 64px;
  gap: 24px;
}

.header-visibility__bottom-content {
  padding: 7px 65px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  display: none;
}

.header-visibility__bottom-content .header_links {
  flex-wrap: wrap;
  justify-content: flex-start;
}

.visibility .header-visibility__top-content, .visibility .header-visibility__middle-content, .visibility .header-visibility__bottom-content {
  display: flex;
}
@media (max-width: 992px) {
  .visibility .header-visibility__top-content, .visibility .header-visibility__middle-content, .visibility .header-visibility__bottom-content {
    padding: 16px 20px;
  }
}

.visibility .header__top-content, .visibility .header__bottom-content {
  display: none;
}

.visibility .header__social-icon {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
}

.visibility .header-services__container {
  background-color: var(--content-color);
  flex-wrap: wrap;
  align-items: stretch;
}

.visibility .full-width-background {
  background-color: var(--content-color) !important;
}

.visibility .header-services__button {
  flex-direction: column-reverse;
  max-width: 310px;
  width: 100%;
  height: 160px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 12px;
  box-sizing: border-box;
}

.visibility .header-services__button ion-icon {
  color: var(--icons-color) !important;
}

.visibility .header-services__button:not(:hover) {
  background-color: var(--content-color) !important;
}

.dark-theme .header-services__button:hover {
  border: 1px solid var(--main-text);
}

.visibility .main-services {
  background-color: var(--content-color) !important;
}

.visibility .main-services__search {
  flex-direction: column !important;
  display: flex !important;
}

.visibility .important-links__container {
  grid-template-columns: repeat(2, 48%);
}

.visibility .main-project-card {
  height: unset;
}

.visibility .main-help-city__content {
  overflow-x: scroll;
}

.visibility .main-help-city__content::-webkit-scrollbar {
  width: 0;
}

.visibility .news .news__container {
  flex-direction: column;
}

.visibility .news-card-without-image, .visibility .news-card-with-image {
  width: 100%;
  max-width: unset;
}

.visibility .important-links__container {
  grid-template-columns: 1fr;
}

.visibility .usefull-links__container {
  grid-template-columns: repeat(3, 1fr);
}

.visibility .main-events .main-events__container .main-events__news {
  grid-template-columns: repeat(3, 1fr);
}

.visibility .main-services .main-services__container .main-services__buttons .main-services__buttons-container {
  flex-direction: column;
}

.dark-theme .input {
  background-color: var(--content-color);
  color: var(--main-text);
}

.dark-theme .search__button {
  background-color: var(--content-color);
  border: 1px solid #c6cbd9;
}

.dark-theme .button {
  color: var(--main-text);
}

.dark-theme .news-card-without-image__container {
  border: 1px solid var(--main-text);
  padding: 20px;
  border-radius: 12px;
}

.dark-theme .news-card-with-image__content .button, .dark-theme .people-care-card__container .button, .dark-theme .main-services__buttons-container .button, .dark-theme .important-links__container a, .dark-theme .usefull-link {
  background-color: transparent;
  border: 1px solid var(--main-text);
}

.dark-theme .header__link:hover, .dark-theme .header__main-links:hover {
  color: unset;
}

.dark-theme .tabs .tabs__container .tab-button_active {
  color: unset;
  border-bottom: 2px solid var(--main-text);
}

.dark-theme .main-news-card:hover {
  color: unset;
}

.dark-theme .main-title .main-title__container .main-title__link {
  color: var(--main-text);
}

.dark-theme .main-news-card .main-news-card__container .main-news-card__image-block .main-news-card__tags .news-card__tag {
  background-color: var(--main-text);
  color: var(--content-color);
  border: none;
}

.dark-theme .calendar .calendar__links .calendar__link-content .calendar__link_clicked {
  border: 1.5px solid var(--main-text);
  color: var(--main-text);
}

.dark-theme .calendar .calendar__links .calendar__link-content .calendar__icon {
  background-color: var(--main-text);
}

.dark-theme .select {
  color: var(--main-text);
}

.dark-theme .people-care-card .people-care-card__container .people-care-card__title {
  color: var(--main-text);
}

.dark-theme .main-project-card__dates .button, .dark-theme .main-project-card__dates .main-project-card__date {
  border: 1px solid var(--main-text);
  background-color: var(--content-color);
  margin: 0 !important;
}

.dark-theme .important-links .important-links__container .important-link:hover {
  color: unset;
}

.dark-theme .main-project-card {
  border: 1px solid var(--main-text);
}

.dark-theme .navigation .navigation__link-next, .dark-theme .navigation .navigation__link-prev {
  color: var(--main-text);
}

.blue-theme .input {
  background-color: var(--content-color);
  color: var(--main-text);
  border: 1px solid var(--main-text);
}

.blue-theme .search__button {
  background-color: var(--content-color);
  border: 1px solid var(--main-text);
  color: var(--main-text);
}

.blue-theme .button {
  color: var(--main-text);
  border: 1px solid var(--main-text);
}

.blue-theme .news-card-with-image .news-card-with-image__container .news-card-with-image__content {
  color: var(--content-color);
}

.blue-theme .news-card-without-image__container {
  border: 1px solid var(--main-text);
  padding: 20px;
  border-radius: 12px;
}

.blue-theme .news-card-with-image__content .button, .dark-theme .people-care-card__container .button, .dark-theme .main-services__buttons-container .button, .dark-theme .important-links__container a, .dark-theme .usefull-link {
  background-color: transparent;
  border: 1px solid var(--content-color);
}

.blue-theme .news-card-with-image__content .button {
  color: var(--content-color);
}

.blue-theme .news-card-without-image .news-card-without-image__container .news-card-without-image__date {
  color: var(--main-text);
}

.blue-theme .header__link:hover, .dark-theme .header__main-links:hover {
  color: unset;
}

.blue-theme .tabs .tabs__container .tab-button_active {
  color: unset;
  border-bottom: 2px solid var(--main-text);
}

.blue-theme .main-news-card:hover {
  color: unset;
}

.blue-theme .main-title .main-title__container .main-title__link {
  color: var(--main-text);
}

.blue-theme .main-news-card .main-news-card__container .main-news-card__image-block .main-news-card__tags .news-card__tag {
  background-color: var(--main-text);
  color: var(--content-color);
  border: none;
}

.blue-theme .calendar .calendar__links .calendar__link-content .calendar__link_clicked {
  border: 1.5px solid var(--main-text);
  color: var(--main-text);
}

.blue-theme .calendar .calendar__links .calendar__link-content .calendar__icon {
  background-color: var(--main-text);
}

.blue-theme .select {
  color: var(--main-text);
}

.blue-theme .people-care-card .people-care-card__container .people-care-card__title {
  color: var(--main-text);
}

.blue-theme .main-project-card__dates .button, .dark-theme .main-project-card__dates .main-project-card__date {
  border: 1px solid var(--main-text);
  background-color: var(--content-color);
  margin: 0 !important;
}

.blue-theme .important-link, .blue-theme .usefull-link {
  border: 1px solid var(--main-text);
}

.blue-theme .important-links .important-links__container .important-link:hover {
  color: unset;
}

.blue-theme .main-project-card {
  border: 1px solid var(--main-text);
}

.blue-theme .navigation .navigation__link-next, .dark-theme .navigation .navigation__link-prev {
  color: var(--main-text);
}

.visibility .input {
  line-height: unset !important;
  font-weight: 300;
  font-size: calc(14px * var(--scale));
  line-height: calc(20px * var(--lh));
}
@media (max-width: 992px) {
  .visibility .input {
    font-size: calc(14px * var(--scale));
    line-height: calc(20px * var(--lh));
  }
}

.visibility .tabs .tabs__container {
  flex-wrap: wrap;
}

.visibility .main-news-card .main-news-card__container .main-news-card__image-block .main-news-card__tags {
  flex-wrap: wrap;
}

.visibility .news .news__container .news__list {
  max-width: unset;
}

.visibility .search .search__button {
  height: unset;
}

.visibility .search .search__button .icon {
  font-size: calc(24px * var(--scale));
}