mixin second-menu(data)
    ul.dm-second-menu
        .dm-second-menu__content
            //- +button({ type: 'button',  event: '', class: 'button files-list__delete-button dm-second-menu__button-close', icon: 'close-outline' })
            each column in data.columns
                .dm-second-menu__col
                    each link in column.links
                        .dm-second-menu__links
                            a(href='/', class=`dm-second-menu__${link.type}`) #{link.title}
                            if link.items
                                each item in link.items
                                    a(href='/', class=`dm-second-menu__${item.type}`) #{item.title} 