mixin about-dm-links(data={})
    div(class=`${data.class}`).dm-second-menu
        .dm-second-menu__content 
            .dm-second-menu__col
                .dm-second-menu__links
                    a(href='/').dm-second-menu__title Новости
                .dm-second-menu__links
                    a(href='/').dm-second-menu__title Полномочия
                .dm-second-menu__links
                    a(href='/').dm-second-menu__title Финансы
                .dm-second-menu__links
                    a(href='/').dm-second-menu__title К сведению средств массовой информации
            .dm-second-menu__col
                .dm-second-menu__links
                    a(href='/').dm-second-menu__title Информация о Сургуте
                    a(href='/').dm-second-menu__link Общие сведения
                    a(href='/').dm-second-menu__link Контактная информация 

mixin struct-dm-links(data={})
    div(class=`${data.class}`).dm-second-menu
        .dm-second-menu__content
            .dm-second-menu__col
                .dm-second-menu__links
                    a(href='/').dm-second-menu__title Структура
                    a(href='/').dm-second-menu__link Председатель
                    a(href='/').dm-second-menu__link Руководство
                .dm-second-menu__links
                    a(href='/').dm-second-menu__title Депутаты
                .dm-second-menu__links
                    a(href='/').dm-second-menu__title Аппарат Думы города
                    a(href='/').dm-second-menu__link Структура аппарата
                    a(href='/').dm-second-menu__link Информация о кадровом обеспечении
                    a(href='/').dm-second-menu__link Телефонный справочник  
                .dm-second-menu__links
                    a(href='/').dm-second-menu__title Молодежная палата
                    a(href='/').dm-second-menu__link Положение
                    a(href='/').dm-second-menu__link Состав   
            .dm-second-menu__col
                .dm-second-menu__links
                    a(href='/').dm-second-menu__title Постоянные комитеты
                    a(href='/').dm-second-menu__link Комитет по бюджету, налогам, финансам и имуществу
                    a(href='/').dm-second-menu__link Комитет по городскому хозяйству и перспективному развитию города  
                    a(href='/').dm-second-menu__link Комитет по социальной политике
                    a(href='/').dm-second-menu__link Комитет по нормотворчеству, информационной политике и правопорядку 
                .dm-second-menu__links
                    a(href='/').dm-second-menu__title Депутатские объединения в Думе города
                    a(href='/').dm-second-menu__link Информация о кадровом обеспечении
                    a(href='/').dm-second-menu__link Телефонный справочник

mixin doc-dm-links(data={})
    div(class=`${data.class}`).dm-second-menu
        .dm-second-menu__content
            .dm-second-menu__col
                .dm-second-menu__links
                    a(href='/').dm-second-menu__title Устав города
                .dm-second-menu__links
                    a(href='/').dm-second-menu__title Регламент Думы города
                .dm-second-menu__links
                    a(href='/').dm-second-menu__title Положения
                .dm-second-menu__links
                    a(href='/').dm-second-menu__title Порядок проведения публичных слушаний и обсуждения
            .dm-second-menu__col
                .dm-second-menu__links
                    a(href='/').dm-second-menu__title Решения Думы
                    a(href='/').dm-second-menu__link Проекты решений
                    a(href='/').dm-second-menu__link Порядок обжалования
                    a(href='/').dm-second-menu__link Требования к подготовке и оформлению
                    a(href='/').dm-second-menu__link Публичные слушания

mixin actions-dm-links(data={})
    div(class=`${data.class}`).dm-second-menu
        .dm-second-menu__content
            .dm-second-menu__col
                .dm-second-menu__links
                    a(href='/').dm-second-menu__title План работы
                    a(href='/').dm-second-menu__link Заседания Думы города
                    a(href='/').dm-second-menu__link Заседания постоянных комитетов
                    a(href='/').dm-second-menu__link Депутатские слушания
                    a(href='/').dm-second-menu__link Публичные слушания   
                .dm-second-menu__links
                    a(href='/').dm-second-menu__title Антикоррупционная деятельность   