@use '../../../../assets/styles/vars.scss' as *;

@mixin link {
    &:hover {
        color: $primary-color-green-hover;
    }

    &:active {
        color: $primary-color-green-click;
    }
}

.dm-second-menu {
    width: 100%;
    position: absolute;
    top: 144px;
    background-color: $cards-background;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    box-sizing: border-box;

    &_about,
    &_struct,
    &_doc,
    &_actions {
        display: none;
    }

    &_active {
        display: flex;
    }

    .dm-second-menu__content {
        display: flex;
        gap: 24px;
        padding: 40px 174px;
        max-width: 1440px;
        width: 100%;
        box-sizing: border-box;

        .dm-second-menu__col {
            display: flex;
            flex-direction: column;
            gap: 24px;
            width: 100%;

            .dm-second-menu__links {
                display: flex;
                flex-direction: column;
                gap: 12px;

                .dm-second-menu__title {
                    color: $main-text;
                    font-weight: 500;
                    @include lead-5;
                    @include link;
                }

                .dm-second-menu__link {
                    color: $main-text;
                    @include text-3;
                    @include link;

                    &:first-of-type {
                        margin-top: 4px;
                    }
                }
            }
        }

    }

}