@use '../../../../assets/styles/vars.scss' as *;

.admstruct-contact {
    margin: 20px;
    display: flex;
    gap: 24px;

    @include respond-to(md) {
        flex-direction: column;
    }

    &-item {
        flex: 1;
        @include text-2;
    }

    .admstruct-contact-item-label {
        display: block;
        margin-bottom: 8px;
        @include heading-h4();
    }
}