mixin adm-struct()
    +title({
            title: 'Управление документационного и организационного обеспечения'
        })
    +tabs-tag( 
        [
            { isActive: true, title: 'О департаменте', href: '/' },
            { title: 'Дороги и транспорт', href: '/' },
            { title: 'Предприятия и организации', href: '/' },
            { title: 'Муниципальные услуги населению', href: '/' },
            { title: 'ЖКУ', href: '/' },
            { title: 'Оплата ЖКУ', href: '/' },
            { title: 'Жилье', href: '/' },
            { title: 'Капитальный ремонт многоквартирныздомов', href: '/' },
            { title: 'Приспособленные для проживания строения', href: '/' },
            { title: 'Обращение с отходами', href: '/' },
            { title: 'Энергосбережение', href: '/' },
            { title: 'Природопользование', href: '/' },
            { title: 'Оценка выполнения муниципальных зданий', href: '/' },
            { title: 'Информация о вырубке лесных нассаждений и лессовосстановлении', href: '/' },
            { title: 'Догазификация', href: '/' },
            { title: 'МКД', href: '/' },
        ])
    .grey-block
        .admstruct-contact
            .admstruct-contact-item
                .admstruct-contact-item-label Адрес
                | ул. Энгельса, 8, г. Сургут, Ханты-Мансийский автономный округ – Югра (Тюменская область), 628408
            .admstruct-contact-item
                .admstruct-contact-item-label Режим работы
                | Понедельник-пятница: 09:00 - 18:00 
                br
                | (перерыв с 13:00 до 14:00)
                br
                | Суббота - воскресенье: выходные дни
    //+linkslist([{title:"Положение", href:"#"},{title:"Телефонный справочник", href:"#"},{title:"Архив", href:"#"}])