@use '../../../assets/styles/vars.scss' as *;

.search-by-site {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    gap: 8px;

    @include respond-to(md) {
        flex-direction: column;
    }

    .input-search-by-site {
        max-width: 624px;

        @include respond-to(md) {
            max-width: none;
        }

        @include respond-to(sm) {
            display: none;
        }
    }

    .search-by-site__buttons {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        gap: 8px;

        @include respond-to(sm) {
            display: none;
        }

        .search-by-site__calendar {
            display: none;
            position: absolute;
            top: 50px;
            right: 60px;
        }

        .search-by-site__calendar_active {
            display: block;
        }

        .search-by-site__button {
            background-color: $content-color;
            border: 1px solid $input-color-default;
            color: $main-text;
            max-width: 279px;
            width: 100%;
            flex-direction: row-reverse;
            justify-content: left;
            text-wrap: nowrap;
            @include caption-2;

            .button_span {
                font-weight: 400;
            }

            &:hover {
                border-color: $input-color-hover;
            }
        }

        .search-by-site__select {
            background: url(../../icons/folder_icon.svg) center no-repeat;
            background-position: 7%;
            padding-left: 50px;
            background-size: 20px;
            font-weight: 400;

            &:hover {
                border-color: $input-color-hover;
            }

            @include respond-to(md) {
                background-position: 5%;
            }
        }
    }

    .search-by-site__filters {
        display: none;

        .search-search-by-site {
            max-width: none;
        }

        @include respond-to(sm) {
            display: flex;
            flex-direction: column;
            gap: 24px;
            width: 100%;
        }

        .dm-filter__btn {
            .search-by-site__filters-content {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

.adm-search {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;

    @include respond-to(md) {
        gap: 8px;
        margin-top: 16px;
    }

    @include respond-to(sm) {
        margin-top: 0;
    }

    .adm-search__pagination {
        display: flex;

        @include respond-to(sm) {
            justify-content: center;
        }
    }
}
