include ../hearing/hearing-card/hearing-card
include ../slider/_slider
include ../title/main/_main-title
include ../tabs/main/_tabs

mixin dm-archive()
    .dm-archive
        .full-width-container
            .full-width-background
                .full-width-content
                    .dm-archive__container 
                        +main-title({
                            href: '/',
                            title: 'Архив трансляций',
                            link_text: 'Все видео и фото',
                            type: 'tabs',
                            tabs: [
                                { isActive: true, title: 'Архив трансляций', href: '/' },
                                { title: 'Фото', href: '/' },
                                '', 'dm-title-tabs'
                            ]
                        })
                        +tabs( 
                            [
                                { isActive: true, title: 'Самые важные', href: '/' },
                                { title: 'Заседания', href: '/' },
                                { title: 'Публичные слушания', href: '/' },
                            ])
                        .dm-archive__list    
                            +hearing-card({
                                title: 'Постановления Администрации города от 01.06.2022 № 2816,01.06.2022 № 2817,01.06.2022 № 2818)',
                                date: '3 дня назад',
                            })
                            +hearing-card({
                                title: 'Постановления Администрации города от 01.06.2022 № 2816,01.06.2022 № 2817,01.06.2022 № 2818)',
                                date: '3 дня назад',
                            })
                            +hearing-card({
                                title: 'Постановления Администрации города от 01.06.2022 № 2816,01.06.2022 № 2817,01.06.2022 № 2818)',
                                date: '3 дня назад',
                            })
                            +hearing-card({
                                title: 'Постановления Администрации города от 01.06.2022 № 2816,01.06.2022 № 2817,01.06.2022 № 2818)',
                                date: '3 дня назад',
                            })
                        .dm-archive__slider
                            +slider({ class: 'dm-archive' }) 