@use '../../../../assets/styles/vars.scss' as *;

.profile-settings-title {
    padding-top: 24px;

    span {
        color: $main-text;
        @include heading-h4();
    }
}

.profile-settings-inputs {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.profile-settings {
    width: 100%;
    max-width: 866px;

    button {
        margin-top: 24px;
    }
}

.profile-settings-interests {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.button_exit {
    background-color: $content-color;
    border: 1px solid $interview-end-color;
    color: $interview-end-color;

    &:hover {
        background-color: $interview-end-color;
        border: 1px solid $interview-end-color;
        color: $content-color;
    }
}
