@use '../../../../assets/styles/vars.scss' as *;

.profile-settings-title {
    padding-top: 24px;

    span {
        color: $main-text;
        @include heading-h4();
    }
}


.profile-settings-inputs {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.profile-settings {
    width: 100%;
    max-width: 866px;
    button {
        margin-top: 24px;
    }
}

.profile-settings-interests  {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.profile-settings-interest-elem {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $grey-adm;
    border-radius: 12px;
    box-sizing: border-box;
    gap: 16px;

    button {
        margin-top: 0;

        @include respond-to(sm) {
            width: 100%;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
        }
    }

    @include respond-to(sm) {
        flex-direction: column;
        align-items: flex-start;
    }

    .profile-settings-interest-elem-left {
        display: flex;
        align-items: center;
        gap: 20px;
        @include respond-to(sm) {
            flex-direction: column;
            gap: 16px;
            align-items: flex-start;
        }
    }
    .profile-settings-interest-elem-mid {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .profile-settings-interest-elem-mid-title span{
            color: $second-text;
            @include heading-h5();
        }

        .profile-settings-interest-elem-mid-subtitle span{
            @include caption-4();
        }
    }

    .profile-settings-interest-elem-right {
        @include respond-to(sm) {
            width: 100%;
        } 
    }
}