include ../../login/exit/exit

mixin profile-settings()
    .profile-settings
        .profile-settings-title
            span ФИО
        .profile-settings-inputs
            +input({size: 'm', type:'text', placeholder:'Фамилия'})
            +input({size: 'm', type:'text', placeholder:'Имя'})
            +input({size: 'm', type:'text', placeholder:'Отчество'})
        .profile-settings-title
            span Почта для получения актуальной информации
        .profile-settings-inputs
            +input({size: 'm', type:'text', placeholder:'Электронная почта'})
        +button({ size: 'm ', type: 'button', class: 'button_blue', event: 'someFunction()', text: 'Сохранить' })
        hr
        .profile-settings-title
            span Настройте главную страницу под свои интересы
        .profile-settings-interests 
            +profile-card({
                icon: 'heart-circle-outline',
                title: 'Мне интересны новости и события, связанные с моим городом',
                desc: 'Для вас будут отображаться только самые актуальные новости и информация, посвященные городу',
                disabled: false
            })
            +profile-card({
                icon: 'people',
                title: 'Мне интересно активное участие в жизни города',
                desc: 'Для вас будет отображаться вся доступная информация, связанная со льготами, социальной помощью',
                disabled: false
            })
            +profile-card({
                icon: 'analytics',
                title: 'Мне интересны преференции от государства',
                desc: 'Для вас будет отображаться вся доступная информация, связанная со льготами, социальной помощью',
                disabled: false
            })
            +profile-card({
                icon: 'person',
                title: 'Мне интересно все (по умолчанию)',
                desc: 'Для вас будет отображаться вся доступная информация, включающая актуальные новости и события, полезные сервисы и ссылки, и многое другое',
                disabled: true
            })
        hr
        +button({ type: 'button', class: 'button_red button_exit', event: 'showLogout()', icon: '', size: 'm', text: 'Выйти из аккаунта' })
    +exit()