/*** Finish - Title ***/
.navigation {
  display: flex;
  align-items: center;
  gap: 24px;
  font-weight: 300;
  font-size: calc(14px * var(--scale));
  line-height: calc(20px * var(--lh));
}
@media (max-width: 992px) {
  .navigation {
    font-size: calc(14px * var(--scale));
    line-height: calc(20px * var(--lh));
  }
}
@media (max-width: 1000px) {
  .navigation {
    gap: 14px;
  }
}
.navigation .navigation__link-prev {
  color: var(--primary-color);
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 30px;
}
@media (max-width: 1000px) {
  .navigation .navigation__link-prev {
    font-size: 20px;
  }
}
.navigation .navigation__pages {
  display: flex;
  gap: 4px;
  font-weight: 400;
  font-size: calc(20px * var(--scale));
  line-height: calc(24px * var(--lh));
}
@media (max-width: 992px) {
  .navigation .navigation__pages {
    font-size: calc(14px * var(--scale));
    line-height: calc(18px * var(--lh));
  }
}
.navigation .navigation__link-next {
  color: var(--primary-color);
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 30px;
}
@media (max-width: 1000px) {
  .navigation .navigation__link-next {
    font-size: 20px;
  }
}