@use '../../../../assets/styles/vars.scss' as *;

@mixin flex {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.slider {
    display: flex;
    gap: 12px;
    font-size: 34px;

    @media (max-width: 1000px) {
        font-size: 23px;
        padding-bottom: 5px;
        
    }

    .slider__link-prev {
        @include flex;
        color: $primary-color;
    }

    .slider__link-next {
        @include flex;
        color: $primary-color;
    }

    .dm-slider__link {
        color: $primary-color-green;
    }
}