@use '../../../../assets/styles/vars.scss' as *;

@mixin flex {
    display: flex;
    align-items: center;
    cursor: pointer;
}

body.tmp-duma .slider .slider__link {
    color: $primary-color-green;

    &:hover {
        color: $primary-color-green-hover;
    }

    &:active {
        color: $primary-color-green-click;
    }
}

.slider {
    display: flex;
    gap: 12px;
    font-size: 34px;

    @media (max-width: 1000px) {
        font-size: 23px;
        padding-bottom: 5px;

    }

    .slider__link {
        @include flex;
        color: $primary-color;

        &:hover {
            color: $primary-color-hover;
        }

        &:active {
            color: $primary-color-active;
        }
    }
}