@use '../../../../assets/styles/vars.scss' as *;

@mixin flex {
    display: flex;
    align-items: center;
    cursor: pointer;
}

body.tmp-duma .slider .slider__link {
    color: $primary-color-green;

    &:hover {
        color: $primary-color-green-hover;
    }

    &:active {
        color: $primary-color-green-click;
    }
}

.slider {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 34px;
    padding-top: 32px;

    @include respond-to(md) {
        font-size: 24px;
        padding-top: 24px;
    }

    .slider__counter {
        @include lead-3;
    }

    .slider__link {
        @include flex;
        color: $primary-color;

        &:hover {
            color: $primary-color-hover;
        }

        &:active {
            color: $primary-color-active;
        }
    }
}