@use '../../../../assets/styles/vars.scss' as *;

.dm-deputies-comitets {
    padding-top: 48px;

    @include respond-to(md) {
        padding-top: 24px;
    }
}

.dm-deputies-comitets__block {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include respond-to(md) {
        gap: 16px;
    }
}

.dm-deputies-comitets__content {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @include respond-to(md) {
        gap: 24px;
    }
}

.dm-deputies-comitets__name span {
    color: $main-text;
    @include lead-3;
}

.dm-deputies-comitets__list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    @include respond-to(md) {
        gap: 8px;
    }
}

.dm-deputies__title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0 16px;
    gap: 8px;

    @include respond-to(sm) {
        flex-direction: column;
    }

    .title {
        margin: 0;
    }
}

.dm-deputies__title-container .button {
    width: 100%;
    max-width: 265px;
    box-sizing: border-box;
    justify-content: center;

    @include respond-to(sm) {
        max-width: 205px;
    }
}

.dm-deputies__title-container .button span {
    font-weight: 600;
}