mixin people-care-card(data)
    .people-care-card
        .people-care-card__container
            h2.people-care-card__title
            img(class=`people-care-card__image` src=`../resorces/${data.img}`)
    