.main-people-care {
    padding: 44px 0 48px;

    .main-people-care__container {
        margin-top: 46px;

        .main-people-care__card-list {
            display: flex;
            gap: 24px;
        }
    }
}