@use '../../../../assets/styles/vars.scss' as *;

.calendar-dm {
    background-color: $cards-background;
    border-radius: 8px;
    padding: 15px;
    /* width: 356px; */
    /* max-width: 356px; */
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
}

.calendar-dm-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar-dm-date {
    font-weight: 600;
    margin: 0;
    @include caption-2;
}

button {
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}


table {
    width: 100%;
    border-collapse: separate;
}

th, td {
    padding: 10px;
    text-align: center;
    @include lead-3;
}

th {
    color: $fourth-text;

}

td {
    color: $tertiary-text;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    cursor: pointer;
}

td:hover {
    border-radius: 4px;
    display: inline-block;

}

td:active {

}

.today {
    background-color: #A78818;
    color: $content-color;
    border-radius: 4px;
}

.today::after {
    content: '';
    position: absolute;
    bottom: 2px; /* Позиционируем точку чуть ниже центра */
    left: 50%;
    transform: translateX(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.calendar-dm-button {
    border: none;
    background-color: transparent;
    color: $primary-color-green;
}

@media screen and (max-width: 768px) {
    .calendar
    {
        width: 100%;
        max-width: unset;
    }
}