@use '../../../../assets/styles/vars.scss' as *;

body.tmp-duma {
    .calendar-dm {
        background-color: $cards-background;

        .calendar-day_selected-first,
        .calendar-day_selected-last {
            background-color: $primary-color-green;

            &:hover {
                background-color: $event-color-hover;
            }
        }

        .calendar-day_hover-intermediate.calendar-day_hover-first,
        .calendar-day_hover-intermediate.calendar-day_hover-last {
            background-color: $primary-color-green;
        }

        .calendar-day__btn_today {
            &::after {
                content: '';
                position: absolute;
                top: 3px;
                right: 5px;
                width: 5px;
                height: 5px;
                background-color: $primary-color-green;
                border-radius: 50%;
            }
        }

        .vanilla-calendar-arrow_prev,
        .vanilla-calendar-arrow_next {
            &::before {
                filter: invert(52%) sepia(86%) saturate(412%) hue-rotate(10deg) brightness(87%) contrast(92%);
            }
        }
    }
}

.calendar-dm {
    background-color: $content-color;

    .vanilla-calendar-header {
        margin-bottom: 20px;

        .vanilla-calendar-arrow_prev {
            &::before {
                background-image: url(../icons/arrow-left_icon.svg);
                transform: rotate(0);
            }
        }

        .vanilla-calendar-arrow_next {
            &::before {
                background-image: url(../icons/arrow-left_icon.svg);
                transform: rotate(180deg);
            }
        }
    }
}

.calendar-dm.vanilla-calendar.vanilla-calendar_default {
    align-self: center;

    @include respond-to(sm) {
        padding: 0;
    }
}

.vanilla-calendar-day {
    border: 1px solid transparent;
    box-sizing: border-box;

    &:hover {
        background-color: $event-color;
        border: 1px solid $event-color-hover;
        border-radius: 4px;
    }
}

.calendar-day_selected-first,
.calendar-day_selected-last {
    background-color: $primary-color;
    border-radius: 4px;

    &:hover {
        background-color: $primary-color-hover;
    }

    .calendar-day__btn {
        color: $content-color;
    }
}

.calendar-day_selected-intermediate {
    color: $main-text;
    background-color: $event-color;

    &:hover {
        border-color: transparent;
    }
}

.calendar-day__btn {
    border: 1px solid transparent;
    background: transparent;
    padding: 7px 14px;
    box-sizing: border-box;
    cursor: pointer;

    @media (max-width: 388px) {
        padding: 5px 8px;
    }

    @media (max-width: 330px) {
        padding: 3px 5px;
    }
}

.calendar-day__btn_hover {
    background-color: transparent;
}

.calendar-day_hover-intermediate.calendar-day_hover-first,
.calendar-day_hover-intermediate.calendar-day_hover-last {
    background-color: $primary-color;
    color: $content-color;
    border-radius: 4px;

    .calendar-day__btn {
        color: $content-color;
    }
}

.calendar-day_hover-intermediate {
    background-color: $event-color;
}

.calendar-day__btn_today {
    &::after {
        content: '';
        position: absolute;
        top: 3px;
        right: 5px;
        width: 5px;
        height: 5px;
        background-color: $primary-color;
        border-radius: 50%;
    }
}

.calendar-day {
    padding: 4px;
}