body.tmp-duma .event .event__container .event__time-block .event__icon {
  color: var(--primary-color-green);
}

body.tmp-duma .event .event__container .event__location .event__icon-dot {
  background-color: var(--primary-color-green);
}

.event {
  background-color: var(--cards-background);
  border-radius: 12px;
  color: var(--main-text);
}
.event:hover {
  text-decoration: none;
  color: var(--main-text);
  background-color: var(--services-hover);
}
.event:active {
  background-color: var(--services-active);
}
.event .event__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 64px;
  padding: 20px;
}
@media (max-width: 992px) {
  .event .event__container {
    padding: 16px;
  }
}
@media (max-width: 768px) {
  .event .event__container {
    position: relative;
    flex-direction: column;
    gap: 16px;
  }
}
.event .event__container .event__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  width: 100%;
  gap: 8px;
}
@media (max-width: 768px) {
  .event .event__container .event__info {
    box-sizing: border-box;
    flex-direction: row;
    max-width: none;
    align-self: flex-start;
    justify-content: space-between;
    gap: 35px;
  }
}
.event .event__container .event__time-block {
  display: flex;
  gap: 12px;
  align-items: center;
  text-wrap: nowrap;
  font-weight: 400;
  font-size: calc(24px * var(--scale));
  line-height: calc(28px * var(--lh));
}
@media (max-width: 992px) {
  .event .event__container .event__time-block {
    font-size: calc(16px * var(--scale));
    line-height: calc(20px * var(--lh));
  }
}
.event .event__container .event__time-block .event__icon {
  color: var(--primary-color);
}
.event .event__container .event__location {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-weight: 300;
  font-size: calc(16px * var(--scale));
  line-height: calc(20px * var(--lh));
}
@media (max-width: 992px) {
  .event .event__container .event__location {
    font-size: calc(12px * var(--scale));
    line-height: calc(16px * var(--lh));
  }
}
@media (max-width: 768px) {
  .event .event__container .event__location {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
.event .event__container .event__location .event__place {
  position: relative;
}
.event .event__container .event__location .event__place:hover {
  cursor: pointer;
}
.event .event__container .event__location .event__place:hover > .modal-title {
  display: block;
}
@media (max-width: 768px) {
  .event .event__container .event__location .event__place {
    width: 70%;
  }
}
.event .event__container .event__location .event__place .event__place-text {
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.event .event__container .event__location .event__cabinet {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 768px) {
  .event .event__container .event__location .event__cabinet {
    width: unset;
  }
}
.event .event__container .event__location .event__icon-dot {
  display: none;
  width: 4px;
  height: 4px;
  background-color: var(--primary-color);
  border-radius: 50%;
}
.event .event__container .event__description {
  max-width: 955px;
  width: 100%;
  margin: 0;
  font-weight: 300;
  font-size: calc(16px * var(--scale));
  line-height: calc(24px * var(--lh));
}
@media (max-width: 992px) {
  .event .event__container .event__description {
    font-size: calc(14px * var(--scale));
    line-height: calc(20px * var(--lh));
  }
}
@media (max-width: 768px) {
  .event .event__container .event__description {
    margin: 0;
  }
}
.event .event__container .event__number {
  display: none;
  color: var(--tertiary-text);
  font-weight: 300;
  font-size: calc(20px * var(--scale));
  line-height: calc(24px * var(--lh));
}
@media (max-width: 992px) {
  .event .event__container .event__number {
    font-size: calc(14px * var(--scale));
    line-height: calc(18px * var(--lh));
  }
}
@media (max-width: 768px) {
  .event .event__container .event__number {
    position: absolute;
    top: 16px;
    right: 20px;
  }
}