/*** Finish - Title ***/
.event {
  width: 100%;
  background-color: var(--cards-background);
  border-radius: 12px;
}
.event .event__container {
  display: flex;
  align-items: center;
  padding: 20px 32px;
}
.event .event__container .event__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.event .event__container .event__time-block {
  display: flex;
  gap: 12px;
  align-items: center;
  font-weight: 400;
  font-size: calc(24px * var(--scale));
  line-height: calc(28px * var(--lh));
}
@media (max-width: 992px) {
  .event .event__container .event__time-block {
    font-size: calc(16px * var(--scale));
    line-height: calc(20px * var(--lh));
  }
}
.event .event__container .event__time-block .event__icon {
  color: var(--primary-color);
}
.event .event__container .event__location {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 300;
  font-size: calc(16px * var(--scale));
  line-height: calc(20px * var(--lh));
}
@media (max-width: 992px) {
  .event .event__container .event__location {
    font-size: calc(12px * var(--scale));
    line-height: calc(16px * var(--lh));
  }
}
.event .event__container .event__location .event__icon-dot {
  width: 4px;
  height: 4px;
  background-color: var(--primary-color);
  border-radius: 50%;
}
.event .event__container .event__description {
  max-width: 955px;
  width: 100%;
  margin: 0 20px 0 64px;
  font-weight: 300;
  font-size: calc(16px * var(--scale));
  line-height: calc(24px * var(--lh));
}
@media (max-width: 992px) {
  .event .event__container .event__description {
    font-size: calc(14px * var(--scale));
    line-height: calc(20px * var(--lh));
  }
}
.event .event__container .event__number {
  color: var(--tertiary-text);
  font-weight: 300;
  font-size: calc(20px * var(--scale));
  line-height: calc(24px * var(--lh));
}
@media (max-width: 992px) {
  .event .event__container .event__number {
    font-size: calc(14px * var(--scale));
    line-height: calc(18px * var(--lh));
  }
}