.adm-all-news {
  display: flex;
  flex-direction: column;
}
.adm-all-news .adm-all-news__calendar {
  position: relative;
  margin-bottom: 32px;
}
.adm-all-news .adm-all-news__calendar .adm-all-news__calendar-button {
  border-radius: 4px;
  max-width: 480px;
  width: max-content;
}
@media (max-width: 410px) {
  .adm-all-news .adm-all-news__calendar .adm-all-news__calendar-button {
    width: calc(100% - 34px);
  }
}
.adm-all-news .adm-all-news__calendar .adm-all-news__calendar-button .button_span {
  overflow: hidden;
  text-overflow: ellipsis;
}
.adm-all-news .adm-all-news__calendar .adm-all-news__calendar-content {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.0784313725);
  border-radius: 20px;
}
.adm-all-news .adm-all-news__calendar .adm-all-news__calendar-content_active {
  display: block;
  z-index: 1;
}
.adm-all-news .news-main-card {
  margin: 0;
  max-width: none;
}
.adm-all-news .pagination {
  align-self: flex-start;
}
@media (max-width: 992px) {
  .adm-all-news .pagination {
    align-self: center;
  }
}