/*** Finish - Title ***/
.breadcrumbs {
  display: flex;
  align-items: center;
  color: var(--tertiary-text);
  padding: 24px 0 8px;
  gap: 3px;
  box-sizing: border-box;
  font-size: calc(12px * var(--scale));
  line-height: calc(14px * var(--lh));
  font-weight: 500;
}
@media (max-width: 992px) {
  .breadcrumbs {
    font-size: calc(11px * var(--scale));
    line-height: calc(14px * var(--lh));
  }
}
@media (max-width: 768px) {
  .breadcrumbs {
    padding: 16px 0 4px;
  }
}
.breadcrumbs .breadcrumbs__container {
  display: flex;
  gap: 8px;
  overflow: scroll;
  scrollbar-width: none;
}
.breadcrumbs .span {
  color: var(--tertiary-text);
}