/*** Finish - Title ***/
.breadcrumbs {
  display: flex;
  align-items: center;
  color: var(--tertiary-text);
  padding: 20px 0 10px;
  font-size: 14px;
  line-height: 16px;
  gap: 3px;
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
}
.breadcrumbs .breadcrumbs__container {
  display: flex;
  gap: 9px;
  overflow: scroll;
  scrollbar-width: none;
}
.breadcrumbs .span {
  color: var(--tertiary-text);
}

@media screen and (max-width: 1000px) {
  .breadcrumbs {
    padding: 14px 0;
  }
  .breadcrumbs .breadcrumbs__container {
    gap: 8px;
  }
}