@use '../../../../assets/styles/vars.scss' as *;

body.tmp-print {
    .project-generation__top-btns {
        display: none;
    }
}

.project-generation__container {
    color: $main-text;

    .event-card {
        .event-card__container {
            .event-card__description {
                margin: 0 0 32px;
            }

            .event-card__buttons {
                .button_without-text {
                    @include respond-to(sm) {
                        display: none;
                    }
                }
            }
        }
    }
}

.project-generation__main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-generation__main-container,
.project-generation__bottom-container {
    max-width: 867px;
    padding: 32px 0px;
    padding-top: 48px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.project-generation__bottom-container {
    padding: 0px;
}

.project-generation__main-container span {
    @include heading-h3();
}


.project-generation__main-content span {
    @include text-2();
}

.project-generation_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-generation__bottom-container {
    padding-top: 0;
}

.project-generation__top-btns.mb {
    display: none;
}

@include respond-to(sm) {
    .project-generation__main-container {
        padding: 32px 0px;
        padding-top: 24px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}