mixin projects_array(isEdit, type, projects = [])
    .projects-array
        div(class=`projects-array__content ${type}-array__content`)
            if type === 'projects'
                .projects-array__edit-buttons
                    +button({ type: 'button', size: 'm', class: 'button_blue', event: 'addProject()', icon: 'add-outline', iconPosition: 'left', text: `Добавить инициативный проект` })
                    +button({ type: 'button', size: 'm', class: 'button_white', event: 'editProject()', text: `Редактировать текущие` })
            else if type === 'cabinet' 
                    +button({ type: 'button', size: 'm', class: 'button_blue', event: 'addProject()', icon: 'add-outline', iconPosition: 'left', text: `Создать новое обращение` })
            .projects-array__list
                each project in projects 
                    +project_card(isEdit, project)
            if isEdit                     
                .projects-array__save-buttons
                    +button({ type: 'button', size: 'm', class: 'button_blue', event: 'deleteProject()', icon: 'trash-outline', iconPosition: 'left', text: `Удалить` })
                    +button({ type: 'button', size: 'm', class: 'button_white', event: 'cancelEdit()', text: `Отмена` })
