mixin card-content(data)
    .project-card__content 
        if data.checkbox
            +checkbox(data.checkbox)
        .project-card__info 
            h4.project-card__title #{data.title}
            span.project-card__date #{data.date}
            +button(data.tag) 

mixin project_card(isEdit, data)
    if isEdit
        .project-card 
            +card-content(data)
    else 
        if data.href
            a(href=data.href).project-card.project-card_link 
                +card-content(data)
        else    
            .project-card 
                +card-content(data)               
