@use '../../../assets/styles/vars.scss' as *;

.projects-array {
    box-sizing: border-box;
    width: 100%;

    .projects-array__content {
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include respond-to(md) {
            gap: 16px;
        }

        .projects-array__edit-buttons {
            display: flex;
            justify-content: space-between;

            button {
                @include respond-to(sm) {
                    width: 100%;
                    display: flex;
                    justify-content: center
                }
            }
            
        }

        .projects-array__list {
            display: flex;
            flex-direction: column;
            gap: 16px;
            width: 100%;

            @include respond-to(md) {
                gap: 8px;
            }
        }

        .projects-array__save-buttons {
            display: flex;
            gap: 24px;

            @include respond-to(md) {
                gap: 14px;
            }
        }
    }
}