@use '../../../assets/styles/vars.scss' as *;

.project-card {
    display: flex;
    background-color: $cards-background;
    border-radius: 12px;

    .project-card__content {
        display: flex;
        align-items: center;
        gap: 24px;
        @include content-paddings;

        .project-card__info {
            display: flex;
            flex-direction: column;
            align-items: baseline;

            .project-card__title {
                margin: 0;
                padding: 0;
                @include heading-h4;
            }

            .project-card__date {
                margin: 12px 0 24px;
                color: $tertiary-text;
                @include caption-2;

                @include respond-to(sm) {
                    margin: 4px 0 16px;
                }
            }

            .button_span {
                text-transform: uppercase;
            }
        }
    }
}

.project-card_link {
    color: $main-text;

    &:hover {
        background-color: $services-hover;
    }

    &:active {
        background-color: $services-active;
    }
}