.subscribe {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.subscribe__title {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.subscribe__title span {
  color: var(--main-text);
  font-weight: 500;
  font-size: calc(24px * var(--scale));
  line-height: calc(28px * var(--lh));
}
@media (max-width: 992px) {
  .subscribe__title span {
    font-size: calc(16px * var(--scale));
    line-height: calc(20px * var(--lh));
  }
}
.subscribe__subtitle {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.subscribe__subtitle span {
  color: var(--tertiary-text);
  font-weight: 300;
  font-size: calc(16px * var(--scale));
  line-height: calc(20px * var(--lh));
}
@media (max-width: 992px) {
  .subscribe__subtitle span {
    font-size: calc(12px * var(--scale));
    line-height: calc(16px * var(--lh));
  }
}
.subscribe__agree {
  background: var(--cards-background);
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.subscribe__lineform {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.subscribe__fields {
  display: flex;
  gap: 20px;
}
@media (max-width: 992px) {
  .subscribe__fields {
    flex-direction: column;
  }
}

.subscribe__field {
  width: 50%;
}
.subscribe__field__heading {
  font-weight: 500;
  font-size: calc(20px * var(--scale));
  line-height: calc(24px * var(--lh));
}
@media (max-width: 992px) {
  .subscribe__field__heading {
    font-size: calc(14px * var(--scale));
    line-height: calc(18px * var(--lh));
  }
}
@media (max-width: 992px) {
  .subscribe__field {
    width: 100%;
  }
}

.subscribe form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}