@use '../../../../assets/styles/vars.scss' as *;

.solve-problems {
    display: flex;
    flex-direction: column;
    @include main-blocks-paddings;

    .solve-problems__container {
        .solve-problems__banner {
            width: 100%;
        }
    }
}