@use '../../../../assets/styles/vars.scss' as *;

.solve-problems {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;

    @include respond-to(md) {
        margin-bottom: 20px;
    }

    .solve-problems__container {
        .solve-problems__banner {
            width: 100%;
        }
    }
}