include ../../search/_search.pug 
include ../logo/logo
include ../menu/menu
include ../header-links/header-links
include ../socials/header-socials
include ../../../libs/buttons/_buttons.pug 
include ../../../libs/links/_links.pug 
include ../../../libs/search-button/_search-button.pug 
include ../../../libs/inputs/_inputs.pug
include ../../login/main/login
include ../../login/code/login-code
include ../../login/email/login-email
include ../dm-second-menu/dm-second-menu
include ../visibility/visibility

mixin header-duma()
    header.header-duma
        +menu('menu_duma-bg', [
            {
                href: '/',
                title: 'О думе города'
            },
            {
                href: '/',
                title: 'Состав и структура'
            },
            {
                href: '/',
                title: 'Документы'
            },
            {
                href: '/',
                title: 'Деятельность'
            },
            {
                href: '/',
                title: 'Обратная связь'
            },
        ])
        +visibility()
        .header-duma__container
            .header__top-content 
                +logo({
                    href: '/',
                    title: 'Дума Сургута',
                    about: 'Официальный портал',
                })
                +button({ type: 'button', class: 'button_burger', event: 'toggleMenu()', icon: 'menu-outline', size: 'xs', text: '' })
                +search(
                    {name: 'number', size: 's', placeholder: 'Поиск по сайту', type: 'search'},
                        false, 's', 'getValues()', 'header-duma',) 
                .header__buttons  
                    +button({ type: 'button', event:'visibility()', class: 'button_white button__eye', icon: 'eye-outline', size: 'xs', iconPosition: 'left', text: 'Версия для слабовидящих'})               
                    +button({ type: 'button', class: 'button_blue', event: 'anotherFunction()', icon: '', size: 's', text: 'Служебный вход' })             
            .header__bottom-content   
                +header-links([
                    {
                        title: 'О Думе города',
                        onclick: 'toggleSecondMenu(event)',
                    },
                    {
                        title: 'Состав и структура',
                        onclick: 'toggleSecondMenu(event)',
                    },
                    {
                        title: 'Документы',
                        onclick: 'toggleSecondMenu(event)',
                    },
                    {
                        title: 'Деятельность',
                        onclick: 'toggleSecondMenu(event)',
                    },
                    {
                        title: 'Обратная связь',
                        onclick: 'toggleSecondMenu(event)',
                    },
                    ]) 
                +header-socials([
                    {
                        href: '/',
                        class: 'vk_icon-duma'
                    },
                    {
                        href: '/',
                        class: 'ok_icon-duma'
                    },
                    ])
        +second-menu({
            class: 'dm-second-menu_struct',
            columns: [
                {
                    links: [
                        { title: 'Структура', type: 'title', items: [
                            { title: 'Председатель', type: 'link' },
                            { title: 'Руководство', type: 'link' },
                        ]},
                        { title: 'Депутаты', type: 'title' },
                        { title: 'Аппарат Думы города', type: 'title', items: [
                            { title: 'Структура аппарата', type: 'link' },
                            { title: 'Информация о кадровом обеспечении', type: 'link' },
                            { title: 'Телефонный справочник', type: 'link' },
                        ]},
                        { title: 'Молодежная палата', type: 'title', items: [
                            { title: 'Положение', type: 'link' },
                            { title: 'Состав', type: 'link' },
                        ]},
                    ],
                },
                {
                    links: [
                        { title: 'Постоянные комитеты', type: 'title', items: [
                            { title: 'Комитет по бюджету, налогам, финансам и имуществу', type: 'link' },
                            { title: 'Комитет по городскому хозяйству и перспективному развитию города', type: 'link' },
                            { title: 'Комитет по социальной политике', type: 'link' },
                            { title: 'Комитет по нормотворчеству, информационной политике и правопорядку', type: 'link' },
                        ]},
                        { title: 'Депутатские объединения в Думе города', type: 'title', items: [
                            { title: 'Информация о кадровом обеспечении', type: 'link' },
                            { title: 'Телефонный справочник', type: 'link' },
                        ]},
                    ],
                },
            ]
        })
        +second-menu({
            class: 'dm-second-menu_about',
            columns: [
                {
                    links: [
                        { title: 'Новости', type: 'title' },
                        { title: 'Полномочия', type: 'title' },
                        { title: 'Финансы', type: 'title' },
                        { title: 'К сведению средств массовой информации', type: 'title' },
                    ],
                },
                {
                    links: [
                        { title: 'Информация о Сургуте', type: 'title', items: [
                            { title: 'Общие сведения', type: 'link' },
                            { title: 'Контактная информация ', type: 'link' }
                        ]},
                    ],
                },
            ]
        })
        +second-menu({
            class: 'dm-second-menu_doc',
            columns: [
                {
                    links: [
                        { title: 'Устав города', type: 'title' },
                        { title: 'Регламент Думы города', type: 'title' },
                        { title: 'Положения', type: 'title' },
                        { title: 'Порядок проведения публичных слушаний и обсуждения', type: 'title' },
                    ],
                },
                {
                    links: [
                        { title: 'Решения Думы', type: 'title', items: [
                            { title: 'Проекты решений', type: 'link' },
                            { title: 'Порядок обжалования', type: 'link' },
                            { title: 'Требования к подготовке и оформлению', type: 'link' },
                            { title: 'Публичные слушания', type: 'link' },
                        ]},
                    ],
                },
            ]
        })
        +second-menu({
            class: 'dm-second-menu_actions',
            columns: [
                {
                    links: [
                        { title: 'План работы', type: 'title' , items: [
                            { title: 'Заседания Думы города', type: 'link' },
                            { title: 'Заседания постоянных комитетов', type: 'link' },
                            { title: 'Депутатские слушания', type: 'link' },
                            { title: 'Публичные слушания', type: 'link' },
                        ]},
                        { title: 'Антикоррупционная деятельность', type: 'title' },
                    ],
                },
            ]
        }) 
        +second-menu({
            class: 'dm-second-menu_feedbacks',
            columns: [
                {
                    links: [
                        { title: 'Обратная связь', type: 'title' , items: [
                            { title: 'Заседания Думы города', type: 'link' },
                            { title: 'Заседания постоянных комитетов', type: 'link' },
                            { title: 'Депутатские слушания', type: 'link' },
                            { title: 'Публичные слушания', type: 'link' },
                        ]},
                        { title: 'Антикоррупционная деятельность', type: 'title' },
                    ],
                },
            ]
        })      
    +login()  
    +login-code()   
    +login-email()                         