include ../../search/_search.pug 
include ../logo/logo
include ../menu/menu
include ../header-links/header-links
include ../socials/header-socials
include ../../../libs/buttons/_buttons.pug 
include ../../../libs/links/_links.pug 
include ../../../libs/search-button/_search-button.pug 
include ../../../libs/inputs/_inputs.pug
include ../../login/main/login
include ../../login/code/login-code
include ../../login/email/login-email
include ../dm-second-menu/dm-second-menu

mixin header-duma()
    header.header-duma
        +menu('menu_duma-bg', [
            {
                href: '/',
                title: 'О думе города'
            },
            {
                href: '/',
                title: 'Состав и структура'
            },
            {
                href: '/',
                title: 'Документы'
            },
            {
                href: '/',
                title: 'Деятельность'
            },
            {
                href: '/',
                title: 'Обратная связь'
            },
        ])
        .header-duma__container
            .header__top-content 
                +logo({
                    href: '/',
                    title: 'Дума Сургута',
                    about: 'Официальный портал',
                })
                +button({ type: 'button', class: 'button_burger', event: 'toggleMenu()', icon: 'menu-outline', size: 'xs', text: '' })
                +search(
                    {name: 'number', size: 's', placeholder: 'Поиск по сайту', type: 'search'},
                        false, 's', 'getValues()', 'header-duma',) 
                .header__buttons  
                    +button({ type: 'link', href: '/', class: 'button_white button__eye', icon: 'eye-outline', size: 'xs', iconPosition: 'left', text: 'Версия для слабовидящих'})               
                    +button({ type: 'button', class: 'button_blue', event: 'anotherFunction()', icon: '', size: 's', text: 'Служебный вход' })             
            .header__bottom-content   
                +header-links([
                    {
                        title: 'О Думе города',
                        onclick: 'toggleSecondMenu(event)'
                    },
                    {
                        title: 'Состав и структура',
                        onclick: 'toggleSecondMenu(event)'
                    },
                    {
                        title: 'Документы',
                        onclick: 'toggleSecondMenu(event)'
                    },
                    {
                        title: 'Деятельность',
                        onclick: 'toggleSecondMenu(event)'
                    },
                    {
                        title: 'Обратная связь',
                        onclick: 'toggleSecondMenu(event)'
                    },
                    ]) 
                +header-socials([
                    {
                        href: '/',
                        class: 'vk_icon-duma'
                    },
                    {
                        href: '/',
                        class: 'ok_icon-duma'
                    },
                    ])
        +about-dm-links({ class: 'dm-second-menu_about' }) 
        +struct-dm-links({ class: 'dm-second-menu_struct' }) 
        +doc-dm-links({ class: 'dm-second-menu_doc' })   
        +actions-dm-links({ class: 'dm-second-menu_actions' })        
    +login()  
    +login-code()   
    +login-email()                         