mixin archive-dm()
    .archive-dm
        .archive-dm__container 
            +archive-card()
            a(class='archive-dm__link')
                img(class='archive-dm__image' alt='Превью' src='../resources/hearing.jpg')
            a(class='archive-dm__link')
                img(class='archive-dm__image' alt='Превью' src='../resources/hearing.jpg')    

