include ../_form-field.pug 
include ../../../libs/checkbox/_checkbox.pug 
include ../../../libs/textarea/_textarea.pug 
include ../../../libs/inputs/_inputs.pug 

+form-field(
    {
        type: 'radio',
        title: '1. Предполагается возможность финансового участия соответствующих заинтересованных лиц в реализации инициативного проекта?', 
        checkboxes: [
            { id: 1, text: 'Да', sort: 'radio' },
            { id: 2, text: 'Нет', sort: 'radio' },
            ],
    }
    ) 
+form-field(
    {
        type: 'checkbox',
        title: '2. Предполагается возможность финансового участия соответствующих заинтересованных лиц в реализации инициативного проекта?', 
        checkboxes: [
            { id: 3, text: 'Первый вариант' },
            { id: 4, text: 'Второй вариант' },
            { id: 5, text: 'Третий вариант' },
            ],
        }
    )
+form-field(
    {
        title: '3. Предполагается возможность финансового участия соответствующих заинтересованных лиц в реализации инициативного проекта?',
        span: 'Вспомогательный текст',
        error: false,
        options: {
        placeholder: 'Введите ваш ответ',
        }
    }
    )
+form-field(
    {
        type: 'textarea',
        title: '4. Предполагается возможность финансового участия соответствующих заинтересованных лиц в реализации инициативного проекта?',
        span: 'Вспомогательный текст',
        error: false,
        options: {
            placeholder: 'Введите ваш ответ',
                }
    })