/*** Finish - Title ***/
.afisha-events .afisha-events__container .afisha-events__news {
  display: grid;
  grid-template-columns: repeat(4, calc((100% - 72px) / 4));
  gap: 24px;
  margin-bottom: 56px;
}
@media screen and (max-width: 1000px) {
  .afisha-events .afisha-events__container .afisha-events__news {
    gap: 8px;
    grid-template-columns: repeat(3, calc((100% - 24px) / 3));
  }
}
@media screen and (max-width: 600px) {
  .afisha-events .afisha-events__container .afisha-events__news {
    gap: 12px;
    grid-template-columns: 100%;
    justify-items: center;
  }
}