body {
  --services-hover: #f2f3f5;
  --services-active: #e3e4e7;
  --cards-background: #fafafa;
  --grey-adm: #fafafa;
  --event-color: #e7edfb;
  --event-color-hover: #e7edfb;
  --primary-color: #004cc4;
  --primary-color-hover: #0a5fe7;
  --primary-color-active: #003ea2;
  --primary-color-disabled: #c2d8ff;
  --primary-color-green: #14bc30;
  --primary-color-green-hover: #10cd30;
  --primary-color-green-click: #0c9022;
  --primary-color-green-disabled: #dbdbdb;
}
body.tmp-duma {
  --services-hover: #f0eee2;
  --services-active: #e7e5d7;
  --cards-background: #f7f6ef;
  --grey-adm: #f7f6ef;
  --event-color: #e9e4d2;
  --event-color-hover: #bfb797;
  --primary-color: #0d6cba;
  --primary-color-hover: #288cde;
  --primary-color-active: #0c5591;
  --primary-color-disabled: #90bbde;
  --primary-color-green: #a78818;
  --primary-color-green-hover: #c9a41d;
  --primary-color-green-click: #856b0f;
  --primary-color-green-disabled: #bda964;
}

/*** Finish - Title ***/
.afisha-events .afisha-events__container .afisha-events__news {
  display: grid;
  grid-template-columns: repeat(4, calc((100% - 72px) / 4));
  gap: 24px;
  margin-bottom: 56px;
}
@media screen and (max-width: 1000px) {
  .afisha-events .afisha-events__container .afisha-events__news {
    gap: 8px;
    grid-template-columns: repeat(3, calc((100% - 24px) / 3));
  }
}
@media screen and (max-width: 600px) {
  .afisha-events .afisha-events__container .afisha-events__news {
    gap: 12px;
    grid-template-columns: 100%;
    justify-items: center;
  }
}