include ../../libs/buttons/_buttons.pug

mixin people-care-card(data)
    .people-care-card
        .people-care-card__container
            h2.people-care-card__title #{data.title}
            +button({ type: 'link', iconPosition: 'right', size: 'm', href: '/about', class: 'button_blue', icon: 'arrow-forward', text: 'Подробнее'})
