include ../../libs/buttons/_buttons.pug

mixin people-care-card(data)
    div(class=`people-care-card ${data.background}`)
        if data.image
            ion-icon(name=`${data.image}` class=`icon people-care-card__icon`)
        else
            img(src='../icons/footer-logo_icon.svg' class='people-care-card__logo')      
        .people-care-card__container
            .people-care-card__text-block
                h2.people-care-card__title #{data.title}
                if data.desc
                    span.people-care-card__desc #{data.desc}
            +button({ type: 'link', iconPosition: 'right', size: 'm', href: '/about', class: 'button_blue people-care-card__button', icon: 'arrow-forward', text: 'Подробнее'})
