@use '../../../assets/styles/vars.scss' as *;

.people-care-card {
    max-width: 421px;
    width: 100%;
    min-height: 320px;
    border-radius: 12px;
    background-repeat: no-repeat;
    background: $finance-color;
    align-content: end;

    @media (max-width: 1000px) {
        min-height: 214px;
    }

    .people-care-card__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 32px;
        padding: 32px;

        @media (max-width: 1000px) {
            padding: 16px;
            gap: 13px;
        }

        .people-care-card__title {
            @include heading-h2;
            color: $content-color;
        }
    }
}