include ../../title/_title.pug

 +title({
        title: 'Инициативный проект'
        })
table
    thead.project-table
        tr
        th №
        th Наименование и цели инициативного проекта
        th Ответ
    tbody
        each item, index in ["Ответ на вопрос 1", "Ответ на вопрос 2", "Ответ на вопрос 3", "Ответ на вопрос 4", "Ответ на вопрос 5", "Ответ на вопрос 6"]
            tr
                td #{index + 1}
                td Описание проблемы, решение которой имеет приоритетное значение для жителей города Сургута или его части (в том числе обоснование ее актуальности и приоритетности для жителей соответствующей территории)
                td #{item}