include ../../chronicle/chronicle
include ../event/_event
include ../../chronicle/calendar/calendar
include ../../pagination/_navigation
include ../../filters/filters

mixin dm-afisha()
    .dm-afisha
        .dm-afisha__container
            .dm-filter__btn
                +button({ type: 'button', size: 'm', class: 'button_white dm-filter__button', icon: 'funnel-outline', iconPosition: 'left', text: 'Фильтры'})     
            .dm-calendar__btn
                +button({ type: 'button', class: 'button_white dm-calendar__button', iconPosition: 'left', icon: 'calendar-number-outline', text: "Календарь"})                    
            +filters()
            +chronicle()