@use '../../../../assets/styles/vars.scss' as *;

.board__content {
    display: flex;
    flex-direction: column;
}

.board-elem {
    display: flex;
    max-width: 1305px;
    width: 100%;
    border-radius: 12px;
    background-color: #fafafa;
    margin-top: 16px;
    @media (max-width: 500px) {
        margin-top: 8px;
    }
}

.board-elem__img  {
    max-width: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
    height: 100%;

    @media (max-width: 500px) {
        width: 100%;
        max-width: unset;
    }
}

.board-elem__container {
    display: flex;
    padding: 20px;
    gap: 40px;
    width: 100%;

    @media (max-width: 768px) {
        gap: 20px;
    }

    @media (max-width: 500px) {
        flex-direction: column;
        gap: 20px;
    }
}

.board-elem__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.board-elem__info-date span {
    color: $main-text;
    @include caption-2();
}

.board-elem__info-text span {
    color: $main-text;
    @include lead-2();
}