include ./board.pug

+board([
            {img:"kirilenko_avatar.png", info: "О предоставлении субсидии субъекту малого и среднего предпринимательства", date:"19.06.2023", href:"#"},
            {img:"kirilenko_avatar.png", info: "О внесении изменения в постановление Администрации города от 28.11.2022 № 9334 «Об утверждении календарного плана физкультурных мероприятий и спортивных мероприятий муниципального образования городской округ Сургут Ханты-Мансийского автономного округа – Югры на 2023 год»", date:"19.06.2023", href:"#"},
            {img:"kirilenko_avatar.png", info: "О предоставлении субсидии субъекту малого и среднего предпринимательства", date:"19.06.2023", href:"#"},
            {img:"kirilenko_avatar.png", info: "О предоставлении субсидии субъекту малого и среднего предпринимательства", date:"19.06.2023", href:"#"},
            {img:"kirilenko_avatar.png", info: "О внесении изменения в постановление Администрации города от 28.11.2022 № 9334 «Об утверждении календарного плана физкультурных мероприятий и спортивных мероприятий муниципального образования городской округ Сургут Ханты-Мансийского автономного округа – Югры на 2023 год»", date:"19.06.2023", href:"#"},
            {img:"kirilenko_avatar.png", info: "О предоставлении субсидии субъекту малого и среднего предпринимательства", date:"19.06.2023", href:"#"},
            {img:"kirilenko_avatar.png", info: "О предоставлении субсидии субъекту малого и среднего предпринимательства", date:"19.06.2023", href:"#"},
            {img:"kirilenko_avatar.png", info: "О внесении изменения в постановление Администрации города от 28.11.2022 № 9334 «Об утверждении календарного плана физкультурных мероприятий и спортивных мероприятий муниципального образования городской округ Сургут Ханты-Мансийского автономного округа – Югры на 2023 год»", date:"19.06.2023", href:"#"},
            {img:"kirilenko_avatar.png", info: "О предоставлении субсидии субъекту малого и среднего предпринимательства", date:"19.06.2023", href:"#"},
            {img:"kirilenko_avatar.png", info: "О предоставлении субсидии субъекту малого и среднего предпринимательства", date:"19.06.2023", href:"#"},
            {img:"kirilenko_avatar.png", info: "О внесении изменения в постановление Администрации города от 28.11.2022 № 9334 «Об утверждении календарного плана физкультурных мероприятий и спортивных мероприятий муниципального образования городской округ Сургут Ханты-Мансийского автономного округа – Югры на 2023 год»", date:"19.06.2023", href:"#"},
            {img:"kirilenko_avatar.png", info: "О предоставлении субсидии субъекту малого и среднего предпринимательства", date:"19.06.2023", href:"#"},
        ])