@use '../../../../assets/styles/vars.scss' as *;

.dm-applications {
    display: flex;
    flex-direction: column;

    .dm-applications__container {
        display: flex;
        flex-direction: column;
        max-width: 978px;
        width: 100%;

        .dm-applications__list {
            .dm-applications__item {
                @include text-2;
            }
        }

        .dm-applications__form {
            .dm-applications__title {
                @include heading-h3;
            }

            .dm-applications__get-answer {
                margin-top: 18px;
            }
        }

        .dm-applications__buttons {
            display: flex;
            flex-direction: column;
            margin-top: 32px;

            .dm-applications__agreement {
                display: flex;
                align-items: center;
                gap: 20px;
                margin: 48px 0 48px;
                @include text-2;

                .dm-applications__span {
                    font-weight: 600;
                }

                .dm-applications__link {
                    text-decoration: underline;
                    color: $main-text;
                    font-weight: 300;
                }
            }
        }
    }
}

.dm-applications__divider {
    width: 100%;
    border: 1px solid $fourth-text-inverse;
    margin-top: 34px;
}