include ../../../libs/buttons/_buttons.pug 
include documents-dumalist.pug

+duma-filelist([
    {title:"№ 371-VII ДГ от 20.06.2023", description:"Описание", href:"#"},
    {title:"№ 371-VII ДГ от 20.06.2023", description:"Описание", href:"#"},
    {title:"№ 371-VII ДГ от 20.06.2023", description:"Описание", href:"#"},
])
