mixin about-partners()
    .about-partners   
        .full-width-container
            .full-width-background
                .full-width-content 
                    .about-partners__container
                        +title({
                            title: 'Партнеры и города побратимы'
                        })
                        .about-partners__list
                            +about-partner-card({
                                title: 'Залаэгерсег',
                                image: 'flag_hungary.svg',
                                caption: 'Венгрия',
                            }) 
