mixin about-partners()
    .about-partners   
        .full-width-container
            .full-width-background
                .full-width-content 
                    .about-partners__container
                        +title({
                            title: 'Партнеры и города побратимы'
                        })
                        .about-partners__list
                            .about-partners__row
                                +about-partner-card({
                                    title: 'Залаэгерсег',
                                    image: 'flag_hungary.svg',
                                    caption: 'Венгрия',
                                }) 
                                +about-partner-card({
                                    title: 'Катерини',
                                    image: 'flag_hungary.svg',
                                    caption: 'Греция',
                                }) 
                                +about-partner-card({
                                    title: 'Порвоо',
                                    image: 'flag_hungary.svg',
                                    caption: 'Финляндия',
                                }) 
                                +about-partner-card({
                                    title: 'Гомель',
                                    image: 'flag_hungary.svg',
                                    caption: 'Республика Беларусь',
                                }) 
                                +about-partner-card({
                                    title: 'Кишинев',
                                    image: 'flag_hungary.svg',
                                    caption: 'Республика Молдова',
                                }) 
                                +about-partner-card({
                                    title: 'Кишинев',
                                    image: 'flag_hungary.svg',
                                    caption: 'Республика Молдова',
                                }) 
                                +about-partner-card({
                                    title: 'Кишинев',
                                    image: 'flag_hungary.svg',
                                    caption: 'Республика Молдова',
                                }) 
                                +about-partner-card({
                                    title: 'Кишинев',
                                    image: 'flag_hungary.svg',
                                    caption: 'Республика Молдова',
                                }) 
                            .about-partners__row    
                                +about-partner-card({
                                    title: 'Петрозаводск',
                                    image: 'flag_hungary.svg',
                                    caption: 'Республика Карелия',
                                }) 
                                +about-partner-card({
                                    title: 'Тобольск',
                                    image: 'flag_hungary.svg',
                                    caption: 'Тюменская область',
                                }) 
                                +about-partner-card({
                                    title: 'Новосибирск',
                                    image: 'flag_hungary.svg',
                                    caption: 'Новосибирская область',
                                }) 
                                +about-partner-card({
                                    title: 'Псков',
                                    image: 'flag_hungary.svg',
                                    caption: 'Псковская областть',
                                }) 
                                +about-partner-card({
                                    title: 'Альметьевск',
                                    image: 'flag_hungary.svg',
                                    caption: 'Республика Татарстан',
                                }) 
