@use '../../../../assets/styles/vars.scss' as *;

.about-partners {


    .full-width-content {
        position: relative;
        overflow: hidden;
    }

    .about-partners__bg {
        position: absolute;
        bottom: 0;
        right: 0;

    }

    .about-partners__container {
        padding: 40px 0;

        .title {
            position: relative;
            max-width: 866px;
            margin: 0 auto 80px;
            z-index: 2;

        }

        .about-partners__list {
            display: flex;
            flex-direction: column;
            gap: 24px;
            position: relative;

            .about-partners__row {
                display: flex;
                gap: 24px;
                flex-wrap: nowrap;
                width: 100%;
            }
        }
    }
}

.about-partners__row {
    animation: scroll 15s infinite linear;
    // animation: startLine 15s linear, marquee 15s linear 15s infinite;


    &:hover {
        animation-play-state: paused;
    }
}

.about-partners__row:hover .about-partner-card {
    cursor: pointer;
}

@keyframes scroll {
    0% {
        transform: translate(100%);
    }

    100% {
        transform: translate(-120%)
    }
}

// @keyframes startLine {
//     0% {
//         transform: translateX(-100%);
//     }

//     100% {
//         transform: translateX(-50%);
//     }
// }

// @keyframes marquee {
//     0% {
//         transform: translateX(-50%);
//     }

//     100% {
//         transform: translateX(0%);
//     }
// }