mixin about-partners()
    .about-partners   
        .full-width-container
            .full-width-background
                .full-width-content
                    img(src='../resources/about_partners_bg.svg').about-partners__bg
                    .about-partners__container
                        +title({
                            title: 'Партнеры и города побратимы'
                        })
                        .about-partners__list
                            .about-partners__marquee(id='about-partners__row')
                                .about-partners__row
                                    +about-partner-card({
                                        title: 'Чаоян',
                                        image: 'china.svg',
                                        caption: 'Китай',
                                        text: 'Побратим'
                                    }) 
                                    +about-partner-card({
                                        title: 'Залаэгерсег',
                                        image: 'flag_hungary.svg',
                                        caption: 'Венгрия',
                                        text: 'Побратим'
                                    }) 
                                    +about-partner-card({
                                        title: 'Катерини',
                                        image: 'greece.svg',
                                        caption: 'Греция',
                                        text: 'Побратим'
                                    }) 
                                    +about-partner-card({
                                        title: 'Порвоо',
                                        image: 'finland.svg',
                                        caption: 'Финляндия',
                                        text: 'Побратим'
                                    }) 
                                    +about-partner-card({
                                        title: 'Гомель',
                                        image: 'belarus.svg',
                                        caption: 'Республика Беларусь',
                                        text: 'Побратим'
                                    }) 
                                    +about-partner-card({
                                        title: 'Кишинев',
                                        image: 'moldova.svg',
                                        caption: 'Республика Молдова',
                                        text: 'Побратим'
                                    })
                                    +about-partner-card({
                                        title: 'Чаоян',
                                        image: 'china.svg',
                                        caption: 'Китай',
                                        text: 'Побратим'
                                    }) 
                                    +about-partner-card({
                                        title: 'Залаэгерсег',
                                        image: 'flag_hungary.svg',
                                        caption: 'Венгрия',
                                        text: 'Побратим'
                                    }) 
                                    +about-partner-card({
                                        title: 'Катерини',
                                        image: 'greece.svg',
                                        caption: 'Греция',
                                        text: 'Побратим'
                                    }) 
                                    +about-partner-card({
                                        title: 'Порвоо',
                                        image: 'finland.svg',
                                        caption: 'Финляндия',
                                        text: 'Побратим'
                                    }) 
                                    +about-partner-card({
                                        title: 'Гомель',
                                        image: 'belarus.svg',
                                        caption: 'Республика Беларусь',
                                        text: 'Побратим'
                                    }) 
                                    +about-partner-card({
                                        title: 'Кишинев',
                                        image: 'moldova.svg',
                                        caption: 'Республика Молдова',
                                        text: 'Побратим'
                                    })  
                            .about-partners__marquee(id='about-partners__row-reverse')         
                                .about-partners__row
                                    +about-partner-card({
                                        title: 'Суздаль',
                                        image: 'suzdal.svg',
                                        caption: 'Владимирская область',
                                        text: 'Партнер'
                                    })    
                                    +about-partner-card({
                                        title: 'Петрозаводск',
                                        image: 'petrozavodsk.svg',
                                        caption: 'Республика Карелия',
                                        text: 'Партнер'
                                    }) 
                                    +about-partner-card({
                                        title: 'Тобольск',
                                        image: 'tumen.svg',
                                        caption: 'Тюменская область',
                                        text: 'Партнер'
                                    }) 
                                    +about-partner-card({
                                        title: 'Новосибирск',
                                        image: 'novosibirsk.svg',
                                        caption: 'Новосибирская область',
                                        text: 'Партнер'
                                    }) 
                                    +about-partner-card({
                                        title: 'Псков',
                                        image: 'pskov.svg',
                                        caption: 'Псковская областть',
                                        text: 'Партнер'
                                    }) 
                                    +about-partner-card({
                                        title: 'Альметьевск',
                                        image: 'tatarstan.svg',
                                        caption: 'Республика Татарстан',
                                        text: 'Партнер'
                                    }) 
                                    +about-partner-card({
                                        title: 'Сибай',
                                        image: 'sibai.svg',
                                        caption: 'Республика Башкортостан',
                                        text: 'Партнер'
                                    }) 
                                    +about-partner-card({
                                        title: 'Калининский район',
                                        image: 'kalinin.svg',
                                        caption: 'Санкт-Петербург',
                                        text: 'Партнер'
                                    }) 
                                    +about-partner-card({
                                        title: 'Салават',
                                        image: 'salavat.svg',
                                        caption: 'Республика Башкортостан',
                                        text: 'Партнер'
                                    }) 
                                    +about-partner-card({
                                        title: 'Омск',
                                        image: 'omsk.svg',
                                        caption: 'Омская область',
                                        text: 'Партнер'
                                    }) 
                                    +about-partner-card({
                                        title: 'Сочи',
                                        image: 'sochi.svg',
                                        caption: 'Краснодарский край',
                                        text: 'Партнер'
                                    }) 
