/*** Finish - Title ***/
.hearing-list {
  padding: 40px 0 0 0;
}
@media (max-width: 1000px) {
  .hearing-list {
    padding: 16px 0 0 0;
  }
}
.hearing-list h3 {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}
@media (max-width: 992px) {
  .hearing-list h3 {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 1000px) {
  .hearing-list h3 {
    margin-bottom: 16px;
  }
}

.hearing-list-items {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
@media (max-width: 1000px) {
  .hearing-list-items {
    gap: 12px;
  }
}

.hearing-item {
  flex: 0 0 calc(50% - 12px);
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
  border-radius: 12px;
  background: #ebedf4;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
@media (max-width: 1000px) {
  .hearing-item {
    font-size: 10px;
    line-height: 14px;
  }
}
@media (max-width: 1000px) {
  .hearing-item {
    flex: 0 0 100%;
  }
}
.hearing-item-title {
  height: 100px;
  display: block;
  overflow: hidden;
}
.hearing-item-title span {
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
@media (max-width: 992px) {
  .hearing-item-title span {
    font-size: 12px;
    line-height: 16px;
  }
}
@media (max-width: 1000px) {
  .hearing-item-title {
    height: 104px;
  }
}
.hearing-item-content {
  flex: 1;
  padding: 20px;
}
@media (max-width: 1000px) {
  .hearing-item-content {
    padding: 16px;
  }
}
.hearing-item img {
  height: 362px;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 1000px) {
  .hearing-item img {
    height: 188px;
  }
}
.hearing-item-labels {
  display: flex;
}
.hearing-item-labels-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.hearing-item-labels-item .hearing-item-span-title {
  color: #78839c;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}
@media (max-width: 992px) {
  .hearing-item-labels-item .hearing-item-span-title {
    font-size: 10px;
    line-height: 14px;
  }
}
.hearing-item-labels-item .hearing-item-span-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
@media (max-width: 992px) {
  .hearing-item-labels-item .hearing-item-span-desc {
    font-size: 12px;
    line-height: 16px;
  }
}
.hearing-item-labels-item:first-child {
  padding-right: 24px;
}
.hearing-item-link {
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
}
.hearing-item-link .hearing-card_button {
  position: absolute;
  top: 12px;
  left: 12px;
}
.hearing-item-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
}