include ../../_news-card-with-image
include ../../_news-card-without-image

.news 
    .news__container
        +news-card-with-image()
        .news__list    
            +news-card-without-image()
            +news-card-without-image()
            +news-card-without-image()
            +news-card-without-image()