@use '../../../../assets/styles/vars.scss' as *;

.about-video-list {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, calc((100% - 40px)/2));
    margin-top: 64px;
    align-items: flex-start;

    @include respond-to(md) {
        margin-top: 32px;
    }

    @include respond-to(sm) {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .about-video-list__desc {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include respond-to(md) {
            gap: 8px;
        }

        .about-video-list__title {
            padding: 0;
            @include heading-h4;
        }

        .about-video-list__text {
            margin: 0;
            @include text-2;
        }
    }

    .about-video {
        max-height: 420px;
    }
}