mixin about-video-list()
    .about-video-list(id='about-video-list')
        .about-video-list__desc
            h4.about-video-list__title Видеоролики к 430-летию со дня основания города Сургута
            p.about-video-list__text К 430-летию со дня основания города 
                b Сургутский краеведческий музей подготовил цикл видеороликов 
                | (7 видеороликов), направленных на знакомство горожан и гостей Сургута с его древней и современной историей, с уникальными городскими архитектурными объектами, отражающими становление и развитие северного города.
        .about-video
            video#video-player(controls width='100%' height='100%')
                source#video-source(src="./resources/SKM1.mp4" type="video/mp4")