include ../dm-comitet-elem/dm-comitet-elem

mixin dm-comitet(main = {}, helpers = [], members = []) 
    .dm-comitet 
        .dm-comitet__content
            .dm-comitet__main
                span.dm-comitet__title Председатель
                .dm-comitet__elems
                    +dm-comitet-elem(main)
            .dm-comitet__helpers 
                span.dm-comitet__title Заместители
                .dm-comitet__elems
                    each item in helpers 
                        +dm-comitet-elem(item) 
            .dm-comitet__members
                span.dm-comitet__title Члены коммитета
                .dm-comitet__elems
                    each item in members 
                        +dm-comitet-elem(item) 
        .dm-comitet__info 
            span.dm-comitet__title Направления деятельности постоянного комитета Думы города по бюджету, налогам, финансам и имуществу:
            ul 
                li бюджет и бюджетный процесс в городском округe;
                li местные налоги и сборы, включая налоговые льготы;
                li имущество, находящееся в муниципальной собственности;
                li создание, реорганизация и ликвидация муниципальных предприятий и учреждений;
                li нормативы отчисления в доход местного бюджета части прибыли муниципальных предприятий, а также части доходов муниципальных учреждений от оказания ими платных услуг;
                li заемные средства городского округа, в том числе выпуск муниципальных ценных бумаг;
                li межмуниципальные хозяйственные общества и некоммерческие организации, автономные некоммерческие организации и фонды;
                li муниципальные минимальные стандарты и другие нормативы расходов местного бюджета на решение вопросов местного значения;
                li цены и тарифы на товары и услуги организаций коммунального комплекса для потребителей;
                li иные направления деятельности, отнесенные Уставом города, Думой города к предметам ведения комитета.