@use '../../../../assets/styles/vars.scss' as *;

.dm-comitet-elem__img {
    max-width: 72px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
    height: 100%;
    max-height: 72px;
}

.dm-comitet-elem {
    display: flex;
    max-width: 310px;
    width: 100%;
    background-color: $grey-adm;
    border-radius: 12px;
    text-decoration: none;

    @include respond-to(md) {
        max-width: 237px;
    }

    @include respond-to(xs) {
        max-width: none;
    }
}

.dm-comitet-elem:hover {
    background-color: $services-hover;
}

.dm-comitet-elem:active {
    background-color: $services-active;
}

.dm-comitet-elem__container {
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.dm-comitet-elem__info {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media (max-width:768px) {
        gap: 8px;
    }
}

.dm-comitet-elem__info-surname {
    @include lead-3;
}

.dm-comitet-elem__info-surname span {
    color: $main-text;
    text-decoration: none;
    font-weight: $font-weight-medium;
}

.dm-comitet-elem__info-name {
    @include caption-4;
}

.dm-comitet-elem__info-name span {
    color: $tertiary-text;
}

.dm-comitet__title {
    @include heading-h4();
}

.dm-comitet__content {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media (max-width:768px) {
        gap: 24px;
    }
}

.dm-comitet__elems {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
    margin-top: 24px;

    @media (max-width:768px) {
        margin-top: 16px;
        gap: 8px;
    }
}

.dm-comitet__info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 48px 0 0;

    @media (max-width:768px) {
        padding: 24px 0;
    }
}

.dm-comitet__info li {
    @include text-1();
}