.init-projects-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.init-projects-title .title {
  width: unset;
}
.init-projects-title button {
  margin: 16px 0px 24px;
}

.init-projects__map {
  position: relative;
  width: 100%;
  height: 450px;
}
.init-projects__map .leaflet-control-zoom a:hover {
  text-decoration: none;
}
.init-projects__map .tabs-tag {
  position: absolute;
  justify-content: center;
  bottom: 0;
  z-index: 1010;
  margin: 0 20px;
  padding: 0 60px;
  left: 0;
  right: 0;
}
.init-projects__map .tabs-tag .tab-button {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 8px;
  border: none;
  font-weight: 400;
  font-size: calc(16px * var(--scale));
  line-height: calc(20px * var(--lh));
}
@media (max-width: 992px) {
  .init-projects__map .tabs-tag .tab-button {
    font-size: calc(12px * var(--scale));
    line-height: calc(16px * var(--lh));
  }
}
.init-projects__map iframe {
  height: 100%;
  border-radius: 8px;
}
@media (max-width: 992px) {
  .init-projects__map {
    height: 303px;
  }
}
.init-projects__map .slick-arrow {
  all: unset;
  color: transparent;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.0784313725);
  width: 40px;
  height: 40px;
  background: url(../icons/slider_arrow.svg) no-repeat center;
  background-color: var(--content-color);
  z-index: 2;
  bottom: 10px;
  cursor: pointer;
}
.init-projects__map .slick-arrow:hover {
  opacity: 0.9;
}
.init-projects__map .slick-prev {
  left: 0;
}
.init-projects__map .slick-next {
  right: 0;
  background: url(../icons/slider_arrow_right.svg) no-repeat center;
  background-color: var(--content-color);
}

.init-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.init-projects .init-projects__list {
  display: grid;
  grid-template-columns: repeat(3, calc((100% - 40px) / 3));
  gap: 20px;
  width: 100%;
}
@media (max-width: 992px) {
  .init-projects .init-projects__list {
    grid-template-columns: repeat(2, calc((100% - 8px) / 2));
    gap: 8px;
  }
}
@media (max-width: 768px) {
  .init-projects .init-projects__list {
    grid-template-columns: 100%;
  }
}