@use '../../../../assets/styles/vars.scss' as *;

body.tmp-duma {
    .header__link {
        padding-bottom: 20px;
        border-bottom: 1px solid transparent;

        &:hover {
            color: $main-text;
            border-color: $primary-color-green-hover;
        }

        &:active {
            border-color: $primary-color-green-click;
        }

        &_active {
            border-color: $primary-color-green-hover;
        }
    }
}

.header_links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    @include respond-to(md) {
        display: none;
    }

    .header__link {
        text-decoration: none;
        color: $main-text;
        cursor: pointer;
        @include lead-6;

        &_active {
            border-bottom: 1px solid $primary-color-green-hover;
        }

        &:hover {
            color: $primary-color;
        }
    }
}