/*** Finish - Title ***/
.short-filelist .file-line {
  text-decoration: none;
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: var(--grey-adm);
  border-radius: 8px;
  margin-bottom: 12px;
}
.short-filelist .file-line {
  color: var(--second-text);
  font-weight: 400;
  font-size: calc(16px * var(--scale));
  line-height: calc(20px * var(--lh));
}
@media (max-width: 992px) {
  .short-filelist .file-line {
    font-size: calc(12px * var(--scale));
    line-height: calc(16px * var(--lh));
  }
}
.short-filelist .file-line:last-child {
  margin-bottom: 0;
}
.short-filelist .file-line:hover {
  background: var(--services-hover);
}
@media (max-width: 768px) {
  .short-filelist .file-line {
    padding: 16px 20px;
  }
}
.short-filelist .file-line ion-icon {
  font-size: 32px;
  color: var(--primary-color);
  margin-right: 16px;
}
@media (max-width: 768px) {
  .short-filelist .file-line ion-icon {
    font-size: 28px;
  }
}

.toggle-content-footer .file-line {
  margin-bottom: 0;
}