include ../dm-struct-card/dm-struct-card

mixin dm-struct()
    .dm-struct
        .dm-struct__main 
            .dm-struct__main-container
                .dm-struct__main-first
                    +dm-struct-card("Председатель Думы")
                .dm-struct__main-second
                    each item in ["Заместитель председателя Думы", "Заместитель председателя Думы"]
                        +dm-struct-card(item)
                .dm-struct__main-third
                    each item in ["Комитет по бюджету, налогам, финансам и имуществу", "Комитет по городскому хозяйству и перспективному развитию города", "Комитет по социальной политике", "Комитет по нормотворчеству, информационной политике и правопорядку"]
                        +dm-struct-card(item)
                .dm-struct__main-fourth
                    +dm-struct-card("Аппарат Думы Сургута")
        .dm-struct__bottom