mixin dm-about-map()
    .dm-about-block 
        .dm-about-geo
            iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa65e03779dbb316f63969b3ec0916ac6a87857cd0ea34f3e5ca4e333ba59da38&amp;source=constructor")
