mixin question()
    +title({
        title: '№1 "Об исполнении бюджета городского округа Сургут ХантыМансийского автономного округа – Югры за 2022 год."',
        description: "В рамках 18-го заседания Думы Города"
    })
    .question-fields
        .field 
            .label Готовит
            | Администрация города
        .field 
            .label Докладывает
            | Новикова Маргарита Александровна, директор департамента финансов Администрации города
    h5 Проект решения
    +short-filelist([{title:"Инструкция - Проект ", href:"#"}])
    h5 Пояснительные записки
    +short-filelist([{title:"Инструкция - записки ", href:"#"}])
    h5 Приложения
    +short-filelist([{title:"Инструкция - Регистрация ", href:"#"}, {title:"Пояснение - Регистрация ", href:"#"}])
    h5 Заключения
    +short-filelist([{title:"Инструкция - Заключения ", href:"#"}])