mixin about-today()
    .about-today 
        p.about-title Сургут сегодня
            p Развитие города обусловлено рядом благоприятных условий. Сургут занимает выгодное экономико-транспортно-географическое положение: он расположен на пересечении железнодорожной магистрали с мощной водной артерией - рекой Обью. Город превратился в значительный транспортный узел: через него проходят железная дорога, автомагистраль, здесь расположены международный аэропорт и речной порт. Развит трубопроводный транспорт (крупнейший узел нефте- и газопроводов).
            .about-history-elem 
                img(src='./resources/about_earth_2.svg').about-history-elem__img
                span Сегодня Сургут - крупнейший промышленный и культурный центр Ханты-Мансийского автономного округа - Югры, Тюменской области, один из главных центров нефтедобывающей промышленности России. Его называют 
                    b столицей нефтяного края, индустриальным и энергетическим сердцем Севера.
            .about-today__hidden
                p По насыщенности автомобильным транспортом Сургут занимает одно из ведущих мест в стране. В настоящее время в городе насчитывается около 200 тысяч единиц автотранспорта.
                p 
                    b Численность постоянного населения 
                    | города в настоящее время – 
                    b более 395 тысяч человек. 
                    | В демографической сфере сохраняется тенденция положительного прироста постоянной численности населения города на фоне снижения темпов естественного прироста, при этом уровень рождаемости более чем в 2 раза превышает уровень смертности.
                p Основным фактором экономической стабильности города остается развитие нефтедобывающей и энергетической отраслей. Системообразующим предприятием города является нефтяная компания «Сургутнефтегаз», занимающая одно из лидирующих мест среди нефтяных компаний не только в автономном округе, но и в России. Сфера деятельности компании: добыча и реализация нефти и газа, производство и сбыт нефтепродуктов и продуктов нефтехимии, разведка, обустройство и разработка нефтяных и нефтегазовых месторождений.
                p В городе также базируется одно из крупных газотранспортных предприятий Западной Сибири - 
                    b ООО «Газпром трансгаз Сургут», 
                    | дочернее предприятие публичного акционерного общества «Газпром». Административный центр компании находится в Сургуте. «Газпром трансгаз Сургут» эксплуатирует систему магистральных газопроводов от Заполярного месторождения до юга Тюменской области протяженностью более 6,3 тысяч км.
                p В Сургуте расположены филиалы крупнейших генерирующих компаний оптового рынка электроэнергии: публичного акционерного общества «ОГК-2» «Сургутская ГРЭС-1»; публичного акционерного общества «Юнипро» «Сургутская ГРЭС-2».
                p За 2021 год выработка электроэнергии по городу составила около 
                    b 45 млрд. Квт.час
                    | и теплоэнергии около 
                    b 4 млн. Гкал.
                p Значительную роль в городе играет малый и средний бизнес. Оборот малого бизнеса за 2021 год составил около 190 млрд. рублей, 
                    b численность занятых в малом бизнесе – около 45 тыс. человек
                    | или 28% от общей численности занятых на территории города. Это предприятия, представленные мини-пекарнями по производству хлеба и хлебобулочных изделий, цехами по производству кондитерских изделий, мясных полуфабрикатов, рыбной продукции, напитков и других товаров народного потребления, предприятиями по выполнению строительно-ремонтных работ, оказанию транспортных, бытовых и других платных услуг.
                p Среди предприятий пищевой промышленности наиболее крупными являются СГМУП «Сургутский хлебозавод», ООО «Мясокомбинат «Сургутский».
                p Значительные инвестиции осуществляются в строительство жилья и социальных объектов. За последние десять лет введено в эксплуатацию 2,5 млн. кв. метров жилья. Развитие инвестиционной деятельности осуществляется за счет собственных средств хозяйствующих субъектов, а также бюджетных средств.
                .about-history-elem 
                    img(src='./resources/about_earth_2.svg').about-history-elem__img
                    span Значительные инвестиции осуществляются в строительство жилья и социальных объектов.
                        b За последние десять лет введено в эксплуатацию 2,5 млн. кв. метров жилья. 
                        | Развитие инвестиционной деятельности осуществляется за счет собственных средств хозяйствующих субъектов, а также бюджетных средств. Жилищный фонд города составляет 
                        b 8,6 млн. кв. метров, средняя обеспеченность населения жильем – 
                        | 21,8 кв. м на человека.
            +button({ type: 'button',  event: 'showMoreToday()', class: 'button_blue about-today__button', text: "Подробнее..."})              
    