mixin about-today()
    .about-today 
        p.about-title Сургут сегодня
            p Развитие города обусловлено рядом благоприятных условий. Сургут занимает выгодное экономико-транспортно-географическое положение: он расположен на пересечении железнодорожной магистрали с мощной водной артерией - рекой Обью. Город превратился в значительный транспортный узел: через него проходят железная дорога, автомагистраль, здесь расположены международный аэропорт и речной порт. Развит трубопроводный транспорт (крупнейший узел нефте- и газопроводов).
            .about-history-elem 
                img(src='./resources/about_earth_2.svg').about-history-elem__img
                span Сегодня Сургут - крупнейший промышленный и культурный центр Ханты-Мансийского автономного округа - Югры, Тюменской области, один из главных центров нефтедобывающей промышленности России. Его называют 
                    b столицей нефтяного края, индустриальным и энергетическим сердцем Севера.
            +button({ type: 'button',  event: 'showMoreToday()', class: 'button_blue about-history__button about-today__button', text: "Подробнее..."})   
            .about-today__hidden
                p По насыщенности автомобильным транспортом Сургут занимает одно из ведущих мест в стране. В настоящее время в городе насчитывается около 200 тысяч единиц автотранспорта.
                p 
                    b Численность постоянного населения 
                    | города в настоящее время – 
                    b более 395 тысяч человек. 
                    | В демографической сфере сохраняется тенденция положительного прироста постоянной численности населения города на фоне снижения темпов естественного прироста, при этом уровень рождаемости более чем в 2 раза превышает уровень смертности.
                p Основным фактором экономической стабильности города остается развитие нефтедобывающей и энергетической отраслей. Системообразующим предприятием города является нефтяная компания «Сургутнефтегаз», занимающая одно из лидирующих мест среди нефтяных компаний не только в автономном округе, но и в России. Сфера деятельности компании: добыча и реализация нефти и газа, производство и сбыт нефтепродуктов и продуктов нефтехимии, разведка, обустройство и разработка нефтяных и нефтегазовых месторождений.
                p В городе также базируется одно из крупных газотранспортных предприятий Западной Сибири - 
                    b ООО «Газпром трансгаз Сургут», 
                    | дочернее предприятие публичного акционерного общества «Газпром». Административный центр компании находится в Сургуте. «Газпром трансгаз Сургут» эксплуатирует систему магистральных газопроводов от Заполярного месторождения до юга Тюменской области протяженностью более 6,3 тысяч км.
                p В Сургуте расположены филиалы крупнейших генерирующих компаний оптового рынка электроэнергии: публичного акционерного общества «ОГК-2» «Сургутская ГРЭС-1»; публичного акционерного общества «Юнипро» «Сургутская ГРЭС-2».
                p За 2021 год выработка электроэнергии по городу составила около 
                    b 45 млрд. Квт.час
                    | и теплоэнергии около 
                    b 4 млн. Гкал.
                p Значительную роль в городе играет малый и средний бизнес. Оборот малого бизнеса за 2021 год составил около 190 млрд. рублей, 
                    b численность занятых в малом бизнесе – около 45 тыс. человек
                    | или 28% от общей численности занятых на территории города. Это предприятия, представленные мини-пекарнями по производству хлеба и хлебобулочных изделий, цехами по производству кондитерских изделий, мясных полуфабрикатов, рыбной продукции, напитков и других товаров народного потребления, предприятиями по выполнению строительно-ремонтных работ, оказанию транспортных, бытовых и других платных услуг.
                p Среди предприятий пищевой промышленности наиболее крупными являются СГМУП «Сургутский хлебозавод», ООО «Мясокомбинат «Сургутский».
                p Значительные инвестиции осуществляются в строительство жилья и социальных объектов. За последние десять лет введено в эксплуатацию 2,5 млн. кв. метров жилья. Развитие инвестиционной деятельности осуществляется за счет собственных средств хозяйствующих субъектов, а также бюджетных средств.
                .about-history-elem 
                    img(src='./resources/about_earth_2.svg').about-history-elem__img
                    span Значительные инвестиции осуществляются в строительство жилья и социальных объектов.
                        b За последние десять лет введено в эксплуатацию 2,5 млн. кв. метров жилья. 
                        | Развитие инвестиционной деятельности осуществляется за счет собственных средств хозяйствующих субъектов, а также бюджетных средств. Жилищный фонд города составляет 
                        b 8,6 млн. кв. метров, средняя обеспеченность населения жильем – 
                        | 21,8 кв. м на человека.
        .toggle-container                
            .toggle-header Учреждения города Сургута
            .toggle-content
                p В городе функционирует сеть различных по организационно-правовым формам образовательных учреждений, в том числе: 53 организации, реализующих программы дошкольного образования, 41 общеобразовательное учреждение, 2 спецшколы, 20 учреждений дополнительного образования, 8 учреждений среднего профессионального образования, 3 учреждения высшего профессионального образования.
                p В реализации мероприятий территориальной программы государственных гарантий бесплатного оказания гражданам медицинской помощи в Ханты-Мансийском автономном округе – Югре принимают участие 9 государственных и 1 частная медицинская организация, оказывающие населению круглосуточную стационарную помощь (мощность – 3 424 койки), 5 государственных амбулаторно-поликлинических учреждений на 4 893 посещения в смену, 2 государственные стоматологические клиники, городская станция скорой медицинской помощи, станция переливания крови, филиал центра медицинской профилактики, филиал врачебно-физкультурного диспансера, филиал центра по профилактике и борьбе со СПИД и инфекционными заболеваниями, центр лекарственного мониторинга, а также ряд частных медицинских организаций.
                p В 2021 году в ней принимали участие 23 негосударственных медицинских организации, в которых медицинская помощь оказывается по направлениям: стоматологические услуги, лабораторная, ультразвуковая диагностика и магнитно-резонансная томография, первичная медико-санитарная помощь (прием врачей узких специалистов), круглосуточная стационарная помощь, паллиативная помощь. Оплата оказанных медицинских услуг осуществляется в системе обязательного медицинского страхования по единым тарифам как для государственных, так и для частных медицинских организаций.
                p 5 медицинских центров города оказывают специализированную, в том числе высокотехнологичную медицинскую помощь населению автономного округа.
                p 
                    b Социальное обслуживание 
                    | населения на территории города осуществляют 6 учреждений социального обслуживания, регионального подчинения:
                ul 
                    li «Геронтологический центр»;
                    li «Сургутский комплексный центр социального обслуживания населения»;
                    li «Сургутский реабилитационный центр для детей и подростков с ограниченными возможностями»;
                    li «Сургутский социально-оздоровительный центр»;
                    li «Сургутский центр социальной помощи семье и детям»;
                    li «Сургутский многопрофильный реабилитационный центр для инвалидов».
                p Сеть учреждений культуры и искусства города Сургута представлена 18 учреждениями, в том числе: 5 учреждениями культурно-досугового типа, 2 театрами, 6 кинотеатрами, 2 музеями, централизованной библиотечной системой, парком культуры и отдыха, городской концертной организацей.
                .about-history-elem 
                    img(src='./resources/about_earth_3.svg').about-history-elem__img
                    span Одним из старейших музейных учреждений Ханты-Мансийского автономного округа – Югры  является 
                        b Сургутский краеведческий музей, 
                        | основанный в 1963 году по инициативе известного краеведа, Почетного гражданина города Сургута, ветерана Великой Отечественной войны 
                        b Флегонта Яковлевича Показаньева. 
                        | В основу первой экспозиции музея легли материалы по истории города и края, собранные Флегонтом Яковлевичем. Сургутский краеведческий музей является крупным учреждением с развернутой структурой. В его состав входят четыре подразделения, каждое из которых обладает неповторимым колоритом.
                p История Сургута конца XIX – начала XX веков представлена в музейном комплексе «Купеческая усадьба. Дом купца Г. С. Клепикова». Это старейшее здание Сургута и единственный в городе памятник истории и архитектуры конца XIX века, сохранившийся на своем историческом месте. Купеческий дом внесен в единый государственный реестр объектов культурного наследия (памятников истории и культуры) народов Российской Федерации.
                p Эпоха промышленного становления Сургута неразрывно связана с деятельностью Фармана Курбановича Салманова − первооткрывателя сибирской нефти. Мемориальный комплекс геологов-первопроходцев «Дом Ф.К. Салманова» является уникальным историческим местом, сохранившим атмосферу эпохи 1960-х годов. Это единственное музейное учреждение, посвященное выдающемуся геологу. Дом имеет статус объекта культурного (памятников истории и культуры) народов Российской Федерации.
                .about-history-elem 
                    img(src='./resources/about_earth_3.svg').about-history-elem__img
                    span 
                        b Первый 
                        | в Ханты-Мансийском автономном округе – Югре 
                        b художественный музей был основан в 1992 году в Сургуте. 
                        | Сургутский художественный музей – это оснащенный современным специализированным оборудованием выставочный комплекс, досуговый и образовательный центр, деятельность которого отличает инновационный подход в подаче материала. В настоящее время собрание Сургутского художественного музея включает коллекции русского искусства рубежа XIX–XX веков и первой половины ХХ века, современного искусства Сибири, национального искусства народов Севера, коллекцию иронического искусства и археологические коллекции III−XV веков.
                p В городе так же функционирует 824 спортивных сооружения, в том числе: 177 спортивных залов, включая спортивные залы предприятий и учреждений города (общая площадь – 76 771 кв.м); 23 плавательных бассейна (общая площадь – 6039 кв.м. зеркала воды); 189 плоскостных спортсооружений (170 площадок, 16 полей, 3 спортивных ядра) (общая площадь – 143 336 кв.м); 8 лыжных баз; 21 сооружение для стрелковых видов спорта; 3 крытых сооружения с искусственным льдом; 1 легкоатлетический манеж; 284 других спортсооружений; 118 объектов городской и рекреационной инфраструктуры, приспособленных для занятий физической культурой и спортом.
                p Наиболее популярными видами спорта в городе являются: плавание, волейбол, компьютерный спорт, шахматы, футбол, фитнесс-аэробика, баскетбол, легкая атлетика, художественная гимнастика, спортивная борьба, лыжные гонки, тхэквондо, хоккей, настольный теннис.Наиболее популярными видами спорта в городе являются: плавание, волейбол, компьютерный спорт, шахматы, футбол, фитнесс-аэробика, баскетбол, легкая атлетика, художественная гимнастика, спортивная борьба, лыжные гонки, тхэквондо, хоккей, настольный теннис.
                p Всего численность систематически занимающихся физической культурой и спортом по городу составляет более 107 тысяч человек.
                .about-history-elem 
                    span 
                        b Сургут - это молодежный город, 
                        | в котором проживает 
                        b более 116 тысяч молодых людей
                        |  в возрасте от 14 до 36 лет, что составляет около 30 % от общей численности постоянного населения города.
                p На сегодняшний день на территории города действует три учреждения по работе с молодёжью:
                ul 
                    li муниципальное автономное учреждение по работе с молодёжью «Наше время» - решает вопросы трудоустройства подростков и молодёжи на временные и постоянные рабочие места, в целях продуктивной занятости молодёжи. В структуру учреждения входят 9 структурных подразделений, расположенных в различных микрорайонах города.;
                    li муниципальное бюджетное учреждение по работе с подростками и молодёжью по месту жительства «Вариант» - реализует мероприятия по досуговой занятости детей и молодёжи по месту жительства, программы дворовой педагогики. В настоящее время МБУ «Вариант» объединяет 11 молодёжно-подростковых клубов центров»;
                    li муниципальное бюджетное учреждение «Центр специальной подготовки «Сибирский легион» - реализует мероприятия патриотического воспитания молодёжи, подготовки к службе в армии, развития военно-прикладных, технических и экстремальных видов спорта (4 структурных подразделения).
                p С 2019 года «Молодежный ресурсный центр по поддержке добровольчества и молодежных некоммерческих организаций», созданный на базе муниципального бюджетного учреждения «Вариант», оказывает комплекс информационных, консультационных и методических услуг организациям и гражданам в сфере добровольческой (волонтерской) деятельности. В городе действует 45 волонтерских объединений, в добровольческую (волонтерскую) деятельность вовлечено более 46 тыс. человек.
                .about-history-elem  
                    img(src='./resources/about_earth_2.svg').about-history-elem__img   
                    span 
                        b Сургут
                        | - это во многом уникальный российский город со своим обликом, характером и образом жизни. Город, заложенный четыре века назад и преображенный в течение нескольких последних десятилетий трудом приехавших сюда людей, может служить символом современного сибирского Севера - края сурового, но богатого и быстро развивающегося.