mixin dm-about-info()
    .dm-about-info
        .dm-about-block
            p Представительным органом местного самоуправления является выборный коллегиальный орган местного самоуправления, обладающий правом представлять интересы населения и принимать от его имени решения, действующие на территории муниципального образования.
            p Дума города состоит из 25 депутатов, избираемых на муниципальных выборах по одномандатным или многомандатным избирательным округам в соответствии с решением Думы города сроком на 5 лет, и является представительным коллегиальным выборным органом местного самоуправления городского округа.
            p Дума города вправе осуществлять свои полномочия при условии избрания не менее 2/3 от установленной численности депутатов.
            p Дума города обладает правами юридического лица, которыми наделяется в соответствии с действующим законодательством. Компетенция Думы города определена 
                a(href='#') статьей 31 главы III Устава города. 
                | Полномочия Думы города начинаются со дня проведения первого заседания в соответствии с пунктом 3 
                a(href='#') статьи 32 Устава городской округ город Сургут
                | и прекращаются со дня начала работы Думы города нового созыва.
            p Полномочия депутата начинаются со дня его избрания и прекращаются со дня начала работы Думы города нового созыва. 
            p Депутаты Думы города осуществляют свои полномочия преимущественно на непостоянной основе. На постоянной основе вправе осуществлять свою деятельность 2 депутата.
            p Персональный состав депутатов, осуществляющих свои полномочия на постоянной основе, определяется на первом заседании Думы города нового созыва при наличии депутатов, желающих занять эти должности.
            .dm-about-block-img
                img(src = './resources/dm-about.png' alt='Изображение Думы')