.interviews_array {
  display: grid;
  grid-template-columns: auto auto auto;
  max-width: 1311px;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin: 40px 0 40px;
}
.interviews_array .interview {
  display: flex;
  max-width: 421px;
  width: 100%;
  border-radius: 20px;
  background-color: #F9F9F9;
}
.interviews_array .interview .interview__content {
  padding: 24px 32px 36px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 20px;
}
.interviews_array .interview .interview__content .iinterview__dates {
  display: flex;
  align-items: center;
  gap: 12px;
}
.interviews_array .interview .interview__content .iinterview__dates .iinterview__date {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 100px;
  background-color: #FFFFFF;
  padding: 4px 16px;
}
.interviews_array .interview .interview__content .iinterview__description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.interviews_array .interview .interview__content .iinterview__description .iinterview__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
}
.interviews_array .interview .interview__content .iinterview__description .interview__text {
  font-size: 16px;
  line-height: 24px;
}
.interviews_array .interview .interview__content .iinterview__infos {
  display: flex;
  align-items: center;
  gap: 16px;
}
.interviews_array .interview .interview__content .iinterview__infos .iinterview__votes {
  color: #78839C;
  font-size: 14px;
  line-height: 20px;
}
.interviews_array .interview .interview__content .iinterview__infos .iinterview__user-status {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #004CC4;
}

@media screen and (max-width: 1000px) {
  .interviews_array {
    grid-template-columns: auto auto;
    gap: 8px;
  }
  .interviews_array .interview {
    border-radius: 8px;
  }
  .interviews_array .interview .interview__content {
    padding: 20px;
  }
  .interviews_array .interview .interview__content .iinterview__dates .iinterview__dates {
    font-size: 12px;
    line-height: 14px;
  }
  .interviews_array .interview .interview__content .iinterview__description .iinterview__title {
    font-size: 16px;
    line-height: 20px;
  }
  .interviews_array .interview .interview__content .iinterview__description .interview__text {
    font-size: 13px;
    line-height: 18px;
  }
  .interviews_array .interview .interview__content .iinterview__infos .iinterview__votes {
    font-size: 12px;
    line-height: 18px;
  }
  .interviews_array .interview .interview__content .iinterview__infos .iinterview__user-status {
    font-size: 12px;
    line-height: 14px;
  }
}
@media screen and (max-width: 600px) {
  .interviews_array {
    grid-template-columns: auto;
  }
}