include ../blocks/libs/_libs
include ../blocks/blocks

doctype html 
html(lang="ru")
    head
        link(rel="stylesheet" href="./css/template-styles.css")
        link(rel="stylesheet" href="./css/styles.css")
        link(rel="stylesheet" href="./css/other.css")

        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
    body
        +header()
        block content
        +footer(
        {
            about: [
                {href: '/', title: 'Сургут сегодня'},
                {href: '/', title: 'История Сургута'},
                {href: '/', title: 'Официальные символы'},
                {href: '/', title: 'Устав Сургута'},
                {href: '/', title: 'Генплан'},
                {href: '/', title: 'Стратегия развития'},
                {href: '/', title: 'Инвестиционный паспорт Сургута'},
                {href: '/', title: 'Инвестору'},
                {href: '/', title: 'Общественные советы города Сургута'},
                {href: '/', title: 'Ими гордится Сургут'},
                {href: '/', title: 'Справочная информация'},
                {href: '/', title: 'Интерактивные карты Сургута'},
                {href: '/', title: 'Градостроительная деятельность'},
                ],
            city: [
                {href: '/', title: 'Глава города'},
                {href: '/', title: 'Дума города'},
                {href: '/', title: 'Администрация'},
                {href: '/', title: 'Контрольно-счётная палата'},
                {href: '/', title: 'Законодательная карта'},
                {href: '/', title: 'Территориальная избирательная комиссия'},
                {href: '/', title: 'Государственные органы'},
                ],
            documents: [
                {href: '/', title: 'Важные документы для горожан'},
                {href: '/', title: 'Проекты документов: антикоррупционная экспертиза и общественное обсуждение'},
                {href: '/', title: 'Оценка регулирующего воздействия и экспертиза муниципальных нормативных правовых актов (проектов)'},
                {href: '/', title: 'Решения Думы города'},
                {href: '/', title: 'Постановления Главы города'},
                {href: '/', title: 'Распоряжения Главы города'},
                {href: '/', title: 'Постановления Администрации города'},
                {href: '/', title: 'Распоряжения Администрации города'},
                {href: '/', title: 'Постановления Мэра и администрации города до 12.04.2005 г.'},
                {href: '/', title: 'Распоряжения Мэра и администрации города до 12.04.2005 г.'},
                {href: '/', title: 'Муниципальные программы'},
                {href: '/', title: 'Порядок обжалования муниципальных правовых актов'},
                {href: '/', title: 'Антимонопольный комплаенс'},
                ],
            category: [
                {href: '/', title: 'Ссылка'},
                {href: '/', title: 'Ссылка'},
                {href: '/', title: 'Ссылка'},
                {href: '/', title: 'Ссылка'},
                {href: '/', title: 'Ссылка'},
                {href: '/', title: 'Ссылка'},
                {href: '/', title: 'Ссылка'},
                {href: '/', title: 'Ссылка'},
                ],
        })          
        script(src = './js/jquery-3.7.1.js')
        script(src = './js/script.js')
        script(type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js")
        script(nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js")


