include ../blocks/libs/_libs
include ../blocks/blocks

doctype html 
html(lang="ru")
    head
        link(rel="stylesheet" href="./css/template-styles.css")
        link(rel="stylesheet" href="./css/other.css")

        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        title Document
    body 
        script(src = './js/script.js')
        block content

