@use '../../../../assets/styles/vars.scss' as *;

.people-care {
    @include main-blocks-paddings;

    .main-title {
        .main-title__container {
            .slider {
                @include respond-to(md) {
                    display: none;
                }
            }
        }
    }

    .people-care__container {
        .people-care__card-list {
            display: flex;
            overflow: hidden;
        }

        .slick-slide {
            height: 320px;

            @include respond-to(md) {
                height: 214px;
            }

            @include respond-to(sm) {
                height: 250px;
            }
        }

        .people-care__slider {
            @include main-slider;
        }
    }
}