@use '../../../../assets/styles/vars.scss' as *;

.main-people-care {
    padding: 0 0 48px;

    @include respond-to(md) {
        padding: 0 0 20px;
    }

    .main-people-care__container {
        .main-people-care__card-list {
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(3, calc((100% - 48px)/3));
            gap: 24px;

            @include respond-to(md) {
                gap: 8px;
                grid-template-columns: repeat(3, calc((100% - 16px)/3));
            }

            @include respond-to(sm) {
                grid-template-columns: repeat(3, 250px);
                overflow-y: scroll;
                scrollbar-width: none;
            }
        }

        .people-care__slider {
            display: none;

            @include respond-to(md) {
                display: flex;
                justify-content: center;
                padding-top: 24px;
            }
        }
    }
}