@use '../../../../assets/styles/vars.scss' as *;

.people-care {
    padding: 0 0 48px;

    @include respond-to(md) {
        padding: 0 0 20px;
    }

    .main-title {
        .main-title__container {
            .slider {
                @include respond-to(sm) {
                    display: none;
                }
            }
        }
    }

    .people-care__container {
        .slick-slide {
            height: 320px;

            @include respond-to(md) {
                height: 214px;
            }

            @include respond-to(sm) {
                height: 250px;
            }
        }

        .people-care__slider {
            display: none;

            @include respond-to(sm) {
                display: flex;
                justify-content: center;
                padding-top: 24px;
            }
        }
    }
}