mixin board-card(data)
    a(href='#').board-card
        .board-card__container
            img(class=`board-card__image` src=`../resources/${data.image}` alt='Фотография')
            .board-card__desc 
                span.board-card__date #{data.date}
                p.board-card__about #{data.about}