include ./dm-deput 

+dm-deput({
            name:'Слепов Максим Николаевич',
            status:'Председатель Думы города VII созыва, председатель постоянного комитета Думы города по бюджету, налогам, финансам и имуществу',
            img:'slepov.png'
        })