mixin monument-card(data)
    a(href='/').monument-card
        .monument-card__container 
            img(src='../resources/monument_image.png' alt='Изображение памятника').monument-card__image
            .monument-card__about 
                h5.monument-card__title Скульптурная композиция Первооткрывателям города Сургута
                .monument-card__desc
                    .monument-card__desc-block
                        span.monument-card__desc-title Год открытия
                        span.monument-card__desc-about 8 сентября 1968г.
                    .monument-card__desc-block
                        span.monument-card__desc-title Местоположение
                        span.monument-card__desc-about Нефтеюганское шоссе, 20, на территории БУ ХМАО – Югры «Окружная клиническая больница «Травматологический центр»
                    .monument-card__desc-block
                        span.monument-card__desc-title Автор проекта
                        span.monument-card__desc-about Автор проекта Стародумов В. Включает в себя памятники: «Борцам за Советскую власть» и «Сургутянам», павшим на фронтах ВОВ        

