.hearing-detail-description {
  display: flex;
  padding: 40px 20px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 768px) {
  .hearing-detail-description {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 1000px) {
  .hearing-detail-description {
    flex-direction: column;
    padding: 20px;
    gap: 24px;
  }
}
.hearing-detail-description-text {
  width: 755px;
}
@media (max-width: 1000px) {
  .hearing-detail-description-text {
    width: 100%;
  }
}
.hearing-detail-description-label {
  color: #78839c;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}
@media (max-width: 768px) {
  .hearing-detail-description-label {
    font-size: 14px;
    line-height: 20px;
  }
}
.hearing-detail-description-label:nth-of-type(2) {
  margin-top: 20px;
}
@media (max-width: 1000px) {
  .hearing-detail-description-label:nth-of-type(2) {
    margin-top: 24px;
  }
}
.hearing-detail-description-meta {
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}
@media (max-width: 768px) {
  .hearing-detail-description-meta {
    font-size: 12px;
    line-height: 16px;
  }
}
@media (max-width: 1000px) {
  .hearing-detail-description-meta {
    gap: 32px;
  }
}
.hearing-detail-description-meta-item {
  padding-left: 40px;
}
@media (max-width: 1000px) {
  .hearing-detail-description-meta-item {
    padding-left: 0;
  }
  .hearing-detail-description-meta-item:nth-of-type(3) {
    width: 100%;
  }
}
.hearing-detail-description-meta-item:nth-of-type(1) div {
  min-width: 140px;
}