mixin project-dm-card(data)
    a(href='/').project-dm-card(style=`background: ${data.bg};`)
        .project-dm-card__container
            .project-dm-card__titles
                h1.project-dm-card__title #{data.title}
                if data.span
                    span.project-dm-card__span #{data.span}
            span.project-dm-card__desc #{data.desc}