@use '../../../../assets/styles/vars.scss' as *;

.project-dm-card {
    color: $content-color;
    text-decoration: none;

    .project-dm-card__container {

        display: flex;
        align-items: center;
        gap: 64px;
        padding: 59px 40px;

        .project-dm-card__titles {
            display: flex;
            align-items: center;
            gap: 17px;

            .project-dm-card__title {
                @include heading-h1;
            }

            .project-dm-card__span {
                font-style: italic;
                opacity: .5;
                @include heading-h2;
            }
        }


        .project-dm-card__desc {
            @include heading-h3;
        }
    }
}