
mixin visibility()
    .header-visibility.active
        .header-visibility-container
            .header-visibility-elems
                .header-visibility-elem
                    .header-visibility-elem-left
                        span Размер шрифта:
                    .header-visibility-elem-right
                        span.font-size-1(onclick = "setFontSize(1, this)", style = 'font-size:14px')  А 
                        span.font-size-15(onclick = "setFontSize(1.5, this)", style = 'font-size:18px')  А 
                        span.font-size-2(onclick = "setFontSize(2, this)", style = 'font-size:22px')  А
                .header-visibility-elem
                    .header-visibility-elem-left
                        span Межбуквенный интервал:
                    .header-visibility-elem-right
                        span.letter-spacing-0(onclick = "setLetterSpacing(0, this)") АА
                        span.letter-spacing-6(onclick = "setLetterSpacing(0.06, this)", style = 'letter-spacing:4px') АА 
                        span.letter-spacing-12(onclick = "setLetterSpacing(0.12, this)", style = 'letter-spacing:8px') АА
                .header-visibility-elem
                    .header-visibility-elem-left
                        span Межстрочный интервал:
                    .header-visibility-elem-right
                        span.line-height-12(onclick = "setLineHeight(1.2, this)", style = 'border-bottom: 1px solid var(--main-text); border-top: 1px solid var(--main-text)') А
                        span.line-height-15(onclick = "setLineHeight(1.5, this)", style = 'border-bottom: 1px solid var(--main-text); border-top: 1px solid var(--main-text); padding:2px 0px;') А 
                        span.line-height-2(onclick = "setLineHeight(2, this)", style = 'border-bottom: 1px solid var(--main-text); border-top: 1px solid var(--main-text); padding:4px 0px;') А
                .header-visibility-elem 
                    .header-visibility-elem-left
                        span Цвет сайта:
                    .header-visibility-elem-right
                        button.theme-light(onclick = "setTheme(`light`, this)", style = 'background-color:white; color:black;') A 
                        button.theme-dark(onclick = "setTheme(`dark`, this)", style = 'background-color: black; color:white') A
            .header-visibility-close
                ion-icon(name="close-outline")
