@use '../../../../assets/styles/vars.scss' as *;

.header-visibility {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-color: $grey-adm;
  display: none;
}

.header-visibility.active {
    display: block;
  }
  
  .header-visibility-container {
    margin: 0 auto;
    max-width: 1320px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-visibility-elems {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .header-visibility-elem {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px !important;
    letter-spacing: 0 !important;
    color:$main-text;
    font-weight: $font-weight-medium;
  }

    
  .header-visibility-elem span {
    @include text-2();
  }
  
  
  
  .header-visibility-close ion-icon {
    font-size: 28px;
    color: $primary-color;
  }

  .header-visibility-elem-right {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .header-visibility-elem-right span {
    cursor: pointer;
  }
  
  .header-visibility-elem-right span, .header-visibility-elem-left span {
    letter-spacing: 0em;
    line-height: 1.2;
  }
  
  .active-param {
    position: relative;
  }
  
  .active-param::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 6px;
    height: 6px;
    background-color: $primary-color;
    border-radius: 50%;
  }

  .font-size-1 {
    font-size:14px !important;
  }

  .font-size-15 {
    font-size:18px !important;
  }

  .font-size-2 {
    font-size:22px !important;
  }

  .letter-spacing-0 {
    border-left: 1px solid $main-text; 
    border-right: 1px solid $main-text;
    padding: 0px 1px;
  }

  .letter-spacing-6 {
    border-left: 1px solid $main-text; 
    border-right: 1px solid $main-text; 
    padding: 0px 3px
  }

  .letter-spacing-12 {
    border-left: 1px solid $main-text; 
    border-right: 1px solid $main-text; 
    padding: 0px 6px
  }

  .line-height-12 {
      border-bottom: 1px solid $main-text; 
      border-top: 1px solid $main-text;
  }

  .line-height-15 {
    border-bottom: 1px solid $main-text; 
    border-top: 1px solid $main-text; 
    padding:2px 0px;
  }

  .line-height-2 {
    border-bottom: 1px solid $main-text; 
    border-top: 1px solid $main-text; 
    padding:4px 0px;
  }

  .theme-light {
    padding: 4px 8px;
    background-color:white; 
    color:black;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid black;
    text-decoration: underline;
    text-underline-offset: 2px;
    padding-bottom: 8px;
  }

  .theme-dark {
    border-radius: 4px;
    padding: 4px 8px;
    padding-bottom: 8px;
    box-sizing: border-box;
    background-color: black; 
    color:white;
    border:none;
    border: 1px solid black;
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  .theme-blue {
    padding: 4px 8px;
    background-color:$visibility-back; 
    color:black;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid $visibility-back;
    text-decoration: underline;
    text-underline-offset: 2px;
    padding-bottom: 8px;
  }

  .header-visibility__top-content {
    padding: 7px 65px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    display: none;
  }
.header-visibility__top-links {
  display: flex;
  gap: 80px;
}

.header-visibility__middle-content {
  display: none;
    align-items: center;
    justify-content: space-between;
    padding: 20px 64px;
    gap: 24px;
}

.header-visibility__bottom-content {
  padding: 7px 65px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    display: none;
}

.visibility .header-visibility__top-content, .visibility .header-visibility__middle-content, .visibility .header-visibility__bottom-content {
  display: flex;
}

.visibility .header__top-content, .visibility .header__bottom-content {
  display: none;
}

.visibility .header__social-icon {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
}


.visibility .header-services__container {
  background-color: var(--content-color);
  flex-wrap: wrap;
  align-items: stretch;
}

.visibility .full-width-background {
  background-color:var(--content-color) !important;
}

.visibility .header-services__button {
  flex-direction: column-reverse;
  max-width: 310px;
  width: 100%;
  height: 160px;
  align-items: center;  
  justify-content: center;
  text-align: center;
  border-radius: 12px;
  box-sizing: border-box;
}

.visibility .header-services__button ion-icon {
  color: $icons-color !important;
}

.visibility .header-services__button:not(:hover) {
  background-color: var(--content-color) !important;
}


.visibility .main-services {

  background-color: var(--content-color) !important;
}

.visibility .main-services__search {
  flex-direction: column !important;
  display: flex !important;
}

.visibility .important-links__container {
  grid-template-columns: repeat(2, 48%)
}