mixin projects-dm()
    .projects-dm
        .projects-dm__container
            +project-dm-card({
                title: 'ДУМАющий',
                span: 'Сургут',
                desc: 'совместный проект «Сургутской трибуны» и Думы города',
                bg: 'linear-gradient(256.74deg, #255BA0 40.93%, #15E7BA 112.76%)'
            })
            +project-dm-card({
                title: 'Видео проекты',
                desc: 'совместный проект «Сургутской трибуны» и Думы города',
                bg: 'linear-gradient(256.37deg, #255BA0 35.08%, #15B3E7 111.88%)'
            })
            +project-dm-card({
                title: 'Опросы',
                desc: 'совместный проект «Сургутской трибуны» и Думы города',
                bg: 'linear-gradient(254.18deg, #255BA0 35.1%, #15E7D9 121.05%)'
            })