@use '../../../../assets/styles/vars.scss' as *;

.profile-settings-interest-elem {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $grey-adm;
    border-radius: 12px;
    box-sizing: border-box;
    gap: 16px;

    button {
        margin-top: 0;

        @include respond-to(sm) {
            width: 100%;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
        }
    }

    @include respond-to(sm) {
        flex-direction: column;
        align-items: flex-start;
    }

    .profile-settings-interest-elem-left {
        display: flex;
        align-items: center;
        gap: 20px;

        @include respond-to(sm) {
            flex-direction: column;
            gap: 16px;
            align-items: flex-start;
        }

        @include respond-to(sm) {
            gap: 12px;
        }

        .icon {
            font-size: 48px;
            color: $input-color-default;

            @include respond-to(md) {
                font-size: 40px;
            }

            @include respond-to(sm) {
                font-size: 32px;
            }
        }
    }

    .profile-settings-interest-elem-mid {
        display: flex;
        flex-direction: column;
        gap: 12px;

        @include respond-to(md) {
            gap: 8px;
        }

        .profile-settings-interest-elem-mid-title span {
            color: $second-text;
            @include heading-h5();
        }

        .profile-settings-interest-elem-mid-subtitle span {
            @include caption-4();
        }
    }

    .profile-settings-interest-elem-right {
        @include respond-to(sm) {
            width: 100%;
        }
    }
}