extends ../layout

block content
    main.main
        .page404
            .page404-container
                .page404-img 
                    img(src = './resources/404.svg')
                .page404-text 
                    .page404-text-top
                        span Страница не найдена
                    .page404-text-bot
                        a(href='/') Вернуться на главную 