extends ../layout

block content
    main.main.about
        +breadcrumbs(
            [
                { sort: '', href: '/', text: 'Главная' },
                { sort: '', href: '/', text: 'О Сургуте'},
                { sort: '', href: '/', text: 'Шаблонная страница с текстом'},
            ]
        )
        +event-card({
                title: 'Коротко о Сургуте', 
                date: 'от 11 ноября 2024',
                last_date: 'последнее обновление: 11 ноября 2024',
            })   

        .about-content
            .about-info 
                .about-info-row 
                    .about-card 
                        .about-card-left
                            span.about-card-subtitle Площадь территории
                            span.about-card-fact 353,97 кв.км.
                        .about-card-right
                            .about-card-img
                .about-info-row 
                    span.about-info-text Муниципальное образование городской округ город Сургут Ханты-Мансийский автономный округ – Югра
                    .about-card 
                        .about-card-left
                            span.about-card-title Год основания 
                            span.about-card-subtitle города Сургута
                        .about-card-right
                            span.about-card-fact 1594
                .about-info-row 
                    .about-card 
                        .about-card-left
                            span.about-card-title День города 
                            span.about-card-subtitle Сургута
                        .about-card-right
                            span.about-card-fact 12 июня
                    span.about-info-text Территория городского округа граничит с муниципальными образованиями: Сургутский муниципальный район, городское поселение Белый Яр, городское поселение Барсово, сельское поселение Солнечный.
            hr
            .about-administration 
                p.about-title Администрация города Сургута
                p.about-subtitle Географические координаты Администрации города и структурных подразделений:
                    ul 
                        li ул. Энгельса, 8, г. Сургут, Ханты-Мансийский автономный округ – Югра (Тюменская область) 628408 - 
                           b  61.242159° с.ш., 73.394317° в.д.
                        li ул. Гагарина, 11, г. Сургут, Ханты-Мансийский автономный округ – Югра (Тюменская область), 628408 - 
                            b 61.239536° с.ш.,  73.390355° в.д.
                        li ул. Восход, 4, г. Сургут, Ханты-Мансийский автономный округ – Югра (Тюменская область), 628404 - 
                            b 61.252074° с.ш., 73.362822° в.д.
                        li бульвар Свободы, 5, г. Сургут, Ханты-Мансийский автономный округ – Югра (Тюменская область), 628403 - 
                            b 61.247756° с.ш., 73.400147° в.д.
                        li ул. Просвещения, 19, г. Сургут, Ханты-Мансийский автономный округ – Югра (Тюменская область), 628408 - 
                            b 61.235666° с.ш., 73.403597° в.д.
                        li ул. Маяковского, 15, г. Сургут, Ханты-Мансийский автономный округ – Югра (Тюменская область), 628403 - 
                            b 61.252386° с.ш., 73.415850° в.д.
                        li проезд Советов, 4, г. Сургут, Ханты-Мансийский автономный округ – Югра (Тюменская область), 628408 - 
                            b 61.242869° с.ш., 73.395781° в.д.
                        li ул. Кукуевицкого, 12, г. Сургут, Ханты-Мансийский автономный округ – Югра (Тюменская область), 628416 - 
                            b 61.254355° с.ш., 73.370925° в.д.
                p.about-subtitle История руководителей
                    .about-timeline 
                        .about-timeline-item 
                            .about-timeline-container
                                img(src = "./resources/h1.png")
                                p Пешев Леонид Васильевич
                                .about-timeline-dot
                                p 1965
                        .about-timeline-item
                            .about-timeline-container
                                img(src = "./resources/h2.png")
                                p Мунарев Петр Александрович
                                .about-timeline-dot
                                p 1965 - 1973
                        .about-timeline-item 
                            .about-timeline-container
                                img(src = "./resources/h3.png")
                                p Мачехин Герман Семенович
                                .about-timeline-dot
                                p 1973 - 1974
                        .about-timeline-item 
                            .about-timeline-container
                                img(src = "./resources/h4.png")
                                p Мелихов Юрий Михайлович
                                .about-timeline-dot
                                p 1974 - 1977
                        .about-timeline-item 
                            .about-timeline-container
                                img(src = "./resources/h5.png")
                                p Чинчевич Александр Владимирович
                                .about-timeline-dot
                                p 1977 - 1979
                        .about-timeline-item 
                            .about-timeline-container
                                img(src = "./resources/h6.png")
                                p Аникин Николай Григорьевич
                                .about-timeline-dot
                                p 1979 - 1981
                        .about-timeline-item 
                            .about-timeline-container
                                img(src = "./resources/h7.png")
                                p Марчук Олег Данилович
                                .about-timeline-dot
                                p 1981 - 1988
                        .about-timeline-item 
                            .about-timeline-container
                                img(src = "./resources/h8.png")
                                p Рокецкий Леонид Юлианович
                                .about-timeline-dot
                                p 1988 - 1990
                        .about-timeline-item 
                            .about-timeline-container
                                img(src = "./resources/h9.png")
                                p Сидоров Александр Леонидович
                                .about-timeline-dot
                                p 1990 - 2010
                        .about-timeline-item 
                            .about-timeline-container
                                img(src = "./resources/h10.png")
                                p Попов Дмитрий Валерьевич
                                .about-timeline-dot
                                p 2010 - 2016
                        .about-timeline-item 
                            .about-timeline-container
                                img(src = "./resources/h11.png")
                                p Шувалов Вадим Николаевич
                                .about-timeline-dot
                                p 2016 - 2020 
                        .about-timeline-item 
                            .about-timeline-container
                                img(src = "./resources/h12.png")
                                p Филатов Андрей Сергеевич
                                .about-timeline-dot
                                p 2021 - 2024
                p.about-subtitle Органы местного самоуправления
                    .about-organs
                        .about-organ
                            .about-organ-top
                                .about-organ-top-left
                                    .about-organ-title
                                        span Слепов Максим Николаевич
                                    .about-organ-subtitle
                                        span Глава города Сургута
                                .about-organ-top-right 
                                    a.about-organ-ref(href='#') Перейти на страницу
                            .about-organ-bot
                                .about-organ-bot-elem
                                    span Адрес
                                    span 628400, Тюменская обл., Ханты-Мансийский автономный округ - Югра, г. Сургут, ул. Энгельса, 8.
                                .about-organ-bot-elem
                                    span Телефон
                                    span (3462) 52-20-01, факс (3462) 52-21-82
                                .about-organ-bot-elem
                                    span E-mail
                                    span gorod@admsurgut.ru
                        .about-organ
                            .about-organ-top
                                .about-organ-top-left
                                    .about-organ-title
                                        span Администрация города Сургута
                                .about-organ-top-right 
                                    a.about-organ-ref(href='#') Перейти на страницу
                            .about-organ-bot
                                .about-organ-bot-elem
                                    span Адрес
                                    span 628400, Тюменская обл., Ханты-Мансийский автономный округ - Югра, г. Сургут, ул. Энгельса, 8.
                                .about-organ-bot-elem
                                    span Телефон
                                    span факс (3462) 52-21-82
                                .about-organ-bot-elem
                                    span E-mail
                                    span gorod@admsurgut.ru
                        .about-organ
                            .about-organ-top
                                .about-organ-top-left
                                    .about-organ-title
                                        span Дума города Сургута 
                                    .about-organ-subtitle
                                        span Председатель: Олейников Александр Игоревич
                                .about-organ-top-right 
                                    a.about-organ-ref(href='#') Перейти на страницу
                            .about-organ-bot
                                .about-organ-bot-elem
                                    span Адрес
                                    span 628400, Тюменская обл., Ханты-Мансийский автономный округ - Югра, г. Сургут, ул. Восход, 4.
                                .about-organ-bot-elem
                                    span Телефон
                                    span (3462) 52-83-74, факс (3462) 52-80-15
                                .about-organ-bot-elem
                                    span E-mail
                                    span duma@admsurgut.ru
                        .about-organ
                            .about-organ-top
                                .about-organ-top-left
                                    .about-organ-title
                                        span Контрольно-счетная палата 
                                    .about-organ-subtitle
                                        span Председатель: Жуков Владислав Игоревич
                                .about-organ-top-right 
                                    a.about-organ-ref(href='#') Перейти на страницу
                            .about-organ-bot
                                .about-organ-bot-elem
                                    span Адрес
                                    span 628400, Тюменская обл., Ханты-Мансийский автономный округ - Югра, г. Сургут, ул. Восход, 4.
                                .about-organ-bot-elem
                                    span Телефон
                                    span (3462) 52-83-43
                                .about-organ-bot-elem
                                    span E-mail
                                    span ksp@admsurgut.ru
            hr
            .about-symbols 
                p.about-title Официальные символы
                    .about-symbols-list 
                        .about-symbols-elem
                            .about-symbols-elem-text
                                b Герб города 
                                span Сургута утвержден 
                                a(href='#') решением городской Думы от 04.11.2003 № 273-III ГД. 
                                span Геральдическое описание герба муниципального образования город окружного значения Сургут гласит: «В золотом поле – черная с серебряным концом хвоста лисица, идущая по лазоревой земле»
                            .about-symbols-elem-img
                                img(src='./resources/gerb.png')
                        .about-symbols-elem
                            .about-symbols-elem-text
                                b Флаг города 
                                span Сургута утвержден 
                                a(href='#') решением городской Думы от 25.04.2005 № 454- III ГД. 
                                span Флаг муниципального образования городской округ город Сургут представляет собой прямоугольное полотнище с соотношением ширины к длине 2:3, в центре которого на золотом фоне лисица с серебряным концом хвоста, идущая по лазоревой земле.
                            .about-symbols-elem-img
                                img(src='./resources/flag.png')
            hr
            .about-history
                p.about-title Сургут: История, События, Люди
                    p Сургут - город окружного подчинения Ханты-Мансийского автономного округа - Югры, один из старейших городов Сибири, основанный вскоре после присоединения западносибирских земель к российскому государству в конце XVI века.
                    p Город стоит на правом берегу великой сибирской реки Оби, в среднем ее течении.
                    .about-history-elem 
                        span Как и города Санкт-Петербург, Хельсинки, Осло, Сургут расположен на шестидесятой северной широте. Но в отличие от Европы климат здесь резко континентальный. Зима длится около 7 месяцев, среднемесячная температура января - 22°С, июля +17°С. Морозы зимой порой достигают -50°С.
                    p История основания Сургута уходит во времена Ивана Грозного и Ермака. Вскоре после открытия Ермаком Зауральских земель и присоединения их к Российскому государству там стали основываться опорные центры - Тюмень, Тобольск, Тара, Обской городок. В наказе царя Федора Иоанновича от 19 февраля 1594 года говорится о строительстве города в Сургуте: «Федору Борятинскому и Владимиру Аничкову...быть на службе в Сибири вверх по Оби реке, ставить город в Сургуте... А пришед князю Федору и Владимиру в Сургут, в котором месте пригоже, высмотря место крепкое, поставить город». Историк Г.Ф. Миллер по этому поводу писал: «На том месте, где заполезно усмотрено город Сургут построить, жил тогда остяцкий князец именем Бардок... Речка, которая не в дальнем расстоянии выше города впала в Обь, получила по нем звание Бардаковка».
                    p Точно установить дату, когда русские землепроходцы достигли этой местности сегодня, наверное, уже не удастся. Историки по этому поводу спорят не одно столетие, но достоверно известно, что в 1594 году в Сургуте уже развернулось строительство деревянной крепости, Троицкой церкви, других сооружений. В настоящее время по датировке царского указа принято годом основания Сургута считать 1594 год.
                    p Немало версий существует в объяснении происхождения слова «Сургут». Известный русский историк П.Н.Буцинский в книге «К истории Сибири» утверждает, что «целая область, где построен русский город, называлась Сургут. Откуда же произошло это название? Известно, что город был основан вблизи поселения хантыйского племени и за ним сохранилось местное название без перевода на русский язык. Такая традиция существовала у землепроходцев при основании всех городов Сибири. Исходя из этого можно предположить, что слово «сургут» состоит из двух древнеюгорских «сор» и «кут», которые дошли до нас в измененном виде. Слово «сор» переводится как «заливная пойма реки», слово «кут» на сургутском наречии означает «рыба». Следовательно, в соединении слово «соркут» в древнеюгорском языке могло означать целое понятие, связанное с образом жизни народа: ежегодным весенним кочевьем племен из таежных речек и охотничьих угодий в пойму Оби.
                    p В конце XVI века Сургут представлял собой небольшую крепость с двумя воротами, четырьмя глухими и одной проезжей башнями. В первые годы возвели здесь церковь, воеводский двор, жилые дома. Все строения были деревянными. В XVI и XVII веках население Сургута состояло в основном из казаков и стрельцов, город играл роль форпоста дальнейшего продвижения русских на восток и север для освоения новых территорий.
                    .about-history-elem 
                        span В 1708 году Петр Первый назвал Сургут городом Сибирской губернии, а в 1782 году он стал уездным центром Тобольского наместничества - 17 марта 1785 года Екатерина II утвердила герб Сургута: «В золотом поле черно-бурая лисица: в знак изобильной ловли оных в округе сего города».
                    p Самыми распространенными занятиями местных жителей были рыбная ловля, охота на пушных зверей и дичь. Они занимались выделкой кож и шкур, заготовкой кедрового ореха, ягод, грибов, пошивом обуви и одежды, кузнечным делом, держали много собак для охоты и езды. До конца XIX века большинство мужского населения города были служилыми людьми – казаками и получали небольшой денежный или продовольственный оклад.
                    p Возникший как военно-опорный пункт России в центре Западной Сибири, Сургут в середине XVII века становится заметным торговым городом. Здесь была сосредоточена администрация с соответствующей канцелярией. Сургутское духовенство «окормляло» русских жителей и занималось миссионерской деятельностью среди коренного населения.
                    p Главным видом транспорта был водный. На стругах приплыли сюда первые русские люди, основатели города. После создания паровых машин и пароходов вблизи Сургута оборудовали пристань. В 1900 году на пристань протянули 7-километровую телефонную линию. Это был первый сургутский телефон.
                    p К концу XVIII века относится возникновение в Сургуте ежегодных ярмарок: в обмен на пушнину и рыбу шли мука, табак, сукно, холст, бисер, платки, а также капканы, топоры, ножи, кружки и прочее.
                    p За столетия истории Сургута его посещали многие известные ученые и общественные деятели, этнографы, историки, экономисты из европейских и российских городов: писатель и дипломат Николай Спафарий, автор фундаментального труда по истории «Описание Сибирского царства» Герхард Миллер, путешественник и ученый Матиас Кастрен, этнограф и экономист С.К. Патканов, биолог и этнограф А.А. Дунин-Горкавич и многие другие.
                    p Здесь отбывали ссылку военнопленные различных войн, декабристы, народники и революционеры конца XIX – начала XX века. Многие из них оставили воспоминания и научные труды о сургутском крае.
                    p 20 июля 1891 года на Белоярской пристани побывал 23-летний наследник Престола Николай Александрович Романов, совершавший поездку по Сибири и Дальнему Востоку.
                    p Не обошли стороной Сургут и бурные революционные события начала ХХ века. 16 апреля 1918 года в городе была установлена Советская власть. А в 1920 году Сургут стал одним из центров так называемого «кулацкого» восстания против большевиков, которое было жестоко подавлено регулярными частями Красной Армии.
                    p Осенью 1923 года Сургут потерял статус города и превратился в село, центр района, площадь которого превышала 180 тысяч квадратных километров.
                    p А в 1928 году в Сургуте открылось первое промышленное предприятие - консервная фабрика.
                    .about-history-elem 
                        span С полным основанием считается, что Сургут рождался дважды. Первое его рождение проходило под перезвон топоров наших далеких предков, а второе сопровождалось мощным гулом нефтяных фонтанов.
                    p В 30-е годы предприняты первые попытки разведки полезных ископаемых. Академик Иван Михайлович Губкин еще в начале 30-х годов утверждал, что в Западной Сибири есть нефть. Его гениальное пророчество оправдалось.
                    p Осенью 1957 года геологоразведочная экспедиция под руководством молодого инженера – геолога Фармана Салманова высадилась в Сургуте для поиска нефтяных месторождений. В Сургуте создана Юганская разведка структурно-поискового бурения. В тяжелейших бытовых условиях, при минимуме техники велось разведочное бурение. Четыре года поиски были безрезультатными, но затем открытия крупных месторождений последовали одно за другим.
                    .about-history-elem 
                        span 15 ноября 1962 года открыто Западно-Сургутское месторождение нефти. В последующие годы на территории Сургутского района открыто больше тридцати месторождений. Первый и главный сургутский геолог Фарман Курбанович Салманов стал Героем Социалистического Труда, ученым с мировым именем, 28 июня 1968 года ему присвоено звание «Почетный гражданин Сургута».
                    p Именами первопроходцев-геологоразведчиков названы многие месторождения, открытые ими. Самое крупное - Федоровское - названо в честь Виктора Петровича Федорова, который в 60-е годы работал в Сургутской нефтеразведочной экспедиции.
                    p 17 мая 1964 года началась промышленная эксплуатация Усть-Балыкского месторождения нефти, а 26 мая первая баржа с нефтью отправлена на Омский нефтеперерабатывающий завод.
                    p 25 июня 1965 года Сургут преобразован в город окружного подчинения.
                p.about-subtitle Видеоролики к 430-летию со дня основания города Сургута
            hr
            .about-today 
                p.about-title Сургут сегодня
                p.about-subtitle Учреждения города Сургута