extends ../layout

block content
    main.main
        .about
            .about-content
                +about-info()
                +about-partners() 
                +about-symbols() 
                +about-history()
                +about-citizens()
                hr
                +about-monuments()
                hr
                +about-photo-chronicle()
                hr
                +about-today()
                hr
                +about-agency()
                +about-organs()
                hr
                .about-other-info
                    .about-other-info__container
                        +title({
                            title: 'Другая информация'
                        })
                        +linkslist(
                            [
                                {title:"Раздел 1",  href:"#"},
                                {title:"Раздел 2", href:"#"},
                                {title:"Раздел 3", href:"#"},
                            ]
                        )                      