extends ../layout

block content
    main.main
        +breadcrumbs(
            [
                { sort: '', href: '/', text: 'Главная' },
                { sort: '', href: '/', text: 'О Сургуте'},
                { sort: '', href: '/', text: 'Шаблонная страница с текстом'},
            ]
        )
        .about
            .about-content
                +about-info()
                +about-partners() 
                +about-symbols() 
                +about-history()
                +about-citizens()
                hr
                +about-monuments()
                hr
                +about-photo-chronicle()
                hr
                +about-today()
                +about-organs()
                hr
                .about-other-info
                    .about-other-info__container
                        +title({
                            title: 'Другая информация'
                        })
                        +linkslist(
                            [
                                {title:"Раздел 1",  href:"#"},
                                {title:"Раздел 2", href:"#"},
                                {title:"Раздел 3", href:"#"},

                            ]
                        )                      