extends ../layout

block content
    main.main 
        +breadcrumbs(
            [
                { sort: '', href: '/', text: 'Главная' },
                { sort: '', href: '/', text: 'Поиск по всем разделам сайта'},
            ],
            )
        +title({
            title: 'Поиск по всем разделам сайта'
            })
        +search-by-site()  
        .adm-search
            +project_card(false, {
                title: 'Дети – цветы жизни!',
                date: '23 сентября 2024',
                tag: {
                    size: "xs",
                    type: 'button',
                    text: 'Новости ОФПС',
                    class: 'button_blue button_radius',
                    }
                    })     
            +project_card(false, {
                title: 'В Сургуте стартовала оперативно-профилактическая акция «Дети России»',
                date: '23 сентября 2024',
                tag: {
                    size: "xs",
                    type: 'button',
                    text: 'Новости ОФПС',
                    class: 'button_blue button_radius',
                    }
                    })
            +project_card(false, {
                title: 'Дети – цветы жизни!',
                date: '23 сентября 2024',
                tag: {
                    size: "xs",
                    type: 'button',
                    text: 'Новости ОФПС',
                    class: 'button_blue button_radius',
                    }
                    }) 
            .adm-search__pagination 
                +pagination(6,4,2)
