extends ../layout

block content
    main.main
        +breadcrumbs(
            [
                { sort: '', href: '/', text: 'Главная' },
                { sort: '', href: '/', text: 'Администрация'},
                { sort: '', href: '/', text: 'Услуги населению'},
            ],
            )
        +title({title:"Услуги населению"})
        //- h4 Вставить POS баннера
        //- | Через JS
        //- h4 Услуги
        +linkslist([
            {title:"ЗАГС", description:"13 услуг", href:"#"},
            {title:"Образование", description:"13 услуг", href:"#"},
            {title:"Земельные отношения", description:"13 услуг", href:"#"}
        ])
        h4 Связанные документы
        +short-filelist([
            {title:"Инструкция - Регистрация рождения одинокой матерью.pdf", href:"#"},
            {title:"Инструкция - Регистрация рождения одинокой матерью.pdf", href:"#"},
            {title:"Инструкция - Регистрация рождения одинокой матерью.pdf", href:"#"},
            {title:"Инструкция - Регистрация рождения одинокой матерью.pdf", href:"#"}
        ])


