extends ../layout

block content   
    main.main
        +breadcrumbs(
            [
                { sort: '', href: '/', text: 'Главная' },
                { sort: '', href: '/', text: 'Доска почета'},
                { sort: '', href: '/', text: '2021 год'},
            ],
            )
        +title({
            title: 'Балун'
        })
        .init-projects 
            .init-projects__map
                #map
            .init-projects__list 
