extends ../layout

block content   
    main.main
        +breadcrumbs(
            [
                { sort: '', href: '/', text: 'Главная' },
                { sort: '', href: '/', text: 'Доска почета'},
                { sort: '', href: '/', text: '2021 год'},
            ],
            )
        +title({
            title: 'Творческая мастерская «ДИЛИЖАНС» автономного учреждения профессионального образования Ханты-Мансийского автономного округа – Югры «Сургутский политехнический колледж» (художественный руководи- тель – Соловов Дмитрий Сергеевич)'
        })
        +board-detail({image: 'board__image.png', date: '28.06.2024', about: 'Победитель Всероссийского конкурса профессионального мастерства «Лучший студенческий педагогический отряд» в номинации «Вожатские команды загородных организаций отдыха и оздоровления детей, областных и федеральных детских центров», 2020 год, III Всероссийского конкурса студенческих программ, проектов и практик воспитания в общеобразовательных организациях «Вожатые – школе», проект «Твой Skills», 2021 год.'} )
