extends ../layout

block content
    main.main
        +breadcrumbs(
            [
                { sort: '', href: '/', text: 'Главная' },
                { sort: '', href: '/', text: 'Специальное событие'},
                { sort: '', href: '/', text: 'В Сургуте масштабно отметили юбилейный, 35-й праздник, Сабантуй'},
            ],
        )
        +user_profile({
            icon: 'user_avatar.png',
            name: 'Валентинов Георгий Викторович',
            onclick: 'changeAvatar()',
        })
        +tabs([
            { title: 'Настройки', href: '/' , value: 'Настройки'},
            { title: 'Мои подписки', href: '/' , value: 'Мои подписки'},
            { title: 'Мои инициативные проекты', href: '/' , value: 'Мои инициативные проекты'},
            { title: 'Мои обращения', href: '/' , value: 'Мои обращения', isActive: true},
            ]) 
        +projects_array( false, 'cabinet', [
            {
                title: 'Номер обращения',
                date: 'Создан 23 сентября 2024',
                sort: 'project-card',
                status: 'Не заполнен',
                isGoing: false,
                tag: {
                    size: "xs",
                    type: 'button',
                    text: 'Состояние обращения',
                    class: 'button_blue button_radius',
                },
            },
            {
                title: 'Название подписки',
                date: 'Создан 23 сентября 2024',
                sort: 'project-card',
                status: 'Не заполнен',
                isGoing: false,
                tag: {
                    size: "xs",
                    type: 'button',
                    text: 'На рассмотрении',
                    class: 'button_red button_radius',
                },
            },
            {
                title: 'Название подписки',
                date: 'Создан 23 сентября 2024',
                sort: 'project-card',
                status: 'Не заполнен',
                isGoing: false,
                tag: {
                    size: "xs",
                    type: 'button',
                    text: 'Исполнена',
                    class: 'button_green button_radius',
                },
            }   
        ])          
        +pagination(3, 2, 1)