extends ../dm-layout

block content
    main.main 
        .dm-about 
            .full-width-container
                .full-width-background 
                    .full-width-content
                        +breadcrumbs(
                            [
                                { sort: '', href: '/', text: 'Главная' },
                                { sort: '', href: '/', text: 'Специальное событие'},
                                { sort: '', href: '/', text: 'В Сургуте масштабно отметили юбилейный, 35-й праздник, Сабантуй'},
                            ],
                            )  
            +event-card({
                title: 'О Думе города',
                })
            .dm-about-container 
                .dm-about-content
                    +dm-about-info()
                    hr
                    +dm-about-leadership()
                    hr
                    +about-symbols({
                        link_title: 'Дума Сургута: 20 лет вместе с городом.pdf' 
                    })
                    +dm-about-history()
                    +dm-about-address()
                    +dm-about-map()
                    .dm-about-block
                        .dm-about-title 
                            span Другая информация
                        +linkslist([
                            {title:"Депутаты VI-го созыва",  href:"#"},
                            {title:"Депутаты V-го созыва",  href:"#"},
                            {title:"Депутаты IV-го созыва",  href:"#"},
                            {title:"Депутаты III-го созыва",  href:"#"},
                            {title:"Депутаты II-го созыва",  href:"#"},
                            {title:"Депутаты I-го созыва",  href:"#"},
                            {title:"Территориальные органы общественного самоуправления",  href:"#"},
                            ])