extends ../dm-layout

block content
    main.main.dm-about
        +breadcrumbs(
            [
                { sort: '', href: '/', text: 'Главная' },
                { sort: '', href: '/', text: 'Специальное событие'},
                { sort: '', href: '/', text: 'В Сургуте масштабно отметили юбилейный, 35-й праздник, Сабантуй'},
            ],
            )
        .projects-detail    
            +event-card({
                title: 'Общие сведения',
            })   
        .dm-about-container 
            .dm-about-content
                .dm-about-block
                    p Представительным органом местного самоуправления является выборный коллегиальный орган местного самоуправления, обладающий правом представлять интересы населения и принимать от его имени решения, действующие на территории муниципального образования.
                    p Дума города состоит из 25 депутатов, избираемых на муниципальных выборах по одномандатным или многомандатным избирательным округам в соответствии с решением Думы города сроком на 5 лет, и является представительным коллегиальным выборным органом местного самоуправления городского округа.
                    p Дума города вправе осуществлять свои полномочия при условии избрания не менее 2/3 от установленной численности депутатов.
                    p Дума города обладает правами юридического лица, которыми наделяется в соответствии с действующим законодательством. Компетенция Думы города определена 
                        a(href = '#') статьей 31 главы III Устава города. 
                        | Полномочия Думы города начинаются со дня проведения первого заседания в соответствии с пунктом 3 
                        a(href='#') статьи 32 Устава городской округ город Сургут
                        | и прекращаются со дня начала работы Думы города нового созыва.
                    p Полномочия депутата начинаются со дня его избрания и прекращаются со дня начала работы Думы города нового созыва. 
                    p Депутаты Думы города осуществляют свои полномочия преимущественно на непостоянной основе. На постоянной основе вправе осуществлять свою деятельность 2 депутата.
                    p Персональный состав депутатов, осуществляющих свои полномочия на постоянной основе, определяется на первом заседании Думы города нового созыва при наличии депутатов, желающих занять эти должности.
                hr
                .dm-about-block
                    .dm-about-title 
                        span Официальные символы города Сургута
                    .dm-about-symbol
                        .dm-about-symbol-left
                            span Герб города Сургута утвержден 
                                a(href='#') решением городской Думы от 04.11.2003 № 273-III ГД. 
                                | Геральдическое описание герба муниципального образования город окружного значения Сургут гласит: «В золотом поле – черная с серебряным концом хвоста лисица, идущая по лазоревой земле»
                        .dm-about-symbol-right
                            img(src = './resources/gerb.png')
                    .dm-about-symbol
                        .dm-about-symbol-left
                            span Флаг города Сургута утвержден 
                                a(href='#') решением городской Думы от 25.04.2005 № 454- III ГД.  
                                | Флаг муниципального образования городской округ город Сургут представляет собой прямоугольное полотнище с соотношением ширины к длине 2:3, в центре которого на золотом фоне лисица с серебряным концом хвоста, идущая по лазоревой земле.
                        .dm-about-symbol-right
                            img(src = './resources/flag.png')
                hr
                .dm-about-block
                    .dm-about-title 
                        span Полномочия Думы города Сургута   
                    p В соответствии с 
                        a(href='#') Уставом муниципального образования городской округ Сургут 
                        | к компетенции Думы города относится решение следующих вопросов:
                    ol  
                        li принятие Устава городского округа Сургут, внесение в него изменений и (или) дополнений;
                        li утверждение местного бюджета и отчета о его исполнении;
                        li установление, изменение и отмена местных налогов и сборов, включая установление налоговых льгот, в соответствии с законодательством Российской Федерации о налогах и сборах;
                        li утверждение стратегии социально-экономического развития муниципального образования;
                        li определение порядка управления и распоряжения имуществом, находящимся в муниципальной собственности;
                        li определение порядка принятия решений о создании, реорганизации и ликвидации муниципальных предприятий, а также об установлении тарифов на услуги муниципальных предприятий и учреждений, выполнение работ, за исключением случаев, предусмотренных федеральными законами;
                        li определение порядка участия городского округа в организациях межмуниципального сотрудничества;
                        li определение порядка материально-технического и организационного обеспечения деятельности органов местного самоуправления городского округа;
                        li контроль за исполнением органами местного самоуправления городского округа и должностными лицами местного самоуправления городского округа полномочий по решению вопросов местного значения;
                        li принятие решения об удалении Главы города в отставку;
                        li утверждение правил благоустройства территории городского округа;
                        li утверждение описания и порядка использования официальных символов города Сургута;
                        li принятие решения об избрании Главы города в порядке, установленном настоящим Уставом;
                        li установление видов наград, почетных званий городского округа, порядка их вручения и присвоения;
                        li выдвижение инициативы изменения границ городского округа, преобразования городского округа;
                        li выражение согласия населения городского округа при изменении границ или преобразовании городского округа, выражение мнения населения при разделении городского округа в случаях, предусмотренных Федеральным законом от 06.10.2003 № 131-ФЗ «Об общих принципах организации местного самоуправления в Российской Федерации»;
                        li принятие решения о назначении местного референдума, выдвижение совместно с Главой города инициативы проведения местного референдума;
                hr
                .dm-about-block
                    .dm-about-title 
                        span Финансовая деятельность Думы города
                    .dm-finance-quote 
                        .dm-finance-quote-top 
                            span "Финансовое обеспечение деятельности органов местного самоуправления городского округа осуществляется исключительно за счет собственных доходов местного бюджета"
                        .dm-finance-quote-bot 
                            span ст. 6 п. 6 Устава города
                    .dm-finance-quote 
                        .dm-finance-quote-top 
                            span "Финансовое обеспечение деятельности органов местного самоуправления городского округа осуществляется исключительно за счет собственных доходов местного бюджета"
                        .dm-finance-quote-bot 
                            span ст. 6 п. 6 Устава города
                    .dm-about-finance-elem
                        .dm-about-finance-elem-top
                            span Сведения о плановых бюджетных ассигнованиях в целях расходования на осуществление деятельности Думы города в 2018-2020 году
                        hr
                        .dm-about-finance-elem-bot
                            .dm-about-finance-elem-bot-left
                                span Утверждены решением Думы ✓
                                a(href = '#') (№ 205-VI ДГ от 26.12.2017)
                            .dm-about-finance-elem-bot-right 
                                    +button({ type: 'link', size: "m", class: 'button_blue', href: '/about', text: "Подробнее"})
                    .dm-about-finance-elem
                        .dm-about-finance-elem-top
                            span Сведения о плановых бюджетных ассигнованиях в целях расходования на осуществление деятельности Думы города в 2018-2020 году 
                        hr
                        .dm-about-finance-elem-bot
                            .dm-about-finance-elem-bot-left
                                span Утверждены решением Думы ✓
                                a(href = '#') (№ 205-VI ДГ от 26.12.2017)
                            .dm-about-finance-elem-bot-right 
                                    +button({ type: 'link', size: "m", class: 'button_blue', href: '/about', text: "Подробнее"})
                    .dm-about-finance-elem
                        .dm-about-finance-elem-top
                            span Сведения о плановых бюджетных ассигнованиях в целях расходования на осуществление деятельности Думы города в 2018-2020 году 
                        hr
                        .dm-about-finance-elem-bot
                            .dm-about-finance-elem-bot-left
                                span Утверждены решением Думы ✓
                                a(href = '#') (№ 205-VI ДГ от 26.12.2017)
                            .dm-about-finance-elem-bot-right 
                                    +button({ type: 'link', size: "m", class: 'button_blue', href: '/about', text: "Подробнее"})
                    .dm-about-finance-elem
                        .dm-about-finance-elem-top
                            span Сведения о плановых бюджетных ассигнованиях в целях расходования на осуществление деятельности Думы города в 2018-2020 году
                        hr
                        .dm-about-finance-elem-bot
                            .dm-about-finance-elem-bot-left
                                span Утверждены решением Думы ✓
                                a(href = '#') (№ 205-VI ДГ от 26.12.2017)
                            .dm-about-finance-elem-bot-right 
                                    +button({ type: 'link', size: "m", class: 'button_blue', href: '/about', text: "Подробнее"})
                    .dm-about-finance-elem
                        .dm-about-finance-elem-top
                            span Сведения о плановых бюджетных ассигнованиях в целях расходования на осуществление деятельности Думы города в 2018-2020 году
                        hr
                        .dm-about-finance-elem-bot
                            .dm-about-finance-elem-bot-left
                                span Утверждены решением Думы ✓
                                a(href = '#') (№ 205-VI ДГ от 26.12.2017)
                            .dm-about-finance-elem-bot-right 
                                    +button({ type: 'link', size: "m", class: 'button_blue', href: '/about', text: "Подробнее"})
                    .dm-about-finance-elem
                        .dm-about-finance-elem-top
                            span Сведения о плановых бюджетных ассигнованиях в целях расходования на осуществление деятельности Думы города в 2018-2020 году 
                        hr
                        .dm-about-finance-elem-bot
                            .dm-about-finance-elem-bot-left
                                span Утверждены решением Думы ✓
                                a(href = '#') (№ 205-VI ДГ от 26.12.2017)
                            .dm-about-finance-elem-bot-right 
                                    +button({ type: 'link', size: "m", class: 'button_blue', href: '/about', text: "Подробнее"})
                    .dm-about-finance-docs
                        +short-filelist([
                            {title:'Распоряжение от 22.01.2020 №3 "Об Учётной политике Думы города Сургута".pdf', href:"#"},
                            {title:'Сведения об использовании Думой города Сургута выделенных бюджетных средств в 2023 году.pdf', href:"#"},
                            {title:'Сведения об использовании Думой города Сургута выделенных бюджетных средств в 2022 году.pdf', href:"#"},
                            {title:'Сведения об использовании Думой города Сургута выделенных бюджетных средств в 2022 году.pdf', href:"#"},
                            {title:'Сведения об использовании Думой города Сургута выделенных бюджетных средств в 2022 году.pdf', href:"#"},
                            {title:'Сведения об использовании Думой города Сургута выделенных бюджетных средств в 2022 году.pdf', href:"#"},
                            {title:'Сведения об использовании Думой города Сургута выделенных бюджетных средств в 2021 году.pdf', href:"#"},
                            {title:'Сведения об использовании Думой города Сургута выделенных бюджетных средств в 2021 году.pdf', href:"#"},
                            {title:'Сведения об использовании Думой города Сургута выделенных бюджетных средств в 2021 году.pdf', href:"#"},
                            {title:'Сведения об использовании Думой города Сургута выделенных бюджетных средств в 2021 году.pdf', href:"#"},
                            {title:'Сведения об использовании Думой города Сургута выделенных бюджетных средств в 2021 году.pdf', href:"#"},
                            {title:'Сведения об использовании Думой города Сургута выделенных бюджетных средств в 2021 году.pdf', href:"#"}
                        ])
                hr
                .dm-about-block
                    .dm-about-title 
                        span Историческая справка
                    p В целях укрепления основ народовластия 26 октября 1993 года был принят 
                        a(href='#') Указ Президента Российской Федерации № 1760 
                        | "О реформе местного самоуправления в Российской Федерации", согласно которому деятельность городского Совета народных депутатов в городе прекращена, его функции были возложены на городскую администрацию.
                    p В соответствии с постановлением Главы Администрации Тюменской области на 6 марта 1994 года назначены выборы органов местного самоуправления области, а согласно Положению, утвержденному Малым Советом областного Совета народных депутатов от 24.12.1993 № 321 "Об основных началах проведения выборов в органы местного самоуправления", определено, что в городах Тюменской области с населением свыше 50 тыс. человек избирается в представительный орган муниципального образования в количестве до 15 представителей.
                    p Объявленные на 6 марта 1994 года на территории муниципального образования город Сургут выборы депутатов городской Думы не состоялись, в связи с тем, что явка избирателей оказалась ниже установленного законодательством показателя (менее 25%).
                    p 22 сентября 1994 года, учитывая рекомендации Избирательной комиссии Ханты-Мансийского автономного округа, решением городской избирательной комиссии назначены новые выборы депутатов городской Думы на 20 ноября 1994 года.
                    p В соответствии со статьей 19 Положения о выборах в представительные органы местного самоуправления на территории Ханты-Мансийского автономного округа окружные избирательные комиссии по 13 городским избирательным округам зарегистрировали 55 кандидатов в депутаты городской Думы.
                    p 20 ноября 1994 года состоялись выборы 13 депутатов городской Думы 
                        a(href='#') первого созыва, 
                        | которые проводились по мажоритарной избирательной системе по 13 одномандатным избирательным округам.
                    p Окружные избирательные комиссии по выборам депутатов городской Думы,  рассмотрев итоговые  протоколы участковых избирательных комиссий, признали выборы 20 ноября 1994 года состоявшимися. При числе зарегистрированных по городу Сургуту избирателей в количестве 167024 человек, в выборах приняло участие 117307 избирателей, процент голосования составил 69,8%.
                    p С целью повышения политической активности городского электората в день проведения выборов 20 ноября 1994 года городским управлением культуры было организовано и проведено 70 концертов художественной самодеятельности, подготовленных силами коллективов городских Домов культуры, педагогического колледжа, музыкальных и средних общеобразовательных школ, в которых приняло участие более 800 человек, 48 творческих коллективов. В этот день в городских кинотеатрах бесплатно демонстрировались художественны фильмы и бесплатно осуществляя перевозку пассажиров городской общественный транспорт.
                    p В начале декабря 1994 года было проведено первое организационное заседание представительного органа местного самоуправления города - городской Думы, которое открыл старейший по возрасту депутат Думы Соловьев Николай Васильевич. 
                    p 20 декабря 1994 года состоялось первое заседание представительного органа местного самоуправления города - городской Думы. На первом заседании городской Думы были приняты временные Положение о городской Думе и Регламент. В соответствии со статьей 1 временного Регламента городской Думы председательствовал на заседаниях Думы города глава местного самоуправления (глава администрации).
                    p 22 февраля 1996 года депутатами городской Думы было принято историческое для города решение № 65, в соответствии с которым был утвержден первый Устав муниципального образования город Сургут, состоящий из 4-х разделов и 25 глав.
                    p Срок полномочий Думы первого созыва составил 2 года. Всего за первый созыв состоялось 18 заседаний городской Думы, принято 116 решений. Все депутаты работали на непостоянной основе. 
                    p В августе 1996 года в соответствии с Законом Ханты-Мансийского автономного округа 15-оз "О выборах депутатов в представительные органы местного самоуправления муниципальных образований в Ханты-Мансийском автономном округе" была сформирована городская территориальная избирательная комиссия, на 27 октября 1996 года были назначены выборы депутатов городской Думы 
                        a(href='#') второго созыва 
                        | со сроком их полномочий 4 года и в городе началась активная подготовка к предстоящим выборам.
                    p 12 марта 2006 года состоялись выборы депутатов Думы города четвертого созыва, которые дали старт новой системе муниципального устройства.
                    p Согласно Уставу муниципального образования городской округ город Сургут Дума города, в соответствии с решением, принятым городской Думой 18.02.2005 
                        a(href='#') № 425-III ГД, 
                        | является представительным коллегиальным выборным органом местного самоуправления городского округа, обладает правами юридического лица, состоит из 25 депутатов, избираемых на муниципальных выборах сроком на 5 лет.
                    p Вновь избранный депутатский состав Думы города обновился более чем на 80%. В состав Думы вошли 22 новичка. Трое депутатов уже имели опыт работы в городской Думе. Самому старшему депутату 69 лет, 2-м самым младшим - 31. Средний возраст Сургутского депутата - 48 лет. В Думу города избраны 19 мужчин и всего 6 женщин. Из 25 депутатов 6 человек являются работниками бюджетной сферы, 9 - представителями градообразующих предприятий города {ОАО "Сургутнефтегаз" (4), ООО "Газпром переработка" (4), ОАО "Тюменьэнерго" (1)}, 2 - представителями строительной отрасли, 2 - средств массовой информации.
                    p 31 марта 2006 года состоялось первое организационное заседание Думы города IV созыва, проводимом под председательством старейшего депутата Назина Г.И., на котором тайным голосованием были избраны:
                    ul 
                        li Председатель Думы города - Кузьменко Юрий Понтилеевич;
                        li заместитель Председателя Думы города, работающий на постоянной основе - Савенков Алексей Исаевич;
                        li заместитель Председателя Думы города, работающий на непостоянной основе - Дьячков Евгений Вячеславович.
                    p С 2006 года Дума города сформировала свой 
                        a(href='#') аппарат.
                    p 27 апреля 2006 года в соответствии с решением Думы города 
                        a(href='#') № 11-IV ДГ 
                        | в соответствии с пунктом 7 статьи 
                    p 32 Устава города образованы 
                        a(href='#') постоянные комитеты 
                        | Думы города.
                    .dm-about-history-doc
                        +short-filelist([
                                {title:'Дума Сургута: 20 лет вместе с городом.pdf', href:"#"}
                                ])
                hr
                .dm-about-block
                    +linkslist([
                        {title:"Депутаты VI-го созыва",  href:"#"},
                        {title:"Депутаты V-го созыва",  href:"#"},
                        {title:"Депутаты IV-го созыва",  href:"#"},
                        {title:"Депутаты III-го созыва",  href:"#"},
                        {title:"Депутаты II-го созыва",  href:"#"},
                        {title:"Депутаты I-го созыва",  href:"#"},
                        {title:"Территориальные органы общественного самоуправления",  href:"#"},
                        ])