extends ../dm-layout

block content
    main.main
        +breadcrumbs(
            [
                { sort: '', href: '/', text: 'Главная' },
                { sort: '', href: '/', text: 'Администрация'},
                { sort: '', href: '/', text: 'Заместители'},
            ],
            )
        +title({
            title: 'Депутаты'
        })
        +tabs( 
            [
                { isActive: true, title: 'По алфавиту', href: '/' },
                { title: 'По фракциям', href: '/' },
                { title: 'По комитету', href: '/' },
            ])
        .dm-deputies__search
            +search(
                    {name: 'surname', size: 'l', placeholder: 'Поиск по фамилии', type: 'search'},
                        false, 'l', 'getValues()', 'feedbacks',)
        +dm-deputies-alphabet(
            [
                {
                    letter: 'А',
                    persons: 
                            [
                                {
                                img: 'kirilenko_avatar.png',
                                surname: 'Барсов',
                                name: 'Евгений Вячеславович'
                                }
                            ]
                },
                {
                    letter: 'Б',
                    persons: 
                            [
                                {
                                img: 'kirilenko_avatar.png',
                                surname: 'Барсов',
                                name: 'Евгений Вячеславович'
                                }, 
                                {
                                img: 'kirilenko_avatar.png',
                                surname: 'Барсов',
                                name: 'Евгений Вячеславович'
                                }
                            ]
                },
                {
                    letter: 'В',
                    persons: 
                            [
                                {
                                img: 'kirilenko_avatar.png',
                                surname: 'Барсов',
                                name: 'Евгений Вячеславович'
                                }, 
                                {
                                img: 'kirilenko_avatar.png',
                                surname: 'Барсов',
                                name: 'Евгений Вячеславович'
                                }, 
                                {
                                img: 'kirilenko_avatar.png',
                                surname: 'Барсов',
                                name: 'Евгений Вячеславович'
                                }
                            ]
                },
                {
                    letter: 'Г',
                    persons: 
                            [
                                {
                                img: 'kirilenko_avatar.png',
                                surname: 'Барсов',
                                name: 'Евгений Вячеславович'
                                }, 
                                {
                                img: 'kirilenko_avatar.png',
                                surname: 'Барсов',
                                name: 'Евгений Вячеславович'
                                }, 
                                {
                                img: 'kirilenko_avatar.png',
                                surname: 'Барсов',
                                name: 'Евгений Вячеславович'
                                }, 
                                {
                                img: 'kirilenko_avatar.png',
                                surname: 'Барсов',
                                name: 'Евгений Вячеславович'
                                }
                            ]
                },
            ]
        )