extends ../dm-layout

block content
    main.main
        +breadcrumbs(
            [
                { sort: '', href: '/', text: 'Главная' },
                { sort: '', href: '/', text: 'Новости'},
                { sort: '', href: '/', text: 'В Сургуте масштабно отметили юбилейный, 35-й праздник, Сабантуй'},
            ],
        )
        .afisha-event
            .afisha-event__container 
                +dm-event-card(
                    { 
                        tags: true,
                        date: 'от 21 января 2024',
                        last_date: 'последнее обновление: 23 января 2024',
                        title: 'В Сургуте масштабно отметили юбилейный, 35-й праздник, Сабантуй',
                        description: '18 июня на Центральной площади города отметили традиционный татарский и башкирский праздник. В Сургуте в этом году Сабантуй прошел в 35-й, юбилейный, раз. В мероприятии приняли участие 15 тысяч человек.', 
                    })
                .afisha-event__content 
                    .afisha-event__main-text 
                        h4.afisha-event__title Заголовок
                        p.afisha-event__text Предваряя мероприятие в Администрации города состоялась встреча с представителями делегаций Муслюмовского муниципального района (Республика Татарстан), Дома дружбы народов Республики Башкортостан и города Сибай. Гости приехали с двухдневным визитом в наш город для участия в Сабантуе.дерации разделяет муниципальные правовые акты на нормативные и ненормативные.
                    .afisha-event__quote
                        q.afisha-event__quote-text Мы приехали большой делегацией из Муслюмовского района. Привезли красивые концертные номера и традиционную атрибутику, которые олицетворяют татарскую культуру. Сабантуй уже давно перешел в разряд межнационального культурного общения и дружбы народов. Очень приятно оказаться в Сургуте в этот день. Отрадно, что здесь относятся с трепетом к традициям населения города. Мы с удовольствием приняли приглашение приехать в Сургут
                        span.afisha-event__quote-author Альберт Хузин, Глава Муслюмовского муниципального района.         
                    .afisha-event__preview
                        img(src="./resources/hearing.jpg" alt='Превью').afisha-event__link-image
                        a(href="/hearing-detail.html").afisha-event__item-play
                            ion-icon(name=`play` class=`icon`)
                    .afisha-event__main-text 
                        h4.afisha-event__title Еще один заголовок                  
                        p.afisha-event__text В этот день для гостей праздника подготовили насыщенную программу с яркими выступлениями творческих коллективов города. В Сабантуе приняли участие коллектив татарской культуры «Сандугач» и Народный самодеятельный коллектив ансамбль народного танца «Шатлык». Гостями юбилейного Сабантуя стали коллективы Нефтеюганска и Лянтора, а также мастера искусств Республики Татарстан и Республики Башкортостан, которые представили яркую и обширную культурную программу.
                        br
                        p.afisha-event__text Сабантуй – это праздник единения, передачи традиций, культуры и наследия. Подготовлена насыщенная культурная программа. Это праздник, который мы отмечаем в 35-й раз. У нас сильные общественные организации и лидеры, которые объединили вокруг себя молодежь и продолжают бережно передавать культуру и традиции своих народов молодому поколению. И главное сохранять наше единство. Ведь когда мы едины, мы непобедимы
                        br
                        p.afisha-event__text В течение дня все желающие смогли принять участие в традиционных играх, мастер-классах по декоративно-прикладному искусству и соревнованиях. Главным традиционным спортивным событием праздника стала увлекательная борьба корэш. Это вид национального спортивного единоборства, считающийся одним из самых зрелищных и интересных. Состязание провели представители РОО «Федерация борьбы на поясах и корэш» Ханты-Мансийского автономного округа - Югры.
                        br
                        p.afisha-event__text Сабантуй один из самых массовых народных праздников в нашем городе. Его традиционно посещает большое количество сургутян. Мероприятие окрашено яркой национальной палитрой, дружественной атмосферой и взаимопониманием. Праздник уже давно стал народным. Его отмечают не только татары и башкиры, но и все жители Сургута.
                    .afisha-event__banner 
                        .afisha-event__banner-list(id='afisha-event__banner-list')
                            img(src='../img/banner.png' class='afisha-event__image' alt='Баннер события')
                            img(src='../img/banner_3.png' class='afisha-event__image' alt='Баннер события')
                        .afisha-event__navigation 
                            span.afisha-event__comment Небольшой комментарий к фотографии
                            +slider({ class: 'afisha-event' })