extends ../dm-layout

block content
    main.main
        +breadcrumbs(
            [
                { sort: '', href: '/', text: 'Главная' },
                { sort: '', href: '/', text: 'О думе города'},
                { sort: '', href: '/', text: 'Финансы'},
            ],
            )
        +title({
            title: 'Финансы'
        })
        +dm-finance(
            [
                {
                name: 'Сведения о плановых бюджетных ассигнованиях в целях расходования на осуществление деятельности Думы города в 2018-2020 году ',
                status: 'Утверждены решением Думы',
                doc: '(№ 352-VII ДГ от 31.05.2023)',
                icon: 'checkmark'
                },
                {
                name: 'Сведения о плановых бюджетных ассигнованиях в целях расходования на осуществление деятельности Думы города в 2018-2020 году ',
                status: 'Утверждены решением Думы',
                doc: '(№ 352-VII ДГ от 31.05.2023)',
                icon: 'checkmark'
                },
                {
                name: 'Сведения о плановых бюджетных ассигнованиях в целях расходования на осуществление деятельности Думы города в 2018-2020 году ',
                status: 'Утверждены решением Думы',
                doc: '(№ 352-VII ДГ от 31.05.2023)',
                icon: 'checkmark'
                },
                {
                name: 'Сведения о плановых бюджетных ассигнованиях в целях расходования на осуществление деятельности Думы города в 2018-2020 году ',
                status: 'Утверждены решением Думы',
                doc: '(№ 352-VII ДГ от 31.05.2023)',
                icon: 'checkmark'
                },
            ],
            [
                {title:'Распоряжение от 22.01.2020 №3 "Об Учётной политике Думы города Сургута".pdf', href:"#"},
                {title:"Cведения об использовании Думой города Сургута выделенных бюджетных средств в 2023 году.pdf", href:"#"},
                {title:"Сведения об использовании Думой города Сургута выделенных бюджетных средств в 2022 году.pdf", href:"#"},
                {title:"Сведения об использовании Думой города Сургута выделенных бюджетных средств в 2021 году.pdf", href:"#"}
            ]
        )