extends ../dm-layout

block content
    main.main
        +main-title({
            href: '/',
            title: 'Главные новости',
            link_text: 'Все новости',
            })
        .news.dm-news 
            +tabs( 
                [
                    { isActive: true, title: 'Самые важные', href: '/' },
                    { title: 'Реализация нацпроектов', href: '/' },
                    { title: 'Деятельность администрации', href: '/' },
                    { title: 'Областная дума', href: '/' },
                ])
            .news__container
                +news-card-with-image()
                .news__list    
                    +news-card-without-image({
                        classIcon: 'dm-card-without-image__icon'
                    })
                    +news-card-without-image({
                        classIcon: 'dm-card-without-image__icon'
                    })
                    +news-card-without-image({
                        classIcon: 'dm-card-without-image__icon'
                    })
                    +news-card-without-image({
                        classIcon: 'dm-card-without-image__icon'
                    })                                     
        .main-events
            .main-events__container 
                +main-title({
                    href: '/',
                    title: 'Хроника и анонсы событий',
                    link_text: 'Все события'
                })
                .dm-filter__btn
                    +button({ type: 'button', size: 'm', class: 'button_white dm-filter__button', icon: 'funnel-outline', iconPosition: 'left', text: 'Фильтры'})     
                .dm-calendar__btn
                    +button({ type: 'button', class: 'button_white dm-calendar__button', iconPosition: 'left', icon: 'calendar-number-outline', text: "Календарь"})                    
                +filters()
                +chronicle()                                                       
        .important-links
            .full-width-container
                .full-width-background
                    .full-width-content 
                        +main-title({
                            href: '/',
                            title: 'Архив трансляций',
                            link_text: 'Все видео и фото',
                            type: 'tabs',
                            tabs: [
                                { isActive: true, title: 'Архив трансляций', href: '/' },
                                { title: 'Фото', href: '/' },
                                '', 'dm-title-tabs'
                            ]
                        })
                        +tabs( 
                            [
                                { isActive: true, title: 'Самые важные', href: '/' },
                                { title: 'Заседания', href: '/' },
                                { title: 'Публичные слушания', href: '/' },
                            ])
                        +archive-dm()
                        .usefull-links__navigation
                            +navigation({
                                first_page: '1',
                                end_page: '2',
                                classIcon: 'dm-navigation__link'
                                    })
        .solve-problems
            +main-title({
                href: '/',
                title: 'Решаем проблемы вместе',
            })   
            .solve-problems__container
                img.solve-problems__banner(src='../img/banner_1.png' alt='Баннер')                                  
        .important-inf
            +main-title({
                href: '/',
                title: 'Проекты Думы города',
                slider: true,
                sliderIcon: {
                    classIcon: 'dm-slider__link'
                }
            })   
            +projects-dm()
        .usefull-links
            +main-title({
                href: '/',
                title: 'Полезные ссылки',
            })
            .usefull-links__container
                +main-link({
                    class: 'usefull',
                    href: '/',
                    icon: 'arrow-right_icon.svg',
                    title: 'Оплата ЖКХ услуг ',
                    classIcon: 'dm-usefull-link__icon'
                })
                +main-link({
                    class: 'usefull',
                    href: '/',
                    icon: 'arrow-right_icon.svg',
                    title: 'Виртуальная приемная',
                    classIcon: 'dm-usefull-link__icon'
                })
                +main-link({
                    class: 'usefull',
                    href: '/',
                    icon: 'arrow-right_icon.svg',
                    title: 'Пособия и налоги',
                    classIcon: 'dm-usefull-link__icon'
                })
                +main-link({
                    class: 'usefull',
                    href: '/',
                    icon: 'arrow-right_icon.svg',
                    title: 'Расписание общественного транспорта',
                    classIcon: 'dm-usefull-link__icon'
                })
                +main-link({
                    class: 'usefull',
                    href: '/',
                    icon: 'arrow-right_icon.svg',
                    title: 'Выплаты пенсионерам',
                    classIcon: 'dm-usefull-link__icon'
                })
                +main-link({
                    class: 'usefull',
                    href: '/',
                    icon: 'arrow-right_icon.svg',
                    title: 'Запись на публичные слушания',
                    classIcon: 'dm-usefull-link__icon'
                })
                +main-link({
                    class: 'usefull',
                    href: '/',
                    icon: 'arrow-right_icon.svg',
                    title: 'Социальные услуги',
                    classIcon: 'dm-usefull-link__icon'
                })
                +main-link({
                    class: 'usefull',
                    href: '/',
                    icon: 'arrow-right_icon.svg',
                    title: 'Работа в России',
                    classIcon: 'dm-usefull-link__icon'
                })        