extends ../dm-layout

block content
    main.main
        +main-title({
            href: '/',
            title: 'Главные новости',
            link_text: 'Все новости',
            })
        .news.dm-news 
            +tabs( 
                [
                    { isActive: true, title: 'Самые важные', href: '/' },
                    { title: 'Реализация нацпроектов', href: '/' },
                    { title: 'Деятельность администрации', href: '/' },
                    { title: 'Областная дума', href: '/' },
                ])
            .news__container
                +news-card-with-image()
                .news__list    
                    +news-card-without-image()
                    +news-card-without-image()
                    +news-card-without-image()
                    +news-card-without-image()                                     
        .main-events
            .main-events__container 
                +main-title({
                    href: '/',
                    title: 'Хроника и анонсы событий',
                    link_text: 'Все события'
                })
                +filters()
                +chronicle()                                                       
        .important-links
            .full-width-container
                .full-width-background
                    .full-width-content 
                        +main-title({
                            href: '/',
                            title: 'Архив трансляций',
                            link_text: 'Все видео и фото'
                        })
                        +tabs( 
                            [
                                { isActive: true, title: 'Самые важные', href: '/' },
                                { title: 'Заседания', href: '/' },
                                { title: 'Публичные слушания', href: '/' },
                            ])
                        +archive-dm()
                        .usefull-links__navigation
                            +navigation({
                                first_page: '1',
                                end_page: '2',
                                    })
        .solve-problems
            +main-title({
                href: '/',
                title: 'Решаем проблемы вместе',
            })   
            .solve-problems__container
                img.solve-problems__banner(src='../img/banner_1.png' alt='Баннер')                                  
        .important-inf
            +main-title({
                href: '/',
                title: 'Проекты Думы города',
                slider: true,
            })   
            +projects-dm()
        .usefull-links
            +main-title({
                href: '/',
                title: 'Полезные ссылки',
            })
            .usefull-links__container
                +main-link({
                    class: 'usefull',
                    href: '/',
                    icon: 'arrow-right_icon.svg',
                    title: 'Оплата ЖКХ услуг ',
                })
                +main-link({
                    class: 'usefull',
                    href: '/',
                    icon: 'arrow-right_icon.svg',
                    title: 'Виртуальная приемная',
                })
                +main-link({
                    class: 'usefull',
                    href: '/',
                    icon: 'arrow-right_icon.svg',
                    title: 'Пособия и налоги',
                })
                +main-link({
                    class: 'usefull',
                    href: '/',
                    icon: 'arrow-right_icon.svg',
                    title: 'Расписание общественного транспорта',
                })
                +main-link({
                    class: 'usefull',
                    href: '/',
                    icon: 'arrow-right_icon.svg',
                    title: 'Выплаты пенсионерам',
                })
                +main-link({
                    class: 'usefull',
                    href: '/',
                    icon: 'arrow-right_icon.svg',
                    title: 'Запись на публичные слушания',
                })
                +main-link({
                    class: 'usefull',
                    href: '/',
                    icon: 'arrow-right_icon.svg',
                    title: 'Социальные услуги',
                })
                +main-link({
                    class: 'usefull',
                    href: '/',
                    icon: 'arrow-right_icon.svg',
                    title: 'Работа в России',
                })        