extends ../dm-layout

block content
    main.main
        +breadcrumbs(
            [
                { sort: '', href: '/', text: 'Главная' },
                { sort: '', href: '/', text: 'Деятельность'},
                { sort: '', href: '/', text: 'Заседания Думы города'},
                { sort: '', href: '/', text: '18-е заседание Думы города'},
            ],
            )
        +title({
            title: '18-е заседание Думы города',
            description: 'Оперативная информация о результатах рассмотрения вопросов'
        })
        +dm-meeting(
            {
                addr: 'Зал заседаний Думы города (уд. Восход, 4)',
                date: '26.05.2023, 10:00',
                quantity: '22 депутата',
                decisions: '23 решения'
            },
            [
                {
                    num: '1',
                    name: 'Об исполнении бюджета городского округа Сургут Ханты-Мансийского автономного округа – Югры за 2022 год. (21)',
                    prepare: 'Администрация города',
                    speaker: 'Новикова Маргарита Александровна, директор департамента финансов',
                    vote: '22',
                    decision: 'Решение принято',
                    icon: 'checkmark',
                    doc: '(№ 352-VII ДГ от 31.05.2023)'
                },
                {
                    num: '1',
                    name: 'Об исполнении бюджета городского округа Сургут Ханты-Мансийского автономного округа – Югры за 2022 год. (21)',
                    prepare: 'Администрация города',
                    speaker: 'Новикова Маргарита Александровна, директор департамента финансов',
                    vote: '22',
                    decision: 'Решение принято',
                    icon: 'checkmark',
                    doc: '(№ 352-VII ДГ от 31.05.2023)'
                },
                {
                    num: '1',
                    name: 'Об исполнении бюджета городского округа Сургут Ханты-Мансийского автономного округа – Югры за 2022 год. (21)',
                    prepare: 'Администрация города',
                    speaker: 'Новикова Маргарита Александровна, директор департамента финансов',
                    vote: '22',
                    decision: 'Решение принято',
                    icon: 'checkmark',
                    doc: '(№ 352-VII ДГ от 31.05.2023)'
                },
                {
                    num: '1',
                    name: 'Об исполнении бюджета городского округа Сургут Ханты-Мансийского автономного округа – Югры за 2022 год. (21)',
                    prepare: 'Администрация города',
                    speaker: 'Новикова Маргарита Александровна, директор департамента финансов',
                    vote: '22',
                    decision: 'Решение принято',
                    icon: 'checkmark',
                    doc: '(№ 352-VII ДГ от 31.05.2023)'
                }
            ]
        )
        +pagination(6, 4, 5)
