extends ../dm-layout

block content
    main.main
        +breadcrumbs(
            [
                { href: '/', text: 'Главная' },
                { text: 'Обращение'},
            ],
            )
        +title({
            title: 'Обращение'
        })
        +dm-reception()
