extends ../dm-layout

block content
    main.main
        +breadcrumbs(
            [
                { sort: 'crumb', href: '/', text: 'Главная' },
                { sort: 'crumb', href: '/', text: 'Комитеты'},
        ])
        +title({
            title: 'Комитеты'
        })
        +linkslist([{title:"Назначающий НПА",  href:"#"},{title:"Объявление с материалами", href:"#"},])
        p Согласно статье 32 Устава города Сургута Дума города на срок своих полномочий из числа депутатов образует постоянные комитеты, численный состав которых и полномочия определяются Регламентом Думы города и положениями о постоянных комитетах.
        p Согласно ст. 3 Регламента Думы города постоянные комитеты относятся к органам Думы, созданы в целях подготовки и предварительного рассмотрения проектов решений и иных вопросов, относящихся к компетенции Думы города.
        p В соответствии с решением Думы города от 29.10.2021 № 10-VII ДГ «О постоянных комитетах Думы города» (в редакции от 26.11.2021) в Думе города VII созыва образованы четыре постоянных комитета Думы города, избраны председатели и заместители председателей постоянных комитетов.
        p Полномочия и порядок работы постоянных комитетов Думы города установлены Положениями о постоянных комитетах Думы города, утверждёнными решением Думы города от 30.05.2006 № 33-IV ДГ (в редакции от 05.05.2014 № 503-V ДГ).
        p Заседания постоянных комитетов Думы города проводятся в соответствии с планом работы Думы, который утверждается на полугодие.
        p Каждый постоянный комитет Думы должен отчитываться о своей деятельности не реже одного раза в год. Отчёт о работе постоянного комитета за год утверждается постановлением Председателя Думы.
        +short-filelist([{title:"Отчёт о деятельности постоянных комитетов в 2023 году", href:"#"}, {title:"Отчёт о деятельности постоянных комитетов в 2022 году", href:"#"}])