extends ../dm-layout

block content
    main.main
        +breadcrumbs(
            [
                { href: '/', text: 'Главная' },
                { text: 'Обращение'},
            ],
            )
        +title({
            title: 'Информация о приёме избирателей по личным вопросам депутатами Думы города'
        })
        +dm-schedule([
            {
                name:'Избирательный округ № 1',
                list:'проспект Ленина (№ 66, 66/1, 68, 70, 70/1, 72, 73, 74, 75/2); улицы: Игоря Киртбая (кроме дома № 5/2), Июльская, Кленовая, Приозерная, Профсоюзов (№ 12/2), Рябиновая, Сиреневая, Солнечная, Флегонта Показаньева, Чехова (№ 1, 3), проезды: Калиновый, Радужный, Светлый, Счастливый; тракты: Тюменский (№ 19), Югорский (№ 1, 4).',
                head:'Слепов Максим Николаевич',
                work:'ПАО «Сургутнефтегаз», начальник отдела водоснабжения и водоотведения управления по организации обслуживания производства',
                status:'Исполняющий обязанности Председателя Думы города',
                addr:'Дума города, ул. Восход, 4, каб. 201 Общественная приёмная МО ВПП «ЕДИНАЯ РОССИЯ», г. Сургут, пр-кт Ленина, 45',
                date:'пятница с 17-00 до 19-00; последняя пятница месяца с 17-00 до 19-00',
                phone:'+7 982 417 03 78; 47-03-78'
            },
            {
                name:'Избирательный округ № 1',
                list:'проспект Ленина (№ 66, 66/1, 68, 70, 70/1, 72, 73, 74, 75/2); улицы: Игоря Киртбая (кроме дома № 5/2), Июльская, Кленовая, Приозерная, Профсоюзов (№ 12/2), Рябиновая, Сиреневая, Солнечная, Флегонта Показаньева, Чехова (№ 1, 3), проезды: Калиновый, Радужный, Светлый, Счастливый; тракты: Тюменский (№ 19), Югорский (№ 1, 4).',
                head:'Слепов Максим Николаевич',
                work:'ПАО «Сургутнефтегаз», начальник отдела водоснабжения и водоотведения управления по организации обслуживания производства',
                status:'Исполняющий обязанности Председателя Думы города',
                addr:'Дума города, ул. Восход, 4, каб. 201 Общественная приёмная МО ВПП «ЕДИНАЯ РОССИЯ», г. Сургут, пр-кт Ленина, 45',
                date:'пятница с 17-00 до 19-00; последняя пятница месяца с 17-00 до 19-00',
                phone:'+7 982 417 03 78; 47-03-78'
            },
            {
                name:'Избирательный округ № 1',
                list:'проспект Ленина (№ 66, 66/1, 68, 70, 70/1, 72, 73, 74, 75/2); улицы: Игоря Киртбая (кроме дома № 5/2), Июльская, Кленовая, Приозерная, Профсоюзов (№ 12/2), Рябиновая, Сиреневая, Солнечная, Флегонта Показаньева, Чехова (№ 1, 3), проезды: Калиновый, Радужный, Светлый, Счастливый; тракты: Тюменский (№ 19), Югорский (№ 1, 4).',
                head:'Слепов Максим Николаевич',
                work:'ПАО «Сургутнефтегаз», начальник отдела водоснабжения и водоотведения управления по организации обслуживания производства',
                status:'Исполняющий обязанности Председателя Думы города',
                addr:'Дума города, ул. Восход, 4, каб. 201 Общественная приёмная МО ВПП «ЕДИНАЯ РОССИЯ», г. Сургут, пр-кт Ленина, 45',
                date:'пятница с 17-00 до 19-00; последняя пятница месяца с 17-00 до 19-00',
                phone:'+7 982 417 03 78; 47-03-78'
            }
        ])
