extends ../layout

block content
    main.main
        +breadcrumbs(
            [
                { sort: '', href: '/', text: 'Главная' },
                { sort: '', href: '/', text: 'Администрация'},
                { sort: '', href: '/', text: 'Заместители'},
            ],
            )
        +title({
            title: 'Структура Думы города'
        })
        +dm-struct()
        