extends ../layout

block content
    main.main 
        +breadcrumbs(
            [
                { sort: '', href: '/', text: 'Главная' },
                { sort: '', href: '/', text: 'Документы'},
                { sort: '', href: '/', text: 'Постановления Администрации города'},
            ],
            )
        +title({
            title: 'Постановления Администрации города'
            })
        +doc-list([
            {title:"О предоставлении субсидии субъекту малого и среднего предпринимательства", num:"123", date:"19.06.2023", href:"#"},
            {title:"О внесении изменения в постановление Администрации города от 28.11.2022 № 9334 «Об утверждении календарного плана физкультурных мероприятий и спортивных мероприятий муниципального образования городской округ Сургут Ханты-Мансийского автономного округа – Югры на 2023 год»", num:"123", date:"19.06.2023", href:"#"},
            {title:"О внесении изменения в постановление Администрации города от 28.11.2022 № 9334 «Об утверждении календарного плана физкультурных мероприятий и спортивных мероприятий муниципального образования городской округ Сургут Ханты-Мансийского автономного округа – Югры на 2023 год»", num:"123", date:"19.06.2023", href:"#"}
        ])
        +pagination(6, 3, 2)