extends ../layout

block content
    main.main 
        +breadcrumbs(
            [
                { sort: '', href: '/', text: 'Главная' },
                { sort: '', href: '/', text: 'Опросы'},
                { sort: '', href: '/', text: 'Создание агломераций на территории Ханты-Мансийского автономного округа-Югры'},
            ],
            )
        +title({
            title: 'Узнать статус обращения'
            })
        .feedback-status
            .feedback-status__container 
                .feedback-status__title Введите выданный номер обращения
                .feedback-status__form
                    +search(
                    {name: 'number', size: 'l', placeholder: 'Номер обращения', type: 'search'},
                        false, 'l', 'getValues()', 'feedbacks',)  
        <div class="content">
            <p>
                <a title="Скачать" href="https://admsurgut.ru/files/materials/files/files1/N_59-%D0%A4%D0%97_%D0%BE%D1%82_02_05_2006__%D1%80%D0%B5%D0%B4__%D0%BE%D1%82_27_12_2018_.pdf">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;Федеральный закон от 02.05.2006 N 59-ФЗ (ред. от 27.12.2018) "О порядке рассмотрения обращений граждан Российской Федерации"
                </a>
            </p>
            <p>
                <a title="Скачать" href="https://admsurgut.ru/files/materials/files/files1/N_59-%D0%A4%D0%97_%D0%BE%D1%82_02_05_2006__%D1%80%D0%B5%D0%B4__%D0%BE%D1%82_27_12_2018_.pdf">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;Федеральный закон от 02.05.2006 N 59-ФЗ (ред. от 27.12.2018) "О порядке рассмотрения обращений граждан Российской Федерации"
                </a>
            </p>
            <p>
                <a title="Скачать" href="https://admsurgut.ru/files/materials/files/files1/N_59-%D0%A4%D0%97_%D0%BE%D1%82_02_05_2006__%D1%80%D0%B5%D0%B4__%D0%BE%D1%82_27_12_2018_.pdf">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;Федеральный закон от 02.05.2006 N 59-ФЗ (ред. от 27.12.2018) "О порядке рассмотрения обращений граждан Российской Федерации"
                </a>
            </p>	
        </div>                 
