extends ../layout

block content   
    main.main
        +breadcrumbs(
            [
                { sort: 'crumb', href: '/', text: 'Главная' },
                { sort: 'crumb', href: '/about', text: 'Публичные слушания'},
            ])
        +title({title: "Публичные слушания", buttons:[
            { type: 'link', href:"/", target:true, class: 'button_white button_white_no-border', icon: 'logo-rss', iconPosition: 'left', text: 'RSS' },
            { type: 'link', href:'/',  target:true, class: 'button_white button_white_no-border' , iconPosition: 'left', icon: 'mail', text: 'Подписаться на главное' }
        ]})
        +tabs( 
            [
                { isActive: true, title: 'Самые важные', href: '/'},
                { title: 'Реализация нацпроектов', href: '/'},
                { title: 'Деятельность администрации', href: '/'},
                { title: 'Областная дума', href: '/'},
            ])
        +hearing-calendar()