extends ../layout

block content   
    main.main
        +breadcrumbs(
            [
                { sort: 'crumb', href: '/', text: 'Главная' },
                { sort: 'crumb', href: '/about', text: 'Публичные слушания'},
            ])
        +title({title: "Публичные слушания", buttons:[
            { type: 'link', href:"/", target:true, class: 'button_white button_white_no-border', icon: 'logo-rss', iconPosition: 'left', text: 'RSS' },
            { type: 'link', href:'/',  target:true, class: 'button_white button_white_no-border' , iconPosition: 'left', icon: 'mail', text: 'Подписаться на главное' }
        ]})
        +tabs( 
            [
                {  title: 'Главная', href: '/hearing-main.html'},
                { title: 'Календарь', href: '/hearing-calendar.html'},
                { isActive: true, title: 'Архив', href: '/hearing-archive.html'},
            ])
        +sorting()
        +hearing-list("",[
            {title:"Публичные слушания (постановление Администрации города от 30.08.2024 №4470) по внесению изменений в проект планировки (в части красных линий улиц) территории улично-дорожной сети города.", org: "Наименование организации", date: "22.12.2024" },
            {title:"Публичные слушания (постановление Администрации города от 30.08.2024 №4470) по внесению изменений в проект планировки (в части красных линий улиц) территории улично-дорожной сети города.", org: "Наименование организации", date: "22.12.2024" },
            {title:"Публичные слушания (постановление Администрации города от 30.08.2024 №4470) по внесению изменений в проект планировки (в части красных линий улиц) территории улично-дорожной сети города.", org: "Наименование организации", date: "22.12.2024" },
            {title:"Публичные слушания (постановление Администрации города от 30.08.2024 №4470) по внесению изменений в проект планировки (в части красных линий улиц) территории улично-дорожной сети города.", org: "Наименование организации", date: "22.12.2024" },
            {title:"Публичные слушания (постановление Администрации города от 30.08.2024 №4470) по внесению изменений в проект планировки (в части красных линий улиц) территории улично-дорожной сети города.", org: "Наименование организации", date: "22.12.2024" },
            {title:"Публичные слушания (постановление Администрации города от 30.08.2024 №4470) по внесению изменений в проект планировки (в части красных линий улиц) территории улично-дорожной сети города.", org: "Наименование организации", date: "22.12.2024" },
            {title:"Публичные слушания (постановление Администрации города от 30.08.2024 №4470) по внесению изменений в проект планировки (в части красных линий улиц) территории улично-дорожной сети города.", org: "Наименование организации", date: "22.12.2024" },
            {title:"Публичные слушания (постановление Администрации города от 30.08.2024 №4470) по внесению изменений в проект планировки (в части красных линий улиц) территории улично-дорожной сети города.", org: "Наименование организации", date: "22.12.2024" },
            {title:"Публичные слушания (постановление Администрации города от 30.08.2024 №4470) по внесению изменений в проект планировки (в части красных линий улиц) территории улично-дорожной сети города.", org: "Наименование организации", date: "22.12.2024" },
        ])
        +pagination(30, 1, 2)