extends ../layout

block content   
    main.main
        +breadcrumbs(
            [
                { sort: '', href: '/', text: 'Главная' },
                { sort: '', href: '/', text: 'Документы'},
                { sort: '', href: '/', text: 'Проекты документов'},
            ],
            )
        +title({
            title: 'Доска почета - 2021 года'
        })
        +board-list()
        .honor-board__pagination
            +pagination(6,4,2)