extends ../layout

block content   
    main.main
        .news 
            .news__container
                +news-card-with-image()
                .news__list    
                    +news-card-without-image()
                    +news-card-without-image()
                    +news-card-without-image()
                    +news-card-without-image()
        .main-news 
            .main-news__container 
                +main-title({
                    href: '/',
                    title: 'Главные новости',
                    link_text: 'Все новости',
                })
                +tabs( 
                    [
                        { isActive: true, title: 'Самые важные', href: '/' },
                        { title: 'Реализация нацпроектов', href: '/' },
                        { title: 'Деятельность администрации', href: '/' },
                        { title: 'Областная дума', href: '/' },
                    ])
                .main-news__card-list 
                    +main-news-card(
                    {
                        image: 'image_1.jpg',
                        date: '10 июня 2023',
                        title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                        tags: [
                                {
                                    isGoing: 'undefined',
                                    status: '', 
                                    onclick: null, 
                                    sort: 'main-news-card',
                                    text: 'история',
                                    href: '/'
                            }                     
                        ]
                    },
                    )
                    +main-news-card(
                    {
                        image: 'image_2.jpg',
                        date: '10 июня 2023',
                        title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                        tags: [
                                {
                                    isGoing: 'undefined',
                                    status: '', 
                                    onclick: null, 
                                    sort: 'main-news-card',
                                    text: 'Медицина',
                                    href: '/'
                                },
                                {
                                    isGoing: 'undefined',
                                    status: '', 
                                    onclick: null, 
                                    sort: 'main-news-card',
                                    text: 'Награды',
                                    href: '/'
                                }                      
                        ]
                    },
                    )
                    +main-news-card(
                    {
                        image: 'image_3.jpg',
                        date: '10 июня 2023',
                        title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                        tags: [
                                {
                                    isGoing: 'undefined',
                                    status: '', 
                                    onclick: null, 
                                    sort: 'main-news-card',
                                    text: 'Пожары',
                                    href: '/'
                            }                     
                        ]
                    },
                    )
                    +main-news-card(
                    {
                        image: 'image_4.jpg',
                        date: '10 июня 2023',
                        title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                        tags: [
                                {
                                    isGoing: 'undefined',
                                    status: '', 
                                    onclick: null, 
                                    sort: 'main-news-card',
                                    text: 'Экономика',
                                    href: '/'
                            }                     
                        ]
                    },
                    )
                    +main-news-card(
                    {
                        image: 'image_1.jpg',
                        date: '10 июня 2023',
                        title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                        tags: [
                                {
                                    isGoing: 'undefined',
                                    status: '', 
                                    onclick: null, 
                                    sort: 'main-news-card',
                                    text: 'история',
                                    href: '/'
                            }                     
                        ]
                    },
                    )
                    +main-news-card(
                    {
                        image: 'image_2.jpg',
                        date: '10 июня 2023',
                        title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                        tags: [
                                {
                                    isGoing: 'undefined',
                                    status: '', 
                                    onclick: null, 
                                    sort: 'main-news-card',
                                    text: 'Медицина',
                                    href: '/'
                                },
                                {
                                    isGoing: 'undefined',
                                    status: '', 
                                    onclick: null, 
                                    sort: 'main-news-card',
                                    text: 'Награды',
                                    href: '/'
                                }                      
                        ]
                    },
                    )
                    +main-news-card(
                    {
                        image: 'image_3.jpg',
                        date: '10 июня 2023',
                        title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                        tags: [
                                {
                                    isGoing: 'undefined',
                                    status: '', 
                                    onclick: null, 
                                    sort: 'main-news-card',
                                    text: 'Пожары',
                                    href: '/'
                            }                     
                        ]
                    },
                    )
                    +main-news-card(
                    {
                        image: 'image_4.jpg',
                        date: '10 июня 2023',
                        title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                        tags: [
                                {
                                    isGoing: 'undefined',
                                    status: '', 
                                    onclick: null, 
                                    sort: 'main-news-card',
                                    text: 'Экономика',
                                    href: '/'
                            }                     
                        ]
                    },
                    )
        .main-events
            .main-events__container 
                +main-title({
                    href: '/',
                    title: 'Анонсы и события',
                    link_text: 'Все события'
                })
                +calendar([
                    {
                    date: '18',
                    day: 'Вт',
                    class: 'clicked',
                    events: '2',
                    day_class: 'clicked',
                    },
                    {
                    date: '19',
                    day: 'Ср',
                    },
                    {
                    date: '20',
                    day: 'Чт',
                    class: 'active',
                    events: '2',
                    day_class: 'active',
                    },
                    {
                    date: '21',
                    day: 'Пт',
                    class: 'active',
                    events: '2',
                    day_class: 'active',
                    },
                    {
                    date: '22',
                    day: 'Сб',
                    },
                    {
                    date: '23',
                    day: 'Вс',
                    },
                    {
                    date: '24',
                    day: 'Пр',
                    class: 'active',
                    events: '2',
                    day_class: 'active',
                    },
                    {
                    date: '25',
                    day: 'Вт',
                    class: 'active',
                    events: '2',
                    day_class: 'active',
                    },
                    {
                    date: '26',
                    day: 'Ср',
                    },
                    {
                    date: '27',
                    day: 'Чт',
                    class: 'active',
                    events: '2',
                    day_class: 'active',
                    },
                    {
                    date: '28',
                    day: 'Пт',
                    class: 'active',
                    events: '2',
                    day_class: 'active',
                    },
                    {
                    date: '29',
                    day: 'Сб',
                    },
                    {
                    date: '30',
                    day: 'Вс',
                    },
                    {
                    date: '1',
                    day: 'Пн',
                    class: 'without-events',
                    day_class: 'without-events',
                    divider: true,
                    },
                    {
                    date: '2',
                    day: 'Вт',
                    class: 'active',
                    events: '2',
                    day_class: 'active',
                    },
                    {
                    date: '3',
                    day: 'Ср',
                    class: '',
                    class: 'without-events',
                    day_class: 'without-events',
                    },
                    {
                    date: '4',
                    day: 'Чт',
                    class: 'active',
                    events: '2',
                    day_class: 'active',
                    },
                ])         
                .main-events__selects
                    .main-events__selects-container
                        +select('right', [
                                { value: 'Все события', text: 'Все события' },
                                { value: 'Театр', text: 'Театр' },
                                { value: 'Детям', text: 'Детям' },
                                { value: 'Выставки', text: 'Выставки' },
                                { value: 'Концерты', text: 'Концерты' }
                            ], 'single')
                        +select('right', [
                                { value: 'Любая тематика', text: 'Любая тематика' },
                                { value: 'Любая тематика', text: 'Любая тематика' }
                            ], 'single')
                        +select('right', [
                                { value: 'Место проведения', text: 'Место проведения' },
                                { value: 'Место проведения', text: 'Место проведения' }
                            ], 'single')
                        +select('right', [
                                { value: 'Июнь', text: 'Июнь' },
                                { value: 'Июнь', text: 'Июнь' }
                            ], 'single') 
                    +checkbox({
                        label: 'С пушкинской картой',
                        id: '10',
                        name: 'with-card',
                        status: true,
                        sort: 'checkbox'
                    })                                                              
                .main-events__news
                    +main-news-card(
                    {
                        image: 'image_1.jpg',
                        date: '10 июня 2023',
                        title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                        tags: [
                                {
                                    isGoing: 'undefined',
                                    status: '', 
                                    onclick: null, 
                                    sort: 'main-news-card',
                                    text: 'Медицина',
                                    href: '/'
                                },                     
                        ]
                    },
                    )
                    +main-news-card(
                    {
                        image: 'image_2.jpg',
                        date: '10 июня 2023',
                        title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                        tags: [
                                {
                                    isGoing: 'undefined',
                                    status: '', 
                                    onclick: null, 
                                    sort: 'main-news-card',
                                    text: 'КОнференция',
                                    href: '/'
                                },                   
                        ]
                    },
                    )
                    +main-news-card(
                    {
                        image: 'image_3.jpg',
                        date: '10 июня 2023',
                        title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                        tags: [
                                {
                                    isGoing: 'undefined',
                                    status: '', 
                                    onclick: null, 
                                    sort: 'main-news-card',
                                    text: 'Кино',
                                    href: '/'
                                },                     
                        ]
                    },
                    )
                    +main-news-card(
                    {
                        image: 'image_5.png',
                        date: '10 июня 2023',
                        title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                        tags: [
                                {
                                    isGoing: 'undefined',
                                    status: '', 
                                    onclick: null, 
                                    sort: 'main-news-card',
                                    text: 'Концерты',
                                    href: '/'
                                },                    
                        ]
                    },
                    )
                    +main-news-card(
                    {
                        image: 'image_1.jpg',
                        date: '10 июня 2023',
                        title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                        tags: [
                                {
                                    isGoing: 'undefined',
                                    status: '', 
                                    onclick: null, 
                                    sort: 'main-news-card',
                                    text: 'Медицина',
                                    href: '/'
                                },                     
                        ]
                    },
                    )
                    +main-news-card(
                    {
                        image: 'image_2.jpg',
                        date: '10 июня 2023',
                        title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                        tags: [
                                {
                                    isGoing: 'undefined',
                                    status: '', 
                                    onclick: null, 
                                    sort: 'main-news-card',
                                    text: 'КОнференция',
                                    href: '/'
                                },                   
                        ]
                    },
                    )
                    +main-news-card(
                    {
                        image: 'image_3.jpg',
                        date: '10 июня 2023',
                        title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                        tags: [
                                {
                                    isGoing: 'undefined',
                                    status: '', 
                                    onclick: null, 
                                    sort: 'main-news-card',
                                    text: 'Кино',
                                    href: '/'
                                },                     
                        ]
                    },
                    )
                    +main-news-card(
                    {
                        image: 'image_5.png',
                        date: '10 июня 2023',
                        title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                        tags: [
                                {
                                    isGoing: 'undefined',
                                    status: '', 
                                    onclick: null, 
                                    sort: 'main-news-card',
                                    text: 'Концерты',
                                    href: '/'
                                },                    
                        ]
                    },
                    )
                .main-events__navigation
                    +navigation({
                                first_page: '1',
                                end_page: '7',
                            })
        .main-services 
            +main-title({
                href: '/',
                title: 'Полезные сервисы для вас',
            })
            .main-services__container
                .main-services__search
                    .main-services__search-content
                        h3(class='.main-services__label') Поиск законопроектов
                        +search(
                            {name: 'laws', size: 'l', placeholder: 'Поиск по наименованию или номеру', type: 'search'},
                                false, 'l', 'getValues()', 'main-services',) 
                    .main-services__search-content        
                        h3(class='.main-services__label') Поиск правовых актов        
                        +search(
                            {name: 'acts', size: 'l', placeholder: 'Поиск по наименованию или номеру', type: 'search'},
                                false, 'l', 'getValues()', 'main-services',)         
                .main-services__buttons
                    h3.main-services__buttons-title Связаться
                    .main-services__buttons-container
                        +button({ type: 'button', size: 'l', class: 'button_blue main-services__button', event: '', text: 'Электронное обращение' })
                        +button({ type: 'button', size: 'l', class: 'button_blue main-services__button', event: '', text: 'Личный прием' })       
        .main-usefull-links
            +main-title({
                href: '/',
                title: 'Самое важное',
            })
            .main-usefull-links__container
                +main-link({
                    sort: 'important',
                    href: '/',
                    icon: 'circle_icon_main.svg',
                    title: 'Лицам с ограниченными возможностями',
                })
                +main-link({
                    sort: 'important',
                    href: '/',
                    icon: 'arrow-in-cub_icon_main.svg',
                    title: 'Афиша на Культуре.РФ',
                })
                +main-link({
                    sort: 'important',
                    href: '/',
                    icon: 'arrow-in-cub_icon_main.svg',
                    title: 'Инициативые проекты',
                })
                +main-link({
                    sort: 'important',
                    href: '/',
                    icon: 'arrow-in-cub_icon_main.svg',
                    title: 'Бюджет для граждан Сургута',
                })
                +main-link({
                    sort: 'important',
                    href: '/',
                    icon: 'circle_icon_main.svg',
                    title: 'Налоговая политика',
                })
                +main-link({
                    sort: 'important',
                    href: '/',
                    icon: 'arrow-in-cub_icon_main.svg',
                    title: 'Национальные проекты',
                })
        .main-usefull-links
            +main-title({
                href: '/',
                title: 'Полезные ссылки',
            })
            .main-usefull-links__container
                +main-link({
                    sort: 'usefull',
                    href: '/',
                    icon: 'arrow-right_icon.svg',
                    title: 'Оплата ЖКХ услуг ',
                })
                +main-link({
                    sort: 'usefull',
                    href: '/',
                    icon: 'arrow-right_icon.svg',
                    title: 'Виртуальная приемная',
                })
                +main-link({
                    sort: 'usefull',
                    href: '/',
                    icon: 'arrow-right_icon.svg',
                    title: 'Пособия и налоги',
                })
                +main-link({
                    sort: 'usefull',
                    href: '/',
                    icon: 'arrow-right_icon.svg',
                    title: 'Расписание общественного транспорта',
                })
                +main-link({
                    sort: 'usefull',
                    href: '/',
                    icon: 'arrow-right_icon.svg',
                    title: 'Выплаты пенсионерам',
                })
                +main-link({
                    sort: 'usefull',
                    href: '/',
                    icon: 'arrow-right_icon.svg',
                    title: 'Запись на публичные слушания',
                })
                +main-link({
                    sort: 'usefull',
                    href: '/',
                    icon: 'arrow-right_icon.svg',
                    title: 'Социальные услуги',
                })
                +main-link({
                    sort: 'usefull',
                    href: '/',
                    icon: 'arrow-right_icon.svg',
                    title: 'Работа в России',
                })        