extends ../layout

block content
    main.main
        +header-services()
        +news-top({
            cards: [
                {
                    icon: 'arrow-forward-outline', 
                },
                {
                    icon: 'arrow-forward-outline', 
                },
                {
                    icon: 'arrow-forward-outline', 
                },
                {
                    icon: 'arrow-forward-outline', 
                }
            ]})
        .full-width-container
            .full-width-background
                .full-width-content            
                    .main-news 
                        .main-news__container 
                            +main-title({
                                href: '/',
                                title: 'Главные новости',
                                link_text: 'Все новости',
                            })
                            +tabs( 
                                [
                                    { isActive: true, title: 'Самые важные', href: '/' },
                                    { title: 'Реализация нацпроектов', href: '/' },
                                    { title: 'Деятельность администрации', href: '/' },
                                    { title: 'Областная дума', href: '/' },
                                ])
                            .main-news__card-list 
                                +main-news-card(
                                {
                                    image: 'image_1.jpg',
                                    date: '10 июня 2023',
                                    title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                                    tags: [
                                        {
                                            type: 'button',
                                            size: 'xs', 
                                            class: 'button_blue button_radius news-card__tag', 
                                            text: 'история',
                                        }                     
                                    ]
                                },
                                )
                                +main-news-card(
                                {
                                    image: 'image_2.jpg',
                                    date: '10 июня 2023',
                                    title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                                    tags: [
                                        {
                                            type: 'button',
                                            size: 'xs', 
                                            class: 'button_blue button_radius news-card__tag', 
                                            text: 'Медицина',
                                        },
                                        {
                                            type: 'button',
                                            size: 'xs', 
                                            class: 'button_blue button_radius news-card__tag', 
                                            text: 'Награды',
                                        }                      
                                    ]
                                },
                                )
                                +main-news-card(
                                {
                                    image: 'image_3.jpg',
                                    date: '10 июня 2023',
                                    title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                                    tags: [
                                        {
                                            type: 'button',
                                            size: 'xs', 
                                            class: 'button_blue button_radius news-card__tag', 
                                            text: 'Пожары',
                                        },                   
                                    ]
                                },
                                )
                                +main-news-card(
                                {
                                    image: 'image_4.jpg',
                                    date: '10 июня 2023',
                                    title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                                    tags: [
                                        {
                                            type: 'button',
                                            size: 'xs', 
                                            class: 'button_blue button_radius news-card__tag', 
                                            text: 'Экономика',
                                        },                    
                                    ]
                                },
                                )
                                +main-news-card(
                                {
                                    image: 'image_1.jpg',
                                    date: '10 июня 2023',
                                    title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                                    tags: [
                                        {
                                            type: 'button',
                                            size: 'xs', 
                                            class: 'button_blue button_radius news-card__tag', 
                                            text: 'история',
                                        }                     
                                    ]
                                },
                                )
                                +main-news-card(
                                {
                                    image: 'image_2.jpg',
                                    date: '10 июня 2023',
                                    title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                                    tags: [
                                        {
                                            type: 'button',
                                            size: 'xs', 
                                            class: 'button_blue button_radius news-card__tag', 
                                            text: 'Медицина',
                                        },
                                        {
                                            type: 'button',
                                            size: 'xs', 
                                            class: 'button_blue button_radius  news-card__tag', 
                                            text: 'Награды',
                                        }                      
                                    ]
                                },
                                )
                                +main-news-card(
                                {
                                    image: 'image_3.jpg',
                                    date: '10 июня 2023',
                                    title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                                    tags: [
                                        {
                                            type: 'button',
                                            size: 'xs', 
                                            class: 'button_blue button_radius news-card__tag', 
                                            text: 'Пожары',
                                        },                   
                                    ]
                                },
                                )
                                +main-news-card(
                                {
                                    image: 'image_4.jpg',
                                    date: '10 июня 2023',
                                    title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                                    tags: [
                                        {
                                            type: 'button',
                                            size: 'xs', 
                                            class: 'button_blue button_radius news-card__tag', 
                                            text: 'Экономика',
                                        },                    
                                    ]
                                },
                                )   
        +solve-problems() 
        +events()
        .main-people-care 
            +main-title({
                href: '/',
                title: 'С заботой о жителях',
                slider: false,
            })   
            .main-people-care__container
                .main-people-care__card-list 
                    +people-care-card({
                        title: 'Лицам с ограниченными возможностями здоровья',
                        image: 'hands-services.svg',
                        background: 'people-care-card_bg-health' 
                    })
                    +people-care-card({
                        title: 'Бюджет для граждан Сургута',
                        image: 'wallet-services.svg',
                        background: 'people-care-card_bg-finance',
                    })
                    +people-care-card({
                        title: 'Национальные проекты',
                        image: 'people_icon-services.svg',
                        background: 'people-care-card_bg-projects' 
                    }) 
                .people-care__slider
                    +slider({})    
        +services()
        +important-links()
        +main-title({
            title: 'Помогите городу стать лучше',
            link_text: 'Все опросы',
            href: '/',
        })
        .help-city__tabs
            +tabs([
                { title: 'Национальные проекты', href: '/' , value: 'Национальные проекты', isActive: true},
                { title: 'Администрация', href: '/' , value: 'Администрация'},
                { title: 'Прочее', href: '/' , value: 'Прочее'},
                ], 'slider')
        .main-help-city 
            .main-help-city__content 
                +main-project-card({
                    date: 'до 29 сентября',
                    title: 'Уровень благоустройства города',
                    description: 'Оцените чистоту улиц, парков, освещения в районах города, а также доступность инфраструктуры ',
                    votes: '319 голосов',
                    result: 'Вы участвовали',
                    buttonText: 'Участвовать',
                    tag: 'Идет',
                    tag_color: 'green'
                })
                +main-project-card({
                    date: 'до 29 сентября',
                    title: 'Здравоохранение в Сургуте',
                    description: 'Оцените уровень удовлетворенности доступностью медицинских учреждений и качеством медицинских услуг',
                    votes: '319 голосов',
                    result: 'Вы участвовали',
                    buttonText: 'Участвовать',
                    tag: 'Идет',
                    tag_color: 'green'
                })
                +main-project-card({
                    date: 'до 29 сентября',
                    title: 'Работа местных властей и общественные инициативы',
                    description: 'Оцените чистоту улиц, парков, освещения в районах города, а также доступность инфраструктуры ',
                    votes: '319 голосов',
                    result: 'Вы участвовали',
                    buttonText: 'Участвовать',
                    tag: 'Завершен',
                    tag_color: 'red'
                })
            .help-city__navigation 
                +navigation({
                    first_page: '1',
                    end_page: '2',
                        })
        .important-inf
            +main-title({
                href: '/',
                title: 'Важная информация для жителей',
                slider: true,
            })   
            .important-inf__container
                img.important-inf__banner(src='../img/banner.png' alt='Баннер') 
                img.important-inf__banner(src='../img/banner.png' alt='Баннер')
                img.important-inf__banner(src='../img/banner.png' alt='Баннер')        
        +usefull-links({
            links: [
                {
                    class: 'usefull',
                    href: '/',
                    icon: 'arrow-forward-outline',
                    title: 'Оплата ЖКХ услуг ',
                },
                {
                    class: 'usefull',
                    href: '/',
                    icon: 'arrow-forward-outline',
                    title: 'Виртуальная приемная',
                },
                {
                    class: 'usefull',
                    href: '/',
                    icon: 'arrow-forward-outline',
                    title: 'Пособия и налоги',
                },
                {
                    class: 'usefull',
                    href: '/',
                    icon: 'arrow-forward-outline',
                    title: 'Расписание общественного транспорта',
                },
                {
                    class: 'usefull',
                    href: '/',
                    icon: 'arrow-forward-outline',
                    title: 'Выплаты пенсионерам',
                },
                {
                    class: 'usefull',
                    href: '/',
                    icon: 'arrow-forward-outline',
                    title: 'Запись на публичные слушания',
                },
                {
                    class: 'usefull',
                    href: '/',
                    icon: 'arrow-forward-outline',
                    title: 'Социальные услуги',
                },
                {
                    class: 'usefull',
                    href: '/',
                    icon: 'arrow-forward-outline',
                    title: 'Работа в России',
                }
            ]
        })