extends ../layout

block content
    main.main
        +header-services()
        +news-top({
            links: [
                {
                    icon: 'arrow-forward-outline', 
                },
                {
                    icon: 'arrow-forward-outline', 
                },
                {
                    icon: 'arrow-forward-outline', 
                },
                {
                    icon: 'arrow-forward-outline', 
                }
            ]})
        +news-main()  
        +solve-problems()
        +events()                              
        +people-care()  
        +services()
        +important-links()
        +help-city()
        +important-inf()           
        +usefull-links({
            links: [
                {
                    class: 'usefull',
                    href: '/',
                    icon: 'arrow-forward-outline',
                    title: 'Оплата ЖКХ услуг ',
                },
                {
                    class: 'usefull',
                    href: '/',
                    icon: 'arrow-forward-outline',
                    title: 'Виртуальная приемная',
                },
                {
                    class: 'usefull',
                    href: '/',
                    icon: 'arrow-forward-outline',
                    title: 'Пособия и налоги',
                },
                {
                    class: 'usefull',
                    href: '/',
                    icon: 'arrow-forward-outline',
                    title: 'Расписание общественного транспорта',
                },
                {
                    class: 'usefull',
                    href: '/',
                    icon: 'arrow-forward-outline',
                    title: 'Выплаты пенсионерам',
                },
                {
                    class: 'usefull',
                    href: '/',
                    icon: 'arrow-forward-outline',
                    title: 'Запись на публичные слушания',
                },
                {
                    class: 'usefull',
                    href: '/',
                    icon: 'arrow-forward-outline',
                    title: 'Социальные услуги',
                },
                {
                    class: 'usefull',
                    href: '/',
                    icon: 'arrow-forward-outline',
                    title: 'Работа в России',
                }
            ]
        })