extends ../layout

block content 

    +ui_buttons({'type': 'primary', 'text': "Подробнее", 'href': "/", 'event': null, 'icon': "arrow_icon.svg", 'iconPosition': "right", 'color': '#004cc4', 'size': 'm'})
    +ui_buttons({'type': 'link', 'text': "Подробнее", 'href': "/", 'event': null, 'icon': "plus_icon.svg", 'iconPosition': "left", 'color': '#004cc4', 'size': 'xs'})
    +ui_buttons({'type': 'secondary', 'text': "Подробнее", 'href': "/", 'event': null, 'icon': "dots_icon.svg", 'iconPosition': "right", 'color': '#004cc4', 'size': 's'})
    +ui_buttons({'type': 'primary', 'text': "Подробнее", 'href': "/", 'event': null, 'icon': "plus_icon.svg", 'iconPosition': "right", 'color': '#14BC30', 'size': 's'})

    +ui_input('s')
    +input()