extends ../layout

block content   
    +header()
    main.main
        +breadcrumbs(
            [
                { sort: 'crumb', href: '/', text: 'Главная' },
                { sort: 'crumb', href: '/about', text: 'Опросы'},
            ])
        h2.main__title Виртуальная приемная
        span.main__description Информация о персональных данных авторов обращений, направленных в электронном виде, хранится и обрабатывается с соблюдением требований российского законодательства персональных данных. 
        form.virtual-receprion__form
            .virtual-receprion__content 
                h3.virtual-reception__title Основные данные
                .virtual-reception__select
                    +form-field(
                    {
                        type: 'select',
                        title: 'Кому направляете электронную анкету',
                        span: '',
                        error: false,   
                    })
                    +select('virtual-reception', 'right',
                    [
                        { value: 'Филатов Андрей Сергеевич, Глава города Сургута', text: 'Филатов Андрей Сергеевич, Глава города Сургута' },
                        { value: 'Филатов', text: 'Филатов' },
                        { value: 'Глава города Сургута', text: 'Глава города Сургута' }
                        ],
                )
                +form-field(
                {
                    cls: 'virtual-reception__job-field',
                    cls_title: 'virtual-reception__field-title',
                    type: '',
                    title: 'Наименование вашей организации (юридического лица)',
                    span: '',
                    error: false,
                    inputs: [
                        {
                            placeholder: 'Наименование организации',
                            name: 'companyName', 
                            sort: 'virtual-reception_input',
                        },
                        ]    
                })
                .virtual-reception__user-contacts
                    +form-field(
                    {
                        cls: 'virtual-reception__form-field',
                        cls_title: 'virtual-reception__field-title',
                        type: '',
                        title: 'Ваши данные',
                        span: 'Вспомогательный текст',
                        error: false,
                        inputs: [
                            {
                                placeholder: 'Фамилия',
                                name: 'firstName', 
                                sort: 'virtual-reception_input',
                            },
                            {
                                placeholder: 'Имя',
                                name: 'secondName',
                                sort: 'virtual-reception_input',
                            },
                            {
                                placeholder: 'Отчество',
                                name: 'thirdName',
                                sort: 'virtual-reception_input',
                            }
                            ]    
                    })
                +button({ type: 'button', class: 'button_white button_add-author', event: 'addFormField(event)', text: `Добавить соавтора` })    
                +form-field(
                {
                    cls: 'virtual-reception__form-field',
                    cls_title: 'virtual-reception__field-title_email',
                    type: '',
                    title: 'Данные для контакта',
                    span: 'Вспомогательный текст',
                    error: false,
                    inputs: [
                        {
                            placeholder: 'your_email@mail.ru',
                            name: 'email', 
                            sort: 'virtual-reception_input',
                        },
                        {
                            placeholder: '892343567',
                            name: 'phone',
                            sort: 'virtual-reception_input',
                        },
                        ]    
                })
                +form-field(
                {
                    cls: 'virtual-reception__feedback',
                    cls_title: 'virtual-reception__feedback-title',
                    type: 'textarea',
                    title: 'Обращение',
                    span: '',
                    error: false,
                    options: {
                        placeholder: 'Введите ваш ответ',
                            }
                })
            ul.virtual-reception__documents__list
                li.virtual-reception__document
                    +button({ type: 'button', class: 'button virtual-reception__delete-button', event: 'getValues(event)'})
                    .virtual-reception__document-description 
                        img(src="../icons/doc-2_icon.svg" alt="").virtual-reception__document-icon  
                        span.virtual-reception__document-title Отчёт о деятельности постоянных комитетов в 2023 году.pdf
                li.virtual-reception__document
                    +button({ type: 'button', class: 'button virtual-reception__delete-button', event: 'getValues(event)', icon: 'close-btn_icon.svg' })
                    .virtual-reception__document-description 
                        img(src="../icons/doc-2_icon.svg" alt="").virtual-reception__document-icon  
                        span.virtual-reception__document-title Отчёт о деятельности постоянных комитетов в 2023 году.pdf                   
                li.virtual-reception__document
                    +button({ type: 'button', class: 'button virtual-reception__delete-button', event: 'getValues(event)', icon: 'close-btn_icon.svg' })
                    .virtual-reception__document-description 
                        img(src="../icons/doc-2_icon.svg" alt="").virtual-reception__document-icon  
                        span.virtual-reception__document-title Отчёт о деятельности постоянных комитетов в 2023 году.pdf                                              
            .virtual-reception__buttons
                .custom-file-upload
                    label(for="file" id="file-label") Вложить документ
                        input(type="file" id="file" name="addDocument" value="")   
                +button({ type: 'button', class: 'button_blue virtual-reception__send-button', event: 'getValues(event)', icon: 'arrow_icon.svg', text: `Отправить обращение` })    
    +footer(
        {
            about: [
                {href: '/', title: 'Сургут сегодня'},
                {href: '/', title: 'История Сургута'},
                {href: '/', title: 'Официальные символы'},
                {href: '/', title: 'Устав Сургута'},
                {href: '/', title: 'Генплан'},
                {href: '/', title: 'Стратегия развития'},
                {href: '/', title: 'Инвестиционный паспорт Сургута'},
                {href: '/', title: 'Инвестору'},
                {href: '/', title: 'Общественные советы города Сургута'},
                {href: '/', title: 'Ими гордится Сургут'},
                {href: '/', title: 'Справочная информация'},
                {href: '/', title: 'Интерактивные карты Сургута'},
                {href: '/', title: 'Градостроительная деятельность'},
                ],
            city: [
                {href: '/', title: 'Глава города'},
                {href: '/', title: 'Дума города'},
                {href: '/', title: 'Администрация'},
                {href: '/', title: 'Контрольно-счётная палата'},
                {href: '/', title: 'Законодательная карта'},
                {href: '/', title: 'Территориальная избирательная комиссия'},
                {href: '/', title: 'Государственные органы'},
                ],
            documents: [
                {href: '/', title: 'Важные документы для горожан'},
                {href: '/', title: 'Проекты документов: антикоррупционная экспертиза и общественное обсуждение'},
                {href: '/', title: 'Оценка регулирующего воздействия и экспертиза муниципальных нормативных правовых актов (проектов)'},
                {href: '/', title: 'Решения Думы города'},
                {href: '/', title: 'Постановления Главы города'},
                {href: '/', title: 'Распоряжения Главы города'},
                {href: '/', title: 'Постановления Администрации города'},
                {href: '/', title: 'Распоряжения Администрации города'},
                {href: '/', title: 'Постановления Мэра и администрации города до 12.04.2005 г.'},
                {href: '/', title: 'Распоряжения Мэра и администрации города до 12.04.2005 г.'},
                {href: '/', title: 'Муниципальные программы'},
                {href: '/', title: 'Порядок обжалования муниципальных правовых актов'},
                {href: '/', title: 'Антимонопольный комплаенс'},
                ],
            category: [
                {href: '/', title: 'Ссылка'},
                {href: '/', title: 'Ссылка'},
                {href: '/', title: 'Ссылка'},
                {href: '/', title: 'Ссылка'},
                {href: '/', title: 'Ссылка'},
                {href: '/', title: 'Ссылка'},
                {href: '/', title: 'Ссылка'},
                {href: '/', title: 'Ссылка'},
                ],
        })          
