extends ../layout

block content
    main.main
        +breadcrumbs(
            [
                { sort: '', href: '/', text: 'Главная' },
                { sort: '', href: '/', text: 'Инициативные проекты'},
            ],
            )
        +title({
            title: 'Инициативные проекты'
        })
        +init-projects()
