extends ../layout

block content
    main.main
        +breadcrumbs(
            [
                { sort: '', href: '/', text: 'Главная' },
                { sort: '', href: '/', text: 'Инициативные проекты'},
            ],
            )
        .init-projects-title 
            +title({
                title: 'Инициативные проекты'
            })
            +button({ type: 'button', size: 'm', class: 'button_blue', event: 'showLoginProjects()',  text: `Подать инициативный проект` })
        +init-projects()
    +login-projects()
