extends ../layout

block content   
    main.main
        +breadcrumbs(
            [
                { sort: 'crumb', href: '/', text: 'Главная' },
                { sort: 'crumb', href: '/about', text: 'Опросы'},
            ])
        h2.main__title Опросы  
            +tabs( 
                [
                    { isActive: true, title: 'Национальные проекты', href: '/' , value: 'Национальные проекты'},
                    { title: 'Администрация', href: '/' , value: 'Администрация'},
                    { title: 'Прочие', href: '/' , value: 'Прочие'},
                ])   
            +interviews_array([
                {
                    date: 'до 29 сентября', 
                    title: 'Здравоохранение в Сургуте Здравоохранение в Сургуте Работа местных властей и общественные инициативы', 
                    description: 'Оцените уровень удовлетворенности доступностью медицинских учреждений и качеством медицинских услугОцените уровень удовлетворенности доступностью медицинских учреждений и качеством медицинских услуг', 
                    votes: '319 голосов', 
                    result: 'Вы участвовали', 
                    buttonText: 'Участвовать', 
                    tag: {
                        sort: 'interviews-array',
                        isGoing: true,
                        text: 'Идет', 
                        },
                },
                {
                    date: 'до 29 сентября', 
                    title: 'Здравоохранение в Сургуте', 
                    description: 'Оцените уровень удовлетворенности доступностью медицинских учреждений и качеством медицинских услуг', 
                    votes: '319 голосов', 
                    result: 'Вы участвовали', 
                    buttonText: 'Участвовать', 
                    tag: {
                        sort: 'interviews-array',
                        isGoing: true,
                        text: 'Идет', 
                        },
                },
                {
                    date: 'до 29 сентября', 
                    title: 'Здравоохранение в Сургуте', 
                    description: 'Оцените уровень удовлетворенности доступностью медицинских учреждений и качеством медицинских услуг', 
                    votes: '319 голосов', 
                    result: 'Вы участвовали', 
                    buttonText: 'Участвовать', 
                    tag: {
                        sort: 'interviews-array',
                        isGoing: true,
                        text: 'Идет', 
                        },
                },
                {
                    date: 'до 29 сентября', 
                    title: 'Здравоохранение в Сургуте', 
                    description: 'Оцените уровень удовлетворенности доступностью медицинских учреждений и качеством медицинских услуг', 
                    votes: '319 голосов', 
                    result: 'Вы участвовали', 
                    buttonText: 'Результаты', 
                    tag: {
                        sort: 'interviews-array',
                        isGoing: false,
                        text: 'Завершен', 
                        },
                },
                {
                    date: 'до 29 сентября', 
                    title: 'Работа местных властей и общественные инициативы', 
                    description: 'Оцените уровень удовлетворенности доступностью медицинских учреждений и качеством медицинских услуг', 
                    votes: '319 голосов', 
                    result: 'Вы участвовали', 
                    buttonText: 'Результаты', 
                    tag: {
                        sort: 'interviews-array',
                        isGoing: false,
                        text: 'Завершен',
                        },
                },
                {
                    date: 'до 29 сентября', 
                    title: 'Здравоохранение в Сургуте', 
                    description: 'Оцените уровень удовлетворенности доступностью медицинских учреждений и качеством медицинских услуг', 
                    votes: '319 голосов', 
                    result: 'Вы участвовали', 
                    buttonText: '', 
                    tag: {
                        sort: 'interviews-array',
                        isGoing: false,
                        text: 'Завершен', 
                        },
                },
                ])             
        +pagination(30, 5, 2)