extends ../layout

block content   
    main.main
        +breadcrumbs(
            [
                { sort: 'crumb', href: '/', text: 'Главная' },
                { sort: 'crumb', href: '/about', text: 'Опросы'},
            ])
        h2.main__title Опросы  
            +tabs('interviews', 
                [
                    { size: 'm', title: 'Национальные проекты', onclick: '' , value: 'Национальные проекты'},
                    { size: 'm', title: 'Администрация', onclick: '' , value: 'Администрация'},
                    { size: 'm', title: 'Прочие', onclick: '' , value: 'Прочие'},
                ])   
            +interviews_array([
                {
                    date: 'до 29 сентября', 
                    title: 'Здравоохранение в Сургуте Здравоохранение в Сургуте Работа местных властей и общественные инициативы', 
                    description: 'Оцените уровень удовлетворенности доступностью медицинских учреждений и качеством медицинских услуг', 
                    votes: '319 голосов', 
                    result: 'Вы участвовали', 
                    buttonText: 'Участвовать', 
                    tag: {
                        sort: 'interviews-array',
                        isGoing: true,
                        text: 'Идет', 
                        },
                },
                {
                    date: 'до 29 сентября', 
                    title: 'Здравоохранение в Сургуте', 
                    description: 'Оцените уровень удовлетворенности доступностью медицинских учреждений и качеством медицинских услуг', 
                    votes: '319 голосов', 
                    result: 'Вы участвовали', 
                    buttonText: 'Участвовать', 
                    tag: {
                        sort: 'interviews-array',
                        isGoing: true,
                        text: 'Идет', 
                        },
                },
                {
                    date: 'до 29 сентября', 
                    title: 'Здравоохранение в Сургуте', 
                    description: 'Оцените уровень удовлетворенности доступностью медицинских учреждений и качеством медицинских услуг', 
                    votes: '319 голосов', 
                    result: 'Вы участвовали', 
                    buttonText: 'Участвовать', 
                    tag: {
                        sort: 'interviews-array',
                        isGoing: true,
                        text: 'Идет', 
                        },
                },
                {
                    date: 'до 29 сентября', 
                    title: 'Здравоохранение в Сургуте', 
                    description: 'Оцените уровень удовлетворенности доступностью медицинских учреждений и качеством медицинских услуг', 
                    votes: '319 голосов', 
                    result: 'Вы участвовали', 
                    buttonText: 'Участвовать', 
                    tag: {
                        sort: 'interviews-array',
                        isGoing: false,
                        text: 'Завершен', 
                        },
                },
                {
                    date: 'до 29 сентября', 
                    title: 'Работа местных властей и общественные инициативы', 
                    description: 'Оцените уровень удовлетворенности доступностью медицинских учреждений и качеством медицинских услуг', 
                    votes: '319 голосов', 
                    result: 'Вы участвовали', 
                    buttonText: 'Участвовать', 
                    tag: {
                        sort: 'interviews-array',
                        isGoing: false,
                        text: 'Завершен',
                        },
                },
                {
                    date: 'до 29 сентября', 
                    title: 'Здравоохранение в Сургуте', 
                    description: 'Оцените уровень удовлетворенности доступностью медицинских учреждений и качеством медицинских услуг', 
                    votes: '319 голосов', 
                    result: 'Вы участвовали', 
                    buttonText: 'Участвовать', 
                    tag: {
                        sort: 'interviews-array',
                        isGoing: false,
                        text: 'Завершен', 
                        },
                },
                ])             
        +pagination([
            { title: 'Назад', value: 'Назад', iconPosition: 'left'},
            [
                { num: '1', value: '1' },
                { num: '2', value: '2' },
                { num: '3', value: '3' },
                { num: '4', value: '4' },
                { num: '5', value: '5' },
                { num: '6', value: '6' },
            ],
            { title: 'Вперед', value: 'Вперед', iconPosition: 'right'}
            ])