extends ../layout

block content   
    main.main
        +breadcrumbs(
            [
                { sort: 'crumb', href: '/', text: 'Главная' },
                { sort: 'crumb', href: '/about', text: 'Опросы'},
            ])
        +title({
            title: 'Опросы'
        }) 
        +tabs( 
            [
                { isActive: true, title: 'Национальные проекты', href: '/' , value: 'Национальные проекты'},
                { title: 'Администрация', href: '/' , value: 'Администрация'},
                { title: 'Прочие', href: '/' , value: 'Прочие'},
            ])   
        +interviews_array([
            {
                date: 'до 29 сентября', 
                title: 'Уровень благоустройства города', 
                description: 'Оцените чистоту улиц, парков, освещения в районах города, а также доступность инфраструктуры', 
                votes: '319 голосов', 
                result: 'Вы участвовали', 
                buttonText: 'Участвовать', 
                tag: {
                    size: "xs",
                    type: 'button',
                    class: 'button_green button_radius',
                    text: 'Идет', 
                    },
            },
            {
                date: 'до 29 сентября', 
                title: 'Здравоохранение в Сургуте', 
                description: 'Оцените уровень удовлетворенности доступностью медицинских учреждений и качеством медицинских услуг', 
                votes: '319 голосов', 
                result: 'Вы участвовали', 
                buttonText: 'Участвовать', 
                tag: {
                    size: "xs",
                    type: 'button',
                    class: 'button_green button_radius',
                    text: 'Идет', 
                    },
            },
            {
                date: 'до 29 сентября', 
                title: 'Здравоохранение в Сургуте', 
                description: 'Оцените уровень удовлетворенности доступностью медицинских учреждений и качеством медицинских услуг', 
                votes: '319 голосов', 
                result: 'Вы участвовали', 
                buttonText: 'Участвовать', 
                tag: {
                    size: "xs",
                    type: 'button',
                    class: 'button_green button_radius',
                    text: 'Идет', 
                    },
            },
            {
                date: 'до 29 сентября', 
                title: 'Здравоохранение в Сургуте', 
                description: 'Оцените уровень удовлетворенности доступностью медицинских учреждений и качеством медицинских услуг', 
                votes: '319 голосов', 
                result: 'Вы участвовали', 
                buttonText: 'Результаты', 
                tag: {
                    size: "xs",
                    type: 'button',
                    class: 'button_red button_radius',
                    text: 'Завершен', 
                    },
            },
            {
                date: 'до 29 сентября', 
                title: 'Работа местных властей и общественные инициативы', 
                description: 'Оцените уровень удовлетворенности доступностью медицинских учреждений и качеством медицинских услуг', 
                votes: '319 голосов', 
                result: 'Вы участвовали', 
                buttonText: 'Результаты', 
                tag: {
                    size: "xs",
                    type: 'button',
                    class: 'button_red button_radius',
                    text: 'Завершен',
                    },
            },
            {
                date: 'до 29 сентября', 
                title: 'Здравоохранение в Сургуте', 
                description: 'Оцените уровень удовлетворенности доступностью медицинских учреждений и качеством медицинских услуг', 
                votes: '319 голосов', 
                result: 'Вы участвовали', 
                buttonText: '',
                tag: {
                    size: "xs",
                    type: 'button',
                    class: 'button_red button_radius',
                    text: 'Завершен', 
                    },
            },
            ])             
        +pagination(6, 3, 2)