    +breadcrumbs([
        { sort: '', href: '/', text: 'Главная' },
        { sort: '', href: '/about', text: 'Опросы'},
        ])
    h2.main__title Опросы  
    +tabs([
        { size: 'm', title: 'Национальные проекты', onclick: '' , value: 'Национальные проекты'},
        { size: 'm', title: 'Администрация', onclick: '' , value: 'Администрация'},
        { size: 'm', title: 'Прочие', onclick: '' , value: 'Прочие'},
    ])  
    +interviews_array([
        {status: 'Идет', date: 'до 29 сентября', title: 'Здравоохранение в Сургуте', description: 'Оцените уровень удовлетворенности доступностью медицинских учреждений и качеством медицинских услуг', votes: '319 голосов', result: 'Вы участвовали', buttonText: 'Участвовать' },
        {status: 'Идет', date: 'до 29 сентября', title: 'Здравоохранение в Сургуте', description: 'Оцените уровень удовлетворенности доступностью медицинских учреждений и качеством медицинских услуг', votes: '319 голосов', result: 'Вы участвовали', buttonText: 'Участвовать' },
        {status: 'Идет', date: 'до 29 сентября', title: 'Здравоохранение в Сургуте', description: 'Оцените уровень удовлетворенности доступностью медицинских учреждений и качеством медицинских услуг', votes: '319 голосов', result: 'Вы участвовали', buttonText: 'Участвовать' },
        {status: 'Идет', date: 'до 29 сентября', title: 'Здравоохранение в Сургуте', description: 'Оцените уровень удовлетворенности доступностью медицинских учреждений и качеством медицинских услуг', votes: '319 голосов', result: 'Вы участвовали', buttonText: 'Участвовать' },
        {status: 'Идет', date: 'до 29 сентября', title: 'Здравоохранение в Сургуте', description: 'Оцените уровень удовлетворенности доступностью медицинских учреждений и качеством медицинских услуг', votes: '319 голосов', result: 'Вы участвовали', buttonText: 'Участвовать' },
        {status: 'Идет', date: 'до 29 сентября', title: 'Здравоохранение в Сургуте', description: 'Оцените уровень удовлетворенности доступностью медицинских учреждений и качеством медицинских услуг', votes: '319 голосов', result: 'Вы участвовали', buttonText: 'Участвовать' },
        {status: 'Идет', date: 'до 29 сентября', title: 'Здравоохранение в Сургуте', description: 'Оцените уровень удовлетворенности доступностью медицинских учреждений и качеством медицинских услуг', votes: '319 голосов', result: 'Вы участвовали', buttonText: 'Участвовать' },
    ])
    +pagination([
        { title: 'Назад', onclick: '' , value: 'Назад', iconPosition: 'left'},
        [
            { num: '1', onclick: '' , value: '1'},
            { num: '2', onclick: '' , value: '2'},
            { num: '3', onclick: '' , value: '3'},
            { num: '4', onclick: '' , value: '4' },
            { num: '5', onclick: '' , value: '5' },
            { num: '6', onclick: '' , value: '6' },
        ],
        { title: 'Вперед', onclick: '' , value: 'Вперед', iconPosition: 'right'}
        ])