ul 
    a(href='interviews-full.html') Опросы с формой
    a(href='interviews.html') Список опросов 
    a(href='reception.html') Виртуальная приемная
    a(href='components.html') Компоненты
    a(href='projects.html') Инициативные проекты
    a(href='index.html') Индекс HTML