ul 
    li 
        a(href='interview-form.html' target='_blank') Опросы с формой
    li 
        a(href='interviews-list.html' target='_blank') Список опросов 
    li 
        a(href='reception.html' target='_blank') Виртуальная приемная
    li 
        a(href='components.html' target='_blank') Компоненты
    li 
        a(href='projects.html' target='_blank') Инициативные проекты
    li 
        a(href='index.html' target='_blank') Индекс HTML
    li 
        a(href='feedback-status.html' target='_blank') Узнать статус обращения
    li 
        a(href='project-status.html' target='_blank') Узнать статус проекта  
h2 Администрация
ul 
    li 
        a(href='administration-biograpthy.html' target='_blank') Биография Филатов
    li 
        a(href='administration-helpers.html' target='_blank') Заместители
    li 
        a(href='administration-struct.html' target='_blank') Структурное подразделение
        
h2 Главная   
ul     
    li 
        a(href='main-news.html' target='_blank') Новости  
    li 
        a(href='main-services.html' target='_blank') Сервисы 
    li 
        a(href='main-usefull-links.html' target='_blank') Полезные ссылки 
    li 
        a(href='main-important.html' target='_blank') Самое важное   
    li 
        a(href='main-people-care.html' target='_blank') С заботой о жителях 
    li 
        a(href='main-events.html' target='_blank') Анонсы и события
h2 Личный кабинет   
ul     
    li 
        a(href='cabinet-application.html' target='_blank') Мои обращения 
h2 Универсальная афиша/анонс/событие
    li 
        a(href='afisha-events.html' target='_blank') Специальная афиша              






