ul 
    li 
        a(href='interviews-full.html') Опросы с формой
    li 
        a(href='interviews.html') Список опросов 
    li 
        a(href='reception.html') Виртуальная приемная
    li 
        a(href='components.html') Компоненты
    li 
        a(href='projects.html') Инициативные проекты
    li 
        a(href='index.html') Индекс HTML