extends ../layout

block content
    main.main
    .main-people-care
        +main-title({
            href: '/',
            title: 'С заботой о жителях',
        })
        .main-people-care__container
            +people-care-card()