extends ../layout

block content
    main.main
        .main-events
            .main-events__container 
                +main-title({
                    href: '/',
                    title: 'Анонсы и события',
                    link_text: 'Все события'
                })
                .main-events__calender
                    .main-events__calender-links
                        .main-events__calender-link-content 
                            a(href='/' class=`main-events__calender-link main-events__calender-link_active`) 24                        
                            span.main-events__calender-span Пн
                            div.main-events__calender-icon
                                span 2
                        .main-events__calender-link-content 
                            a(href='/' class=`main-events__calender-link main-events__calender-link_active`) 24                        
                            span.main-events__calender-span Пн
                        .main-events__calender-link-content 
                            a(href='/' class=`main-events__calender-link main-events__calender-link_active`) 24                        
                            span.main-events__calender-span Пн    
                        .main-events__calender-link-content 
                            a(href='/' class=`main-events__calender-link`) 24                        
                            span.main-events__calender-span Пн 
                        .main-events__calender-link-content 
                            a(href='/' class=`main-events__calender-link main-events__calender-link_clicked`) 24                        
                            span.main-events__calender-span Пн  
                                div.main-events__calender-icon
                                span 2           
                .main-events__selects
                    .main-events__selects-container
                        +select('right', [
                                { value: 'Все события', text: 'Все события' },
                                { value: 'Театр', text: 'Театр' },
                                { value: 'Детям', text: 'Детям' },
                                { value: 'Выставки', text: 'Выставки' },
                                { value: 'Концерты', text: 'Концерты' }
                            ], 'single')
                        +select('right', [
                                { value: 'Любая тематика', text: 'Любая тематика' },
                                { value: 'Любая тематика', text: 'Любая тематика' }
                            ], 'single')
                        +select('right', [
                                { value: 'Место проведения', text: 'Место проведения' },
                                { value: 'Место проведения', text: 'Место проведения' }
                            ], 'single')
                        +select('right', [
                                { value: 'Июнь', text: 'Июнь' },
                                { value: 'Июнь', text: 'Июнь' }
                            ], 'single') 
                    +checkbox({
                        label: 'С пушкинской картой',
                        id: '10',
                        name: 'with-card',
                        status: true,
                        sort: 'checkbox'
                    })                                                              
                .main-events__news
                    +main-news-card(
                    {
                        image: 'image_1.jpg',
                        date: '10 июня 2023',
                        title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                        tags: [
                                {
                                    isGoing: 'undefined',
                                    status: '', 
                                    onclick: null, 
                                    sort: 'main-news-card',
                                    text: 'Медицина',
                                    href: '/'
                                },                     
                        ]
                    },
                    )
                    +main-news-card(
                    {
                        image: 'image_2.jpg',
                        date: '10 июня 2023',
                        title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                        tags: [
                                {
                                    isGoing: 'undefined',
                                    status: '', 
                                    onclick: null, 
                                    sort: 'main-news-card',
                                    text: 'КОнференция',
                                    href: '/'
                                },                   
                        ]
                    },
                    )
                    +main-news-card(
                    {
                        image: 'image_3.jpg',
                        date: '10 июня 2023',
                        title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                        tags: [
                                {
                                    isGoing: 'undefined',
                                    status: '', 
                                    onclick: null, 
                                    sort: 'main-news-card',
                                    text: 'Кино',
                                    href: '/'
                                },                     
                        ]
                    },
                    )
                    +main-news-card(
                    {
                        image: 'image_5.png',
                        date: '10 июня 2023',
                        title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                        tags: [
                                {
                                    isGoing: 'undefined',
                                    status: '', 
                                    onclick: null, 
                                    sort: 'main-news-card',
                                    text: 'Концерты',
                                    href: '/'
                                },                    
                        ]
                    },
                    )
                    +main-news-card(
                    {
                        image: 'image_1.jpg',
                        date: '10 июня 2023',
                        title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                        tags: [
                                {
                                    isGoing: 'undefined',
                                    status: '', 
                                    onclick: null, 
                                    sort: 'main-news-card',
                                    text: 'Медицина',
                                    href: '/'
                                },                     
                        ]
                    },
                    )
                    +main-news-card(
                    {
                        image: 'image_2.jpg',
                        date: '10 июня 2023',
                        title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                        tags: [
                                {
                                    isGoing: 'undefined',
                                    status: '', 
                                    onclick: null, 
                                    sort: 'main-news-card',
                                    text: 'КОнференция',
                                    href: '/'
                                },                   
                        ]
                    },
                    )
                    +main-news-card(
                    {
                        image: 'image_3.jpg',
                        date: '10 июня 2023',
                        title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                        tags: [
                                {
                                    isGoing: 'undefined',
                                    status: '', 
                                    onclick: null, 
                                    sort: 'main-news-card',
                                    text: 'Кино',
                                    href: '/'
                                },                     
                        ]
                    },
                    )
                    +main-news-card(
                    {
                        image: 'image_5.png',
                        date: '10 июня 2023',
                        title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                        tags: [
                                {
                                    isGoing: 'undefined',
                                    status: '', 
                                    onclick: null, 
                                    sort: 'main-news-card',
                                    text: 'Концерты',
                                    href: '/'
                                },                    
                        ]
                    },
                    )