extends ../layout

block content
    main.main
    .main-usefull-links
        +main-title({
            href: '/',
            title: 'Полезные ссылки',
        })
        .main-usefull-links__container
            +main-link({
                sort: 'usefull',
                href: '/',
                icon: 'arrow-right_icon.svg',
                title: 'Оплата ЖКХ услуг ',
            })
            +main-link({
                sort: 'usefull',
                href: '/',
                icon: 'arrow-right_icon.svg',
                title: 'Виртуальная приемная',
            })
            +main-link({
                sort: 'usefull',
                href: '/',
                icon: 'arrow-right_icon.svg',
                title: 'Пособия и налоги',
            })
            +main-link({
                sort: 'usefull',
                href: '/',
                icon: 'arrow-right_icon.svg',
                title: 'Расписание общественного транспорта',
            })
            +main-link({
                sort: 'usefull',
                href: '/',
                icon: 'arrow-right_icon.svg',
                title: 'Выплаты пенсионерам',
            })
            +main-link({
                sort: 'usefull',
                href: '/',
                icon: 'arrow-right_icon.svg',
                title: 'Запись на публичные слушания',
            })
            +main-link({
                sort: 'usefull',
                href: '/',
                icon: 'arrow-right_icon.svg',
                title: 'Социальные услуги',
            })
            +main-link({
                sort: 'usefull',
                href: '/',
                icon: 'arrow-right_icon.svg',
                title: 'Работа в России',
            })