extends ../layout

block content
    main.main
        +breadcrumbs(
            [
                { sort: '', href: '/', text: 'Главная' },
                { sort: '', href: '/', text: 'Администрация'},
                { sort: '', href: '/', text: 'Заместители'},
            ],
            )
        +title({
            title: 'Памятники Сургута'
        })
        +monuments(
            [
                {
                    title:'Скульптурная композиция Первооткрывателям города Сургута',
                    img: 'kirilenko_avatar.png',
                    date: '8 сентября 1968г.',
                    addr: 'Нефтеюганское шоссе, 20, на территории БУ ХМАО – Югры «Окружная клиническая больница «Травматологический центр»',
                    author: 'Автор проекта Стародумов В. Включает в себя памятники: «Борцам за Советскую власть» и «Сургутянам», павшим на фронтах ВОВ'
                },
                {
                    title:'Скульптурная композиция Первооткрывателям города Сургута',
                    img: 'kirilenko_avatar.png',
                    date: '8 сентября 1968г.',
                    addr: 'Неизвестно',
                    author: 'Отсутствует'
                },
               {
                    title:'Скульптурная композиция Первооткрывателям города Сургута',
                    img: 'kirilenko_avatar.png',
                    date: '8 сентября 1968г.',
                    addr: 'Нефтеюганское шоссе, 20, на территории БУ ХМАО – Югры «Окружная клиническая больница «Травматологический центр»',
                    author: 'Автор проекта Стародумов В. Включает в себя памятники: «Борцам за Советскую власть» и «Сургутянам», павшим на фронтах ВОВ'
                },
                {
                    img: 'kirilenko_avatar.png',
                    date: '8 сентября 1968г.',
                    addr: 'Неизвестно',
                    author: 'Отсутствует'
                },
                {
                    img: 'kirilenko_avatar.png',
                    date: '8 сентября 1968г.',
                    addr: 'Нефтеюганское шоссе, 20, на территории БУ ХМАО – Югры «Окружная клиническая больница «Травматологический центр»',
                    author: 'Автор проекта Стародумов В. Включает в себя памятники: «Борцам за Советскую власть» и «Сургутянам», павшим на фронтах ВОВ'
                },
                {
                    title:'Скульптурная композиция Первооткрывателям города Сургута',
                    img: 'kirilenko_avatar.png',
                    date: '8 сентября 1968г.',
                    addr: 'Неизвестно',
                    author: 'Отсутствует'
                },
                {
                    title:'Скульптурная композиция Первооткрывателям города Сургута',
                    img: 'kirilenko_avatar.png',
                    date: '8 сентября 1968г.',
                    addr: 'Нефтеюганское шоссе, 20, на территории БУ ХМАО – Югры «Окружная клиническая больница «Травматологический центр»',
                    author: 'Автор проекта Стародумов В. Включает в себя памятники: «Борцам за Советскую власть» и «Сургутянам», павшим на фронтах ВОВ'
                },
                {
                    title:'Скульптурная композиция Первооткрывателям города Сургута',
                    img: 'kirilenko_avatar.png',
                    date: '8 сентября 1968г.',
                    addr: 'Неизвестно',
                    author: 'Отсутствует'
                },
            ]
            )