extends ../layout

block content
    main.main
        +breadcrumbs(
            [
                { sort: '', href: '/', text: 'Главная' },
                { sort: '', href: '/', text: 'Специальное событие'},
                { sort: '', href: '/', text: 'В Сургуте масштабно отметили юбилейный, 35-й праздник, Сабантуй'},
            ],
        )
        +user_profile({
            icon: 'user_avatar.png',
            name: 'Валентинов Георгий Викторович',
            onclick: 'changeAvatar()',
        })
        +tabs([
            { title: 'Настройки', href: '/' , value: 'Настройки',  isActive: true},
            { title: 'Мои подписки', href: '/' , value: 'Мои подписки'},
            { title: 'Мои инициативные проекты', href: '/' , value: 'Мои инициативные проекты'},
            { title: 'Мои обращения', href: '/' , value: 'Мои обращения'},
            ]) 
        +profile-settings()
