extends ../layout

block content
    main.main 
        +breadcrumbs(
            [
                { sort: '', href: '/', text: 'Главная' },
                { sort: '', href: '/', text: 'Опросы'},
                { sort: '', href: '/', text: 'Создание агломераций на территории Ханты-Мансийского автономного округа-Югры'},
            ],
            )
        +title({
            title: 'Узнать статус обращения'
            })
        .feedback-status
            .feedback-status__container 
                .feedback-status__title Введите выданный номер обращения
                +search(
                {name: 'number', size: 'l', placeholder: 'Номер обращения', type: 'search'},
                    false, 'l', 'getValues()', 'feedbacks',) 
                +project_card(false, {
                    title: 'Номер обращения',
                    date: 'Сформировано 23 сентября 2024',
                    tag: {
                        size: "xs",
                        sort: 'project-card',
                        text: 'Состояние обращения',
                        isGoing: false,
                        status: ''
                    }
                })  
        .generate_form
            fieldset.fieldset
                h3.fieldset__title Текст вопроса
                .fieldset__answers
                    label
                        input(id='17' type="radio" class='radio')
                    label(for='17') 17 
                    br
                    label
                        input(id='18' type="radio" class='radio')
                    label(for='18') 18  
            fieldset.fieldset
                .fieldset__answers
                    input(name='files1' type="file" class='radio')
                    span.bx-input-file-desc 
            fieldset.fieldset
                .fieldset__answers
                    input(name='files2' type="file" class='radio')
                    span.bx-input-file-desc         
            fieldset.fieldset
                h3.fieldset__title Текст вопроса
                .fieldset__answers
                    input(id='20' type="checkbox" class='checkbox1')
                    label(for='20') 4 
                    input(id='21' type="checkbox" class='checkbox1')
                    label(for='21') 5    
            fieldset.fieldset
                h3.fieldset__title Текст вопроса
                .fieldset__answers
                    <img src="../icons/calendar-icon.gif" alt="Выбрать дату в календаре" class="calendar-icon" onclick="BX.calendar({node:this, field:'form_date_qgeKopvK', form: 'SIMPLE_FORM_2', bTime: false, currentTime: '1733479481', bHideTime: true});" onmouseover="BX.addClass(this, 'calendar-icon-hover');" onmouseout="BX.removeClass(this, 'calendar-icon-hover');" border="0">           



