extends ../layout

block content 
    main.main
        +breadcrumbs(
            [
                { sort: 'crumb', href: '/', text: 'Главная' },
                { sort: 'crumb', href: '/about', text: 'Специальное событие'},
                { sort: 'crumb', href: '/about', text: 'В Сургуте масштабно отметили юбилейный, 35-й праздник, Сабантуй'},
            ])
        +project-generation()