extends ../layout

block content
    main.main
        +breadcrumbs(
            [
                { sort: '', href: '/', text: 'Главная' },
                { sort: '', href: '/', text: 'Специальное событие'},
                { sort: '', href: '/', text: 'В Сургуте масштабно отметили юбилейный, 35-й праздник, Сабантуй'},
            ],
        )
        +user_profile({
            icon: 'user_avatar.png',
            name: 'Валентинов Георгий Викторович',
            job: 'Должность',
            onclick: 'changeAvatar()',
        })
        +tabs([
            { title: 'Настройки', href: '/' , value: 'Настройки'},
            { title: 'Мои подписки', href: '/' , value: 'Мои подписки'},
            { title: 'Мои инициативные проекты', href: '/' , value: 'Мои инициативные проекты'},
            { title: 'Мои обращения', href: '/' , value: 'Мои обращения'},
            ]) 
        +projects_array( true, 'projects', [
            {
                title: 'Название инициативного проекта',
                date: 'Создан 23 сентября 2024',
                sort: 'project-card',
                status: 'Не заполнен',
                isGoing: false,
                tag: {
                    type: 'tag-colored',
                    text: 'Не заполнен',
                    class: 'tag-button-blue',
                },
                checkbox: {
                    id: '1',
                    sort: 'checkbox',
                    status: true,
                }
            },
            {
                title: 'Название инициативного проекта',
                date: 'Создан 23 сентября 2024',
                sort: 'project-card',
                status: 'Не заполнен',
                isGoing: false,
                tag: {
                    type: 'tag-colored',
                    text: 'Выполнен',
                    class: 'tag-button-red',
                },
                checkbox: {
                    id: '2',
                    sort: 'checkbox',
                    status: true,
                }
            },
            {
                title: 'Название инициативного проекта',
                date: 'Создан 23 сентября 2024',
                sort: 'project-card',
                status: 'Не заполнен',
                isGoing: false,
                tag: {
                    type: 'tag-colored',
                    text: 'Выполнен',
                    class: 'tag-button-green',
                },
                checkbox: {
                    id: '3',
                    sort: 'checkbox',
                    status: true,
                }
            }   
        ])          