extends ../layout

block content
    main.main
        +breadcrumbs(
            [
                { sort: '', href: '/', text: 'Главная' },
                { sort: '', href: '/', text: 'Специальное событие'},
                { sort: '', href: '/', text: 'В Сургуте масштабно отметили юбилейный, 35-й праздник, Сабантуй'},
            ],
        )
        +user_profile({
            icon: 'user_avatar.png',
            name: 'Валентинов Георгий Викторович',
            job: 'Должность',
            onclick: 'changeAvatar()',
        })
        +tabs('projects', [
            { size: 'm', title: 'Настройки', onclick: '' , value: 'Настройки'},
            { size: 'm', title: 'Мои подписки', onclick: '' , value: 'Мои подписки'},
            { size: 'm', title: 'Мои инициативные проекты', onclick: '' , value: 'Мои инициативные проекты'},
            { size: 'm', title: 'Мои обращения', onclick: '' , value: 'Мои обращения'},
            ]) 
        +projects_array( true, [
            {
                title: 'Название инициативного проекта',
                date: 'Создан 23 сентября 2024',
                sort: 'project-card',
                status: 'Не заполнен',
                isGoing: false,
                tag: {
                    sort: 'project-card',
                    text: 'Не заполнен',
                    isGoing: false,
                    status: ''
                },
                checkbox: {
                    id: '1',
                    sort: 'checkbox',
                    status: true,
                }
            },
            {
                title: 'Название инициативного проекта',
                date: 'Создан 23 сентября 2024',
                sort: 'project-card',
                status: 'Не заполнен',
                isGoing: false,
                tag: {
                    sort: 'project-card',
                    text: 'Не заполнен',
                    isGoing: false,
                    status: ''
                },
                checkbox: {
                    id: '2',
                    sort: 'checkbox',
                    status: true,
                }
            },
            {
                title: 'Название инициативного проекта',
                date: 'Создан 23 сентября 2024',
                sort: 'project-card',
                status: 'Не заполнен',
                isGoing: false,
                tag: {
                    sort: 'project-card',
                    text: 'Выполнен',
                    isGoing: true,
                    status: ''
                },
                checkbox: {
                    id: '3',
                    sort: 'checkbox',
                    status: true,
                }
            }   
        ])          