extends ../layout

block content
    main.main
        +breadcrumbs(
            [
                { sort: 'crumb', href: '/', text: 'Главная' },
                { sort: 'crumb', href: '/about', text: 'Опросы'},
            ])
        +reception()