extends ../layout

block content
    main.main 
        +breadcrumbs(
            [
                { sort: '', href: '/', text: 'Главная' },
                { sort: '', href: '/', text: 'Опросы'},
                { sort: '', href: '/', text: 'Схема подчиненности структурных подразделений Администрации города'},
            ],
            )
        +title({
            title: 'Схема подчиненности структурных подразделений Администрации города'
            })
        +scheme([
            [
                {title: 'Заместитель главы города', link: 'https://dev-surgut.atlassys.tech/gorodskaya-vlast/administratsiya/zamestiteli/detail.php?ID=32613'}, 
                {title: "Комитет внутренней и молодежной политики", link: 'https://dev-surgut.atlassys.tech/rubric/24984'}, 
                {title: "Комитет информационной политики", link: 'https://dev-surgut.atlassys.tech/rubric/24630'}
            ],
            [
                {title: 'Заместитель Главы города', link: 'https://dev-surgut.atlassys.tech/gorodskaya-vlast/administratsiya/zamestiteli/detail.php?ID=32613'}, 
                {title: 'Департамент образования', link: 'https://dev-surgut.atlassys.tech/rubric/19216'}, 
                {title: 'Комитет культуры', link: '/'}, 
                {title: 'Управление физической культуры и спорта', link: 'https://dev-surgut.atlassys.tech/rubric/21790'}, 
                {title: 'Отдел по организации работы комиссии по делам несовершеннолетних, защите их прав', link: 'https://dev-surgut.atlassys.tech/rubric/20929'}
            ],
            [
                {title: 'Заместитель Главы города', link: 'https://dev-surgut.atlassys.tech/gorodskaya-vlast/administratsiya/zamestiteli/detail.php?ID=32613'}, 
                {title: 'Управление по труду', link: 'https://dev-surgut.atlassys.tech/rubric/21749'}, 
                {title: 'Управление муниципальных закупов', link: 'https://dev-surgut.atlassys.tech/rubric/21737'}, 
                {title: 'Управление инвестиций, развития предпринимательства и труизма', link: 'https://dev-surgut.atlassys.tech/rubric/22791'}, 
                {title: 'Управление потребительского рынка и защиты прав потребителей', link: 'https://dev-surgut.atlassys.tech/rubric/22767'},
                {title: 'Отдел социально-экономического прогнозирования', link: 'https://dev-surgut.atlassys.tech/rubric/22857'}
            ],
            [
                {title: 'Заместитель Главы города', link: 'https://dev-surgut.atlassys.tech/gorodskaya-vlast/administratsiya/zamestiteli/detail.php?ID=32613'}, 
                {title: 'Департамент городского хозяйства', link: 'https://dev-surgut.atlassys.tech/rubric/1084'}, 
                {title: 'Департамент имущественный и земельных отношений', link: 'https://dev-surgut.atlassys.tech/rubric/24418'}
            ],
            [
                {title: 'Заместитель Главы города', link: 'https://dev-surgut.atlassys.tech/gorodskaya-vlast/administratsiya/zamestiteli/detail.php?ID=32613'}, 
                {title: 'Департамент архитектуры и градостроительства', link: 'https://dev-surgut.atlassys.tech/rubric/20399'}
            ],
            [
                {title: 'Заместитель Главы города', link: 'https://dev-surgut.atlassys.tech/gorodskaya-vlast/administratsiya/zamestiteli/detail.php?ID=32613'}, 
                {title: 'Управление по делам гражданской обороны и чрезвычайным ситуациям', link: 'https://dev-surgut.atlassys.tech/rubric/20916'}, 
                {title: 'Контрольное управление', link: 'https://dev-surgut.atlassys.tech/rubric/21401'}, 
                {title: 'Управление по вопросам общественной безопасности', link: 'https://dev-surgut.atlassys.tech/rubric/22422'}, 
                {title: 'Специальный отдел', link: 'https://dev-surgut.atlassys.tech/rubric/1214'}
            ],
            [
                {title: 'Заместитель Главы города', link: 'https://dev-surgut.atlassys.tech/gorodskaya-vlast/administratsiya/zamestiteli/detail.php?ID=32613'}, 
                {title: 'Департамент финансов', link: 'https://dev-surgut.atlassys.tech/gorodskaya-vlast/administratsiya/strukturnye-podrazdeleniya/departament-finansov/o-departamente'}, 
                {title: 'Управление бюджетного учета и отчетности', link: 'https://dev-surgut.atlassys.tech/rubric/20925'}, 
                {title: 'Контрольно-ревизионное управление', link: 'https://dev-surgut.atlassys.tech/rubric/20923'}
            ],
            [
                {title: 'Управляющий делами Администрации города', link: '/'}, 
                {title: 'Управление кадров и муниципальной службы', link: 'https://dev-surgut.atlassys.tech/rubric/20920'},
                {title: 'Правовое управление', link: 'https://dev-surgut.atlassys.tech/rubric/20919'}, 
                {title: 'Управление записи актов гражданского состояния', link: 'https://dev-surgut.atlassys.tech/rubric/20922'}, 
                {title: 'Управление документационного и организационного обеспечения', link: 'https://dev-surgut.atlassys.tech/rubric/23759'}, 
                {title: 'Отдел протокола', link: 'https://dev-surgut.atlassys.tech/rubric/24789'}
            ]
        ])