extends ../layout

block content
    main.main 
        +breadcrumbs(
            [
                { sort: '', href: '/', text: 'Главная' },
                { sort: '', href: '/', text: 'Опросы'},
                { sort: '', href: '/', text: 'Схема подчиненности структурных подразделений Администрации города'},
            ],
            )
        +title({
            title: 'Схема подчиненности структурных подразделений Администрации города'
            })
        +scheme([
            ['Заместитель главы города', "Комитет внутренней и молодежной политики", "Комитет информационной политики"],
            ['Заместитель Главы города', 'Департамент образования', 'Комитет культуры', 'Управление физической культуры и спорта', 'Отдел по организации работы комиссии по делам несовершеннолетних, защите их прав'],
            ['Заместитель Главы города', 'Управление по труду', 'Управление муниципальных закупов', 'Управление инвестиций, развития предпринимательства и труизма', 'Управление потребительского рынка и защиты прав потребителей', 'Отдел социально-экономического прогнозирования'],
            ['Заместитель Главы города', 'Департамент городского хозяйства', 'Департамент имущественный и земельных отношений'],
            ['Заместитель Главы города', 'Департамент архитектуры и градостроительства'],
            ['Заместитель Главы города', 'Управление по делам гражданской обороны и чрезвычайным ситуациям', 'Контрольное управление', 'Управление по вопросам общественной безопасности', 'Специальный отдел'],
            ['Заместитель Главы города', 'Департамент финансов', 'Управление бюджетного учета и отчетности', 'Контрольно-ревизионное управление'],
            ['Управляющий делами Администрации города', 'Управление кадров и муниципальной службы', 'Правовое управление', 'Управление записи актов гражданского состояния', 'Управление документационного и организационного обеспечения', 'Отдел протокола']
        ])