extends ../layout

block content
    main.main 
        +breadcrumbs(
            [
                { sort: '', href: '/', text: 'Главная' },
                { sort: '', href: '/', text: 'Подписка'},
                { sort: '', href: '/', text: 'Подписка на главное'},
            ],
            )
        +title({
            title: 'Инициативный проект'
            })
        +project-table()