include ../_interviews.pug 
include ../../../libs/tags/_tags.pug 
include ../../../libs/buttons/_buttons.pug 

+interviews_array([
    {
        date: 'до 29 сентября', 
        title: 'Здравоохранение в Сургуте Здравоохранение в Сургуте', 
        description: 'Оцените уровень удовлетворенности доступностью медицинских учреждений и качеством медицинских услуг', 
        votes: '319 голосов', 
        result: 'Вы участвовали', 
        buttonText: 'Участвовать', 
        tag: {
            status: '',
            text: 'Идет', 
        },
        },
])