include ../elem/dm-schedule-elem

mixin dm-schedule(items = [])
    .dm-schedule
        .dm-schedule-top 
            p Внимание! Депутаты Думы города ведут прием избирателей по предварительной записи. Записаться на прием к депутату Вы можете позвонив по телефонам, указанным в таблице.
            p Чтобы найти депутата по своему избирательному округу, воспользуйтесь 
                a(href = '#') электронным сервисом "Узнай, кто твой депутат".
        .dm-schedule-main 
            each item in items 
                +dm-schedule-elem(item)