@use '../../../../assets/styles/vars.scss' as *;

.dm-schedule-top {
    a {
        color: $primary-color;
    }
}


.dm-schedule-elem  {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: $grey-adm;
    padding: 20px;
    border-radius: 12px;
    margin-top: 24px;
    box-sizing: border-box;

    @include respond-to(md) {
        padding: 16px;
        gap: 16px;
        margin-top: 16px;
    }

    hr {
        margin: 0;
    }

    span , a{
        @include text-2();
    }

    a {
        color: $primary-color;
        font-weight: 400;
    }

    .dm-schedule-top { 

        span {
            @include lead-2();
        }
    }

    .dm-schedule-elem-block {
        display: flex;
        flex-direction: column;
        gap: 20px;
        @include respond-to(md) {
            gap: 16px;
        }

        .dm-schedule-elem-block-item  {
            display: flex;
            flex-direction: column;
            gap: 8px;
            @include respond-to(md) {
                gap: 8px;
            }

            .subtitle {
                color: $tertiary-text;
                @include caption-2();
            }
        }
    }
}