mixin search()
    div.search-pc
        input.search__input(type = "search", placeholder = "Поиск по сайту", id = "focusInput")
        button.search__btn(type = "submit") 
            i.material-icons search
    div.search-mb(onclick = "setFocus()") 
        //- +btn("", 'search.svg', false)