.service-detail .label {
  color: var(--tertiary-text);
  display: block;
  margin-bottom: 12px;
  font-weight: 300;
  font-size: calc(16px * var(--scale));
  line-height: calc(20px * var(--lh));
}
@media (max-width: 992px) {
  .service-detail .label {
    font-size: calc(12px * var(--scale));
    line-height: calc(16px * var(--lh));
  }
}
.service-detail .toggle-content.pt-0 {
  padding-top: 0;
}
.service-detail .toggle-content.pb-0 {
  padding-bottom: 0;
}

.service-contacts .toggle-content-container {
  display: flex;
  gap: 24px;
}
@media (max-width: 768px) {
  .service-contacts .toggle-content-container {
    gap: 20px;
    flex-direction: column;
  }
}
.service-contacts .toggle-content-container .contacts-item {
  width: 33%;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .service-contacts .toggle-content-container .contacts-item {
    width: 100%;
  }
}

.service-method .service-method-line {
  display: flex;
  gap: 24px;
}
@media (max-width: 768px) {
  .service-method .service-method-line {
    gap: 20px;
    flex-direction: column;
  }
}
.service-method .service-method-line .method-item {
  width: 300px;
}