@use '../../../../../assets/styles/vars.scss' as *;

body.tmp-duma .important-links .main-title {
    padding-bottom: 32px;
}

body.tmp-duma .important-links .main-title .main-title__container {
    @include respond-to(sm) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;
    }
}

.important-links {
    @include main-blocks-paddings;

    .important-links__navigation {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .important-links__slider {
        @include main-slider;
    }

    .important-links__container {
        display: grid;
        grid-template-columns: repeat(3, calc((100% - 48px)/3));
        justify-content: center;
        gap: 24px;

        @include respond-to(md) {
            gap: 8px;
        }

        @include respond-to(sm) {
            grid-template-columns: 1fr;
            gap: 8px;
        }

        .important-link {
            box-sizing: border-box;
            background-color: $cards-background;
            border-radius: 20px;
            text-decoration: none;
            color: $main-text;
            align-items: center;
            min-height: 88px;
            @include content-paddings;

            &:hover {
                color: $primary-color-hover;
            }

            &:active {
                color: $primary-color-active;
            }

            @include respond-to(md) {
                border-radius: 8px;
                margin-right: 8px;
                min-height: 64px;
            }

            .important-link__container {
                display: flex;
                align-items: center;
                gap: 20px;

                .important-link__icon {
                    width: 56px;
                    height: 56px;
                    object-fit: cover;
                    object-position: center;

                    @include respond-to(md) {
                        width: 24px;
                        height: 24px;
                    }
                }

                .important-link__title {
                    @include visible-lines(2);
                    @include lead-4;
                }
            }
        }
    }
}