.dm-mail__contacts {
  width: 100%;
  border-radius: 8px;
  background-color: var(--grey-adm);
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
  box-sizing: border-box;
}
@media (max-width: 992px) {
  .dm-mail__contacts {
    flex-direction: column;
  }
}

.dm-mail__top .links-list {
  margin-top: 16px;
}
@media (max-width: 992px) {
  .dm-mail__top .links-list {
    margin-top: 8px;
  }
}

.dm-mail__top .links-list-item {
  margin-bottom: 0;
}

.dm-mail__phone,
.dm-mail__mail,
.dm-mail__addr {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (max-width: 992px) {
  .dm-mail__phone,
  .dm-mail__mail,
  .dm-mail__addr {
    gap: 8px;
  }
}

.dm-mail__phone span,
.dm-mail__mail span,
.dm-mail__addr span {
  color: var(--second-text);
  font-weight: 300;
  font-size: calc(16px * var(--scale));
  line-height: calc(24px * var(--lh));
}
@media (max-width: 992px) {
  .dm-mail__phone span,
  .dm-mail__mail span,
  .dm-mail__addr span {
    font-size: calc(14px * var(--scale));
    line-height: calc(20px * var(--lh));
  }
}

.dm-mail__phone span:first-child,
.dm-mail__mail span:first-child,
.dm-mail__addr span:first-child,
.dm-mail__descr {
  color: var(--tertiary-text);
  font-weight: 300;
  font-size: calc(16px * var(--scale));
  line-height: calc(20px * var(--lh));
}
@media (max-width: 992px) {
  .dm-mail__phone span:first-child,
  .dm-mail__mail span:first-child,
  .dm-mail__addr span:first-child,
  .dm-mail__descr {
    font-size: calc(12px * var(--scale));
    line-height: calc(16px * var(--lh));
  }
}

.dm-mail__map {
  width: 100%;
  height: 738px;
}
.dm-mail__map iframe {
  height: 100%;
  border-radius: 8px;
}
@media (max-width: 992px) {
  .dm-mail__map {
    height: 410px;
  }
}
@media (max-width: 768px) {
  .dm-mail__map {
    height: 200px;
  }
}

.dm-mail__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.dm-mail__bot {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dm-mail__bot-title span {
  color: var(--main-text);
  font-weight: 400;
  font-size: calc(20px * var(--scale));
  line-height: calc(24px * var(--lh));
}
@media (max-width: 992px) {
  .dm-mail__bot-title span {
    font-size: calc(14px * var(--scale));
    line-height: calc(18px * var(--lh));
  }
}

.dm-mail__bot-list li {
  color: var(--second-text);
  font-weight: 300;
  font-size: calc(16px * var(--scale));
  line-height: calc(24px * var(--lh));
}
@media (max-width: 992px) {
  .dm-mail__bot-list li {
    font-size: calc(14px * var(--scale));
    line-height: calc(20px * var(--lh));
  }
}
@media (max-width: 992px) {
  .dm-mail__bot-list li {
    margin-left: 28px;
  }
}

@media (max-width: 992px) {
  .dm-mail__bot-list ul {
    margin-left: 0;
  }
}

.dm-mail hr {
  margin: 0;
}