include ../components/button/button.pug

html(lang="ru")
  head
    meta(charset="utf-8")
    title= "Официальнй сайт города Сургута"
    link(rel='stylesheet' href='./css/style.css')
  body
    +ui_button("кнопка 1","#",null,"icon","right")
    +ui_button("кнопка 2","#",null,"icon","right")