html(lang="ru")
  head
    meta(charset="utf-8")
    title= "Официальнй сайт города Сургута"
    link(rel='stylesheet' href='./css/style.css')
  body
    include ../components/buttons/buttons-xs/btn-no-icon-xs.pug
    include ../components/buttons/buttons-xs/btn-left-icon-xs.pug
    include ../components/buttons/buttons-xs/btn-right-icon-xs.pug

    include ../components/buttons/buttons-s/btn-no-icon-s.pug
    include ../components/buttons/buttons-s/btn-left-icon-s.pug
    include ../components/buttons/buttons-s/btn-right-icon-s.pug

    include ../components/buttons/buttons-m/btn-no-icon-m.pug
    include ../components/buttons/buttons-m/btn-left-icon-m.pug
    include ../components/buttons/buttons-m/btn-right-icon-m.pug