mixin header-socials(data = [])
    .header__socials
        each link in data
            - const hasIcon = link.class ? link.class : ''

            a.header__social-icon(
                href=link.href 
                class=[hasIcon] 
                title=link.title 
                role='link'
                aria-label=link.aria_label || link.text
                )
