mixin header-socials(data = [])
    .header__socials
        each link in data
            - const hasIcon = link.class ? link.class : ''

            a(href=link.href class=[hasIcon]).header__social-icon
