
include ./dm-meeting-elem

+dm-meeting-elem( {
                    num: '1',
                    name: 'Об исполнении бюджета городского округа Сургут Ханты-Мансийского автономного округа – Югры за 2022 год. (21)',
                    prepare: 'Администрация города',
                    speaker: 'Новикова Маргарита Александровна, директор департамента финансов',
                    vote: '22',
                    decision: 'Решение принято',
                    icon: 'checkmark',
                    doc: '(№ 352-VII ДГ от 31.05.2023)'
                })