mixin citizens-list()
    .citizens-list
        .citizens-list__container 
            .citizens-list__desc
                p.citizens-list__text Звание «Почетный гражданин города Сургута» учреждено исполнительным комитетом городского Совета народных депутатов в июне 1968 года. Решение о присвоении звания принималось на сессии городского Совета народных депутатов.
                br
                p.citizens-list__text В настоящее время решение о присвоении звания «Почётный гражданин города Сургута» оформляется постановлением Главы города на основании Положения о звании «Почётный гражданин города Сургута», утвержденного решением городской Думы в 2006 году.
                br
                p.citizens-list__text Звание «Почетный гражданин города Сургута» присваивается жителям города Сургута, являющимся гражданами Российской Федерации, пользующимся всеобщим уважением, за особые заслуги перед городом в области науки, культуры, образования, здравоохранения, спорта, городского хозяйства, обеспечения общественной безопасности, за активное участие в общественной жизни города. В исключительных случаях звание может быть присвоено гражданам, не проживающим в городе, за особые заслуги перед городом.
                p.citizens-list__text Для выдвижения кандидата на присвоение звания Главе города предоставляются ходатайства не менее 3-х трудовых коллективов организаций, общественных самоуправлений, осуществляющих деятельность на территории города, относящуюся к разным сферам. К ходатайствам прилагаются сведения о лице, представляемом к присвоению звания, протокол собрания (конференции) организации, выдвинувшей кандидата. Комиссия по наградам при Главе города, рассмотрев документы, даёт заключение об их соответствии требованиям Положения о звании, проверяет подписные листы в поддержку кандидата.
                br
                p.citizens-list__text Из положения о звании «Почётный гражданин города Сургута», утвержденногорешением городской Думы от 28.02.2006 № 567-III ГД «Об утверждении Положения о звании «Почетный гражданин города Сургута и положений об отдельных видах наград городского округа.
            .citizens-list__cards 
                +citizen-card()   