/*** Finish - Title ***/
.dm-unions__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.dm-unions-elem__img {
  max-width: 164px;
  width: 164px;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
  height: 194px;
  max-height: 194px;
}
@media (max-width: 768px) {
  .dm-unions-elem__img {
    max-width: 82px;
    max-height: 94px;
  }
}

.dm-unions-elem {
  display: flex;
  width: 100%;
  background-color: var(--grey-adm);
  border-radius: 12px;
  text-decoration: none;
  color: #15195a;
}

.dm-unions-elem__container {
  display: flex;
  gap: 24px;
  padding: 20px;
  align-items: center;
  width: 100%;
}
@media (max-width: 768px) {
  .dm-unions-elem__container {
    padding: 16px;
  }
}

.dm-unions-elem__right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 768px) {
  .dm-unions-elem__right {
    gap: 24px;
  }
}

.dm-unions-elem__top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 768px) {
  .dm-unions-elem__top {
    gap: 8px;
  }
}

.dm-unions-elem__bot {
  display: flex;
  gap: 40px;
  align-items: center;
}

.dm-unions-elem__info-name span {
  font-weight: 500;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}
@media (max-width: 992px) {
  .dm-unions-elem__info-name span {
    font-size: 16px;
    line-height: 20px;
  }
}

.dm-unions-elem__info-descr span {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}
@media (max-width: 992px) {
  .dm-unions-elem__info-descr span {
    font-size: 12px;
    line-height: 16px;
  }
}

.dm-unions-elem__bot span {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}
@media (max-width: 992px) {
  .dm-unions-elem__bot span {
    font-size: 10px;
    line-height: 14px;
  }
}

.dm-unions-elem__info-currency, .dm-unions-elem__info-head {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (max-width: 768px) {
  .dm-unions-elem__info-currency, .dm-unions-elem__info-head {
    gap: 4px;
  }
}

.dm-unions-elem__info-currency span:first-child, .dm-unions-elem__info-head span:first-child {
  color: #78839c;
}