mixin title(data)
    .title 
        .title__container 
            h2 #{data.title}
            if data.buttons
                div.buttons
                    each button, index in data.buttons
                        button.button(type="button")= button.text
            if data.description
                .title__description #{data.description}            