mixin title(data)
    .title 
        .title__container 
            h2 #{data.title}
            if data.buttons
                div.title__buttons
                    each button, index in data.buttons
                        +button(button)
            if data.description
                .title__description #{data.description}            