@use '../../../assets/styles/vars.scss' as *;

.title {
    width: 100%;
    margin: 16px 0 24px;

    @include respond-to(sm) {
        margin: 8px 0 16px;
    }

    .title__container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 16px;

        @include respond-to(sm) {
            flex-direction: column;
            gap: 8px;
        }

        .title__name {
            padding: 0;
            @include heading-h1;
        }

        .title__description {
            flex-basis: 100%;
            @include caption-2;
        }

        .title__buttons {
            display: flex;
            gap: 8px;
            margin-left: auto;

            @include respond-to(sm) {
                margin-left: 0;
            }
        }
    }
}