@use '../../../../assets/styles/vars.scss' as *;
@use '../base.scss' as *;

body.tmp-duma .hearing-item .hearing-item-content .hearing-item-labels .hearing-item-labels-item .hearing-item-span-title {
    display: none;
}

body.tmp-duma .hearing-item .hearing-item-content .hearing-item-labels .hearing-item-labels-item .hearing-item-span-desc {
    color: $tertiary-text;
}

.hearing-item {
    flex: 0 0 calc(50% - 12px);
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    border-radius: 12px;
    background: $fourth-text-inverse;
    color: $main-text;
    @include title-4;

    @include respond-to(md) {
        flex: 0 0 100%;
    }

    &:hover {
        color: $main-text;
        text-decoration: none;
    }

    &:hover .hearing-item-title {
        color: $primary-color;
    }

    &:active .hearing-item-title {
        color: $primary-color-active;
    }

    &-title {
        span {
            @include visible-lines(5);
            @include lead-4;
        }

    }

    &-content {
        display: flex;
        flex-direction: column;
        gap: 40px;
        @include content-paddings;

        @include respond-to(md) {
            gap: 20px;
        }
    }

    img {
        height: 362px;
        width: 100%;
        object-fit: cover;

        @include respond-to(md) {
            height: 188px;
        }
    }

    &-labels {
        display: flex;

        &-item {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .hearing-item-span-title {
                color: $tertiary-text;
                @include caption-3;
            }

            .hearing-item-span-desc {
                @include lead-4;
            }

            &:first-child {
                padding-right: 24px; // Применить отступ только для первого элемента
            }
        }
    }

    &-link {
        position: relative;
        display: flex;
        justify-content: center;
        border-radius: 8px 8px 0 0;
        overflow: hidden;

        .hearing-card_button {
            position: absolute;
            top: 12px;
            left: 12px;
            padding: 4px 12px;
        }
    }

    &-bg {
        @include img-bg();
    }
}