include ../buttons/_buttons

mixin search-button(size, event)
    +button({ type: 'button', size: 's', class: 'button_white search__button', icon: 'add-outline', event: '1', icon: 'search-outline'})     