include ../buttons/_buttons

mixin search-button(size, event)
    - const hasSize = size ? `search__button_${size}` : ''

    +button({ type: 'button', class: `button_blue search__button ${hasSize}`, icon: 'add-outline', event: '1', icon: 'search-outline'})     