include ../../../components/slider/_slider
include ../../../libs/tab-buttons/_tab-buttons

mixin tabs(tabs = [], slider, classFont)
  .tabs
    - const hasFontClass = classFont ? classFont : '' 

    div(class=[hasFontClass] role='tablist').tabs__container
      each tab in tabs
        +tab-button(tab)
    if slider
      +slider(slider)