@use '../../../../assets/styles/vars.scss' as *;

body.tmp-duma .main-title .main-title__container .tabs .tabs__container {
    gap: 32px;
    @include heading-h1;
}

body.tmp-duma .main-title .main-title__container .tabs {
    margin: 0;
}

.tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 24px;

    @include respond-to(sm) {
        margin: 8px 0 16px;
    }

    .tabs__container {
        display: flex;
        flex-wrap: wrap;
        text-wrap: nowrap;
        gap: 16px;
        box-sizing: border-box;
        @include heading-h4;

        @include respond-to(md) {
            flex-wrap: nowrap;
            overflow: auto;
            scrollbar-width: none;
        }

        .tab-button {
            all: unset;
            color: $tertiary-text;
            padding: 0 0 8px;
            border: 2px solid transparent;

            &:hover {
                cursor: pointer;
                border-bottom: 2px solid $tertiary-text;
            }

            &:focus-visible {
                @include focus-visible;
            }

            &_active {
                border-bottom: 2px solid $second-text;
                color: $second-text;
            }
        }
    }
}