body.tmp-duma .main-events .main-events__container .main-title {
  padding-bottom: 32px;
}

.events .filters {
  margin-top: 48px;
}
@media (max-width: 768px) {
  .events .filters {
    margin-top: 24px;
    display: none;
  }
}
@media (max-width: 992px) {
  .events .dm-calendar__btn {
    margin-bottom: 0;
  }
}
.events .events__container {
  position: relative;
  padding: 0 0 48px;
}
@media (max-width: 992px) {
  .events .events__container {
    padding: 0 0 24px;
  }
}
@media (max-width: 768px) {
  .events .events__container {
    padding: 0 0 20px;
  }
}
.events .events__container .events__calendar {
  display: none;
}
.events .events__container .events__calendar_active {
  display: flex;
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.events .events__container .events__selects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0 35px;
}
@media (max-width: 992px) {
  .events .events__container .events__selects {
    flex-direction: column;
    gap: 19px;
    align-items: flex-start;
    margin: 25px 0 31px;
  }
}
@media (max-width: 768px) {
  .events .events__container .events__selects {
    display: none;
  }
}
.events .events__container .events__selects .events__selects-container {
  display: grid;
  grid-template-columns: 23% 27% 30% 16%;
  gap: 12px;
  max-width: 902px;
  width: 100%;
}
@media (max-width: 992px) {
  .events .events__container .events__selects .events__selects-container {
    gap: 4px;
  }
}
.events .events__container .events__selects .events__selects-container .events__select {
  padding: 6px 12px;
  border-radius: 4px;
}
.events .events__container .events__news {
  display: grid;
  grid-template-columns: repeat(4, calc((100% - 72px) / 4));
  gap: 24px;
  row-gap: 20px;
}
@media (max-width: 992px) {
  .events .events__container .events__news {
    gap: 8px;
    grid-template-columns: repeat(3, calc((100% - 24px) / 3));
  }
}
@media (max-width: 992px) {
  .events .events__container .events__news {
    display: block;
  }
}
.events .events__container .events__navigation {
  display: flex;
  justify-content: center;
}
@media (max-width: 992px) {
  .events .events__container .events__navigation {
    display: none;
  }
}
.events .events__container .events__slider {
  display: none;
}
@media (max-width: 992px) {
  .events .events__container .events__slider {
    display: flex;
    justify-content: center;
  }
}