body {
  --services-hover: #f2f3f5;
  --services-active: #e3e4e7;
  --cards-background: #fafafa;
  --grey-adm: #fafafa;
  --event-color: #e7edfb;
  --event-color-hover: #e7edfb;
  --primary-color: #004cc4;
  --primary-color-hover: #0a5fe7;
  --primary-color-active: #003ea2;
  --primary-color-disabled: #c2d8ff;
  --primary-color-green: #14bc30;
  --primary-color-green-hover: #10cd30;
  --primary-color-green-click: #0c9022;
  --primary-color-green-disabled: #dbdbdb;
}
body.tmp-duma {
  --services-hover: #f0eee2;
  --services-active: #e7e5d7;
  --cards-background: #f7f6ef;
  --grey-adm: #f7f6ef;
  --event-color: #e9e4d2;
  --event-color-hover: #bfb797;
  --primary-color: #0d6cba;
  --primary-color-hover: #288cde;
  --primary-color-active: #0c5591;
  --primary-color-disabled: #90bbde;
  --primary-color-green: #a78818;
  --primary-color-green-hover: #c9a41d;
  --primary-color-green-click: #856b0f;
  --primary-color-green-disabled: #bda964;
}

/*** Finish - Title ***/
@media (max-width: 1000px) {
  .main-events {
    padding-top: 18px;
  }
}
@media (max-width: 600px) {
  .main-events {
    padding-top: 13px;
  }
}
.main-events .events__filters {
  display: none;
}
@media (max-width: 660px) {
  .main-events .events__filters {
    display: flex;
    margin-bottom: 33px;
  }
}
.main-events .events__filters .events__filter-button {
  width: 100%;
  justify-content: center;
}
.main-events .main-events__container .main-events__selects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0 35px;
}
@media (max-width: 1280px) {
  .main-events .main-events__container .main-events__selects {
    flex-direction: column;
    gap: 19px;
    align-items: flex-start;
    margin: 25px 0 31px;
  }
}
@media (max-width: 660px) {
  .main-events .main-events__container .main-events__selects {
    display: none;
  }
}
.main-events .main-events__container .main-events__selects .main-events__selects-container {
  display: grid;
  grid-template-columns: 23% 27% 30% 16%;
  gap: 12px;
  max-width: 902px;
  width: 100%;
}
@media (max-width: 1000px) {
  .main-events .main-events__container .main-events__selects .main-events__selects-container {
    gap: 4px;
  }
}
.main-events .main-events__container .main-events__selects .main-events__selects-container .events__select {
  padding: 6px 12px;
  border-radius: 4px;
}
.main-events .main-events__container .main-events__news {
  display: grid;
  grid-template-columns: repeat(4, calc((100% - 72px) / 4));
  gap: 24px;
  row-gap: 20px;
  margin-bottom: 48px;
}
@media (max-width: 1000px) {
  .main-events .main-events__container .main-events__news {
    gap: 8px;
    grid-template-columns: repeat(3, calc((100% - 24px) / 3));
    margin-bottom: 24px;
  }
}
@media (max-width: 600px) {
  .main-events .main-events__container .main-events__news {
    grid-template-columns: repeat(2, 250px);
    overflow-y: scroll;
    scrollbar-width: none;
    margin-bottom: 12px;
  }
}
.main-events .main-events__container .main-events__navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 46px;
}
@media (max-width: 1000px) {
  .main-events .main-events__container .main-events__navigation {
    margin-bottom: 0;
  }
}