mixin news-card-without-image(data)
    - const hasIconClass = data.classIcon ? data.classIcon : ''
    - const icon = data.icon ? data.icon : ''

    a.news-card-without-image(href="/")    
        .news-card-without-image__container 
            .news-card-without-image__content
                span(title=`Медицинских работников города Сургута отметили наградами в честь профессионального праздника Медицинских работников города Сургута отметили наградами в честь профессионального праздника`).news-card-without-image__title Медицинских работников города Сургута отметили наградами в честь профессионального праздника Медицинских работников города Сургута отметили наградами в честь профессионального праздника
                ion-icon(name=icon class=`icon ${hasIconClass}`).news-card-without-image__icon
            span.news-card-without-image__date 23 сентября 2024