@use '../../../../assets/styles/vars.scss' as *;

body.tmp-duma .news-card-without-image {
    &:nth-child(n+4) {
        display: none;
    }
}

.news-card-without-image {
    display: flex;
    background-color: $cards-background;
    border-radius: 12px;
    text-decoration: none;
    color: #000000;
    width: 100%;
    padding: 20px 20px;
    box-sizing: border-box;

    &:hover {
        background-color: $services-hover;
    }

    &:active {
        background-color: $services-active;
    }

    @include respond-to(md) {
        min-width: 360px;
        padding: 16px;

        &:nth-child(n+3) {
            display: none;
        }
    }

    @include respond-to(sm) {
        max-width: none;
        min-width: auto;
    }

    .news-card-without-image__container {
        display: flex;
        flex-direction: column;
        gap: 29px;
        width: 100%;

        @include respond-to(md) {
            gap: 22px;
        }

        .news-card-without-image__content {
            display: flex;
            gap: 20px;

            .news-card-without-image__title {
                width: calc(100% - 44px);
                @include visible-lines(3);
                @include heading-h5;
            }

            .news-card-without-image__icon {
                font-size: 24px;
                color: $primary-color;
            }

            .dm-card-without-image__icon {
                color: $primary-color-green;
            }
        }

        .news-card-without-image__date {
            color: $tertiary-text;
            @include caption-3;
        }
    }
}