.about .event-card__tags {
  display: none !important;
}

.about .event-card__description {
  flex-direction: column-reverse !important;
}

.about .event-card__buttons a:first-child,
.about .event-card__buttons a:last-child {
  display: none;
}

.about-content {
  max-width: 866px;
  margin: 40px auto 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.about p, .about span {
  font-weight: 300;
  font-size: calc(16px * var(--scale));
  line-height: calc(24px * var(--lh));
}
@media (max-width: 992px) {
  .about p, .about span {
    font-size: calc(14px * var(--scale));
    line-height: calc(20px * var(--lh));
  }
}

.about .about-title {
  padding-top: 32px;
  padding-bottom: 16px;
  margin: 0;
  font-weight: 500;
  font-size: calc(24px * var(--scale));
  line-height: calc(28px * var(--lh));
}
@media (max-width: 992px) {
  .about .about-title {
    padding-top: 24px;
    padding-bottom: 8px;
  }
}
@media (max-width: 992px) {
  .about .about-title {
    font-size: calc(16px * var(--scale));
    line-height: calc(20px * var(--lh));
  }
}

.about .about-subtitle {
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0;
  font-weight: 400;
  font-size: calc(20px * var(--scale));
  line-height: calc(24px * var(--lh));
}
@media (max-width: 992px) {
  .about .about-subtitle {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
@media (max-width: 992px) {
  .about .about-subtitle {
    font-size: calc(14px * var(--scale));
    line-height: calc(18px * var(--lh));
  }
}

.about-card {
  width: 100%;
  background-color: var(--grey-adm);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 50%;
  box-sizing: border-box;
}

.about-info-row {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
}
@media (max-width: 768px) {
  .about-info-row {
    flex-direction: column;
  }
}

.about-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 768px) {
  .about-info .about-info-row:last-child {
    flex-direction: column-reverse;
  }
}

.about-card-left {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.about .about-card-fact {
  font-size: 64px;
  color: var(--primary-color);
  font-weight: 500;
  line-height: unset;
}
@media (max-width: 992px) {
  .about .about-card-fact {
    font-size: 40px;
  }
}

.about-info-row:last-child .about-info-text {
  text-align: end;
}

.about .about-card-title {
  font-size: 16px;
  font-weight: 600;
}

.about-card-subtitle, .about-info-text {
  font-size: 16px;
}

.about li {
  font-weight: 300;
  font-size: calc(16px * var(--scale));
  line-height: calc(24px * var(--lh));
}
@media (max-width: 992px) {
  .about li {
    font-size: calc(14px * var(--scale));
    line-height: calc(20px * var(--lh));
  }
}

.about-organ {
  width: 100%;
  background-color: var(--grey-adm);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 24px;
  box-sizing: border-box;
}

.about-organ-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .about-organ-top {
    flex-direction: column;
  }
}

.about-organ-top-left {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.about-organ-title span {
  font-weight: 400;
  font-size: calc(20px * var(--scale));
  line-height: calc(24px * var(--lh));
}
@media (max-width: 992px) {
  .about-organ-title span {
    font-size: calc(14px * var(--scale));
    line-height: calc(18px * var(--lh));
  }
}

.about-organ-subtitle span {
  font-weight: 300;
  font-size: calc(16px * var(--scale));
  line-height: calc(20px * var(--lh));
}
@media (max-width: 992px) {
  .about-organ-subtitle span {
    font-size: calc(12px * var(--scale));
    line-height: calc(16px * var(--lh));
  }
}

.about-organ-bot {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
}
@media (max-width: 768px) {
  .about-organ-bot {
    flex-direction: column;
  }
}

.about-organ-bot-elem {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.about-organ-bot-elem span:last-child {
  font-weight: 300;
  font-size: calc(16px * var(--scale));
  line-height: calc(24px * var(--lh));
}
@media (max-width: 992px) {
  .about-organ-bot-elem span:last-child {
    font-size: calc(14px * var(--scale));
    line-height: calc(20px * var(--lh));
  }
}

.about-organ-bot-elem span:first-child {
  color: var(--tertiary-text);
  font-weight: 300;
  font-size: calc(16px * var(--scale));
  line-height: calc(20px * var(--lh));
}
@media (max-width: 992px) {
  .about-organ-bot-elem span:first-child {
    font-size: calc(12px * var(--scale));
    line-height: calc(16px * var(--lh));
  }
}

.about-organ-ref {
  color: var(--primary-color);
  font-size: calc(12px * var(--scale));
  line-height: calc(14px * var(--lh));
  font-weight: 500;
}
@media (max-width: 992px) {
  .about-organ-ref {
    font-size: calc(11px * var(--scale));
    line-height: calc(14px * var(--lh));
  }
}

.about-timeline {
  padding: 40px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
}

.about-timeline-item {
  width: 100%;
  position: relative;
}
.about-timeline-item:after {
  content: "";
  display: block;
  height: 1px;
  background: var(--tertiary-text-dark-bg);
  width: 50%;
  position: absolute;
  bottom: 30px;
}
.about-timeline-item:before {
  content: "";
  display: block;
  height: 1px;
  background: var(--tertiary-text-dark-bg);
  width: 50%;
  position: absolute;
  bottom: 30px;
  left: 50%;
}

.about-timeline-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  max-width: 132px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.about-timeline-item p {
  margin: 0;
}

.about-timeline-item p:nth-last-child(-n+3) {
  font-weight: 500;
  font-size: calc(12px * var(--scale));
  line-height: calc(16px * var(--lh));
}
@media (max-width: 992px) {
  .about-timeline-item p:nth-last-child(-n+3) {
    font-size: calc(10px * var(--scale));
    line-height: calc(14px * var(--lh));
  }
}

.about-timeline-item p:last-child {
  padding-top: 12px;
  color: var(--primary-color);
  font-weight: 400;
  font-size: calc(14px * var(--scale));
  line-height: calc(18px * var(--lh));
}
@media (max-width: 992px) {
  .about-timeline-item p:last-child {
    font-size: calc(10px * var(--scale));
    line-height: calc(14px * var(--lh));
  }
}

.about-timeline-dot {
  width: 12px;
  height: 12px;
  background: var(--primary-color);
  border-radius: 50%;
  position: absolute;
  bottom: 24px;
  z-index: 2;
}

.about-timeline-container img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.about-symbols-elem {
  width: 100%;
  background-color: var(--grey-adm);
  padding: 32px;
  display: flex;
  gap: 32px;
  align-items: flex-start;
  border-radius: 20px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .about-symbols-elem {
    flex-direction: column-reverse;
  }
}

.about-symbols-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about-history-elem {
  width: 100%;
  background-color: var(--grey-adm);
  padding: 32px;
  display: flex;
  gap: 32px;
  align-items: flex-start;
  border-radius: 20px;
  margin-top: 24px;
  margin-bottom: 24px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .about-history-elem {
    flex-direction: column-reverse;
  }
}

.about .tab-button {
  font-weight: 400;
  font-size: calc(16px * var(--scale));
  line-height: calc(20px * var(--lh));
}
@media (max-width: 992px) {
  .about .tab-button {
    font-size: calc(12px * var(--scale));
    line-height: calc(16px * var(--lh));
  }
}

.about-video {
  max-height: 420px;
}
.about-video video {
  border-radius: 8px;
}