@media (max-width: 768px) {
  .about {
    margin-top: 32px;
  }
}
.about li {
  font-weight: 300;
  font-size: calc(16px * var(--scale));
  line-height: calc(24px * var(--lh));
}
@media (max-width: 992px) {
  .about li {
    font-size: calc(14px * var(--scale));
    line-height: calc(20px * var(--lh));
  }
}
.about p,
.about span {
  font-weight: 300;
  font-size: calc(16px * var(--scale));
  line-height: calc(24px * var(--lh));
}
@media (max-width: 992px) {
  .about p,
  .about span {
    font-size: calc(14px * var(--scale));
    line-height: calc(20px * var(--lh));
  }
}
.about .about-content {
  max-width: 866px;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.about .toggle-container {
  margin: 8px 0 8px;
}
.about .toggle-container .toggle-header:hover {
  border-radius: 12px;
  background-color: var(--services-hover);
}
.about .toggle-container .toggle-header:active {
  background-color: var(--services-active);
}
.about .toggle-container .toggle-arrow {
  color: var(--primary-color);
}
.about .event-card .event-card__container .event-card__description {
  flex-direction: column-reverse;
  margin: 0 0 32px;
}
.about .event-card .event-card__container .event-card__buttons .button {
  display: none;
}
.about .event-card .event-card__container .event-card__buttons .button_share,
.about .event-card .event-card__container .event-card__buttons .share_button {
  display: flex;
}