@charset "UTF-8";
/*** Finish - Title ***/
.dm-deputies-alphabet {
  padding-top: 48px;
}
@media (max-width: 992px) {
  .dm-deputies-alphabet {
    padding-top: 24px;
  }
}

.dm-deputies-alphabet__row {
  display: flex;
  gap: 180px;
  align-items: center;
}
@media (max-width: 992px) {
  .dm-deputies-alphabet__row {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}

.dm-deputies-alphabet__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.dm-deputies-alphabet__list {
  width: 100%;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  .dm-deputies-alphabet__list {
    gap: 8px;
  }
}

.dm-deputies-alphabet__letter {
  align-self: start;
}

.dm-deputies-alphabet__letter span {
  font-size: 64px;
  color: var(--main-text);
  font-weight: 500;
}
@media (max-width: 992px) {
  .dm-deputies-alphabet__letter span {
    font-weight: 600 !important;
    font-weight: 500;
    font-size: calc(32px * var(--scale));
    line-height: calc(38px * var(--lh));
  }
  .dm-deputies-alphabet__letter span ::before {
    content: "На букву ";
  }
}
@media (max-width: 992px) and (max-width: 992px) {
  .dm-deputies-alphabet__letter span {
    font-size: calc(16px * var(--scale));
    line-height: calc(20px * var(--lh));
  }
}

.dm-deputies__search .search {
  max-width: unset;
}