include ../_thanks.pug 
include ../../../libs/buttons/_buttons.pug

+thanks({
    title: 'Благодарим вас за принятие участия в опросе!',
    description: 'Ваш вклад помогает городу становиться лучше. Примите участие и в других опросах - вместе мы сделаем город Сургут лучше!',
    options: {
        type: 'link', 
        class: 'button_blue button_thanks', 
        href: '/', 
        icon: '', 
        text: `Перейти к опросам` }
    }
) 