include ../_interviews-full.pug 
include ../../../libs/tags/_tags.pug 

+interview-full(
    { 
    sort: 'interview-full',    
    status: 'Идет',
    date: 'до 29 сентября',
    votes: '319 голосов',
    title: 'Cоздание агломераций на территории Ханты-Мансийского автономного округа – Югры',
    description: 'Просим Вас принять участие в опросе и высказать своё мнение о создании агломерации на территории автономного округа. Создание агломераций предусмотрено Стратегией социально-экономического развития Ханты-Мансийского автономного округа – Югры до 2020 года и на период до 2030 года и позволит решить ряд важнейших задач, среди них: повышение эффективности использования ресурсов и человеческого капитала; развитие межмуниципального сотрудничества по приоритетным направлениям, выравнивание экономического потенциала городов и районов, развитие промышленных и социальных объектов и другие.Ваше мнение позволит оценить степень востребованности подобных изменений.',
    })