include ../hearing-card/hearing-card

mixin hearing-list(title, items=[])
    .hearing-list
        if title != "" 
            h3 #{title}
        .hearing-list-items
            each item, index in items
                +hearing-card(item)
