@use '../../../../assets/styles/vars.scss' as *;
@use '../base.scss' as *;

body.tmp-duma .hearing-item .hearing-item-content .hearing-item-labels .hearing-item-labels-item .hearing-item-span-title {
    display: none;
}

body.tmp-duma .hearing-item .hearing-item-content .hearing-item-labels .hearing-item-labels-item .hearing-item-span-desc {
    color: $tertiary-text;
}

body.tmp-duma .hearing-item img{
    height: auto;
    max-height: 362px;
}

.hearing-list {
    padding: 40px 0 0 0;

    @media (max-width: 1000px) {
        padding: 16px 0 0 0;
    }

    h3 {
        margin-bottom: 32px;
        @include heading-h3;

        @media (max-width: 1000px) {
            margin-bottom: 16px;
        }
    }
}

.hearing-list-items {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    @media (max-width: 1000px) {
        gap: 12px;
    }
}

.hearing-item {
    flex: 0 0 calc(50% - 12px);
    box-sizing: border-box;
    flex-direction: column;

    display: flex;
    border-radius: 12px;
    background: $fourth-text-inverse;
    @include title-4;

    @media (max-width: 1000px) {
        flex: 0 0 100%;
    }

    &-title {
        height: 100px;
        display: block;
        overflow: hidden;

        span {
            @include visible-lines(5);
            @include lead-4;
        }

        @media (max-width: 1000px) {
            height: 104px
        }
    }

    &-content {
        flex: 1;
        padding: 20px;

        @media (max-width: 1000px) {
            padding: 16px;
        }
    }

    img {
        height: 362px;
        width: 100%;
        object-fit: cover;

        @media (max-width: 1000px) {
            height: 188px;
        }
    }

    &-labels {
        display: flex;


        &-item {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .hearing-item-span-title {
                color: $tertiary-text;
                @include caption-3;
            }

            .hearing-item-span-desc {
                @include lead-4;
            }

            &:first-child {
                padding-right: 24px; // Применить отступ только для первого элемента
            }
        }
    }

    &-link {
        position: relative;
        display: flex;
        justify-content: center;
        border-radius: 8px 8px 0 0;
        overflow: hidden;

        .hearing-card_button {
            position: absolute;
            top: 12px;
            left: 12px;
            padding: 4px 12px;
        }
    }

    &-bg {
        @include img-bg();
    }
}