include ./header-links/header-links
include ./socials/header-socials
include ./logo/logo
include ./menu/menu
include ../../components/search/_search.pug 
include ../../libs/buttons/_buttons.pug 
include ../../libs/links/_links.pug 
include ../../libs/search-button/_search-button.pug 
include ../../libs/inputs/_inputs.pug
include ../login/main/login
include ../login/code/login-code
include ../login/email/login-email
include ./visibility/visibility
include ./dm-second-menu/dm-second-menu

mixin header(sort)
    header.header 
        +menu('menu_main-bg', [
            {
                href: '/',
                title: 'Быстрый доступ'
            },
            {
                href: '/',
                title: 'Публичные слушания'
            },
            {
                href: '/',
                title: 'Противодействие коррупции'
            },
            {
                href: '/',
                title: 'Пресс-центр'
            },
            {
                href: '/',
                title: 'Обращения граждан'
            },
            {
                href: '/',
                title: 'О Сургуте'
            },
            {
                href: '/',
                title: 'Городская власть'
            },
            {
                href: '/',
                title: 'Документы'
            },
            {
                href: '/',
                title: 'Контакты'
            }
        ])
        +visibility()
        .header__top-content
            .header__top-links
                +header-links([
                    {
                        title: 'Быстрый доступ',
                        onclick: 'toggleSecondMenu(event)',
                    },
                    {
                        title: 'Публичные слушания',
                        onclick: 'toggleSecondMenu(event)',
                    },
                    {
                        title: 'Противодействие коррупции',
                        onclick: 'toggleSecondMenu(event)',
                    },
                    {
                        title: 'Пресс-центр',
                        onclick: 'toggleSecondMenu(event)',
                    },
                    {
                        title: 'Обращения граждан',
                        onclick: 'toggleSecondMenu(event)',
                    },
                ])
                +header-socials([
                    {
                        href: '/',
                        class: 'vk_icon'
                    },
                    {
                        href: '/',
                        class: 'ok_icon '
                    },
                    {
                        href: '/',
                        class: 'tg_icon'
                    },
                ])
            .header__buttons  
                +button({ type: 'button', href: '/', class: 'button_white button__eye', event:'visibility()', icon: 'eye-outline', size: 'xs', iconPosition: 'left', text: 'Версия для слабовидящих'})               
                +button({ type: 'button', class: 'button_blue', event: 'showLogin()', icon: '', size: 's', text: 'Войти' })     
        .header__bottom-content
            +logo({
                href: '/',
                title: 'Администрация Сургута',
                about: 'Официальный портал',
            })
            +search(
                {name: 'number', size: 's', placeholder: 'Поиск по сайту', type: 'search'},
                    false, 's', 'getValues()', 'header',) 
            +header-links([
                {
                    title: 'О Сургуте',
                    onclick: 'toggleSecondMenu(event)'
                },
                {
                    title: 'Городская власть',
                    onclick: 'toggleSecondMenu(event)'
                },
                {
                    title: 'Документы',
                    onclick: 'toggleSecondMenu(event)',
                },
                {
                    title: 'Контакты',
                    onclick: 'toggleSecondMenu(event)'
                },
                ])        
            +button({ type: 'button', class: 'button_burger', event: 'toggleMenu()', icon: 'menu-outline', size: 'xs' })        
        .header-visibility__top-content 
            .header-visibility__top-links
                +header-links([
                    {
                        href: '/',
                        title: 'О Сургуте',
                    },
                    {
                        href: '/',
                        title: 'Городская власть',
                    },
                    {
                        href: '/',
                        title: 'Документы',
                    },
                    {
                        href: '/',
                        title: 'Контакты',
                    },
                    ])        
                +header-socials([
                    {
                        href: '/',
                        class: 'vk_icon'
                    },
                    {
                        href: '/',
                        class: 'ok_icon '
                    },
                    {
                        href: '/',
                        class: 'tg_icon'
                    },
                ])
            .header__buttons  
                +button({ type: 'button', class: 'button_blue button_header', event: 'showLogin()', icon: '', size: 'xs', text: 'Войти' }) 
        .header-visibility__middle-content 
            +logo({
                href: '/',
                title: 'Администрация Сургута',
                about: 'Официальный портал',
            })
            +search(
                {name: 'number', size: 's', placeholder: 'Поиск по сайту', type: 'search'},
                    false, 's', 'getValues()', 'header',) 
        .header-visibility__bottom-content
            +header-links([
                {
                    href: '/',
                    title: 'Быстрый доступ',
                },
                {
                    href: '/',
                    title: 'Публичные слушания',
                },
                {
                    href: '/',
                    title: 'Противодействие коррупции',
                },
                {
                    href: '/',
                    title: 'Пресс-центр',
                },
                {
                    href: '/',
                    title: 'Обращения граждан',
                },
                ])   
        +second-menu({
            class: 'dm-second-menu_adm-about',
            columns: [
                {
                    links: [
                        { title: 'О Сургуте', type: 'title', items: [
                            { title: 'Сургуту 430 лет', type: 'link' },
                            { title: 'Сургут сегодня', type: 'link' },
                        ]},
                        { title: 'Публичные слушания', type: 'title', items: [
                            { title: 'Структура аппарата', type: 'link' },
                            { title: 'Информация о кадровом обеспечении', type: 'link' },
                            { title: 'Телефонный справочник', type: 'link' },
                        ]},
                        { title: 'Противодействия коррупции', type: 'title', items: [
                            { title: 'Положение', type: 'link' },
                            { title: 'Состав', type: 'link' },
                        ]},
                    ],
                },
                {
                    links: [
                        { title: 'Противодействия коррупции', type: 'title', items: [
                            { title: 'Комитет по бюджету, налогам, финансам и имуществу', type: 'link' },
                            { title: 'Комитет по городскому хозяйству и перспективному развитию города', type: 'link' },
                            { title: 'Комитет по социальной политике', type: 'link' },
                            { title: 'Комитет по нормотворчеству, информационной политике и правопорядку', type: 'link' },
                        ]},
                        { title: 'Депутатские объединения в Думе города', type: 'title', items: [
                            { title: 'Информация о кадровом обеспечении', type: 'link' },
                            { title: 'Телефонный справочник', type: 'link' },
                        ]},
                    ],
                },
            ]
        }) 
        +second-menu({
            class: 'dm-second-menu_adm-power',
            columns: [
                {
                    links: [
                        { title: 'Городская власть', type: 'title' , items: [
                            { title: 'Заседания Думы города', type: 'link' },
                            { title: 'Заседания постоянных комитетов', type: 'link' },
                            { title: 'Депутатские слушания', type: 'link' },
                            { title: 'Публичные слушания', type: 'link' },
                        ]},
                        { title: 'Антикоррупционная деятельность', type: 'title' },
                    ],
                },
            ]
        })
        +second-menu({
            class: 'dm-second-menu_adm-documents',
            columns: [
                {
                    links: [
                        { title: 'Контакты', type: 'title' , items: [
                            { title: 'Заседания Думы города', type: 'link' },
                            { title: 'Заседания постоянных комитетов', type: 'link' },
                            { title: 'Депутатские слушания', type: 'link' },
                            { title: 'Публичные слушания', type: 'link' },
                        ]},
                        { title: 'Антикоррупционная деятельность', type: 'title' },
                    ],
                },
            ]
        }) 
        +second-menu({
            class: 'dm-second-menu_adm-contacts',
            columns: [
                {
                    links: [
                        { title: 'Контакты', type: 'title' , items: [
                            { title: 'Заседания Думы города', type: 'link' },
                            { title: 'Заседания постоянных комитетов', type: 'link' },
                            { title: 'Депутатские слушания', type: 'link' },
                            { title: 'Публичные слушания', type: 'link' },
                        ]},
                        { title: 'Антикоррупционная деятельность', type: 'title' },
                    ],
                },
            ]
        })  
        +second-menu({
            class: 'dm-second-menu_adm-quick',
            columns: [
                {
                    links: [
                        { title: 'Категория быстрого доступа 1', type: 'title' , items: [
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                        ]},
                        { title: 'Категория быстрого доступа', type: 'title' , items: [
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                        ]},
                        { title: 'Категория быстрого доступа', type: 'title' , items: [
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                        ]},
                    ], 
                },
                {
                    links: [
                            { title: 'Категория быстрого доступа', type: 'title' , items: [
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                        ]},
                        { title: 'Категория быстрого доступа', type: 'title' , items: [
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                        ]},
                    ]
                }
            ]
        }) 
        +second-menu({
            class: 'dm-second-menu_adm-public',
            columns: [
                {
                    links: [
                        { title: 'Категория быстрого доступа 2', type: 'title' , items: [
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                        ]},
                        { title: 'Категория быстрого доступа', type: 'title' , items: [
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                        ]},
                        { title: 'Категория быстрого доступа', type: 'title' , items: [
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                        ]},
                    ], 
                },
                {
                    links: [
                            { title: 'Категория быстрого доступа', type: 'title' , items: [
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                        ]},
                        { title: 'Категория быстрого доступа', type: 'title' , items: [
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                        ]},
                    ]
                }
            ]
        })
        +second-menu({
            class: 'dm-second-menu_adm-corruption',
            columns: [
                {
                    links: [
                        { title: 'Категория быстрого доступа 3', type: 'title' , items: [
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                        ]},
                        { title: 'Категория быстрого доступа', type: 'title' , items: [
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                        ]},
                        { title: 'Категория быстрого доступа', type: 'title' , items: [
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                        ]},
                    ], 
                },
                {
                    links: [
                            { title: 'Категория быстрого доступа', type: 'title' , items: [
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                        ]},
                        { title: 'Категория быстрого доступа', type: 'title' , items: [
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                        ]},
                    ]
                }
            ]
        })
        +second-menu({
            class: 'dm-second-menu_adm-press',
            columns: [
                {
                    links: [
                        { title: 'Категория быстрого доступа 4', type: 'title' , items: [
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                        ]},
                        { title: 'Категория быстрого доступа', type: 'title' , items: [
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                        ]},
                        { title: 'Категория быстрого доступа', type: 'title' , items: [
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                        ]},
                    ], 
                },
                {
                    links: [
                            { title: 'Категория быстрого доступа', type: 'title' , items: [
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                        ]},
                        { title: 'Категория быстрого доступа', type: 'title' , items: [
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                        ]},
                    ]
                }
            ]
        })
        +second-menu({
            class: 'dm-second-menu_adm-citizens',
            columns: [
                {
                    links: [
                        { title: 'Категория быстрого доступа 5', type: 'title' , items: [
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                        ]},
                        { title: 'Категория быстрого доступа', type: 'title' , items: [
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                        ]},
                        { title: 'Категория быстрого доступа', type: 'title' , items: [
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                        ]},
                    ], 
                },
                {
                    links: [
                            { title: 'Категория быстрого доступа', type: 'title' , items: [
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                        ]},
                        { title: 'Категория быстрого доступа', type: 'title' , items: [
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                            { title: 'Подкатегория', type: 'link' },
                        ]},
                    ]
                }
            ]
        })          
    +login()  
    +login-code()   
    +login-email()
