mixin header(sort)
    header.header 
        .header__top-content
            .header__top-links
                .header_links
                    a(href='/' ).header__link Быстрый доступ
                    a(href='/').header__link Публичные слушания
                    a(href='/').header__link Противодействие коррупции
                    a(href='/').header__link Пресс-центр
                    a(href='/').header__link Обращения граждан
                .header__socials
                    a(href='/').header__social__icon.vk_icon 
                    a(href='/').header__social__icon.ok_icon 
                    a(href='/').header__social__icon.tg_icon
            .header__buttons  
                a(href='/').header__eye-link
                    span.header__eye-link-title Версия для слабовидящих
                +button({ type: 'button', class: 'button_blue button_header', event: 'anotherFunction()', icon: '', size: 'xs', text: 'Войти' })     
        .header__bottom-content
            a(href="/").header__main-links
                img(class=`header__logo` src=`../icons/footer-logo_icon.svg` alt='Логотип')
                .header__main-links__block 
                    span.header__title Администрация Сургута
                    span.header__main-link Официальный портал
            +search(
                {name: 'number', size: 's', placeholder: 'Поиск по сайту', type: 'search'},
                    false, 's', 'getValues()', 'header',) 
            .header__bottom-links 
                a(href='/').header__link О Сургуте
                a(href='/').header__link Городская власть
                a(href='/').header__link Документы
                a(href='/').header__link Контакты 
            +button({ type: 'button', class: 'button_burger', event: 'anotherFunction()', icon: 'menu-outlined_icon.svg', size: 'xs', text: '' })        