mixin header()
    header.header 
        .header__top-content
            .header__top-links
                .header_links
                    a(href='/').header__link Быстрый доступ
                    a(href='/').header__link Публичные слушания
                    a(href='/').header__link Противодействие коррупции
                    a(href='/').header__link Пресс-центр
                    a(href='/').header__link Обращения граждан
                .header__socials
                    a(href='/').header__social__icon 
                        img(src=`../icons/vk_icon.svg` alt='Иконка соцсетей')
                    a(href='/').header__social__icon 
                        img(src=`../icons/ok_icon.svg` alt='Иконка соцсетей')
                    a(href='/').header__social__icon 
                        img(src=`../icons/tg_icon.svg` alt='Иконка соцсетей')
            .header__buttons  
                .header__eye-block
                    img(src='../icons/eye-outlined_icon.svg').header__eye-link-icon   
                    +link('header__eye-link', '/',  '', 'Версия для слабовидящих' , 'link')
                +button({ type: 'button', class: 'button_blue button_header', event: 'anotherFunction()', icon: '', size: 'xs', text: 'Войти' })     
        .header__bottom-content
            .header__main-links
                img(class=`header__logo` src=`../icons/footer-logo_icon.svg` alt='Логотип')
                .header__main-links__block 
                    span.header__title Администрация Сургута
                    a.header__main-link(href="/") Официальный портал
            +search(
                {name: 'number', size: 's', placeholder: 'Поиск по сайту', type: 'search'},
                    false, 's', 'getValues()', 'header',) 
            .header__bottom-links 
                a(href='/').header__link О Сургуте
                a(href='/').header__link Городская власть
                a(href='/').header__link Документы
                a(href='/').header__link Контакты 
            +button({ type: 'button', class: 'button_burger', event: 'anotherFunction()', icon: 'menu-outlined_icon.svg', size: 'xs', text: '' })        