include ./header-links/header-links
include ./socials/header-socials
include ./logo/logo
include ./menu/menu
include ../../components/search/_search.pug 
include ../../libs/buttons/_buttons.pug 
include ../../libs/links/_links.pug 
include ../../libs/search-button/_search-button.pug 
include ../../libs/inputs/_inputs.pug
include ../login/main/login
include ../login/code/login-code
include ../login/email/login-email

mixin header(sort)
    header.header 
        +menu('menu_main-bg', [
            {
                href: '/',
                title: 'Быстрый доступ'
            },
            {
                href: '/',
                title: 'Публичные слушания'
            },
            {
                href: '/',
                title: 'Противодействие коррупции'
            },
            {
                href: '/',
                title: 'Пресс-центр'
            },
            {
                href: '/',
                title: 'Обращения граждан'
            },
            {
                href: '/',
                title: 'О Сургуте'
            },
            {
                href: '/',
                title: 'Городская власть'
            },
            {
                href: '/',
                title: 'Документы'
            },
            {
                href: '/',
                title: 'Контакты'
            }
        ])
        .header__top-content
            .header__top-links
                +header-links([
                    {
                        href: '/',
                        title: 'Быстрый доступ',
                    },
                    {
                        href: '/',
                        title: 'Публичные слушания',
                    },
                    {
                        href: '/',
                        title: 'Противодействие коррупции',
                    },
                    {
                        href: '/',
                        title: 'Пресс-центр',
                    },
                    {
                        href: '/',
                        title: 'Обращения граждан',
                    },
                ])
                +header-socials([
                    {
                        href: '/',
                        class: 'vk_icon'
                    },
                    {
                        href: '/',
                        class: 'ok_icon '
                    },
                    {
                        href: '/',
                        class: 'tg_icon'
                    },
                ])
            .header__buttons  
                +button({ type: 'link', href: '/', class: 'button_white button__eye', icon: 'eye-outline', size: 'xs', iconPosition: 'left', text: 'Версия для слабовидящих'})               
                +button({ type: 'button', class: 'button_blue button_header', event: 'showLogin()', icon: '', size: 'xs', text: 'Войти' })     
        .header__bottom-content
            +logo({
                href: '/',
                title: 'Администрация Сургута',
                about: 'Официальный портал',
            })
            +search(
                {name: 'number', size: 's', placeholder: 'Поиск по сайту', type: 'search'},
                    false, 's', 'getValues()', 'header',) 
            +header-links([
                {
                    href: '/',
                    title: 'О Сургуте',
                },
                {
                    href: '/',
                    title: 'Городская власть',
                },
                {
                    href: '/',
                    title: 'Документы',
                },
                {
                    href: '/',
                    title: 'Контакты',
                },
                ])        
            +button({ type: 'button', class: 'button_burger', event: 'toggleMenu()', icon: 'menu-outline', size: 'xs' })        
    +login()  
    +login-code()   
    +login-email()
