@use '../../../assets/styles/vars.scss' as *;

.about {
    @include respond-to(sm) {
        margin-top: 32px;
    }

    .toggle-container {
        margin: 8px 0 8px;

        .toggle-arrow {
            color: $primary-color;
        }
    }

    .event-card {
        .event-card__container {
            .event-card__description {
                flex-direction: column-reverse;
                margin: 0 0 32px;
            }

            .event-card__buttons {
                .button {
                    display: none;
                }

                .button_share,
                .share_button {
                    display: flex;
                }
            }
        }
    }
}

.about-content {
    max-width: 866px;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;

}

.about p,
.about span {
    @include text-2();
}


.about .about-title {
    padding-top: 32px;
    padding-bottom: 16px;
    margin: 0;
    @include heading-h3();

    @include respond-to(md) {
        padding-top: 24px;
        padding-bottom: 8px;
    }

}

.about .about-subtitle {
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0;
    @include lead-3();

    @include respond-to(md) {
        padding-top: 8px;
        padding-bottom: 8px;
    }

}

.about-organ {
    width: 100%;
    background-color: $grey-adm;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 24px;
    box-sizing: border-box;
}

.about-organ-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include respond-to(sm) {
        flex-direction: column;
    }
}

.about-organ-top-left {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.about-organ-title span {
    @include lead-3();
}

.about-organ-subtitle span {
    @include caption-2();
}

.about-organ-bot {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;

    @include respond-to(sm) {
        flex-direction: column;
    }
}

.about-organ-bot-elem {
    display: flex;
    flex-direction: column;
    gap: 12px;
}



.about-card-img {
    @include respond-to(sm) {
        display: none;
    }
}

.about-organ-bot-elem span:last-child {
    @include text-2();
}

.about-organ-bot-elem span:first-child {
    color: $tertiary-text;
    @include caption-2();
}

.about-organ-ref {
    color: $primary-color;
    @include text-link-2();
}




.about .tab-button {
    @include lead-5();
}