@use '../../../assets/styles/vars.scss' as *;

.about {
    @include respond-to(sm) {
        margin-top: 32px;
    }

    li {
        @include text-2;
    }

    p,
    span {
        @include text-2;
    }

    .about-content {
        max-width: 866px;
        margin: auto;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .toggle-container {
        margin: 8px 0 8px;

        .toggle-header {
            &:hover {
                border-radius: 12px;
                background-color: $services-hover;
            }

            &:active {
                background-color: $services-active;
            }
        }

        .toggle-arrow {
            color: $primary-color;
        }
    }

    .event-card {
        .event-card__container {
            .event-card__description {
                flex-direction: column-reverse;
                margin: 0 0 32px;
            }

            .event-card__buttons {
                .button {
                    display: none;
                }

                .button_share,
                .share_button {
                    display: flex;
                }
            }
        }
    }
}