/*** Finish - Title ***/
.event-card {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
}
.event-card .event-card__container {
  display: flex;
  flex-direction: column;
  max-width: 738px;
  width: 100%;
  padding: 40px 0 40px;
}
@media screen and (max-width: 1000px) {
  .event-card .event-card__container {
    padding: 20px;
  }
}
.event-card .event-card__container .event-card__info .event-card__tags {
  display: flex;
  gap: 8px;
}
.event-card .event-card__container .event-card__info .event-card__description {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 24px 0 64px;
}
@media screen and (max-width: 1000px) {
  .event-card .event-card__container .event-card__info .event-card__description {
    margin-bottom: 32px;
  }
}
.event-card .event-card__container .event-card__info .event-card__description .event-card__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}
@media (max-width: 992px) {
  .event-card .event-card__container .event-card__info .event-card__description .event-card__title {
    font-size: 16px;
    line-height: 20px;
  }
}
.event-card .event-card__container .event-card__info .event-card__description .event-card__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 992px) {
  .event-card .event-card__container .event-card__info .event-card__description .event-card__text {
    font-size: 14px;
    line-height: 20px;
  }
}
.event-card .event-card__container .event-card__info .event-card__description .event-card__dates {
  display: flex;
  gap: 32px;
  color: #78839c;
}
.event-card .event-card__container .event-card__info .event-card__description .event-card__dates .event-card__dates {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}
@media (max-width: 992px) {
  .event-card .event-card__container .event-card__info .event-card__description .event-card__dates .event-card__dates {
    font-size: 12px;
    line-height: 16px;
  }
}
.event-card .event-card__container .event-card__info .event-card__description .event-card__dates .event-card__last-date {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}
@media (max-width: 992px) {
  .event-card .event-card__container .event-card__info .event-card__description .event-card__dates .event-card__last-date {
    font-size: 12px;
    line-height: 16px;
  }
}
.event-card .event-card__container .event-card__info .event-card__buttons {
  display: flex;
  gap: 8px;
}