include ../../biography/_biography-card

mixin adm-helpers() 
    .adm-helpers 
        .adm-helpers__content   
            +biography_card({
                cls: '',
                name: 'Кириленко Артем Михайлович',
                job: 'Заместитель главы города Сургута',
                avatar: 'kirilenko_avatar.png',     
                href: '/',
                link_text: 'Перейти на страницу',
            })
            +biography_card({
                cls: '',
                name: 'Малыхин Виталий Викторович',
                job: 'Заместитель главы города Сургута',
                avatar: 'malihin_avatar.png',
                href: '/',
                link_text: 'Перейти на страницу',
            })
            +biography_card({
                cls: '',
                name: 'Томазова Анна Николаевна',
                job: 'Заместитель главы города Сургута',
                avatar: 'tomazova_avatar.png',
                href: '/',
                link_text: 'Перейти на страницу',
            })