mixin footer()
    footer.footer
        .footer__header 
            .footer__header-links
                .footer__main-links
                    img(class=`footer__logo` src=`../icons/footer-logo_icon.svg` alt='Логотип')
                    .footer__header-links__block 
                        span.footer__title Администрация Сургута
                        a.footer__link(href="/") Официальный портал
                .footer__social-links
                    a.footer__link-icon(href='/')
                        img(src=`../icons/vk-footer_icon.svg`)
                    a.footer__link-icon(href='/')
                        img(src=`../icons/ok-footer_icon.svg`)
                    a.footer__link-icon(href='/')
                        img(src=`../icons/tg-footer_icon.svg`)
        .footer__contacts 
            span.footer__address 628400, г. Сургут, ул. Энгельса, 8
            .footer__email 
                img(src=`../icons/mail-footer_icon.svg`).footer__email-icon
                span.footer__email-title gorod@admsurgut.ru   
        .footer__categories
            ul.footer__category-content
                h5.footer__categorie-title О Сургуте 
                li.footer__categorie-links
                    a(href='/').footer__categorie-link Сургут сегодня
                    a(href='/').footer__categorie-link История Сургута             
            ul.footer__category-content
                h5.footer__categorie-title О Сургуте
                li.footer__categorie-links
                    a(href='/').footer__categorie-link Сургут сегодня
                    a(href='/').footer__categorie-link История Сургута 
            ul.footer__category-content
                h5.footer__categorie-title О Сургуте
                li.footer__categorie-links
                    a(href='/').footer__categorie-link Сургут сегодня
                    a(href='/').footer__categorie-link История Сургута 
            ul.footer__category-content
                h5.footer__categorie-title О Сургуте
                li.footer__categorie-links
                    a(href='/').footer__categorie-link Сургут сегодня
                    a(href='/').footer__categorie-link История Сургута                         