include ../../../components/title/_title.pug
include ../../../components/documents/shortlist/documents-shortlist.pug
include ../../../components/documents/dumalist/documents-dumalist.pug
include ../../../libs/buttons/_buttons.pug 
include ./solution.pug

+solution()