mixin solution()
    +title({
        title: '№ 367-VII ДГ от 19.06.2023 "О внесении изменений в некоторые решения Думы города"',
        description: "В рамках 18-го заседания Думы Города"
    })
    .solution-head Решение Думы города
    .solution-fields
        .field 
            .label Статус
            | Действует ✓
        .field 
            .label Вид
            | Является нормативным правовым актом
        .field 
            .label Приняли участие
            | Направлена на опубликование
    +short-filelist([{title:'№ 367-VII ДГ от 19.06.2023 "О внесении изменений в некоторые решения Думы города".pdf', href:"#"}, {title:"Пояснение - Регистрация ", href:"#"}])
    hr
    .solution-head Связанные документы
    +duma-filelist([
        {title:"№ 371-VII ДГ от 20.06.2023", description:"Инструкция - Регистрация ", href:"#"}, {title:"№ 371-VII ДГ от 20.06.2023", description:"Пояснение - Регистрация ", href:"#"}
    ])