include ../_list.pug 
include ../../../libs/tags/_tags.pug 
include ../../../libs/buttons/_buttons.pug 

+interviews_array([
    {
        date: 'до 29 сентября', 
        title: 'Здравоохранение в Сургуте Здравоохранение в Сургуте Работа местных властей и общественные инициативы', 
        description: 'Оцените уровень удовлетворенности доступностью медицинских учреждений и качеством медицинских услуг', 
        votes: '319 голосов', 
        result: 'Вы участвовали', 
        buttonText: 'Участвовать', 
        tag: {
            sort: 'interviews-array',
            isGoing: true,
            text: 'Идет', 
            },
    },
    {
        date: 'до 29 сентября', 
        title: 'Здравоохранение в Сургуте', 
        description: 'Оцените уровень удовлетворенности доступностью медицинских учреждений и качеством медицинских услуг', 
        votes: '319 голосов', 
        result: 'Вы участвовали', 
        buttonText: 'Участвовать', 
        tag: {
            sort: 'interviews-array',
            isGoing: true,
            text: 'Идет', 
            },
    },
    {
        date: 'до 29 сентября', 
        title: 'Здравоохранение в Сургуте', 
        description: 'Оцените уровень удовлетворенности доступностью медицинских учреждений и качеством медицинских услуг', 
        votes: '319 голосов', 
        result: 'Вы участвовали', 
        buttonText: 'Участвовать', 
        tag: {
            sort: 'interviews-array',
            isGoing: true,
            text: 'Идет', 
            },
    },
    {
        date: 'до 29 сентября', 
        title: 'Здравоохранение в Сургуте', 
        description: 'Оцените уровень удовлетворенности доступностью медицинских учреждений и качеством медицинских услуг', 
        votes: '319 голосов', 
        result: 'Вы участвовали', 
        buttonText: 'Участвовать', 
        tag: {
            sort: 'interviews-array',
            isGoing: false,
            text: 'Завершен', 
            },
    },
    {
        date: 'до 29 сентября', 
        title: 'Работа местных властей и общественные инициативы', 
        description: 'Оцените уровень удовлетворенности доступностью медицинских учреждений и качеством медицинских услуг', 
        votes: '319 голосов', 
        result: 'Вы участвовали', 
        buttonText: 'Участвовать', 
        tag: {
            sort: 'interviews-array',
            isGoing: false,
            text: 'Завершен',
            },
    },
    {
        date: 'до 29 сентября', 
        title: 'Здравоохранение в Сургуте', 
        description: 'Оцените уровень удовлетворенности доступностью медицинских учреждений и качеством медицинских услуг', 
        votes: '319 голосов', 
        result: 'Вы участвовали', 
        buttonText: 'Участвовать', 
        tag: {
            sort: 'interviews-array',
            isGoing: false,
            text: 'Завершен', 
            },
    },
    ])             