include ../_list.pug 
include ../../../libs/tags/_tags.pug 
include ../../../libs/buttons/_buttons.pug 

+interviews_array([
    {
        date: 'до 29 сентября', 
        title: 'Уровень благоустройства города', 
        description: 'Оцените чистоту улиц, парков, освещения в районах города, а также доступность инфраструктуры', 
        votes: '319 голосов', 
        result: 'Вы участвовали', 
        buttonText: 'Участвовать', 
        tag: {
            type: 'tag-colored',
            class: 'tag-button-green',
            text: 'Идет', 
            },
    },
    {
        date: 'до 29 сентября', 
        title: 'Здравоохранение в Сургуте', 
        description: 'Оцените уровень удовлетворенности доступностью медицинских учреждений и качеством медицинских услуг', 
        votes: '319 голосов', 
        result: 'Вы участвовали', 
        buttonText: 'Участвовать', 
        tag: {
            type: 'tag-colored',
            class: 'tag-button-green',
            text: 'Идет', 
            },
    },
    {
        date: 'до 29 сентября', 
        title: 'Здравоохранение в Сургуте', 
        description: 'Оцените уровень удовлетворенности доступностью медицинских учреждений и качеством медицинских услуг', 
        votes: '319 голосов', 
        result: 'Вы участвовали', 
        buttonText: 'Участвовать', 
        tag: {
            type: 'tag-colored',
            class: 'tag-button-green',
            text: 'Идет', 
            },
    },
    {
        date: 'до 29 сентября', 
        title: 'Здравоохранение в Сургуте', 
        description: 'Оцените уровень удовлетворенности доступностью медицинских учреждений и качеством медицинских услуг', 
        votes: '319 голосов', 
        result: 'Вы участвовали', 
        buttonText: 'Результаты', 
        tag: {
            type: 'tag-colored',
            class: 'tag-button-red',
            text: 'Завершен', 
            },
    },
    {
        date: 'до 29 сентября', 
        title: 'Работа местных властей и общественные инициативы', 
        description: 'Оцените уровень удовлетворенности доступностью медицинских учреждений и качеством медицинских услуг', 
        votes: '319 голосов', 
        result: 'Вы участвовали', 
        buttonText: 'Результаты', 
        tag: {
            type: 'tag-colored',
            class: 'tag-button-red',
            text: 'Завершен',
            },
    },
    {
        date: 'до 29 сентября', 
        title: 'Здравоохранение в Сургуте', 
        description: 'Оцените уровень удовлетворенности доступностью медицинских учреждений и качеством медицинских услуг', 
        votes: '319 голосов', 
        result: 'Вы участвовали', 
        buttonText: '',
        tag: {
            type: 'tag-colored',
            class: 'tag-button-red',
            text: 'Завершен', 
            },
    },
    ])             