@use '../../../../assets/styles/vars.scss' as *;

.interview__info {
    display: flex;
    flex-direction: column;
}

.interviews_array {
    display: grid;
    grid-template-columns: repeat(3, calc((100% - 48px)/3));
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 24px;

    @include respond-to(md) {
        gap: 12px;
        grid-template-columns: repeat(2, calc((100% - 24px)/2));
        margin-top: 16px;
    }

    @include respond-to(sm) {
        grid-template-columns: 100%;
    }

    .interview {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        width: 100%;
        border-radius: 20px;
        background-color: $cards-background;
        justify-content: space-between;
        height: 100%;
        min-height: 428px;

        @include respond-to(md) {
            border-radius: 8px;
            min-height: 288px;
        }

        .interview__content {
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: baseline;
            height: 100%;
            justify-content: space-between;

            @include respond-to(md) {
                padding: 16px;
            }

            .iinterview__dates {
                display: flex;
                align-items: center;
                gap: 8px;

                .iinterview__date {
                    border-radius: 100px;
                    background-color: $content-color;
                    padding: 4px 16px;
                    @include heading-h5;
                }
            }

            .iinterview__description {
                display: flex;
                flex-direction: column;
                gap: 16px;
                height: 100%;
                overflow: hidden;
                margin-top: 24px;

                @include respond-to(md) {
                    margin-top: 16px;
                    gap: 8px;
                }

                .iinterview__title {
                    padding: 0;
                    @include visible-lines(2);
                    @include heading-h3;
                }

                .interview__text {
                    margin: 0;
                    @include visible-lines(3);
                    @include text-2;
                }
            }
        }

        .iinterview__infos {
            display: flex;
            align-items: center;
            gap: 16px;
            margin-top: 20px;

            .iinterview__votes {
                color: $tertiary-text;
                @include caption-2;
            }

            .iinterview__user-status {
                color: $primary-color;
                @include caption-2;
            }
        }
    }
}