include ../_footer.pug 

+footer(
    {
        about: [
            {href: '/', title: 'Сургут сегодня'},
            {href: '/', title: 'История Сургута '}
        ],
        city: [
            {href: '/', title: 'Сургут сегодня'},
            {href: '/', title: 'История Сургута '}
        ],
        documents: [
            {href: '/', title: 'Сургут сегодня'},
            {href: '/', title: 'История Сургута '}
        ],
        category: [
            {href: '/', title: 'Сургут сегодня'},
            {href: '/', title: 'История Сургута '}
        ],
    }
) 