@use '../../../../assets/styles/vars.scss' as *;

.footer_container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    position: relative;
}

.footer {
    display: flex;
    width: 100%;
    background-color: $footer-color;
    color: $content-color;
    justify-content: center;
    margin-top: 64px;

    @include respond-to(md) {
        margin-top: 40px;
    }

    .footer__header {
        display: flex;
        border-bottom: 1px solid rgba($content-color, .2);
        padding: 24px 64px;
        justify-content: space-between;

        @include respond-to(md) {
            padding: 20px;
        }

        @include respond-to(sm) {
            border: none;
            padding: 24px 27px 32px;
        }

        .footer__header-links {
            display: flex;
            align-items: center;
            gap: 5px;

            @include respond-to(md) {
                width: 100%;
                justify-content: space-between;
            }

            .footer__main-links {
                display: flex;
                gap: 8px;
                text-decoration: none;
                color: $content-color;

                &:hover {
                    color: $fourth-text;
                }

                .footer__header-links__block {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    .footer__title {
                        @include heading-h6;
                    }

                    .footer__link {
                        @include caption-4;
                    }
                }
            }

            .footer__social-links {
                display: flex;
                gap: 16px;
                margin-left: 40px;
                transition: all;

                @include respond-to(md) {
                    gap: 12px;
                    margin-left: 0;
                }

                @include respond-to(sm) {
                    gap: 12px;
                }

                .footer__link-icon {
                    &:hover {
                        opacity: .6;
                    }
                }
            }
        }
    }

    .footer__contacts {
        display: flex;
        align-items: center;
        gap: 31px;
        font-weight: 600;
        position: absolute;
        top: 31px;
        right: 62px;

        @include respond-to(md) {
            position: static;
            padding: 20px;
            justify-content: space-between;
            flex-direction: row-reverse;
        }

        @include respond-to(sm) {
            margin-top: 20px;
            padding: 0 27px 28px;
            gap: 21px;
            align-items: flex-start;
            flex-direction: column-reverse;
        }

        .footer__address {
            text-decoration: none;
            color: $content-color;
            @include heading-h5;

            &:hover {
                opacity: 0.6;
            }
        }

        .footer__email {
            display: flex;
            align-items: center;
            gap: 8px;
            text-decoration: none;
            color: $content-color;

            &:hover {
                opacity: .6;
            }

            .footer__email-title {
                @include heading-h5;
            }
        }
    }

    .footer__categories {
        display: flex;
        padding: 40px 64px;
        gap: 24px;
        color: $content-color;

        @include respond-to(md) {
            padding: 20px;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        @include respond-to(sm) {
            flex-direction: column;
            padding: 0 27px 27px;
            gap: 32px;
        }

        .footer__category-content {
            display: flex;
            flex-direction: column;
            list-style: none;
            gap: 16px;
            max-width: 310px;
            width: 100%;
            margin: 0;

            @include respond-to(sm) {
                gap: 20px;
            }

            .footer__categorie-title {
                padding: 0;
                @include heading-h5;
            }

            .footer__categorie-links {
                display: flex;
                flex-direction: column;
                gap: 12px;
                margin: 0;
                list-style: none;

                li {
                    margin: 0;
                }

                .footer__categorie-link {
                    text-decoration: none;
                    color: $fourth-text;
                    @include text-3;

                    &:hover {
                        color: $content-color;
                    }
                }
            }
        }
    }
}

.footer_container-top {
    border-bottom: 1px solid rgba(#FFFFFF, .2);

}