@use '../../../../../assets/styles/vars.scss' as *;

body.tmp-duma .event .event__container .event__time-block .event__icon {
    color: $primary-color-green;
}

body.tmp-duma .event .event__container .event__location .event__icon-dot {
    background-color: $primary-color-green;
}

.event {
    width: 100%;
    background-color: $cards-background;
    border-radius: 12px;

    .event__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 32px;

        @include respond-to(sm) {
            position: relative;
            flex-direction: column;
            gap: 16px;
            padding: 16px 20px;
        }

        .event__info {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 200px;
            width: 100%;
            gap: 8px;

            @include respond-to(sm) {
                box-sizing: border-box;
                flex-direction: row;
                gap: 35px;
                max-width: none;
                width: 90%;
                align-self: flex-start;
            }
        }

        .event__time-block {
            display: flex;
            gap: 12px;
            align-items: center;
            text-wrap: nowrap;
            @include lead-2;

            .event__icon {
                color: $primary-color;
            }
        }

        .event__location {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            @include caption-2;

            @include respond-to(sm) {
                flex-direction: row
            }

            .event__place {

                &:hover {
                    cursor: pointer;
                }
                @include visible-lines(1);
                @include respond-to(sm) {
                    width: 70%;
                }
            }

            .event__cabinet {
                @include visible-lines(1);

                @include respond-to(sm) {
                    width: 28%;
                }
            }

            .event__icon-dot {
                display: none;
                width: 4px;
                height: 4px;
                background-color: $primary-color;
                border-radius: 50%;
            }
        }

        .event__description {
            max-width: 955px;
            width: 100%;
            margin: 0 20px 0 40px;
            @include text-2;

            @include respond-to(sm) {
                margin: 0;
            }
        }

        .event__number {
            color: $tertiary-text;
            @include caption-1;

            @include respond-to(sm) {
                position: absolute;
                top: 16px;
                right: 20px;
            }
        }
    }
}