include ../../title/_title
include ../init-card/init-card

mixin init-project-detail(data)
    .init-project-detail    
        .init-project-detail__container 
            +title({
                title: 'Наименование инициативного проекта'
            })
            .init-projects__map
                iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A4b282a3890b57f3edc0ace8ef27e29dc87c6b0f49529581fb5faabd9e13f1429&amp;source=constructor" width="100%" height="444px" frameborder="0")
            +init-card({
                detail: true,
            }) 
            .init-project-detail__desc 
                h3 Краткое описание проекта
                span Актуальность проекта обусловлена потребностью молодежи в формировании новых форматов в исследовательской, творческо-досуговой, образовательной, общественной, предпринимательской деятельности и отсутствием в настоящее время молодежного общественного пространства с возможностью регулирования направлений деятельности.
                br
                span Второе направление представлено разработкой модели функционирования общественного пространства "Городской Сад" как основы для формирования комплексного творческого кластера в условиях малого населенного пункта
                br 
                span Третье направление - мониторинг и концептуализация молодежных общественных и творческих практик как инновационных форматов развития малой территории и местных сообществ.
                br
                span Основную целевую аудиторию проекта составляют подростки, молодёжь в возрасте от 14 до 35 лет, районное предпринимательское сообщество, волонтерские инициативные группы и социально ориентированные некоммерческие организации.
                h3 Цель
                span Создание материальных и социально-инфраструктурных условий для появления общественного пространства "Городской Сад", обладающего функциями ресурсного центра в сфере молодежных активностей и являющегося базой для формирования комплексного творческого кластера
                h3 Задачи
                ol  
                    li Систематизация потребностей и существующих практик общественной, креативной и социально-предпринимательской деятельности подростков и молодежи Тотемского района
                    li Разработка модели функционирования общественного пространства "Городской Сад" как основы для формирования комплексного творческого кластера в условиях малого населенного пункта
                    li Мониторинг и концептуализация молодежных общественных и творческих практик как инновационных форматов развития малой территории и местных сообществ
                h3 Целевые группы
                ol 
                    li Школьники и студенты 
                    li Подростки и молодежь от 14 до 35 лет, обладающие потребностями в развитии новых "третьих" мест, коворкингов, молодежных пространств, социально-предпринимательских практик
                    li Предпринимательское сообщество
                    li Туристы и экскурсанты города
                    li Волонтерские инициативные группы и социально ориентированные некоммерческие организации