/*** Finish - Title ***/
.news {
  display: flex;
  width: 100%;
  margin: 24px 0 48px;
}
@media (max-width: 1000px) {
  .news {
    margin: 18px 0 25px;
  }
}
@media (max-width: 600px) {
  .news {
    margin: 15px 0 7px;
  }
}
.news .news__container {
  display: flex;
  width: 100%;
  gap: 24px;
  justify-content: center;
}
@media (max-width: 1000px) {
  .news .news__container {
    gap: 8px;
  }
}
@media (max-width: 600px) {
  .news .news__container {
    flex-direction: column;
  }
}
.news .news__container .news__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}