.news-top {
  display: flex;
  width: 100%;
  margin: 24px 0 48px;
}
@media (max-width: 992px) {
  .news-top {
    margin: 18px 0 24px;
  }
}
@media (max-width: 768px) {
  .news-top {
    margin: 20px 0 20px;
  }
}
.news-top__container {
  display: flex;
  width: 100%;
  gap: 24px;
  justify-content: center;
}
.news-top__container:focus-visible {
  outline: 3px solid orange;
  outline-offset: -3px;
}
@media (max-width: 992px) {
  .news-top__container {
    gap: 8px;
  }
}
@media (max-width: 768px) {
  .news-top__container {
    flex-direction: column;
  }
}
.news-top__container .news-top__card-list {
  display: flex;
  width: 66%;
}
@media (max-width: 992px) {
  .news-top__container .news-top__card-list {
    width: 49%;
  }
}
@media (max-width: 768px) {
  .news-top__container .news-top__card-list {
    width: 100%;
  }
}
.news-top__container .news-top__card-list .slick-dots {
  display: flex;
  margin-left: 0;
  position: absolute;
  bottom: 40px;
  right: 40px;
  gap: 12px;
  list-style: none;
}
@media (max-width: 992px) {
  .news-top__container .news-top__card-list .slick-dots {
    bottom: 20px;
    right: 20px;
  }
}
.news-top__container .news-top__card-list .slick-dots li {
  margin: 0;
}
.news-top__container .news-top__card-list .slick-dots li button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  color: transparent;
  background-color: #000000;
  border: 2px solid var(--tertiary-text);
  cursor: pointer;
}
.news-top__container .news-top__card-list .slick-dots li button:hover {
  border-color: var(--fourth-text);
}
@media (max-width: 768px) {
  .news-top__container .news-top__card-list .slick-dots li button {
    width: 12px;
    height: 12px;
  }
}
.news-top__container .news-top__card-list .slick-dots li.slick-active button {
  border-color: var(--content-color);
}
.news-top__container .news-top__links-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 32%;
}
@media (max-width: 992px) {
  .news-top__container .news-top__links-list {
    width: 49%;
  }
}
@media (max-width: 768px) {
  .news-top__container .news-top__links-list {
    width: 100%;
  }
}