mixin init-card(data={})
    if data.detail
        .init-card 
            .init-card__container
                img(class=`init-card__image` src='../resources/image_1.jpg' alt='Обложка проекта')
                .init-card__description
                    .init-card__content
                        .init-card__columns
                            .init-card__row-detail
                                ion-icon(name=`calendar-number` class=`icon`) 
                                .init-card__row-desc
                                    span.init-card__name Дата внесения 
                                    span.init-card__text 23 сентября 2024 
                            .init-card__row-detail
                                ion-icon(name=`people` class=`icon`)
                                .init-card__row-desc
                                    span.init-card__name Срок реализации
                                    span.init-card__text 2 года
                        .init-card__columns
                            .init-card__row-detail 
                                ion-icon(name=`calendar` class=`icon`)
                                .init-card__row-desc
                                    span.init-card__name Инициатор
                                    span.init-card__text Дума города Сургута Дума города Сургута
                            .init-card__row-detail 
                                ion-icon(name=`wallet` class=`icon`)
                                .init-card__row-desc
                                    span.init-card__name Общая стоимость
                                    span.init-card__text 2 978 321,00 рублей
                        .init-card__columns               
                            .init-card__row-detail
                                ion-icon(name=`location` class=`icon`)
                                .init-card__row-desc
                                    span.init-card__name Территория реализации
                                    span.init-card__text Ханты-Мансийский автономный округ – Югра       
    else 
        a(href='/').init-card 
            .init-card__container
                img(class=`init-card__image` src='../resources/image_1.jpg' alt='Обложка проекта')
                .init-card__description
                    h4.init-card__title Наименование инциативного проекта
                    .init-card__content
                        .init-card__columns
                            .init-card__row 
                                span.init-card__name Дата внесения 
                                span.init-card__text 23 сентября 2024 
                            .init-card__row 
                                span.init-card__name Общая стоимость
                                span.init-card__text 2 978 321,00
                        .init-card__columns
                            .init-card__row 
                                span.init-card__name Срок реализации
                                span.init-card__text 2 года
                            .init-card__row 
                                span.init-card__name Инициатор
                                span.init-card__text Дума города Сургута
                        .init-card__columns               
                            .init-card__row
                                span.init-card__name Территория реализации
                                span.init-card__text Ханты-Мансийский автономный округ – Югра       