@use '../../../../assets/styles/vars.scss' as *;

.init-card {
    background-color: $cards-background;
    border-radius: 12px;

    .init-card__container {
        .init-card__image {
            max-width: 421px;
            width: 100%;
            border-radius: 12px 12px 0 0
        }

        .init-card__title {
            padding: 0;
            @include heading-h4;
        }

        .init-card__description {
            display: flex;
            flex-direction: column;
            gap: 24px;
            @include content-paddings;

            @include respond-to(md) {
                gap: 16px;
            }

            .init-card__content {
                display: flex;
                flex-direction: column;
                gap: 24px;

                @include respond-to(md) {
                    gap: 16px;
                }

                .init-card__columns {
                    display: grid;
                    grid-template-columns: repeat(2, calc((100% - 12px)/2));
                    gap: 12px;

                    &:last-of-type {
                        grid-template-columns: 100%;
                    }

                    .init-card__row-detail {
                        display: flex;
                        align-items: center;
                        gap: 16px;

                        @include respond-to(md) {
                            gap: 12px;
                        }

                        .icon {
                            font-size: 24px;
                            color: $icons-color;

                            @include respond-to(md) {
                                font-size: 16px;
                            }
                        }

                        .init-card__row-desc {
                            display: flex;
                            flex-direction: column;
                            gap: 8px;
                            width: calc(100% - 40px);

                            @include respond-to(md) {
                                gap: 4px;
                                width: calc(100% - 28px);
                            }

                            .init-card__name {
                                color: $tertiary-text;
                                @include caption-3;
                            }

                            .init-card__text {
                                @include lead-5;
                            }
                        }
                    }

                    .init-card__row {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;

                        .init-card__name {
                            color: $tertiary-text;
                            @include caption-3;
                        }

                        .init-card__text {
                            @include lead-5;
                        }
                    }
                }
            }
        }
    }
}