/*** Finish - Title ***/
.question-fields {
  display: flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  .question-fields {
    flex-direction: column;
  }
}
.question-fields .field {
  width: 50%;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
}
@media (max-width: 992px) {
  .question-fields .field {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 768px) {
  .question-fields .field {
    width: 100%;
  }
}
.question-fields .field .label {
  color: #78839c;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}
@media (max-width: 992px) {
  .question-fields .field .label {
    font-size: 12px;
    line-height: 16px;
  }
}