mixin news-top-link(data)
    - const hasIconClass = data.classIcon ? data.classIcon : ''
    - const icon = data.icon ? data.icon : ''

    a.news-top-link(href="/")    
        .news-top-link__container 
            .news-top-link__content
                span(title=`Медицинских работников города Сургута отметили наградами в честь профессионального праздника Медицинских работников города Сургута отметили наградами в честь профессионального праздника`).news-top-link__title Медицинских работников города Сургута отметили наградами в честь профессионального праздника Медицинских работников города Сургута отметили наградами в честь профессионального праздника
                ion-icon(name=icon class=`icon ${hasIconClass}`).news-top-link__icon
            span.news-top-link__date 23 сентября 2024