/*** Finish - Title ***/
.header-services {
  display: flex;
  background-color: #fafafa;
  overflow-x: scroll;
  scrollbar-width: none;
}
.header-services .header-services__container {
  display: flex;
  gap: 5px;
  max-width: 1440px;
  width: 100%;
  padding: 20px 0;
}
@media (max-width: 1000px) {
  .header-services .header-services__container {
    padding: 12px 0;
    gap: 12px;
  }
}
@media (max-width: 600px) {
  .header-services .header-services__container {
    padding: 8px 0;
  }
}
.header-services .header-services__container .header-services__button {
  background-color: #fafafa;
  color: #000000;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 4px 18px;
  gap: 12px;
}
@media (max-width: 992px) {
  .header-services .header-services__container .header-services__button {
    font-size: 10px;
    line-height: 14px;
  }
}
.header-services .header-services__container .header-services__button:hover {
  background-color: #f2f3f5;
}
.header-services .header-services__container .header-services__button:active {
  background-color: #e3e4e7;
}
.header-services .header-services__container .header-services__button .icon {
  color: #004cc4;
  font-size: 45px;
}
@media (max-width: 1000px) {
  .header-services .header-services__container .header-services__button .icon {
    font-size: 40px;
  }
}