@use '../../../../assets/styles/vars.scss' as *;

.about-timeline {
    .about-timeline__title {
        padding: 32px 0 16px;
        @include heading-h3;
    }

    .about-timeline__content {

    }

    .about-timeline-item {
        &:nth-child(n+7) {
            display: none;
        }
    }

    .about-timeline__button {
        background-color: transparent;
        border-color: transparent;
        color: $tertiary-text;
        padding: 0;
    }
}

.about-timeline__content {
    padding: 40px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 43px;
    position: relative;
}

.about-timeline__line {
    filter: invert(80%) sepia(8%) saturate(1145%) hue-rotate(186deg) brightness(103%) contrast(101%);
    position: absolute;
    top: 159px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 72%;
    width: 100%;

    @include respond-to(md) {
        top: 151px;
    }

    @include respond-to(sm) {
        display: none;
    }
}

.about-timeline-item {
    width: 100%;
    position: relative;

    @include respond-to(sm) {

        &:after {
            content: '';
            display: block;
            height: 1px;
            background: $tertiary-text-dark-bg;
            width: 50%;
            position: absolute;
            bottom: 30px;
        }

        &:before {
            content: '';
            display: block;
            height: 1px;
            background: $tertiary-text-dark-bg;
            width: 50%;
            position: absolute;
            bottom: 30px;
            left: 50%;
        }
    }

}


.about-timeline-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    max-width: 132px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.about-timeline-item p {
    margin: 0;
}

.about-timeline-item p:nth-last-child(-n+3) {
    @include heading-h6();
}


.about-timeline-item p:last-child {
    padding-top: 12px;
    color: $primary-color;
    @include lead-6();
}

.about-timeline-dot {
    width: 12px;
    height: 12px;
    background: $primary-color;
    border-radius: 50%;
    position: absolute;
    bottom: 24px;
    z-index: 2;
}

.about-timeline-container img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}