.title {
  padding: 20px 64px;
}
.title .title__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.title .title__container .title__name {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}
.title .title__container .title__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

@media screen and (max-width: 1000px) {
  .title {
    padding: 16px 20px;
  }
  .title .title__container .title__name {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
  }
}
@media screen and (max-width: 600px) {
  .title {
    padding: 12px 27px;
  }
  .title .title__container {
    gap: 16px;
  }
  .title .title__container .title__name {
    font-size: 20px;
    line-height: 24px;
  }
  .title .title__container .title__description {
    font-size: 12px;
    line-height: 18px;
  }
}