mixin citizen-card(data)
    .citizen-card
        .citizen-card__container 
            img(class=`citizen-card__image` src=`../resources/person_1.png`)
            .citizen-card__content 
                .citizen-card__name-block 
                    .citizen-card__name КУШНИКОВ ГЕОРГИЙ ГАВРИЛОВИЧ
                    .citizen-card__dates (1908-1977гг.)
                p.citizen-card__about Коренной сургутянин. Ребенком, лишившись родителей (отец и мать умерли от тифа), Георгий Гаврилович рано познал труд. Рыбачил, пахал, боронил, заготавливал лес и сено, охотился. Высоко ценил дружбу и коллективный труд. Знал, что одному в этом мире не прожить. Поэтому, когда стали создаваться колхозы, он одним из первых записался туда. В 1937 году его избрали председателем сургутского колхоза «Красный северянин». В 1941 году Георгий Гаврилович ушел на фронт, а в 1942-м вернулся в родной Сургут после двух тяжелых ранений в обе руки. И вновь возглавил коллективное хозяйство. Перед уходом на пенсию Кушников возглавлял укрупненную рыболовецкую артель «Путь Ленина» на Белом Яру. Теперь в поселке есть улица имени Кушникова. Георгий Гаврилович награжден орденом Ленина, другими боевыми и трудовыми наградами. 28 июня, когда наш город отмечал свое 375-летие, ему было присвоено звание «Почетный гражданин города Сургута».