/*** Finish - Title ***/
.header-duma {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  color: #000000;
  background-color: var(--cards-background);
  border-bottom: 1px solid #e7edfb;
}
.header-duma .header-duma__container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  padding: 0 64px;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .header-duma .header-duma__container {
    padding: 0 20px;
  }
}
.header-duma .header-duma__container .header__top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  gap: 20px;
}
.header-duma .header-duma__container .header__top-content .header__top-links {
  display: flex;
  gap: 40px;
}
.header-duma .header-duma__container .header__top-content .header__buttons {
  display: flex;
  gap: 21px;
}
@media (max-width: 992px) {
  .header-duma .header-duma__container .header__top-content .header__buttons {
    display: none;
  }
}
.header-duma .header-duma__container .header__top-content .header__buttons .header__eye-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-image: url(../icons/eye-outlined_icon.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: left;
}
.header-duma .header-duma__container .header__top-content .header__buttons .header__eye-link:hover {
  filter: invert(44%) sepia(59%) saturate(7476%) hue-rotate(210deg) brightness(89%) contrast(105%);
}
.header-duma .header-duma__container .header__top-content .header__buttons .header__eye-link .header__eye-link-title {
  margin-left: 28px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
@media (max-width: 992px) {
  .header-duma .header-duma__container .header__top-content .header__buttons .header__eye-link .header__eye-link-title {
    font-size: 10px;
    line-height: 14px;
  }
}
.header-duma .search-header-duma {
  max-width: 655px;
}
@media (max-width: 992px) {
  .header-duma .search-header-duma {
    display: none;
  }
}
.header-duma .header__bottom-content {
  display: flex;
  align-items: center;
  max-width: 1312px;
  width: 100%;
  padding: 20px 0;
  gap: 60px;
}
@media (max-width: 992px) {
  .header-duma .header__bottom-content {
    display: none;
  }
}