/*** Finish - Title ***/
.header-duma {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--main-text);
  background-color: var(--cards-background);
  border-bottom: 1px solid #e7edfb;
}
.header-duma .header__top-content {
  display: flex;
  max-width: 1312px;
  width: 100%;
  padding: 7px 65px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.header-duma .header__top-content .header__top-links {
  display: flex;
  gap: 40px;
}
.header-duma .header__top-content .header__buttons {
  display: flex;
  gap: 21px;
}
.header-duma .header__top-content .header__buttons .header__eye-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-image: url(../icons/eye-outlined_icon.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: left;
}
.header-duma .header__top-content .header__buttons .header__eye-link:hover {
  filter: invert(44%) sepia(59%) saturate(7476%) hue-rotate(210deg) brightness(89%) contrast(105%);
}
.header-duma .header__top-content .header__buttons .header__eye-link .header__eye-link-title {
  margin-left: 28px;
  font-weight: 400;
  font-size: calc(14px * var(--scale));
  line-height: calc(18px * var(--lh));
}
@media (max-width: 992px) {
  .header-duma .header__top-content .header__buttons .header__eye-link .header__eye-link-title {
    font-size: calc(10px * var(--scale));
    line-height: calc(14px * var(--lh));
  }
}
.header-duma .search-header-duma {
  max-width: 631px;
}
.header-duma .header__bottom-content {
  display: flex;
  align-items: center;
  max-width: 1312px;
  width: 100%;
  padding: 20px 64px;
  gap: 60px;
}