mixin navigation(data)
    .navigation 
        a.navigation__link(role='button' aria-label='Назад')
            ion-icon(name=`arrow-back-outline` class=`icon`)
        .navigation__pages
            span(aria-label=`Страница ${data.first_page}` tabindex='0').navigation__page #{data.first_page}
            span.navigation__page /
            span(aria-label=`Из ${data.end_page}` tabindex='0').navigation__page #{data.end_page}
        a.navigation__link(role='button' aria-label='Вперед')
            ion-icon(name=`arrow-forward-outline` class=`icon`)