.init-project-detail .init-project-detail__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
@media (max-width: 992px) {
  .init-project-detail .init-project-detail__container {
    gap: 16px;
  }
}
.init-project-detail .init-project-detail__container .title {
  margin: 0;
}
.init-project-detail .init-project-detail__container .init-card {
  box-sizing: border-box;
  max-width: 1312px;
  width: 100%;
  padding: 20px;
}
@media (max-width: 992px) {
  .init-project-detail .init-project-detail__container .init-card {
    padding: 16px;
  }
}
.init-project-detail .init-project-detail__container .init-card .init-card__container {
  display: grid;
  grid-template-columns: repeat(2, calc((100% - 40px) / 2));
  gap: 40px;
  align-items: center;
}
@media (max-width: 992px) {
  .init-project-detail .init-project-detail__container .init-card .init-card__container {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .init-project-detail .init-project-detail__container .init-card .init-card__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
.init-project-detail .init-project-detail__container .init-card .init-card__container .init-card__description {
  display: flex;
  justify-content: center;
  padding: 0;
}
@media (max-width: 768px) {
  .init-project-detail .init-project-detail__container .init-card .init-card__container .init-card__description {
    align-self: flex-start;
  }
}
.init-project-detail .init-project-detail__container .init-card .init-card__container .init-card__description .init-card__content {
  gap: 40px;
}
@media (max-width: 992px) {
  .init-project-detail .init-project-detail__container .init-card .init-card__container .init-card__description .init-card__content {
    gap: 20px;
  }
}
.init-project-detail .init-project-detail__container .init-card .init-card__container .init-card__description .init-card__content .init-card__columns {
  gap: 20px;
}
@media (max-width: 550px) {
  .init-project-detail .init-project-detail__container .init-card .init-card__container .init-card__description .init-card__content .init-card__columns {
    display: flex;
    flex-direction: column;
  }
}
.init-project-detail .init-project-detail__container .init-card .init-card__container .init-card__image {
  max-width: 600px;
  border-radius: 12px;
  max-height: 322px;
  object-fit: cover;
  object-position: center;
}
@media (max-width: 992px) {
  .init-project-detail .init-project-detail__container .init-card .init-card__container .init-card__image {
    max-width: none;
    max-height: 174px;
  }
}
.init-project-detail .init-project-detail__container .init-card .init-card__container .init-project-detail__desc {
  font-weight: 300;
  font-size: calc(16px * var(--scale));
  line-height: calc(24px * var(--lh));
}
@media (max-width: 992px) {
  .init-project-detail .init-project-detail__container .init-card .init-card__container .init-project-detail__desc {
    font-size: calc(14px * var(--scale));
    line-height: calc(20px * var(--lh));
  }
}