include ../../libs/select/_select.pug
include ../../libs/checkbox/_checkbox.pug

mixin filters(data={})
    .filters
        .filters_container
            +select('events', '', 'right', [
                { value: 'Все события', text: 'Все события' },
                { value: 'Театр', text: 'Театр' },
                { value: 'Детям', text: 'Детям' },
                { value: 'Выставки', text: 'Выставки' },
                { value: 'Концерты', text: 'Концерты' }
                ], 'single', 'filters__select')
            +select('thema', '', 'right', [
                { value: 'Любая тематика', text: 'Любая тематика' },
                { value: 'Любая тематика', text: 'Любая тематика' }
                ], 'single', 'filters__select')
            +select('thema', 'place', 'right', [
                { value: 'Место проведения', text: 'Место проведения' },
                { value: 'Место проведения', text: 'Место проведения' }
                ], 'single', 'filters__select')
        if data.checkbox        
            +checkbox({
                label: 'С пушкинской картой',
                id: '10',
                name: 'with-card',
                status: true,
                sort: 'checkbox'
            })                  