@use '../../../../../assets/styles/vars.scss' as *;

.biography {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;

    @include respond-to(md) {
        padding-top: 12px;
    }

    .biography__container {
        display: flex;
        font-size: 16px;
        line-height: 24px;
        gap: 24px;
        width: 100%;

        @include respond-to(md) {
            display: flex;
            flex-direction: column-reverse;
            gap: 12px;
        }

        @include respond-to(sm) {
            gap: 12px;
        }

        .biography__contacts-content {
            display: flex;
            flex-direction: column;
            gap: 24px;
            max-width: 309px;
            width: 100%;

            @include respond-to(md) {
                max-width: none;
            }

            .biography__avatar {
                max-width: 309px;
                width: 100%;
                max-height: 364px;
                height: 100%;
                border-radius: 12px;
                object-fit: cover;
                object-position: center;

                @include respond-to(md) {
                    display: none;
                }
            }

            .biography__contacts {
                display: flex;
                flex-direction: column;
                gap: 32px;
                padding: 20px;
                border-radius: 20px;
                background-color: $cards-background;

                @include respond-to(sm) {
                    flex-direction: row;
                    flex-wrap: wrap;
                }

                .biography__phones {
                    display: flex;
                    flex-direction: column;
                    gap: 9px;

                    .biography__phones-title {
                        padding: 0;
                        font-weight: 600;
                    }

                    .biography__link {
                        color: $main-text;
                    }
                }
            }
        }

        .biography__info {
            padding: 40px;
            border-radius: 20px;
            background-color: $cards-background;
            width: 100%;

            @include respond-to(md) {
                width: auto;
                padding: 20px;
            }

            .biography__info-content {
                display: flex;
                flex-direction: column;
                gap: 32px;
                max-width: 760px;

                .biography__user {
                    @include respond-to(md) {
                        display: none;
                    }

                    .biography__name {
                        padding: 0;
                        margin-bottom: 12px;
                        @include heading-h1;
                    }

                    .biography__job {
                        @include text-1;
                    }
                }

                .biography__description {
                    display: flex;
                    flex-direction: column;
                    gap: 7px;

                    p {
                        margin: 0;
                        @include text-2;
                    }

                    .biography__description-span {
                        font-weight: 600;
                    }
                }

                .biography__more-contacts {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                    margin-top: 26px;

                    @include respond-to(md) {
                        margin-top: 0;
                    }

                    .biography__more-contacts-content {
                        display: flex;
                        flex-direction: column;
                        gap: 4px;

                        @include respond-to(md) {
                            display: none;
                        }

                        .biography__more-contacts-title {
                            padding: 0;
                            @include heading-h5;
                        }
                    }
                }
            }
        }
    }
}