.dm-meeting-elem {
  width: 100%;
  border-radius: 12px;
  background-color: var(--grey-adm);
}

.dm-meeting-elem__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 20px;
}
@media (max-width: 992px) {
  .dm-meeting-elem__container {
    padding: 16px;
  }
}
@media (max-width: 992px) {
  .dm-meeting-elem__container {
    gap: 16px;
  }
  .dm-meeting-elem__container .button {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
  }
}

.dm-meeting-elem__top {
  display: flex;
  gap: 5px;
  align-items: flex-start;
}

.dm-meeting-elem__mid {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media (max-width: 768px) {
  .dm-meeting-elem__mid {
    flex-direction: column;
    align-items: flex-start;
  }
}

.dm-meeting-elem__prepare,
.dm-meeting-elem__speaker {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (max-width: 768px) {
  .dm-meeting-elem__prepare,
  .dm-meeting-elem__speaker {
    gap: 8px;
  }
}

.dm-meeting-elem__prepare span,
.dm-meeting-elem__speaker span {
  color: var(--second-text);
  font-weight: 400 !important;
  font-weight: 300;
  font-size: calc(16px * var(--scale));
  line-height: calc(24px * var(--lh));
}
@media (max-width: 992px) {
  .dm-meeting-elem__prepare span,
  .dm-meeting-elem__speaker span {
    font-size: calc(14px * var(--scale));
    line-height: calc(20px * var(--lh));
  }
}

.dm-meeting-elem__prepare span:first-child,
.dm-meeting-elem__speaker span:first-child {
  color: var(--tertiary-text);
  font-weight: 400 !important;
  font-weight: 300;
  font-size: calc(16px * var(--scale));
  line-height: calc(20px * var(--lh));
}
@media (max-width: 992px) {
  .dm-meeting-elem__prepare span:first-child,
  .dm-meeting-elem__speaker span:first-child {
    font-size: calc(12px * var(--scale));
    line-height: calc(16px * var(--lh));
  }
}

.dm-meeting-elem__bot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .dm-meeting-elem__bot {
    align-items: flex-start;
    gap: 16px;
    flex-direction: column;
  }
}

.dm-meeting-elem__bot-left {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media (max-width: 768px) {
  .dm-meeting-elem__bot-left {
    align-items: flex-start;
    gap: 20px;
    flex-direction: column-reverse;
  }
}

.dm-meeting-elem__bot-left span {
  color: var(--second-text);
  font-weight: 400;
  font-size: calc(20px * var(--scale));
  line-height: calc(24px * var(--lh));
}
@media (max-width: 992px) {
  .dm-meeting-elem__bot-left span {
    font-size: calc(14px * var(--scale));
    line-height: calc(18px * var(--lh));
  }
}

.dm-meeting-elem__container hr {
  margin: 0;
  border-color: var(--second-text);
  opacity: 0.2;
}
@media (max-width: 768px) {
  .dm-meeting-elem__container hr {
    display: none;
  }
}

.dm-meeting-elem__num span {
  color: var(--tertiary-text);
  font-weight: 500;
  font-weight: 400;
  font-size: calc(20px * var(--scale));
  line-height: calc(24px * var(--lh));
}
@media (max-width: 992px) {
  .dm-meeting-elem__num span {
    font-size: calc(14px * var(--scale));
    line-height: calc(18px * var(--lh));
  }
}

.dm-meeting-elem__name span {
  color: var(--second-text);
  font-weight: 500;
  font-weight: 400;
  font-size: calc(20px * var(--scale));
  line-height: calc(24px * var(--lh));
}
@media (max-width: 992px) {
  .dm-meeting-elem__name span {
    font-size: calc(14px * var(--scale));
    line-height: calc(18px * var(--lh));
  }
}

.dm-meeting-elem__decision {
  display: flex;
  gap: 5px;
}

.dm-meeting-elem__doc a {
  border-bottom: 1px solid var(--second-text);
  color: var(--second-text);
  font-weight: 300;
  font-size: calc(16px * var(--scale));
  line-height: calc(24px * var(--lh));
}
@media (max-width: 992px) {
  .dm-meeting-elem__doc a {
    font-size: calc(14px * var(--scale));
    line-height: calc(20px * var(--lh));
  }
}

.dm-meeting__list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dm-meeting__info {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
@media (max-width: 992px) {
  .dm-meeting__info {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
}

.dm-meeting__addr,
.dm-meeting__date,
.dm-meeting__part,
.dm-meeting__accept {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (max-width: 992px) {
  .dm-meeting__addr,
  .dm-meeting__date,
  .dm-meeting__part,
  .dm-meeting__accept {
    gap: 8px;
  }
}

.dm-meeting__addr span,
.dm-meeting__date span,
.dm-meeting__part span,
.dm-meeting__accept span {
  color: var(--second-text);
  font-weight: 300;
  font-size: calc(20px * var(--scale));
  line-height: calc(28px * var(--lh));
}
@media (max-width: 992px) {
  .dm-meeting__addr span,
  .dm-meeting__date span,
  .dm-meeting__part span,
  .dm-meeting__accept span {
    font-size: calc(16px * var(--scale));
    line-height: calc(24px * var(--lh));
  }
}

.dm-meeting__addr span:first-child,
.dm-meeting__date span:first-child,
.dm-meeting__part span:first-child,
.dm-meeting__accept span:first-child {
  color: var(--tertiary-text);
  font-weight: 300;
  font-size: calc(16px * var(--scale));
  line-height: calc(20px * var(--lh));
}
@media (max-width: 992px) {
  .dm-meeting__addr span:first-child,
  .dm-meeting__date span:first-child,
  .dm-meeting__part span:first-child,
  .dm-meeting__accept span:first-child {
    font-size: calc(12px * var(--scale));
    line-height: calc(16px * var(--lh));
  }
}

.dm-meeting__decision {
  gap: 32px;
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  .dm-meeting__decision {
    gap: 24px;
  }
}

.dm-meeting__right {
  display: flex;
  gap: 32px;
  align-items: center;
}
@media (max-width: 992px) {
  .dm-meeting__right {
    flex-direction: column;
    gap: 24px;
  }
}
@media (max-width: 768px) {
  .dm-meeting__right {
    flex-direction: column;
    align-items: flex-start;
  }
}

.dm-meeting__right-info {
  display: flex;
  gap: 32px;
}
@media (max-width: 768px) {
  .dm-meeting__right-info {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
}

.dm-meeting-elem__bot-info {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media (max-width: 768px) {
  .dm-meeting-elem__bot-info {
    gap: 12px;
  }
}

.dm-meeting__title {
  padding-bottom: 24px;
}

.dm-meeting__title span {
  color: var(--tertiary-text);
  font-weight: 400;
  font-size: calc(16px * var(--scale));
  line-height: calc(20px * var(--lh));
}
@media (max-width: 992px) {
  .dm-meeting__title span {
    font-size: calc(12px * var(--scale));
    line-height: calc(16px * var(--lh));
  }
}