@use '../../../../assets/styles/vars.scss' as *;

.header-services {
    display: flex;
    background-color: $cards-background;

    .header-services__container {
        display: flex;
        gap: 5px;
        max-width: 1440px;
        width: 100%;
        padding: 20px 0;

        .header-services__button {
            background-color: $services-hover;
            color: $main-text;
            @include heading-h6;
            padding: 4px 18px;
            gap: 12px;

            .icon {
                color: $primary-color;
                font-size: 45px;
            }
        }
    }
}