@use '../../../../assets/styles/vars.scss' as *;

.header-services {
    display: flex;
    background-color: $cards-background;
    overflow-x: scroll;
    scrollbar-width: none;


    .header-services__container {
        display: flex;
        gap: 5px;
        max-width: 1440px;
        width: 100%;
        padding: 20px 0;

        @include respond-to(md) {
            padding: 12px 0;
            gap: 12px;
        }

        @include respond-to(sm) {
            padding: 8px 0;
        }

        .header-services__button {
            background-color: $cards-background;
            color: $main-text;
            padding: 4px 18px;
            gap: 12px;
            border-color: transparent;

            .button_span {
                width: calc(100% - 32px);
                @include heading-h6;

                @include respond-to(md) {
                    width: calc(100% - 45px);
                }
            }

            &:hover {
                background-color: $services-hover;
            }

            &:active {
                background-color: $services-active;
            }

            .icon {
                width: 32px;
                color: $icons-color;
                font-size: 45px;

                @include respond-to(md) {
                    width: 24px;
                    font-size: 40px;
                }
            }
        }
    }
}