include ./dm-unions-elem

+dm-unions-elem({
                img: 'kirilenko_avatar.png',
                name: 'Единая Россия',
                descr: 'Политическая партия России',
                currency: '37 человек',
                head: 'Фамилия Имя Отчество'
                })