include ./search/_search
include ./breadcrumbs/_breadcrumbs
include ./search-form/_search-form
include ./tabs/main/_tabs
include ./tabs/tags/_tabs-tag
include ./pagination/_pagination
include ./footer/_footer
include ./header/_header
include ./interview/list/interview-list
include ./interview/form/interview-form
include ./thanks/_thanks
include ./user-profile/_user-profile
include ./projects/project-card/_project-card
include ./projects/projects-array/_projects-array
include ./title/_title
include ./hearing/preview/hearing-preview
include ./hearing/list/hearing-list
include ./hearing/detail/hearing-detail
include ./hearing/calendar/calendar
include ./biography/_biography
include ./biography/_biography-card
include ./news/news-top-card/news-top-card
include ./news/news-top-link/news-top-link
include ./news/news-main-card/news-main-card
include ./news/news-main/news-main
include ./news/news-top/news-top
include ./news/dm-news-top/dm-news-top
include ./title/main/_main-title
include ./links/_links
include ./links/important/important-links
include ./links/usefull/usefull-links
include ./administration/struct/adm-struct
include ./events/_events
include ./calendar/_calendar
include ./afisha/event-card/_event-card
include ./afisha/event/_event
include ./afisha/event-full-desc/event-full-desc
include ./pagination/_navigation
include ./slider/_slider
include ./header/services/_header-services
include ./people-care/_people-care
include ./people-care-card/_people-care-card
include ./help-city/_help-city
include ./project-card-main/_main-project-card
include ./administration/service/adm-service
include ./solve-problems/solve-problems
include ./services/_services
include ./important/important
include ./help-city/_help-city
include ./events/_events
include ./administration/service/adm-service
include ./documents/dumalist/documents-dumalist
include ./documents/shortlist/documents-shortlist
include ./documents/fulllist/documents-fulllist
include ./documents/list/documents-list
include ./phonebook/main/phonebook
include ./init-projects/init-card/init-card
include ./init-projects/init-projects
include ./init-projects/detail/init-project-detail
include ./monuments/main/monuments
include ./header/duma/header-duma
include ./header/header-links/header-links
include ./header/logo/logo
include ./header/menu/menu
include ./meeting/question/question
include ./meeting/solution/solution
include ./honor-board/board-list/board-list
include ./honor-board/board-card/board-card
include ./citizens/citizens-list/citizens-list
include ./citizens/citizen-card/citizen-card
include ./dm-comitet/main/dm-comitet
include ./dm-deputies/dm-deputies-alphabet/dm-deputies-alphabet
include ./dm-deputies/dm-deputies-comitets/dm-deputies-comitets
include ./dm-struct/main/dm-struct
include ./chronicle/chronicle
include ./chronicle/calendar/calendar
include ./filters/filters
include ./dm-comitet/main/dm-comitet
include ./afisha/dm-afisha/dm-afisha
include ./dm-applications/dm-applications
include ./files-list/files-list
include ./dm-finance/main/dm-finance
include ./dm-unions/main/dm-unions
include ./dm-meeting/main/dm-meeting
include ./dm-mail/main/dm-mail
include ./projects/projects-detail/projects-detail
include ./button-popup/button-popup
include ./dm-city-projects/dm-city-projects
include ./search-by-site/search-by-site
include ./filters-popup/filters-popup
include ./sorting/sorting
include ./reception/reception
include ./dm-archive/dm-archive
include ./dm-events/dm-events
include ./afisha/events-list/events-list
include ./afisha/universal/universal
include ./afisha/no-events/no-events
include ./adm-all-news/adm-all-news
include ./adm-search/adm-search
include ./honor-board/board-detail/board-detail
include ./subscribe/subscribe
include ./login/projects/login-projects
include ./login/delete-project/delete-project
include ./dm-reception/dm-reception
include ./projects/project-generation/project-generation
include ./profile/card/profile-card
include ./profile/settings/profile-settings
include ./projects/project-table/project-table
include ./scheme/main/scheme
include ./dm-deput/main/dm-deput
include ./dm-schedule/main/dm-schedule
include ./about/partner-card/about-partner-card
include ./about/info/about-info
include ./about/partners/about-partners
include ./about/symbols/about-symbols
include ./about/history/about-history
include ./about/today/about-today
include ./about/organs/about-organs
include ./about/monuments/about-monuments
include ./about/photo-chronicle/about-photo-chronicle
include ./about/citizens/about-citizens
include ./about/agency/about-agency
include ./telephone/main/telephone
include ./init-projects/balloon/balloon
include ./login/exit/exit
include ./dm-about/info/dm-about-info
include ./dm-about/leadership/dm-about-leadership
include ./dm-about/address/dm-about-address
include ./dm-about/history/dm-about-history
include ./dm-about/map/dm-about-map