include ./search/_search
include ./breadcrumbs/_breadcrumbs
include ./search-form/_search-form
include ./tabs/main/_tabs
include ./tabs/tags/_tabs-tag
include ./pagination/_pagination
include ./footer/_footer
include ./header/_header
include ./interview/_list
include ./interview/_form
include ./thanks/_thanks
include ./user-profile/_user-profile
include ./projects/_project-card
include ./projects/_projects-array
include ./title/_title
include ./hearing/preview/hearing-preview
include ./hearing/list/hearing-list
include ./hearing/detail/hearing-detail
include ./biography/_biography
include ./biography/_biography-card
include ./news/card-with-image/card-with-image
include ./news/card-without-image/card-without-image
include ./news/card-main/card-main
include ./news/news-main/news-main
include ./news/news-top/news-top
include ./title/main/_main-title
include ./links/_links
include ./administration/struct/adm-struct
include ./events/_events
include ./calendar/_calendar
include ./afisha/event-card/_event-card
include ./pagination/_navigation
include ./afisha/event/_event
include ./slider/_slider
include ./header/services/_header-services
include ./people-care-card/_people-care-card
include ./help-city/_help-city
include ./project-card-main/_main-project-card
include ./administration/service/adm-service
include ./solve-problems/solve-problems
include ./services/_services
include ./important/important
include ./help-city/_help-city
include ./events/_events
include ./administration/service/adm-service
include ./documents/shortlist/documents-shortlist
include ./documents/fulllist/documents-fulllist
include ./documents/list/documents-list
include ./phonebook/main/phonebook
include ./init-projects/init-card/init-card
include ./init-projects/init-projects
include ./citizens/citizens-list/citizens-list
include ./citizens/citizen-card/citizen-card
include ./honor-board/board-list/board-list
include ./honor-board/board-card/board-card
include ./header/duma/header-duma
include ./header/header-links/header-links
include ./header/logo/logo
