include ../../title/_title

mixin about-symbols(data={})
    .about-symbols 
        - const linkTitle = data.link_title ? data.link_title : 'Устав города.pdf'

        h3.about-symbols__title Официальные символы
        .about-symbols-list 
            .about-symbols-elem
                .about-symbols-elem-text
                    b Герб города 
                    span Сургута утвержден 
                    a(href='#').link решением городской Думы от 04.11.2003 № 273-III ГД. 
                    span Геральдическое описание герба муниципального образования город окружного значения Сургут гласит: «В золотом поле – черная с серебряным концом хвоста лисица, идущая по лазоревой земле»
                .about-symbols-elem-img
                    img(src='./resources/gerb.png')
            .about-symbols-elem
                .about-symbols-elem-text
                    b Флаг города 
                    span Сургута утвержден 
                    a(href='#').link решением городской Думы от 25.04.2005 № 454- III ГД. 
                    span Флаг муниципального образования городской округ город Сургут представляет собой прямоугольное полотнище с соотношением ширины к длине 2:3, в центре которого на золотом фоне лисица с серебряным концом хвоста, идущая по лазоревой земле.
                .about-symbols-elem-img
                    img(src='./resources/flag.png') 
        hr     
        h3.about-symbols__title Документы  
        .about-symbols__documents
            a(href='/').files-list__document-description
                ion-icon(class='files-list__icon' name='document')
                span.files-list__document-title #{linkTitle}   