include ../card-main/card-main
include ../../slider/_slider
include ../../title/main/_main-title
include ../../tabs/main/_tabs

mixin news-main()
    .full-width-container
        .full-width-background
            .full-width-content            
                .main-news 
                    .main-news__container 
                        +main-title({
                            href: '/',
                            title: 'Главные новости',
                            link_text: 'Все новости',
                        })
                        +tabs( 
                            [
                                { isActive: true, title: 'Самые важные', href: '/' },
                                { title: 'Реализация нацпроектов', href: '/' },
                                { title: 'Деятельность администрации', href: '/' },
                                { title: 'Областная дума', href: '/' },
                            ])
                        .main-news__card-list 
                            +main-news-card(
                            {
                                image: 'image_1.jpg',
                                date: '10 июня 2023',
                                title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                                tags: [
                                    {
                                        type: 'button',
                                        size: 'xs', 
                                        class: 'button_blue button_radius news-card__tag', 
                                        text: 'история',
                                    }                     
                                ]
                            },
                            )
                            +main-news-card(
                            {
                                image: 'image_2.jpg',
                                date: '10 июня 2023',
                                title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                                tags: [
                                    {
                                        type: 'button',
                                        size: 'xs', 
                                        class: 'button_blue button_radius news-card__tag', 
                                        text: 'Медицина',
                                    },
                                    {
                                        type: 'button',
                                        size: 'xs', 
                                        class: 'button_blue button_radius news-card__tag', 
                                        text: 'Награды',
                                    }                      
                                ]
                            },
                            )
                            +main-news-card(
                            {
                                image: 'image_3.jpg',
                                date: '10 июня 2023',
                                title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                                tags: [
                                    {
                                        type: 'button',
                                        size: 'xs', 
                                        class: 'button_blue button_radius news-card__tag', 
                                        text: 'Пожары',
                                    },                   
                                ]
                            },
                            )
                            +main-news-card(
                            {
                                image: 'image_4.jpg',
                                date: '10 июня 2023',
                                title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                                tags: [
                                    {
                                        type: 'button',
                                        size: 'xs', 
                                        class: 'button_blue button_radius news-card__tag', 
                                        text: 'Экономика',
                                    },                    
                                ]
                            },
                            )
                            +main-news-card(
                            {
                                image: 'image_1.jpg',
                                date: '10 июня 2023',
                                title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                                tags: [
                                    {
                                        type: 'button',
                                        size: 'xs', 
                                        class: 'button_blue button_radius news-card__tag', 
                                        text: 'история',
                                    }                     
                                ]
                            },
                            )
                            +main-news-card(
                            {
                                image: 'image_2.jpg',
                                date: '10 июня 2023',
                                title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                                tags: [
                                    {
                                        type: 'button',
                                        size: 'xs', 
                                        class: 'button_blue button_radius news-card__tag', 
                                        text: 'Медицина',
                                    },
                                    {
                                        type: 'button',
                                        size: 'xs', 
                                        class: 'button_blue button_radius  news-card__tag', 
                                        text: 'Награды',
                                    }                      
                                ]
                            },
                            )
                            +main-news-card(
                            {
                                image: 'image_3.jpg',
                                date: '10 июня 2023',
                                title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                                tags: [
                                    {
                                        type: 'button',
                                        size: 'xs', 
                                        class: 'button_blue button_radius news-card__tag', 
                                        text: 'Пожары',
                                    },                   
                                ]
                            },
                            )
                            +main-news-card(
                            {
                                image: 'image_4.jpg',
                                date: '10 июня 2023',
                                title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                                tags: [
                                    {
                                        type: 'button',
                                        size: 'xs', 
                                        class: 'button_blue button_radius news-card__tag', 
                                        text: 'Экономика',
                                    },                    
                                ]
                            },
                            )
                    .main-news__slider
                        +slider({ class: 'main-news' })    