@use '../../../assets/styles/vars.scss' as *;

.modal-title {
    background-color: $content-color;
    border-radius: 4px;

    .modal-title__container {
        padding: 12px;

        .modal-title__text {
            @include title-6;
        }
    }
}