@use '../../../assets/styles/vars.scss' as *;

.modal-title {
    background-color: $content-color;
    border-radius: 4px;
    position: absolute;
    top: 140%;
    left: 50%;
    max-width: 347px;
    width: 174%;
    z-index: 10;
    display: none;

    .modal-title__container {
        padding: 12px;

        .modal-title__text {
            @include title-6;
        }
    }
}