include ./hearing-preview.pug
include ../../../libs/buttons/_buttons.pug
h1 Вариант детальный (для списка, плей ссылка)
+hearing-preview(false)

h1 Вариант короткий (для деталки, плей кнопка)
+hearing-preview(true, false)