@use '../../../../assets/styles/vars.scss' as *;
@use '../base.scss' as *;

.hearing-preview {
    max-height: 738px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 12px;

    @include respond-to(md) {
        max-height: 410px;
    }

    @include respond-to(sm) {
        max-height: 189px;
    }

    video {
        display: none;
        width: 100%;
        height: auto;
    }

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    &-on {
        video {
            display: block;
        }

        img,
        .hearing-preview-play,
        .hearing-preview-bg,
        .hearing-preview-title {
            display: none;
        }
    }

    &-bg {
        @include img-bg();
    }

    &-title {
        max-width: 890px;
        color: $content-color;
        position: absolute;
        bottom: 44px;
        left: 40px;
        text-decoration: none;
        @include visible-lines(2);
        @include title-1;

        @include respond-to(xs) {
            bottom: 12px;
            left: 12px;
        }
    }

    &-play {
        position: absolute;
        top: 328px;
        @include play(82);

        @include respond-to(md) {
            top: 185px;
            @include play(40);
        }

        @include respond-to(xs) {
            top: 79px;
            @include play(32);
        }
    }

    .live_stream {
        position: absolute;
        top: 40px;
        left: 40px;
        color: $interview-end-color;

        @include respond-to(md) {
            top: 10px;
            left: 10px;
        }

        &_s {
            display: none;

            @include respond-to(xs) {
                display: flex;
            }
        }

        &_l {
            display: flex;

            @include respond-to(md) {
                display: none;
            }
        }
    }
}