mixin form-field(name, span, error, placeholder, type, size)
    .form-field     
        label.form-field__label #{name}    
        +input(size, placeholder, type, error)
        span(class=`form-field__span ${error ? 'span_error' : ''}`) #{span}
