mixin form-field(name, span, error, input_options)
    .form-field     
        label.form-field__label #{name}    
        +input(input_options, error)
        span(class=`form-field__span ${error ? 'span_error' : ''}`) #{span}
