mixin multi_select()
    div.multi-select
        ul.multi-select__chose()
            li
                input(id="name" name='multiSelect' value='' type="text" class="input multi-select__input")
        ul.multi-select__dropdown.multi-select__dropdown_hidden(id='multiSelectDropdown')
            li.multi-select__dropdown-item.multi-select__dropdown-item_visible(data-value='Филатов Андрей Сергеевич') Филатов Андрей Сергеевич
            li.multi-select__dropdown-item.multi-select__dropdown-item_visible(data-value='Филатов Андрей Сергеевич, Глава') Филатов Андрей Сергеевич, Глава 
            li.multi-select__dropdown-item.multi-select__dropdown-item_visible(data-value='Филатов Андрей, Глава города Сургута') Филатов Андрей, Глава города Сургута