/*** Finish - Title ***/
.people-care-card {
  max-width: 421px;
  width: 100%;
  min-height: 320px;
  border-radius: 12px;
  background-repeat: no-repeat;
  background: linear-gradient(#e8aaef 0%, #3172c6 100%);
  align-content: end;
}
@media (max-width: 1000px) {
  .people-care-card {
    min-height: 214px;
  }
}
.people-care-card .people-care-card__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 32px;
  padding: 32px;
}
@media (max-width: 1000px) {
  .people-care-card .people-care-card__container {
    padding: 16px;
    gap: 13px;
  }
}
.people-care-card .people-care-card__container .people-care-card__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;
}
@media (max-width: 992px) {
  .people-care-card .people-care-card__container .people-care-card__title {
    font-size: 16px;
    line-height: 20px;
  }
}