@use '../../../assets/styles/vars.scss' as *;

body.tmp-duma {
    .files-list {
        .files-list__document {
            .files-list__document-description {
                .files-list__icon {
                    color: $primary-color-green;
                }
            }
        }
    }
}

.files-list {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .files-list__document {
        display: flex;
        align-items: center;
        gap: 11px;
        cursor: pointer;

        .files-list__document-description {
            display: flex;
            align-items: center;
            gap: 12px;
            border-radius: 8px;
            background-color: $cards-background;
            width: 100%;
            @include content-paddings;

            .files-list__icon {
                color: $primary-color;
                font-size: 20px;
            }

            .files-list__document-title {
                width: calc(100% - 32px);
                @include lead-5;
            }
        }
    }
}

.files-list__delete-button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    font-size: 20px;
    border: 1px solid transparent;
    background-color: $cards-background;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        border: 1px solid transparent;
        background-color: $cards-background;
        color: $primary-color;
    }
}