/*** Finish - Title ***/
.solution-head {
  padding: 16px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
@media (max-width: 992px) {
  .solution-head {
    font-size: 12px;
    line-height: 16px;
  }
}

.solution-fields {
  padding: 24px 0;
  display: flex;
  flex-direction: row;
}
@media (max-width: 992px) {
  .solution-fields {
    flex-direction: column;
    gap: 24px;
  }
}
.solution-fields .field {
  margin: auto;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
@media (max-width: 992px) {
  .solution-fields .field {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (max-width: 992px) {
  .solution-fields .field {
    margin: 0;
  }
}
.solution-fields .field:first-child {
  margin-left: 0px;
}
.solution-fields .field .label {
  color: #78839c;
  margin-bottom: 12px;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}
@media (max-width: 992px) {
  .solution-fields .field .label {
    font-size: 12px;
    line-height: 16px;
  }
}