@use '../../../assets/styles/vars.scss' as *;

.user-profile {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 36px 0 40px;
    max-width: 1440px;
    width: 100%;
    box-sizing: border-box;

    .user-profile__button {
        all: unset;
        cursor: pointer;
        position: relative;
        ion-icon {
            position: absolute;
            background-color: $primary-color;
            color: $content-color;
            padding: 4px;
            border-radius: 50%;
            right: 0;
        }

        &:hover {
            opacity: .8;
        }

        .user-profile__avatar {
            max-width: 100px;
            max-height: 100px;
            width: 100px;
            height: 100px;
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
        }
    }

    .user-profile__info {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .user-profile__name {
            margin: 0;
            padding: 0;
            @include heading-h2;
        }

        .user-profile_job {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #6E7383;
        }
    }
}

@media screen and (max-width: 1000px) {
    .user-profile {
        margin: 33px 0 0;
        padding: 0;

        .user-profile__button {
            .user-profile__avatar {
                max-width: 64px;
                max-height: 64px;
                height: 64x;
                width: 64px;
            }
        }

        .user-profile__info {
            .user-profile__name {
                font-size: 24px;
                line-height: 28px;
            }

            .user-profile_job {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}

@media screen and (max-width:600px) {
    .user-profile {
        gap: 24px;

        .user-profile__button {
            .user-profile__avatar {
                max-width: 50px;
                max-height: 50px;
                height: 50px;
                width: 50px;
            }
        }

        .user-profile__info {
            .user-profile__name {
                font-size: 20px;
                line-height: 24px;


            }

            .user-profile_job {}
        }
    }
}