@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: local("Inter"),
    url("../fonts/Inter/Inter_18pt-Light-300.woff2") format("woff2"),
    url("../fonts/Inter/Inter_18pt-Light-300.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local("Inter"),
    url("../fonts/Inter/Inter_24pt-Regular-400.woff2") format("woff2"),
    url("../fonts/Inter/Inter_24pt-Regular-400.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: local("Inter"),
    url("../fonts/Inter/Inter_28pt-SemiBold-600.woff2") format("woff2"),
    url("../fonts/Inter/Inter_28pt-SemiBold-600.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: local("Inter"),
    url("../fonts/Inter/Inter_24pt-Bold-700.woff2") format("woff2"),
    url("../fonts/Inter/Inter_24pt-Bold-700.woff") format("woff");
}