body {
    --services-hover: #f2f3f5;
    --services-active: #e3e4e7;

    // Фон
    --cards-background: #fafafa;
    --grey-adm: #fafafa;

    // Календарь
    --event-color: #e7edfb;
    --event-color-hover: #e7edfb;

    // Кнопки
    --primary-color: #004cc4;
    --primary-color-hover: #0a5fe7;
    --primary-color-active: #003ea2;
    --primary-color-disabled: #c2d8ff;
    --primary-color-green: #14bc30;
    --primary-color-green-hover: #10cd30;
    --primary-color-green-click: #0c9022;
    --primary-color-green-disabled: #dbdbdb;

    // Типографика
    --scale: 1;
    --ls: 0;
    --lh: 1;

    &.tmp-duma {
        --services-hover: #f0eee2;
        --services-active: #e7e5d7;

        // Фон
        --cards-background: #f7f6ef;
        --grey-adm: #f7f6ef;

        // Календарь
        --event-color: #e9e4d2;
        --event-color-hover: #bfb797;

        // Кнопки
        --primary-color: #0d6cba;
        --primary-color-hover: #288cde;
        --primary-color-active: #0c5591;
        --primary-color-disabled: #90bbde;

        --primary-color-green: #a78818;
        --primary-color-green-hover: #c9a41d;
        --primary-color-green-click: #856b0f;
        --primary-color-green-disabled: #bda964;
    }
}