body {
    --services-hover: #f2f3f5;
    --services-active: #e3e4e7;

    // Фон
    --cards-background: #fafafa;
    --grey-adm: #fafafa;

    --content-color: #ffff;

    --icons-color: #1a2d82;
    // Календарь
    --event-color: #e7edfb;
    --event-color-hover: #80a6f7;

    // Кнопки
    --primary-color: #004cc4;
    --primary-color-hover: #0a5fe7;
    --primary-color-active: #003ea2;
    --primary-color-disabled: #c2d8ff;
    --primary-color-green: #14bc30;
    --primary-color-green-hover: #10cd30;
    --primary-color-green-click: #0c9022;
    --primary-color-green-disabled: #dbdbdb;

    --main-text: #000000; //primary
    --main-text-dark-bg: #ffffff;
    --second-text: #15195a;
    --tertiary-text: #78839c;
    --tertiary-text-dark-bg: #e9e9e9;
    --fourth-text: #c0c2cc;
    --fourth-text-inverse: #ebedf4;

    // Типографика
    --scale: 1;
    --ls: 0;
    --lh: 1;

    &.tmp-duma {
        --services-hover: #f0eee2;
        --services-active: #e7e5d7;

        // Фон
        --cards-background: #f7f6ef;
        --grey-adm: #f7f6ef;

        // Календарь
        --event-color: #e9e4d2;
        --event-color-hover: #bfb797;

        // Кнопки
        --primary-color: #0d6cba;
        --primary-color-hover: #288cde;
        --primary-color-active: #0c5591;
        --primary-color-disabled: #90bbde;

        --primary-color-green: #a78818;
        --primary-color-green-hover: #c9a41d;
        --primary-color-green-click: #856b0f;
        --primary-color-green-disabled: #bda964;

        --secondary-color: #a78818;
    }

    &.dark-theme {
        --main-text: #ffffff; //primary
        --main-text-dark-bg: #ffffff;
        --second-text: #ffffff;
        --tertiary-text: #ffffff;
        --tertiary-text-dark-bg: #ffffff;
        --fourth-text: #ffffff;
        --fourth-text-inverse: #ffffff;

        --icons-color: #ffff;
        --content-color: #242433;
        --services-hover: #242433;
        --services-active: #242433;
        // Фон
        --cards-background: #242433;
        --grey-adm: #242433;

        // Календарь
        --event-color: #242433;
        --event-color-hover: #242433;

        // Кнопки
        --primary-color: #242433;
        --primary-color-hover: #242433;
        --primary-color-active: #242433;
        --primary-color-disabled: #242433;

        --primary-color-green: #242433;
        --primary-color-green-hover: #242433;
        --primary-color-green-click: #242433;
        --primary-color-green-disabled: #242433;
    }
    &.blue-theme {
        --main-text: #0a3866; //primary
        --main-text-dark-bg: #0a3866;
        --second-text: #0a3866;
        --tertiary-text: #0a3866;
        --tertiary-text-dark-bg: #0a3866;
        --fourth-text: #0a3866;
        --fourth-text-inverse: #0a3866;

        --icons-color: #0a3866;
        --content-color: #b2d9ff;
        --services-hover: #b2d9ff;
        --services-active: #b2d9ff;
        // Фон
        --cards-background: #b2d9ff;
        --grey-adm: #b2d9ff;

        // Календарь
        --event-color: #b2d9ff;
        --event-color-hover: #b2d9ff;

        // Кнопки
        --primary-color: #b2d9ff;
        --primary-color-hover: #b2d9ff;
        --primary-color-active: #b2d9ff;
        --primary-color-disabled: #b2d9ff;

        --primary-color-green: #b2d9ff;
        --primary-color-green-hover: #b2d9ff;
        --primary-color-green-click: #b2d9ff;
        --primary-color-green-disabled: #b2d9ff;
    }
}
