@use '../styles/vars.scss' as *;

@mixin padding-h3-h6 {
    & {
        padding: 32px 0 8px;
    }

    @include respond-to(md) {
        padding: 24px 0 8px;
    }
}

h2 {
    padding: 48px 0 16px;
    @include heading-h2;

    @include respond-to(md) {
        padding: 32px 0 8px;
    }
}

h3 {
    @include heading-h3;
    @include padding-h3-h6;
}

h4 {
    @include heading-h4;
    @include padding-h3-h6;
}

h5 {
    @include heading-h5;
    @include padding-h3-h6;
}

h6 {
    @include heading-h6;
    @include padding-h3-h6;
}

ul,
ol {
    margin-left: 44px;
}

li {
    margin: 8px 0 8px;
}

p {
    margin: 8px 0 8px;
}

a {
    font-weight: $font-weight-medium;
    text-decoration: none;
}

b {
    font-weight: $font-weight-bold;
}

// Стили статической страницы
.content {
    .content__link {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
        gap: 12px;
    }

    .glyphicon-save {
        &::before {
            content: unset;
        }
    }

    &-card {
        background-color: var(--cards-background);

        &__container {
            margin: 0;
            max-width: 738px;
            width: 100%;
            padding: 40px 0 40px;
        }

        h1 {
            margin-bottom: 20px;
            @include heading-h2;
        }
    }

    &-page {
        margin-top: 24px;
        max-width: 755px;
        margin: 0;
    }
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 12px;
}

th,
td {
    text-align: left;
    padding: 20px 15px;
    border: 1px solid $tertiary-text-dark-bg;
    @include text-2();
}

th {
    background-color: $grey-adm;
    border-right: none;
    border-left: none;
    @include lead-5();
}

th:first-child {
    border-left: 1px solid $tertiary-text-dark-bg;
    border-top-left-radius: 12px;
}

th:last-child {
    border-right: 1px solid $tertiary-text-dark-bg;
    border-top-right-radius: 12px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}