@use "fonts";
@use "props";

@use '../styles/vars.scss';
@use "../../blocks/libs/inputs/inputs.scss";
@use '../../blocks/libs/buttons/buttons.scss';
@use '../../blocks//libs/links/links.scss';
@use '../../blocks/libs/tags/tags.scss';
@use '../../blocks/libs/textarea/textarea.scss';
@use '../../blocks/libs/select/select.scss';
@use '../../blocks/libs//checkbox/checkbox.scss';
@use '../../blocks/libs/switch/switch.scss';
@use '../../blocks/libs/search-button/search-button.scss';
@use '../../blocks/libs/calender/calender.scss';
@use '../../blocks/libs/tab-buttons/tab-buttons.scss';
@use '../../blocks/libs/pag-buttons/pag-buttons.scss';
@use '../../blocks/components/breadcrumbs/main/breadcrumbs.scss';
@use '../../blocks/components/form-field/form-field.scss';
@use '../../blocks/components/search-form/main/search-form.scss';
@use '../../blocks/components/tabs/tabs.scss';
@use '../../blocks/components/pagination/main/pagination.scss';
@use '../../blocks/components/footer/main/footer.scss';
@use '../../blocks/components/header/main/header.scss';
@use '../../blocks/components/interviews/main/interviews.scss';
@use '../../blocks/components/interviews-full/main/interviews-full.scss';
@use '../../blocks/components/thanks/thanks.scss';

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  margin: auto;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.main {
  box-sizing: border-box;
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0 64px 60px;

  .interview-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 866px;
    width: 100%;
    margin: auto;
    align-items: baseline;
  }

}

.main__title {
  margin: 20px 0 20px;
}

.main__interviews {
  display: flex;
  margin: 40px 0 40px;
}

@media screen and (max-width: 1000px) {
  .main {
    padding: 0 20px 40px;


    .interview-form {
      margin-top: 26px;
    }
  }
}

@media screen and (max-width: 600px) {
  .main {
    padding: 0 27px 40px;

    .interview-form {
      margin-top: 6px;
      gap: 27px;
    }
  }
}