// ЦВЕТА

// Services
$services-hover: #f2f3f5;

// Типографика
$main-text: #040528; //primary
$main-text-dark-bg: #ffffff;
$second-text: #15195a;
$tertiary-text: #78839c;
$tertiary-text-dark-bg: #e9e9e9;
$fourth-text: #c0c2cc;
$fourth-text-inverse: #ebedf4;

// Фон
$cards-background: #fafafa;
$grey-adm: #fafafa;

// Иконки
$icons-color: #1a2d82;
$icons-background: #f7fbfe;

// Инпуты
$input-color-default: #c6cbd9;

// Календарь
$event-color: #e7edfb;
$event-color-hover: #e7edfb;

// Кнопки
$primary-color: #004cc4;
$primary-color-hover: #0a5fe7;
$primary-color-active: #003ea2;
$primary-color-disabled: #c2d8ff;
$content-color: #ffffff;
$primary-color-green: #14bc30;
$primary-color-green-hover: #10cd30;
$primary-color-green-click: #0c9022;
$primary-color-green-disabled: #dbdbdb;

// Категории
$health-color: linear-gradient(#8eec87 0%, #447ecb 100%);
$finance-color: linear-gradient(#e8aaef 0%, #3172c6 100%);
$projects-color: linear-gradient(#8edcd6 0%, #1679b7 100%);
$social-color: linear-gradient(#f97a7c 0%, #5280ea 100%);

// Опросы
$interview-color: #2dbb45;
$interview-end-color: #d10404;

// Шрифты

/*** START - Desktop-heading ***/
@mixin desc-h1 {
    font-size: 40px;
    line-height: 52px;
}

@mixin desc-h2 {
    font-size: 32px;
    line-height: 40px;
}

@mixin desc-h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

@mixin desc-h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

@mixin desc-h5 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

@mixin desc-h6 {
    font-size: 13px;
    line-height: 16px;
}

/*** END - Desktop-heading ***/

@mixin desc-title {
    font-size: 14px;
    line-height: 20px;
}

/*** START - Desktop-title ***/

@mixin desc-title1 {
    font-size: 32px;
    line-height: 38px;
}

@mixin desc-title3 {
    font-size: 24px;
    line-height: 28px;
}

@mixin desc-title4 {
    font-size: 20px;
    line-height: 24px;
}

@mixin desc-title5 {
    font-size: 14px;
    line-height: 16px;
}

/*** END - Desktop-title ***/

@mixin desc-text1 {
    font-size: 24px;
    line-height: 32px;
}

@mixin desc-text2 {
    font-size: 20px;
    line-height: 28px;
}

@mixin desc-text3 {
    font-size: 16px;
    line-height: 24px;
}

@mixin desc-text4 {
    font-size: 14px;
    line-height: 20px;
}

@mixin desc-caption1 {
    font-size: 13px;
    line-height: 18px;
}

@mixin desc-calender {
    font-size: 18px;
    line-height: 24px;
}

@mixin desc-label1 {
    font-size: 28px;
    line-height: 36px;
}

@mixin desc-label2 {
    font-size: 11px;
    line-height: 14px;
}

@mixin desc-ser-label {
    font-size: 13px;
    line-height: 18px;
}

@mixin desc-tags-label {
    font-size: 11px;
    line-height: 14px;
}

@mixin desc-link {
    font-size: 20px;
    line-height: 32px;
}

// Планшет
@mixin tab-h1 {
    font-size: 20px;
    line-height: 28px;
}

@mixin tab-h2 {
    font-size: 16px;
    line-height: 22px;
}

@mixin tab-h3 {
    font-size: 14px;
    line-height: 20px;
}

@mixin tab-h4 {
    font-size: 12px;
    line-height: 18px;
}

@mixin tab-title1 {
    font-size: 16px;
    line-height: 24px;
}

@mixin tab-title2 {
    font-size: 12px;
    line-height: 18px;
}

@mixin tab-text1 {
    font-size: 13px;
    line-height: 18px;
}

@mixin tab-text2 {
    font-size: 11px;
    line-height: 16px;
}

@mixin tab-text3 {
    font-size: 16px;
    line-height: 24px;
}

@mixin tab-link {
    font-size: 12px;
    line-height: 16px;
}

// Мобильный
@mixin mob-h1 {
    font-size: 24px;
    line-height: 32px;
}
