// Services
$services-hover: var(--services-hover);
$services-active: var(--services-active);

// Типографика
$main-text: var(--main-text); //primary
$main-text-dark-bg: var(--main-text-dark-bg);
$second-text: var(--second-text);
$tertiary-text: var(--tertiary-text);
$tertiary-text-dark-bg: var(--tertiary-text-dark-bg);
$fourth-text: var(--fourth-text);
$fourth-text-inverse: var(--fourth-text-inverse);

$cards-background: var(--cards-background);
$grey-adm: var(--grey-adm);

// Иконки
$icons-color: var(--icons-color);
$icons-background: #f7fbfe;

// Инпуты
$input-color-default: #c6cbd9;

// Календарь
$event-color: var(--event-color);
$event-color-hover: var(--event-color-hover);

// Кнопки
$primary-color: var(--primary-color);
$primary-color-hover: var(--primary-color-hover);
$primary-color-active: var(--primary-color-active);
$primary-color-disabled: var(--primary-color-disabled);
$content-color: var(--content-color);
$primary-color-green: var(--primary-color-green);
$primary-color-green-hover: var(--primary-color-green-hover);
$primary-color-green-click: var(--primary-color-green-click);
$primary-color-green-disabled: var(--primary-color-green-disabled);
$num-button-text: #cdd0df;
$num-button-text-click: #dae1f1;

$secondary-color: var(--secondary-color);

$padding-button-l: 17px 28px;
$padding-button-m: 11px 20px;
$padding-button-s: 7px 16px;
$padding-button-xs: 4px 24px;

$padding-button-without-text-desc: 12px;
$padding-button-without-text-tab: 8px;
$padding-tag-link-desc: 12px 20px;
$padding-tag-link-tab: 8px 16px;
$padding-tag-button-desc: 4px 24px;
$padding-tag-button-tab: 4px 16px;

// Категории
$health-color: linear-gradient(#8eec87 0%, #447ecb 100%);
$finance-color: linear-gradient(#e8aaef 0%, #3172c6 100%);
$projects-color: linear-gradient(#8edcd6 0%, #1679b7 100%);
$social-color: linear-gradient(#f97a7c 0%, #5280ea 100%);

// Дума
$dm-project-bg-1: linear-gradient(244.39deg, #0d6cba 25.53%, #cccac5 104.75%);
$dm-project-bg-2: linear-gradient(256.37deg, #255ba0 35.08%, #15b3e7 111.88%);
$dm-project-bg-3: linear-gradient(254.18deg, #255ba0 35.1%, #15e7d9 121.05%);

// Опросы
$interview-color: #2dbb45;
$interview-end-color: #d10404;

// Слабовидящие
$visibility-back: #b2d9ff;

// Шрифты

//Start - FontWeight
$font-weight-regular: 300;
$font-weight-medium: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 600;
//End - FontWeight

$breakpoint-md: 992px;
$breakpoint-sm: 768px;

// Mixin colors
@mixin dm-icon-color {
    filter: invert(55%) sepia(88%) saturate(3553%) hue-rotate(28deg) brightness(99%) contrast(81%);
}

// Mixin colors
@mixin visible-lines($num) {
    display: -webkit-box;
    -webkit-line-clamp: $num;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

// Mixin media
@mixin respond-to($breakpoint) {
    @if $breakpoint ==md {
        @media (max-width: $breakpoint-md) {
            @content;
        }
    } @else if $breakpoint ==sm {
        @media (max-width: $breakpoint-sm) {
            @content;
        }
    }
}

// Mixin Container Padding
@mixin main-padding {
    padding: 0 64px;

    @include respond-to(md) {
        padding: 0 20px;
    }

    @include respond-to(sm) {
        padding: 0 27px;
    }
}

@mixin heading-h1 {
    font-weight: $font-weight-semi-bold;
    font-size: calc(40px * var(--scale));
    line-height: calc(48px * var(--lh));

    @include respond-to(md) {
        font-size: calc(20px * var(--scale));
        line-height: calc(24px * var(--lh));
    }
}

@mixin heading-h2 {
    font-weight: $font-weight-semi-bold;
    font-size: calc(32px * var(--scale));
    line-height: calc(38px * var(--lh));

    @include respond-to(md) {
        font-size: calc(16px * var(--scale));
        line-height: calc(20px * var(--lh));
    }
}

@mixin heading-h3 {
    font-weight: $font-weight-semi-bold;
    font-size: calc(24px * var(--scale));
    line-height: calc(28px * var(--lh));

    @include respond-to(md) {
        font-size: calc(16px * var(--scale));
        line-height: calc(20px * var(--lh));
    }
}

@mixin heading-h4 {
    font-weight: $font-weight-semi-bold;
    font-size: calc(20px * var(--scale));
    line-height: calc(24px * var(--lh));

    @include respond-to(md) {
        font-size: calc(14px * var(--scale));
        line-height: calc(18px * var(--lh));
    }
}

@mixin heading-h5 {
    font-weight: $font-weight-semi-bold;
    font-size: calc(16px * var(--scale));
    line-height: calc(20px * var(--lh));

    @include respond-to(md) {
        font-size: calc(12px * var(--scale));
        line-height: calc(16px * var(--lh));
    }
}

@mixin heading-h6 {
    font-weight: $font-weight-semi-bold;
    font-size: calc(12px * var(--scale));
    line-height: calc(16px * var(--lh));

    @include respond-to(md) {
        font-size: calc(10px * var(--scale));
        line-height: calc(14px * var(--lh));
    }
}

@mixin caption-1 {
    font-weight: $font-weight-regular;
    font-size: calc(20px * var(--scale));
    line-height: calc(24px * var(--lh));

    @include respond-to(md) {
        font-size: calc(14px * var(--scale));
        line-height: calc(18px * var(--lh));
    }
}

@mixin caption-2 {
    font-weight: $font-weight-regular;
    font-size: calc(16px * var(--scale));
    line-height: calc(20px * var(--lh));

    @include respond-to(md) {
        font-size: calc(12px * var(--scale));
        line-height: calc(16px * var(--lh));
    }
}

@mixin caption-3 {
    font-weight: $font-weight-regular;
    font-size: calc(14px * var(--scale));
    line-height: calc(18px * var(--lh));

    @include respond-to(md) {
        font-size: calc(10px * var(--scale));
        line-height: calc(14px * var(--lh));
    }
}

@mixin caption-4 {
    font-weight: $font-weight-regular;
    font-size: calc(12px * var(--scale));
    line-height: calc(16px * var(--lh));

    @include respond-to(md) {
        font-size: calc(10px * var(--scale));
        line-height: calc(14px * var(--lh));
    }
}

@mixin caption-5 {
    font-weight: $font-weight-regular;
    font-size: calc(10px * var(--scale));
    line-height: calc(14px * var(--lh));

    @include respond-to(md) {
        font-size: calc(8px * var(--scale));
        line-height: calc(12px * var(--lh));
    }
}

@mixin lead-1 {
    font-weight: $font-weight-medium;
    font-size: calc(28px * var(--scale));
    line-height: calc(34px * var(--lh));

    @include respond-to(md) {
        font-size: calc(18px * var(--scale));
        line-height: calc(22px * var(--lh));
    }
}

@mixin lead-2 {
    font-weight: $font-weight-medium;
    font-size: calc(24px * var(--scale));
    line-height: calc(28px * var(--lh));

    @include respond-to(md) {
        font-size: calc(16px * var(--scale));
        line-height: calc(20px * var(--lh));
    }
}

@mixin lead-3 {
    font-weight: $font-weight-medium;
    font-size: calc(20px * var(--scale));
    line-height: calc(24px * var(--lh));

    @include respond-to(md) {
        font-size: calc(14px * var(--scale));
        line-height: calc(18px * var(--lh));
    }
}

@mixin lead-4 {
    font-weight: $font-weight-medium;
    font-size: calc(18px * var(--scale));
    line-height: calc(22px * var(--lh));

    @include respond-to(md) {
        font-size: calc(12px * var(--scale));
        line-height: calc(16px * var(--lh));
    }
}

@mixin lead-5 {
    font-weight: $font-weight-medium;
    font-size: calc(16px * var(--scale));
    line-height: calc(20px * var(--lh));

    @include respond-to(md) {
        font-size: calc(12px * var(--scale));
        line-height: calc(16px * var(--lh));
    }
}

@mixin lead-6 {
    font-weight: $font-weight-medium;
    font-size: calc(14px * var(--scale));
    line-height: calc(18px * var(--lh));

    @include respond-to(md) {
        font-size: calc(10px * var(--scale));
        line-height: calc(14px * var(--lh));
    }
}

@mixin text-1 {
    font-weight: $font-weight-regular;
    font-size: calc(20px * var(--scale));
    line-height: calc(28px * var(--lh));

    @include respond-to(md) {
        font-size: calc(16px * var(--scale));
        line-height: calc(24px * var(--lh));
    }
}

@mixin text-2 {
    font-weight: $font-weight-regular;
    font-size: calc(16px * var(--scale));
    line-height: calc(24px * var(--lh));

    @include respond-to(md) {
        font-size: calc(14px * var(--scale));
        line-height: calc(20px * var(--lh));
    }
}

@mixin text-3 {
    font-weight: $font-weight-regular;
    font-size: calc(14px * var(--scale));
    line-height: calc(20px * var(--lh));

    @include respond-to(md) {
        font-size: calc(14px * var(--scale));
        line-height: calc(20px * var(--lh));
    }
}

@mixin tags-label {
    font-weight: $font-weight-semi-bold;
    font-size: calc(11px * var(--scale));
    line-height: calc(14px * var(--lh));
    text-transform: uppercase;
}

// Устарело все что ниже. Удалить
// Start - Title
@mixin title-1 {
    font-weight: $font-weight-semi-bold;
    font-size: 32px;
    line-height: 38px;

    @media (max-width: 1000px) {
        font-size: 16px;
        line-height: 20px;
    }
}

@mixin title-2 {
    font-weight: $font-weight-semi-bold;
    font-size: 28px;
    line-height: 36px;

    @media (max-width: 1000px) {
        font-size: 14px;
        line-height: 18px;
    }
}

@mixin title-3 {
    font-weight: $font-weight-semi-bold;
    font-size: 24px;
    line-height: 28px;

    @media (max-width: 1000px) {
        font-size: 12px;
        line-height: 16px;
    }
}

@mixin title-4 {
    font-weight: $font-weight-semi-bold;
    font-size: 20px;
    line-height: 24px;

    @media (max-width: 1000px) {
        font-size: 10px;
        line-height: 14px;
    }
}

@mixin title-5 {
    font-weight: $font-weight-semi-bold;
    font-size: 16px;
    line-height: 20px;

    @media (max-width: 1000px) {
        // Спросить, что тут должно быть
    }
}

@mixin title-6 {
    font-weight: $font-weight-semi-bold;
    font-size: 14px;
    line-height: 16px;

    @media (max-width: 1000px) {
        // Спросить, что тут должно быть
    }
}

/*** Finish - Title ***/

// Finish - Title

@mixin desc-h1 {
    @include heading-h1();
}

@mixin desc-h2 {
    @include heading-h2();
}

@mixin desc-h3 {
    @include heading-h3();
}

@mixin desc-h4 {
    @include heading-h4();
}

@mixin desc-h5 {
    @include heading-h5();
}

@mixin desc-h6 {
    @include heading-h6();
}

@mixin mob-h3() {
    font-size: 14px;
    line-height: 16px;
}

@mixin desc-title {
    font-size: 14px;
    line-height: 20px;
}

@mixin desc-title5 {
    @include title-5();
}

@mixin desc-text1 {
    @include text-1();
}

@mixin desc-text2 {
    @include text-2();
}

@mixin desc-text3 {
    @include text-3();
}

@mixin desc-text4 {
    @include text-3();
}

@mixin desc-calender {
    font-size: 18px;
    line-height: 24px;
}

@mixin desc-label1 {
    font-size: 28px;
    line-height: 36px;
}

@mixin desc-label2 {
    font-size: 11px;
    line-height: 14px;
}

@mixin desc-ser-label {
    font-size: 13px;
    line-height: 18px;
}

@mixin desc-tags-label {
    font-size: 11px;
    line-height: 14px;
}

@mixin desc-link {
    font-size: 20px;
    line-height: 32px;
}

// Планшет
@mixin tab-h1 {
    font-size: 20px;
    line-height: 28px;
}

@mixin tab-h2 {
    font-size: 16px;
    line-height: 22px;
}

@mixin tab-h3 {
    font-size: 14px;
    line-height: 20px;
}

@mixin tab-h4 {
    font-size: 12px;
    line-height: 18px;
}

@mixin tab-title1 {
    font-size: 16px;
    line-height: 24px;
}

@mixin tab-title2 {
    font-size: 12px;
    line-height: 18px;
}

@mixin tab-text1 {
    font-size: 13px;
    line-height: 18px;
}

@mixin tab-text2 {
    font-size: 11px;
    line-height: 16px;
}

@mixin tab-text3 {
    font-size: 16px;
    line-height: 24px;
}

@mixin tab-link {
    font-size: 12px;
    line-height: 16px;
}

// Мобильный
@mixin mob-h1 {
    font-size: 24px;
    line-height: 32px;
}