// ЦВЕТА

// Типографика
$main-text: #040528;
$main-text-dark-bg: #ffffff;
$second-text: #15195a;
$tertiary-text: #78839c;
$tertiary-text-dark-bg: #e9e9e9;
$fourth-text: #c0c2cc;
$fourth-text-inverse: #ebedf4;

// Фон
$cards-background: #fafafa;

// Иконки
$icons-color: #1a2d82;
$icons-background: #f7fbfe;

// Инпуты
$input-color-default: #c6cbd9;

// Календарь
$event-color: #e7edfb;
$event-color-hover: #e7edfb;

// Кнопки
$primary-color: #004cc4;
$primary-color-hover: #0a5fe7;
$primary-color-active: #003ea2;
$primary-color-disabled: #c2d8ff;
$content-color: #ffffff;
$primary-color-green: #14bc30;
$primary-color-green-hover: #10cd30;
$primary-color-green-click: #0c9022;
$primary-color-green-disabled: #dbdbdb;
$padding-button-l: 16px 28px;
$padding-button-m: 12px 20px;
$padding-button-s: 8px 16px;
$padding-button-xs: 4px 24px;

$padding-button-without-text-desc: 12px;
$padding-button-without-text-tab: 8px;
$padding-tag-link-desc: 12px 20px;
$padding-tag-link-tab: 8px 16px;
$padding-tag-button-desc: 4px 24px;
$padding-tag-button-tab: 4px 16px;

// Категории
$health-color: linear-gradient(#8eec87 0%, #447ecb 100%);
$finance-color: linear-gradient(#e8aaef 0%, #3172c6 100%);
$projects-color: linear-gradient(#8edcd6 0%, #1679b7 100%);
$social-color: linear-gradient(#f97a7c 0%, #5280ea 100%);

// Опросы
$interview-color: #2dbb45;
$interview-end-color: #d10404;

// Шрифты

/*** Start - FontWeight ***/
$font-weight-regular: 300;
$font-weight-medium: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 600;
/*** End - FontWeight ***/

/*** Start - Heading ***/
@mixin heading-h1 {
    font-weight: $font-weight-semi-bold;
    font-size: 40px;
    line-height: 48px;

    @media (max-width: 768px) {
        font-size: 20px;
        line-height: 24px;
    }
}

@mixin heading-h2 {
    font-weight: $font-weight-semi-bold;
    font-size: 32px;
    line-height: 38px;

    @media (max-width: 768px) {
        font-size: 16px;
        line-height: 20px;
    }
}

@mixin heading-h3 {
    font-weight: $font-weight-semi-bold;
    font-size: 24px;
    line-height: 28px;

    @media (max-width: 768px) {
        font-size: 14px;
        line-height: 18px;
    }
}

@mixin heading-h4 {
    font-weight: $font-weight-semi-bold;
    font-size: 20px;
    line-height: 28px;

    @media (max-width: 768px) {
        font-size: 12px;
        line-height: 16px;
    }
}

@mixin heading-h5 {
    font-weight: $font-weight-semi-bold;
    font-size: 16px;
    line-height: 24px;

    @media (max-width: 768px) {
        font-size: 10px;
        line-height: 12px;
    }
}

@mixin heading-h6 {
    font-weight: $font-weight-semi-bold;
    font-size: 13px;
    line-height: 16px;
    // Спросить, что тут должно быть
}

/*** Finish - Heading ***/

/*** Start - Title ***/
@mixin title-1 {
    font-weight: $font-weight-semi-bold;
    font-size: 32px;
    line-height: 38px;

    @media (max-width: 768px) {
        font-size: 16px;
        line-height: 20px;
    }
}

@mixin title-2 {
    font-weight: $font-weight-semi-bold;
    font-size: 28px;
    line-height: 36px;

    @media (max-width: 768px) {
        font-size: 14px;
        line-height: 18px;
    }
}

@mixin title-3 {
    font-weight: $font-weight-semi-bold;
    font-size: 24px;
    line-height: 28px;

    @media (max-width: 768px) {
        font-size: 12px;
        line-height: 16px;
    }
}

@mixin title-4 {
    font-weight: $font-weight-semi-bold;
    font-size: 20px;
    line-height: 24px;

    @media (max-width: 768px) {
        font-size: 10px;
        line-height: 14px;
    }
}

@mixin title-5 {
    font-weight: $font-weight-semi-bold;
    font-size: 16px;
    line-height: 20px;

    @media (max-width: 768px) {
        // Спросить, что тут должно быть
    }
}

@mixin title-6 {
    font-weight: $font-weight-semi-bold;
    font-size: 14px;
    line-height: 16px;

    @media (max-width: 768px) {
        // Спросить, что тут должно быть
    }
}

/*** Finish - Title ***/

/*** Start - Text ***/

@mixin text-1 {
    font-weight: $font-weight-regular;
    font-size: 24px;
    line-height: 32px;

    @media (max-width: 768px) {
        // Спросить, что тут должно быть
    }
}

@mixin text-2 {
    font-weight: $font-weight-regular;
    font-size: 20px;
    line-height: 30px;

    @media (max-width: 768px) {
        font-size: 12px;
        line-height: 18px;
    }
}

@mixin text-3 {
    font-weight: $font-weight-regular;
    font-size: 16px;
    line-height: 24px;

    @media (max-width: 768px) {
        font-size: 10px;
        line-height: 16px;
    }
}

@mixin text-4 {
    font-weight: $font-weight-regular;
    font-size: 14px;
    line-height: 20px;

    @media (max-width: 768px) {
        // Спросить, что тут должно быть
    }
}

/*** Finish - Text ***/

// Устаревшее
@mixin desc-h1 {
    @include heading-h1();
}

@mixin desc-h2 {
    @include heading-h2();
}

@mixin desc-h3 {
    @include heading-h3();
}

@mixin desc-h4 {
    @include heading-h4();
}

@mixin desc-h5 {
    @include heading-h5();
}

@mixin desc-h6 {
    @include heading-h6();
}

@mixin mob-h3() {
    font-size: 14px;
    line-height: 16px;
}

@mixin desc-title {
    font-size: 14px;
    line-height: 20px;
}

@mixin desc-title5 {
    @include title-5();
}

@mixin desc-text1 {
    @include text-1();
}

@mixin desc-text2 {
    @include text-2();
}

@mixin desc-text3 {
    @include text-3();
}

@mixin desc-text4 {
    @include text-4();
}

@mixin desc-caption1 {
    font-size: 13px;
    line-height: 18px;
}

@mixin desc-calender {
    font-size: 18px;
    line-height: 24px;
}

@mixin desc-label1 {
    font-size: 28px;
    line-height: 36px;
}

@mixin desc-label2 {
    font-size: 11px;
    line-height: 14px;
}

@mixin desc-ser-label {
    font-size: 13px;
    line-height: 18px;
}

@mixin desc-tags-label {
    font-size: 11px;
    line-height: 14px;
}

@mixin desc-link {
    font-size: 20px;
    line-height: 32px;
}

// Планшет
@mixin tab-h1 {
    font-size: 20px;
    line-height: 28px;
}

@mixin tab-h2 {
    font-size: 16px;
    line-height: 22px;
}

@mixin tab-h3 {
    font-size: 14px;
    line-height: 20px;
}

@mixin tab-h4 {
    font-size: 12px;
    line-height: 18px;
}

@mixin tab-title1 {
    font-size: 16px;
    line-height: 24px;
}

@mixin tab-title2 {
    font-size: 12px;
    line-height: 18px;
}

@mixin tab-text1 {
    font-size: 13px;
    line-height: 18px;
}

@mixin tab-text2 {
    font-size: 11px;
    line-height: 16px;
}

@mixin tab-text3 {
    font-size: 16px;
    line-height: 24px;
}

@mixin tab-link {
    font-size: 12px;
    line-height: 16px;
}

// Мобильный
@mixin mob-h1 {
    font-size: 24px;
    line-height: 32px;
}