include ./telephone 

+telephone([
            {
                title: 'Муниципальные учреждения',
                items: [
                    {
                        title: 'Муниципальные предприятия и учреждения департамента городского хозяйства',
                        items: [
                            {
                                title: 'Муниципальное казенное учреждение «Казна городского хозяйства» (МКУ «КГХ»)',
                                phones: [
                                            {
                                                name:'Малыхин Виталий Викторович',
                                                status: 'Заместитель Главы города Сургута',
                                                addr: 'пр. Набережный, 14 ул. Майская, 10',
                                                cab: '311',
                                                num: '+7 (3462) 52-66-66',
                                                mail: 'gorod@admsurgut.ru, khisamova_af@admsurgut.ru'
                                            },
                                            {
                                                name:'Малыхин Виталий Викторович',
                                                status: 'Заместитель Главы города Сургута',
                                                addr: 'пр. Набережный, 14 ул. Майская, 10',
                                                cab: '311',
                                                num: '+7 (3462) 52-66-66',
                                                mail: 'gorod@admsurgut.ru, khisamova_af@admsurgut.ru'
                                            }
                                        ]
                            },
                            {
                                title: 'Cургутское городское муниципальное унитарное предприятие «Горводоканал» (СГМУП «ГВК»)',
                                phones: [
                                            {
                                                name:'Малыхин Виталий Викторович',
                                                status: 'Заместитель Главы города Сургута',
                                                addr: 'пр. Набережный, 14 ул. Майская, 10',
                                                cab: '311',
                                                num: '+7 (3462) 52-66-66',
                                                mail: 'gorod@admsurgut.ru, khisamova_af@admsurgut.ru'
                                            }
                                        ]
                            },
                            {
                                title: 'Cургутское городское муниципальное унитарное предприятие «Горводоканал» (СГМУП «ГВК»)',
                            },
                            {
                                title: 'Cургутское городское муниципальное унитарное предприятие «Горводоканал» (СГМУП «ГВК»)',
                                phones: [
                                            {
                                                name:'Малыхин Виталий Викторович',
                                                status: 'Заместитель Главы города Сургута',
                                                addr: 'пр. Набережный, 14 ул. Майская, 10',
                                                cab: '311',
                                                num: '+7 (3462) 52-66-66',
                                                mail: 'gorod@admsurgut.ru, khisamova_af@admsurgut.ru'
                                            }
                                        ]
                            },
                        ]
                    },
                    {
                        title: 'Учреждения департамента архитектуры и градостроительства',
                    },
                    {   
                        title: 'Центр организационного обеспечения деятельности',
                        phones: [
                            {
                                name:'Малыхин Виталий Викторович',
                                status: 'Заместитель Главы города Сургута',
                                addr: 'пр. Набережный, 14 ул. Майская, 10',
                                cab: '311',
                                num: '+7 (3462) 52-66-66',
                                mail: 'gorod@admsurgut.ru, khisamova_af@admsurgut.ru'
                            },
                            {
                                name:'Малыхин Виталий Викторович',
                                status: 'Заместитель Главы города Сургута',
                                addr: 'пр. Набережный, 14 ул. Майская, 10',
                                cab: '311',
                                num: '+7 (3462) 52-66-66',
                                mail: 'gorod@admsurgut.ru, khisamova_af@admsurgut.ru'
                            }
                        ],
                        items: [
                            {
                                title:'Отдел финансовых расчетов',
                                phones: [
                                            {
                                                name:'Малыхин Виталий Викторович',
                                                status: 'Заместитель Главы города Сургута',
                                                addr: 'пр. Набережный, 14 ул. Майская, 10',
                                                cab: '311',
                                                num: '+7 (3462) 52-66-66',
                                                mail: 'gorod@admsurgut.ru, khisamova_af@admsurgut.ru'
                                            },
                                            {
                                                status: 'Заместитель Главы города Сургута',
                                                addr: 'пр. Набережный, 14 ул. Майская, 10',
                                                cab: '311',
                                                num: '+7 (3462) 52-66-66',
                                                mail: 'gorod@admsurgut.ru, khisamova_af@admsurgut.ru'
                                            }
                                        ],
                                items: [
                                    {
                                        title:'Бухгалтерия',
                                        phones: [
                                                    {
                                                        name:'Малыхин Виталий Викторович',
                                                        status: 'Заместитель Главы города Сургута',
                                                        addr: 'пр. Набережный, 14 ул. Майская, 10',
                                                        cab: '311',
                                                        num: '+7 (3462) 52-66-66',
                                                        mail: 'gorod@admsurgut.ru, khisamova_af@admsurgut.ru'
                                                    },
                                                    {
                                                        name:'Малыхин Виталий Викторович',
                                                        status: 'Заместитель Главы города Сургута',
                                                        addr: 'пр. Набережный, 14 ул. Майская, 10',
                                                        cab: '311',
                                                        num: '+7 (3462) 52-66-66',
                                                        mail: 'gorod@admsurgut.ru, khisamova_af@admsurgut.ru'
                                                    }
                                                ],
                                        items: [
                                            {
                                                title: 'Отдел расчетов с подотчетными лицами',
                                                phones: [
                                                            {
                                                                name:'Малыхин Виталий Викторович',
                                                                status: 'Заместитель Главы города Сургута',
                                                                addr: 'пр. Набережный, 14 ул. Майская, 10',
                                                                cab: '311',
                                                                num: '+7 (3462) 52-66-66',
                                                                mail: 'gorod@admsurgut.ru, khisamova_af@admsurgut.ru'
                                                            },
                                                            {
                                                                name:'Малыхин Виталий Викторович',
                                                                status: 'Заместитель Главы города Сургута',
                                                                addr: 'пр. Набережный, 14 ул. Майская, 10',
                                                                cab: '311',
                                                                num: '+7 (3462) 52-66-66',
                                                                mail: 'gorod@admsurgut.ru, khisamova_af@admsurgut.ru'
                                                            }
                                                        ]
                                            },
                                            {
                                                title: 'Отдел расчетов с персоналом'
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ])