include ../elem/telephone-elem

mixin telephone(items)
    .telephone
        .telephone-search 
            .telephone-search-top
                +input({ placeholder: 'ФИО', name: 'fio' })
            .telephone-search-mid 
                +input({ placeholder: 'Должность', name: 'status' })
                +input({ placeholder: 'Подразделение', name: 'division' })
                +input({ placeholder: 'Телефон', name: 'phone' })
            .telephone-search-bot 
                +input({ placeholder: 'Контекстный поиск', name: 'first_name' })
                .telephone-search-bot-btns 
                    +button({ size: 'l', type: 'button', class: 'button_white',  text: 'Сбросить' })
                    +button({ size: 'l', type: 'button', class: 'button_blue',  text: 'Искать' })
        each item in items
            +telephone-elem(item)