mixin about-info()
    .about-info 
        .about-info-row 
            .about-card 
                .about-card-left
                    span.about-card-subtitle Площадь территории
                    span.about-card-fact 353,97 кв.км.
                .about-card-right
                    img(src='../resources/about_earth.svg').about-card-img
        .about-info-row 
            span.about-info-text #[b Муниципальное образование] городской округ город Сургут Ханты-Мансийский автономный округ – Югра
            .about-card 
                .about-card-left
                    span.about-card-title Год основания 
                    span.about-card-subtitle города Сургута
                .about-card-right
                    span.about-card-fact 1594
            span.about-info-text Территория городского округа граничит с муниципальными образованиями: Сургутский муниципальный район, городское поселение Белый Яр, городское поселение Барсово, сельское поселение Солнечный.    
            .about-card 
                .about-card-left
                    span.about-card-title День города 
                    n.about-card-subtitle Сургута
                .about-card-right
                    span.about-card-fact 12 июня
        .about-info__map   
            .about-info__map-content
                img(src='../img/about_map.png').about-info__map-image
                .about-info__map-desc-block  
                    .about-info__map-title #[b Муниципальное образование:] городской округ город Сургут Ханты-Мансийский автономный округ – Югра
                    ul.about-info__map-list #[b Территория городского округа граничит с муниципальными образованиями:] 
                        li.about-info__map-list-item Сургутский муниципальный район  
                        li.about-info__map-list-item городское поселение Белый Яр
                        li.about-info__map-list-item городское поселение Барсово
                        li.about-info__map-list-item сельское поселение Солнечный   