include ./monuments-elem 

+monuments-elem(
                    {
                        title:'Скульптурная композиция Первооткрывателям города Сургута',
                        img: 'kirilenko_avatar.png',
                        date: '8 сентября 1968г.',
                        addr: 'Нефтеюганское шоссе, 20, на территории БУ ХМАО – Югры «Окружная клиническая больница «Травматологический центр»',
                        author: 'Автор проекта Стародумов В. Включает в себя памятники: «Борцам за Советскую власть» и «Сургутянам», павшим на фронтах ВОВ'
                    }
                )