include ../../news/news-main-card/news-main-card

mixin afisha-events()
    .afisha-events
        .afisha-events__container                                                            
            .afisha-events__news
                +news-main-card(
                {
                    image: 'image_1.jpg',
                    date: '10 июня 2023',
                    title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                    tags: [
                        {
                            type: 'button',
                            size: 'xs', 
                            class: 'button_blue button_radius news-card__tag', 
                            text: 'история',
                        }                      
                    ]
                },
                )
                +news-main-card(
                {
                    image: 'image_2.jpg',
                    date: '10 июня 2023',
                    title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                    tags: [
                        {
                            type: 'button',
                            size: 'xs', 
                            class: 'button_blue button_radius news-card__tag', 
                            text: 'Медицина',
                        },
                        {
                            type: 'button',
                            size: 'xs', 
                            class: 'button_blue button_radius news-card__tag', 
                            text: 'Награды',
                        }                      
                        ]
                },
                )
                +news-main-card(
                {
                    image: 'image_3.jpg',
                    date: '10 июня 2023',
                    title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                    tags: [
                        {
                            type: 'button',
                            size: 'xs', 
                            class: 'button_blue button_radius news-card__tag', 
                            text: 'Пожары',
                        },                   
                        ]
                },
                )
                +news-main-card(
                {
                    image: 'image_4.jpg',
                    date: '10 июня 2023',
                    title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                    tags: [
                        {
                            type: 'button',
                            size: 'xs', 
                            class: 'button_blue button_radius news-card__tag', 
                            text: 'Пожары',
                        },                   
                        ]
                },
                )
                +news-main-card(
                {
                    image: 'image_1.jpg',
                    date: '10 июня 2023',
                    title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                    tags: [
                        {
                            type: 'button',
                            size: 'xs', 
                            class: 'button_blue button_radius news-card__tag', 
                            text: 'история',
                        }                     
                        ]
                },
                )
                +news-main-card(
                {
                    image: 'image_2.jpg',
                    date: '10 июня 2023',
                    title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                    tags: [
                        {
                            type: 'button',
                            size: 'xs', 
                            class: 'button_blue button_radius news-card__tag', 
                            text: 'Медицина',
                        },
                        {
                            type: 'button',
                            size: 'xs', 
                            class: 'button_blue button_radius  news-card__tag', 
                            text: 'Награды',
                        }                      
                        ]
                },
                )
                +news-main-card(
                {
                    image: 'image_3.jpg',
                    date: '10 июня 2023',
                    title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                    tags: [
                        {
                            type: 'button',
                            size: 'xs', 
                            class: 'button_blue button_radius news-card__tag', 
                            text: 'Пожары',
                        },                   
                        ]
                },
                )
                +news-main-card(
                {
                    image: 'image_5.png',
                    date: '10 июня 2023',
                    title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                    tags: [
                        {
                            type: 'button',
                            size: 'xs', 
                            class: 'button_blue button_radius news-card__tag', 
                            text: 'Пожары',
                        },                   
                        ]
                },
                )
                +news-main-card(
                {
                    image: 'image_1.jpg',
                    date: '10 июня 2023',
                    title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                    tags: [
                        {
                            type: 'button',
                            size: 'xs', 
                            class: 'button_blue button_radius news-card__tag', 
                            text: 'Пожары',
                        },                   
                        ]
                },
                )
                +news-main-card(
                {
                    image: 'image_2.jpg',
                    date: '10 июня 2023',
                    title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                    tags: [
                        {
                            type: 'button',
                            size: 'xs', 
                            class: 'button_blue button_radius news-card__tag', 
                            text: 'Пожары',
                        },                   
                        ]
                },
                )
                +news-main-card(
                {
                    image: 'image_3.jpg',
                    date: '10 июня 2023',
                    title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                    tags: [
                        {
                            type: 'button',
                            size: 'xs', 
                            class: 'button_blue button_radius news-card__tag', 
                            text: 'Пожары',
                        },                   
                        ]
                },
                )
                +news-main-card(
                {
                    image: 'image_4.jpg',
                    date: '10 июня 2023',
                    title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                    tags: [
                        {
                            type: 'button',
                            size: 'xs', 
                            class: 'button_blue button_radius news-card__tag', 
                            text: 'Пожары',
                        },                   
                        ]
                },
                )
                +news-main-card(
                {
                    image: 'image_1.jpg',
                    date: '10 июня 2023',
                    title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                    tags: [
                        {
                            type: 'button',
                            size: 'xs', 
                            class: 'button_blue button_radius news-card__tag', 
                            text: 'Пожары',
                        },                   
                        ]
                },
                )
                +news-main-card(
                {
                    image: 'image_2.jpg',
                    date: '10 июня 2023',
                    title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                    tags: [
                        {
                            type: 'button',
                            size: 'xs', 
                            class: 'button_blue button_radius news-card__tag', 
                            text: 'Пожары',
                        },                   
                        ]
                },
                )
                +news-main-card(
                {
                    image: 'image_3.jpg',
                    date: '10 июня 2023',
                    title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                    tags: [
                        {
                            type: 'button',
                            size: 'xs', 
                            class: 'button_blue button_radius news-card__tag', 
                            text: 'Пожары',
                        },                   
                        ]
                },
                )
                +news-main-card(
                {
                    image: 'image_5.png',
                    date: '10 июня 2023',
                    title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                    tags: [
                        {
                            type: 'button',
                            size: 'xs', 
                            class: 'button_blue button_radius news-card__tag', 
                            text: 'Пожары',
                        },                   
                        ]
                },
                )
                +news-main-card(
                {
                    image: 'image_1.jpg',
                    date: '10 июня 2023',
                    title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                    tags: [
                        {
                            type: 'button',
                            size: 'xs', 
                            class: 'button_blue button_radius news-card__tag', 
                            text: 'Пожары',
                        },                   
                        ]
                },
                )
                +news-main-card(
                {
                    image: 'image_2.jpg',
                    date: '10 июня 2023',
                    title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                    tags: [
                        {
                            type: 'button',
                            size: 'xs', 
                            class: 'button_blue button_radius news-card__tag', 
                            text: 'Пожары',
                        },                   
                        ]
                },
                )
                +news-main-card(
                {
                    image: 'image_3.jpg',
                    date: '10 июня 2023',
                    title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                    tags: [
                        {
                            type: 'button',
                            size: 'xs', 
                            class: 'button_blue button_radius news-card__tag', 
                            text: 'Пожары',
                        },                   
                        ]
                },
                )
                +news-main-card(
                {
                    image: 'image_4.jpg',
                    date: '10 июня 2023',
                    title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                    tags: [
                        {
                            type: 'button',
                            size: 'xs', 
                            class: 'button_blue button_radius news-card__tag', 
                            text: 'Пожары',
                        },                   
                        ]
                },
                )
                +news-main-card(
                {
                    image: 'image_1.jpg',
                    date: '10 июня 2023',
                    title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                    tags: [
                        {
                            type: 'button',
                            size: 'xs', 
                            class: 'button_blue button_radius news-card__tag', 
                            text: 'Пожары',
                        },                   
                        ]
                },
                )
                +news-main-card(
                {
                    image: 'image_2.jpg',
                    date: '10 июня 2023',
                    title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                    tags: [
                        {
                            type: 'button',
                            size: 'xs', 
                            class: 'button_blue button_radius news-card__tag', 
                            text: 'Пожары',
                        },                   
                        ]
                },
                )
                +news-main-card(
                {
                    image: 'image_3.jpg',
                    date: '10 июня 2023',
                    title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                    tags: [
                        {
                            type: 'button',
                            size: 'xs', 
                            class: 'button_blue button_radius news-card__tag', 
                            text: 'Пожары',
                        },                   
                        ]
                },
                )
                +news-main-card(
                {
                    image: 'image_5.png',
                    date: '10 июня 2023',
                    title: 'Памятный знак для будущего «Сургутского кремля» создадут горожане',
                    tags: [
                        {
                            type: 'button',
                            size: 'xs', 
                            class: 'button_blue button_radius news-card__tag', 
                            text: 'Пожары',
                        },                   
                        ]
                },
                )