@use '../../../../assets/styles/vars.scss' as *;

.afisha-events {
    .afisha-events__container {
        .calendar {
            margin-bottom: 20px;
        }

        .afisha-events__news {
            display: grid;
            grid-template-columns: repeat(4, calc((100% - 72px)/4));
            gap: 24px;

            @include respond-to(md) {
                gap: 8px;
                grid-template-columns: repeat(3, calc((100% - 24px)/3));
            }

            @include respond-to(sm) {
                gap: 12px;
                grid-template-columns: repeat(2, calc((100% - 12px)/2));
            }

            @include respond-to(xs) {     
                grid-template-columns: 100%;
                justify-items: center;
            }
        }
    }
}