.help-city {
  margin: 0 0 48px;
}
@media (max-width: 992px) {
  .help-city {
    margin: 0 0 20px;
  }
}
.help-city .help-city__content .main-project-card {
  margin-right: 24px;
}
@media (max-width: 992px) {
  .help-city .help-city__content .main-project-card {
    margin-right: 8px;
  }
}
.help-city .help-city__navigation {
  display: none;
}
@media (max-width: 992px) {
  .help-city .help-city__navigation {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}

@media (max-width: 992px) {
  .help-city__tabs {
    display: none;
  }
}