.main-help-city {
  margin: 0 0 47px;
}
@media screen and (max-width: 1000px) {
  .main-help-city {
    margin: 0 0 23px;
  }
}
@media screen and (max-width: 600px) {
  .main-help-city {
    margin: 0 0 15px;
  }
}
.main-help-city .main-help-city__content {
  display: flex;
  gap: 24px;
}
@media screen and (max-width: 1000px) {
  .main-help-city .main-help-city__content {
    gap: 8px;
  }
}
@media (max-width: 600px) {
  .main-help-city .main-help-city__content {
    display: grid;
    grid-template-columns: repeat(2, 336px);
    overflow-y: scroll;
    scrollbar-width: none;
  }
}
.main-help-city .help-city__navigation {
  display: none;
}
@media screen and (max-width: 1000px) {
  .main-help-city .help-city__navigation {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
}

@media (max-width: 1000px) {
  .help-city__tabs {
    display: none;
  }
}