mixin textarea(options, error)
    .container
        textarea(class=`textarea textarea-${options.size}` placeholder=options.placeholder)
        .counter
            span.current 0
            span /
            span.max 900