include ../_people-care-card

mixin dm-people-care-card()
    .main-people-care__container
        .main-people-care__card-list(id='people-care__card-list') 
            +people-care-card({
                title: 'ДУМАющий Сургут',
                background: 'people-care-card_bg-dm-1',
                desc: 'совместный проект «Сургутской трибуны» и Думы города',
                bg_image: 'dm_people_care_1.svg' 
            })
            +people-care-card({
                title: 'Видео проекты',
                background: 'people-care-card_bg-dm-2',
                desc: 'совместный проект «Сургутской трибуны» и Думы города',
                bg_image: 'dm_people_care_2.svg'  
            })
            +people-care-card({
                title: 'Опросы',
                background: 'people-care-card_bg-dm-3',
                desc: 'совместный проект «Сургутской трибуны» и Думы города',
                bg_image: 'dm_people_care_3.svg' 
            }) 
