include ../event/_event

mixin afisha-universal() 
    +breadcrumbs(
        [
            { sort: '', href: '/', text: 'Главная' },
            { sort: '', text: 'Универсальный модуль'},
        ],
    )
    .afisha
        +title({
            title: 'Универсальный модуль афиши/анонсов/событий',
                })
        +tabs([
            { title: 'Самые важные', href: '/' , value: 'Самые важные', isActive: true},
            { title: 'Официальные выступления', href: '/' , value: 'Официальные выступления'},
            { title: 'Заседания', href: '/' , value: 'Заседания'},
            { title: 'Афиша', href: '/' , value: 'Афиша'},
            ]) 
        +calendar([
            {
            date: '18',
            day: 'Вт',
            class: 'clicked',
            events: '2',
            day_class: 'clicked',
            },
            {
            date: '19',
            day: 'Ср',
            },
            {
            date: '20',
            day: 'Чт',
            class: 'active',
            events: '2',
            day_class: 'active',
            },
            {
            date: '21',
            day: 'Пт',
            class: 'active',
            events: '2',
            day_class: 'active',
            },
            {
            date: '22',
            day: 'Сб',
            },
            {
            date: '23',
            day: 'Вс',
            },
            {
            date: '24',
            day: 'Пр',
            class: 'active',
            events: '2',
            day_class: 'active',
            },
            {
            date: '25',
            day: 'Вт',
            class: 'active',
            events: '2',
            day_class: 'active',
            },
            {
            date: '26',
            day: 'Ср',
            },
            {
            date: '27',
            day: 'Чт',
            class: 'active',
            events: '2',
            day_class: 'active',
            },
            {
            date: '28',
            day: 'Пт',
            class: 'active',
            events: '2',
            day_class: 'active',
            },
            {
            date: '29',
            day: 'Сб',
            },
            {
            date: '30',
            day: 'Вс',
            },
            {
            date: '1',
            day: 'Пн',
            class: 'without-events',
            day_class: 'without-events',
            divider: true,
            },
            {
            date: '2',
            day: 'Вт',
            class: 'active',
            events: '2',
            day_class: 'active',
            },
            {
            date: '3',
            day: 'Ср',
            class: '',
            class: 'without-events',
            day_class: 'without-events',
            },
            {
            date: '4',
            day: 'Чт',
            class: 'active',
            events: '2',
            day_class: 'active',
            },
                ])
        +filters({ checkbox: true })
        .afisha-universal  
            .afisha-universal__content
                .afisha-universal__events-list 
                    +event({
                        time: '11 : 00',
                        building: 'Здание №1',
                        cabinet: '408 каб',
                        description: 'Комиссия по регламенту, депутатской этике, реализации депутатских полномочий, вопросам информационной политики и взаимодействия с институтами гражданского общества',
                        number: '2',
                    })
                    +event({
                        time: '11 : 00',
                        building: 'Здание №1',
                        cabinet: '408 каб',
                        description: 'Комиссия по регламенту, депутатской этике, реализации депутатских полномочий, вопросам информационной политики и взаимодействия с институтами гражданского общества',
                        number: '2',
                    })
                    +event({
                        time: '11 : 00',
                        building: 'Здание №1',
                        cabinet: '408 каб',
                        description: 'Комиссия по регламенту, депутатской этике, реализации депутатских полномочий, вопросам информационной политики и взаимодействия с институтами гражданского общества',
                        number: '2',
                    })
                    +event({
                        time: '11 : 00',
                        building: 'Здание №1',
                        cabinet: '408 каб',
                        description: 'Комиссия по регламенту, депутатской этике, реализации депутатских полномочий, вопросам информационной политики и взаимодействия с институтами гражданского общества',
                        number: '2',
                    })
                    +event({
                        time: '11 : 00',
                        building: 'Здание №1',
                        cabinet: '408 каб',
                        description: 'Комиссия по регламенту, депутатской этике, реализации депутатских полномочий, вопросам информационной политики и взаимодействия с институтами гражданского общества',
                        number: '2',
                    })
                    +event({
                        time: '11 : 00',
                        building: 'Здание №1',
                        cabinet: '408 каб',
                        description: 'Комиссия по регламенту, депутатской этике, реализации депутатских полномочий, вопросам информационной политики и взаимодействия с институтами гражданского общества',
                        number: '2',
                    })
            +navigation({
                first_page: '1',
                end_page: '2',
                })