include ../event/_event

mixin afisha-universal() 
    .afisha-universal  
        .afisha-universal__content
            .afisha-universal__events-list 
                +event({
                    time: '11 : 00',
                    building: 'Здание №1',
                    cabinet: '408 каб',
                    description: 'Комиссия по регламенту, депутатской этике, реализации депутатских полномочий, вопросам информационной политики и взаимодействия с институтами гражданского общества',
                    number: '2',
                })
                +event({
                    time: '11 : 00',
                    building: 'Здание №1',
                    cabinet: '408 каб',
                    description: 'Комиссия по регламенту, депутатской этике, реализации депутатских полномочий, вопросам информационной политики и взаимодействия с институтами гражданского общества',
                    number: '2',
                })
                +event({
                    time: '11 : 00',
                    building: 'Здание №1',
                    cabinet: '408 каб',
                    description: 'Комиссия по регламенту, депутатской этике, реализации депутатских полномочий, вопросам информационной политики и взаимодействия с институтами гражданского общества',
                    number: '2',
                })
                +event({
                    time: '11 : 00',
                    building: 'Здание №1',
                    cabinet: '408 каб',
                    description: 'Комиссия по регламенту, депутатской этике, реализации депутатских полномочий, вопросам информационной политики и взаимодействия с институтами гражданского общества',
                    number: '2',
                })
                +event({
                    time: '11 : 00',
                    building: 'Здание №1',
                    cabinet: '408 каб',
                    description: 'Комиссия по регламенту, депутатской этике, реализации депутатских полномочий, вопросам информационной политики и взаимодействия с институтами гражданского общества',
                    number: '2',
                })
                +event({
                    time: '11 : 00',
                    building: 'Здание №1',
                    cabinet: '408 каб',
                    description: 'Комиссия по регламенту, депутатской этике, реализации депутатских полномочий, вопросам информационной политики и взаимодействия с институтами гражданского общества',
                    number: '2',
                })