include ../../../components/slider/_slider

mixin main-title(data)
    .main-title
        .main-title__container
            if data.type === 'tabs'
                +tabs(data.tabs)
            else    
                h1.main-title__title #{data.title}
            if data.link_text
                a(href=data.href class='main-title__link' role='link' aria-label=data.link_text) #{data.link_text}
            if data.slider
                +slider(data.slider)  