@use '../../../../assets/styles/vars.scss' as *;

.main-title {
    box-sizing: border-box;
    padding: 48px 0 48px;

    @media (max-width: 1000px) {
        padding: 20px 0 20px;
    }

    .main-title__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        .main-title__title {
            @include heading-h1;
        }

        .main-title__link {
            text-decoration: none;
            color: $primary-color;
            @include text-link;

            &:hover {
                text-decoration: underline;
                color: $primary-color-hover;
            }

            &:active {
                text-decoration: underline;
                color: $primary-color-active;
            }

            &:disabled {
                color: $primary-color-disabled;
            }

        }
    }
}