/*** Finish - Title ***/
.line-fields {
  display: flex;
  flex-direction: row;
  gap: 24px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 992px) {
  .line-fields {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 992px) {
  .line-fields {
    flex-wrap: wrap;
    gap: 20px;
  }
}
.line-fields a {
  color: #15195a;
}
.line-fields .label {
  color: #78839c;
  margin-bottom: 12px;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}
@media (max-width: 992px) {
  .line-fields .label {
    font-size: 12px;
    line-height: 16px;
  }
}

.phonebook-main-item {
  padding: 20px;
  background: var(--grey-adm);
  border-radius: 12px;
  margin-bottom: 12px;
}
.phonebook-main-item .line .fio {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
@media (max-width: 992px) {
  .phonebook-main-item .line .fio {
    font-size: 14px;
    line-height: 18px;
  }
}
.phonebook-main-item .line .line-fields {
  padding-top: 12px;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
}
@media (max-width: 992px) {
  .phonebook-main-item .line .line-fields {
    font-size: 14px;
    line-height: 18px;
  }
}
.phonebook-main-item .line .line-fields .line-field:nth-child(1) {
  width: 316px;
}
@media (max-width: 992px) {
  .phonebook-main-item .line .line-fields .line-field:nth-child(1) {
    width: 160px;
  }
}
@media (max-width: 768px) {
  .phonebook-main-item .line .line-fields .line-field:nth-child(1) {
    width: 100%;
  }
}
.phonebook-main-item .line .line-fields .line-field:nth-child(2) {
  width: 264px;
}
@media (max-width: 992px) {
  .phonebook-main-item .line .line-fields .line-field:nth-child(2) {
    width: 117px;
  }
}
.phonebook-main-item .line .line-fields .line-field:nth-child(3) {
  width: 120px;
}
@media (max-width: 1000px) {
  .phonebook-main-item .line .line-fields .line-field:nth-child(3) {
    width: 60px;
  }
}
.phonebook-main-item .line .line-fields .line-field:nth-child(4) {
  width: 212px;
}
@media (max-width: 1000px) {
  .phonebook-main-item .line .line-fields .line-field:nth-child(4) {
    width: 140px;
  }
}
@media (max-width: 768px) {
  .phonebook-main-item .line .line-fields .line-field:nth-child(2), .phonebook-main-item .line .line-fields .line-field:nth-child(3), .phonebook-main-item .line .line-fields .line-field:nth-child(4), .phonebook-main-item .line .line-fields .line-field:nth-child(5) {
    width: calc(50% - 10px);
    box-sizing: border-box;
  }
}

.phonebook-list .sub_header {
  padding: 20px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
@media (max-width: 992px) {
  .phonebook-list .sub_header {
    font-size: 12px;
    line-height: 16px;
  }
}
.phonebook-list .line {
  padding: 20px 0;
}
@media (max-width: 992px) {
  .phonebook-list .line {
    border-bottom: 1px solid #78839c;
  }
  .phonebook-list .line:last-child {
    border-bottom: none;
  }
}
.phonebook-list .line .line-field:nth-child(1) {
  width: 250px;
}
.phonebook-list .line .line-field:nth-child(2) {
  width: 220px;
}
.phonebook-list .line .line-field:nth-child(3) {
  width: 240px;
}
.phonebook-list .line .line-field:nth-child(4) {
  width: 80px;
}
.phonebook-list .line .line-field:nth-child(5) {
  width: 160px;
}
.phonebook-list .line .line-field:nth-child(6) {
  width: 202px;
}
@media (max-width: 992px) {
  .phonebook-list .line .line-field:nth-child(1), .phonebook-list .line .line-field:nth-child(2), .phonebook-list .line .line-field:nth-child(3), .phonebook-list .line .line-field:nth-child(4), .phonebook-list .line .line-field:nth-child(5), .phonebook-list .line .line-field:nth-child(6) {
    width: calc(33.333% - 13.33px);
    box-sizing: border-box;
  }
}
@media (max-width: 768px) {
  .phonebook-list .line .line-field:nth-child(1), .phonebook-list .line .line-field:nth-child(2) {
    width: 100%;
  }
  .phonebook-list .line .line-field:nth-child(3), .phonebook-list .line .line-field:nth-child(4), .phonebook-list .line .line-field:nth-child(5), .phonebook-list .line .line-field:nth-child(6) {
    width: calc(50% - 10px);
    box-sizing: border-box;
  }
}