include ../header/socials/header-socials
include ../../libs/buttons/_buttons

mixin button-popup()
    .button-popup__content
        .button-popup
            .button-popup__container    
                +header-socials([
                    {
                        href: '/',
                        class: 'vk_icon'
                    },
                    {
                        href: '/',
                        class: 'ok_icon'
                    },
                    {
                        href: '/',
                        class: 'tg_icon'
                    },
                    ]) 
                +button({ type: 'button', class: 'button_white share_button', event: 'getLink(event)', size: 's', text: 'Скопировать ссылку', popup: true })    