@use '../../../assets/styles/vars.scss' as *;


body.tmp-duma {
    .button-popup__content {
        top: 20px;
        left: -163px;

        @include respond-to(md) {
            left: -152px;
        }
    }
}

.button_share:hover~.button-popup__content {
    display: flex;
}

.button-popup__content {
    display: none;
    position: absolute;
    top: 43px;
    left: -60%;
    z-index: 1;

    &:hover {
        display: flex;
    }
}

.button-popup {
    display: flex;
    max-width: 367px;
    background-color: $content-color;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
    margin-top: 20px;

    .button-popup__container {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;

        .header__socials {
            gap: 20px;

            .header__social-icon {
                width: 32px;
                height: 32px;
                background-size: 32px;
            }
        }
    }
}

.button-popup::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-top: 12px solid transparent;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid $content-color;
    left: 50%;
    top: -4px;
}