@use '../../../assets/styles/vars.scss' as *;

.button_share:hover~.button-popup {
    display: flex;
}

.button-popup {
    // display: flex;
    display: none;
    max-width: 367px;
    background-color: $content-color;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
    position: absolute;
    top: 65px;
    left: -60%;

    &:hover {
        display: flex;
    }

    .button-popup__container {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;

        .header__socials {
            gap: 20px;

            .header__social-icon {
                width: 32px;
                height: 32px;
                background-size: 32px;
            }
        }
    }
}

.button-popup::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-top: 12px solid transparent;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid $content-color;
    left: 50%;
    top: -24px;
}