@use '../../../../assets/styles/vars.scss' as *;

.pagination {
    display: flex;
    align-items: center;
    // justify-content: center;
    gap: 16px;
    align-self: flex-start;
    margin-top: 48px;

    @include respond-to(md) {
        align-self: center;
        margin-top: 32px;
    }

    @include respond-to(sm) {
        gap: 8px;
    }

    @include respond-to(xs) {
        gap: 4px;
    }

    .pagination__pages {
        display: flex;
        gap: 8px;
    }
}