.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    align-self: flex-start;
    margin-top: 40px;

    .pagination__pages {
        display: flex;
        gap: 8px;
    }
}

@media screen and (max-width: 1000px) {
    .pagination {
        align-self: center;
    }
}



@media screen and (max-width: 600px) {
    .pagination{
        gap: 8px;
    }
    
}