mixin archive-card(data) 
    .archive-card
        .archive-card__container
            .archive-card__preview
                img(class=`archive-card__image` src=`../resources/hearing.jpg` alt='Изображение')
                .archive-card__bg
                +button({ type: 'button', size: 's', class: 'button_blue button_radius button_tag-label archive-card__buttton', text: 'Видеозапись' })
            .archive-card__desc 
                h4.archive-card__title Постановления Администрации города от 01.06.2022 № 2816,01.06.2022 № 2817,01.06.2022 № 2818
                span.archive-card__date 3 дня назад