.solve-problems {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 48px;


    @media (max-width: 1000px) {
        margin-top: 23px;
        gap: 3px;
        margin-bottom: 0;
    }

    @media (max-width: 600px) {
        margin-top: 6px;

    }

    .solve-problems__container {

        .solve-problems__banner {
            width: 100%;
        }
    }
}