include ../_event-card

+event-card(
    { 
        date: 'от 21 января 2024',
        last_date: 'последнее обновление: 23 января 2024',
        title: 'В Сургуте масштабно отметили юбилейный, 35-й праздник, Сабантуй',
        description: '18 июня на Центральной площади города отметили традиционный татарский и башкирский праздник. В Сургуте в этом году Сабантуй прошел в 35-й, юбилейный, раз. В мероприятии приняли участие 15 тысяч человек.', 
    })