@use '../../../../../assets/styles/vars.scss' as *;

body.tmp-print {
    .event-card {
        .event-card__container {
            .event-card__tags {
                display: none;
            }

            .event-card__buttons {
                display: none;
            }
        }
    }
}

.event-card {
    background-color: $cards-background;
    display: flex;

    .event-card__container {
        display: flex;
        flex-direction: column;
        max-width: 978px;
        width: 100%;
        padding: 20px 0;

        @include respond-to(md) {
            padding: 20px 0;
        }

        .event-card__info {
            .event-card__tags {
                display: flex;
                gap: 8px;
            }

            .event-card__description {
                display: flex;
                flex-direction: column;
                gap: 20px;
                margin: 24px 0 0;

                @include respond-to(sm) {
                    gap: 16px;
                }

                .event-card__title-content {
                    display: flex;
                    justify-content: space-between;
                    gap: 16px;

                    .event-card__title {
                        padding: 0;
                        @include heading-h2;
                    }

                    .event-card__title-button {
                        display: none;

                        @include respond-to(md) {
                            display: block;
                        }

                        .button_white {
                            border-color: transparent;
                            background-color: transparent;
                            padding: 0;

                            .icon {
                                font-size: 20px;
                            }
                        }
                    }
                }

                .event-card__buttons {
                    @include respond-to(md) {
                        display: none;
                    }
                }

                .event-card__department {
                    display: flex;
                    gap: 16px;
                    @include caption-2;

                    @include respond-to(sm) {
                        margin: 0;
                    }

                    .event-card__department-title {
                        color: $tertiary-text;
                    }
                }

                .event-card__text {
                    margin: 0;
                    @include text-2;
                }

                .event-card__dates {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .event-card__dates-content {
                        display: flex;
                        gap: 32px;
                        color: $tertiary-text;

                        @include respond-to(xs) {
                            flex-direction: column;
                            gap: 8px;
                            align-items: flex-start;
                        }

                        .event-card__date {
                            @include caption-2;
                        }

                        .event-card__last-date {
                            @include caption-2;
                        }
                    }

                    .event-card__buttons {
                        @include respond-to(sm) {
                            display: none;
                        }
                    }
                }
            }

            .event-card__buttons {
                display: flex;
                gap: 20px;

                .button_white {
                    border-color: transparent;
                    background-color: transparent;
                    padding: 0;

                    .icon {
                        font-size: 20px;
                    }
                }

                .event-card__button {
                    .button_white {
                        border-color: transparent;
                        background-color: transparent;
                        padding: 0;

                        .icon {
                            font-size: 20px;
                        }
                    }

                    .button_print {
                        @include respond-to(sm) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}