mixin banners(data)
    .banners 
        .banners__container 
            +title({
                title: 'Решаем проблемы вместе'
            })
            .banners__content 
                .banners__call-us 
                    .banners__call-us-content
                        .banners__call-us-title 
                        .banners__call-us-description 
                        +button({})
                .banners__gos-uslugi
                    .banners__gos-uslugi-content 
                        .banners__gos-uslugi-title 
                        .banners__gos-uslugi-descriptions 
                        +button({}) 