.solve-problems {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}
@media (max-width: 1000px) {
  .solve-problems {
    margin-bottom: 20px;
  }
}
.solve-problems .solve-problems__container .solve-problems__banner {
  width: 100%;
}