mixin dm-about-leadership()
    .dm-about-block
        .dm-about-title
            span Руководство думы города
            a(href = '#') Все депутаты
        .dm-about-persons
            +dm-comitet-elem({
                img: 'kirilenko_avatar.png',
                surname: 'Барсов',
                name: 'Евгений Вячеславович'
                })
            +dm-comitet-elem({
                img: 'kirilenko_avatar.png',
                surname: 'Барсов',
                name: 'Евгений Вячеславович'
                })
            +dm-comitet-elem({
                img: 'kirilenko_avatar.png',
                surname: 'Барсов',
                name: 'Евгений Вячеславович'
                })